{% extends 'components/sharedpages/public_page_base.html' %}

{% load accounts %}
{% load CERN %}

{% block title %}
    {% fan_page_name page %}
{% endblock %}

{% block body_id %}fan-page{% endblock %}

{% block meta %}
	{{ block.super }}
	<meta property="og:title" content="{% fan_page_name page %} | Spudder - Sports Updates Made Simple">
	<meta property="og:description" content="Check out this super fan's page - {% fan_page_name page %} - See the great Sports Updates they have shared!">
	{% if page.avatar %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/file/serve/{{ page.avatar.id }}">
    {% else %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/img/spudderfans/button-fans-large.png">
	{% endif %}
{% endblock %}


{% block cover_image_container_id %}{% if not page.cover_image %}fan-jumbotron-default{% endif %}{% endblock %}

{% block cover_image_css_background %}{% if page.cover_image %}/file/serve/{{ page.cover_image.id }}{% endif %}{% endblock %}

{% block cover_image_edit_url %}/fan/{{ page.id }}/edit_cover{% endblock %}

{% block cover_title_profile_image_url %}{% if page.avatar %}/file/serve/{{ page.avatar.id }}{% else %}/static/img/spudderspuds/button-fans-medium.png{% endif %}{% endblock %}

{% block cover_title_display_name %}{{ page.username }}{% endblock %}

{% block cover_title_action_buttons %}
    {% include 'components/coverimage/social_links.html' with twitter=page.twitter facebook=page.facebook google_plus=page.google_plus instagram=page.instagram %}
    {% if request.can_edit %}
        <a class="btn btn-primary" href="{{ request.path }}/edit">
            Edit Mode
        </a>
    {% else %}
        {% include 'spudderspuds/components/follow_button.html' %}
    {% endif %}
{% endblock %}


{% block outer_page %}
    <div class="public-page-submenu btn btn-primary btn-block">
        <div class="container-fluid text-left">
            <h4><i class="fa fa-trophy"></i> Your Challenges</h4>
        </div>
    </div>

    <div class="container" style="margin-top: 30px;">

        {% if request.can_edit %}

            <ul class="nav nav-tabs nav-tabs-google">
                <li class="active"><a href="#created">Created by you</a></li>
                <li><a href="#waiting">Waiting for you</a></li>
{#                <li><a href="#completed">Completed</a></li>#}
            </ul>
            <div class="tab-content">
                <div id="created" class="tab-pane active">
                    {% include 'spudderspuds/fans/components/fan_page_challenge_tab_pane.html' with title="Challenges created by you" challenges=challenges.created %}
                </div>
                <div id="waiting" class="tab-pane">
                    {% include 'spudderspuds/fans/components/fan_page_challenge_tab_pane.html' with title="Challenges waiting for you" challenges=challenges.waiting %}
                </div>
                <div id="completed" class="tab-pane">
                    {% include 'spudderspuds/fans/components/fan_page_challenge_tab_pane.html' with title="Challenges done by you" challenges=challenges.done %}
                </div>
            </div>

        {% else %}
            {% include 'spudderspuds/fans/components/fan_page_challenge_tab_pane.html' with title="Challenges created this fan" challenges=challenges.created %}
        {% endif %}
    </div>

{#    <div class="edit-mode well">#}
{#        <h2>Edit Your Information</h2>#}
{#        <form method="post" enctype="multipart/form-data" role="form">#}
{#            <div class="form-group edit-mode">#}
{#                <label>Upload a profile image (logo):</label>#}
{#                <input type="file" name="avatar" id="logo-input" class="form-control" />#}
{#            </div>#}
{##}
{#            <a class="btn btn-primary" id="save-logo">Save</a>#}
{#            <div class="alert" id="logo-name-alert" style="margin-top:10px"></div>#}
{#        </form>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            {% include 'components/spuds/spud_carousel.html' with spuds=fan_spuds %}#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#            {% include 'components/following_table.html' with title=following_teams_title following=following_teams entity_type='team' show_find_button=request.can_edit datatable=1 %}#}
{#            {% include 'components/following_table.html' with title=following_fans_title following=following_fans entity_type='fan' show_find_button=request.can_edit datatable=1%}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <hr/>#}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/static/js/libs/jquery.serialize.file.js"></script>
<script type="text/javascript">
    $(function(){
        $('.nav-tabs a').click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });
    });

    window.isEditMode = false;
    window.twitterPopupText = "See the great Sports Updates that this fan has shared on their page!";

    $('.content').not('.active').hide();

    $(document).ready(function(){
        {% if page.cover_image %}if($('.jumbotron').height() > $('.jumbotron-img').height()) $('.jumbotron').css('height', $('.jumbotron-img').height() + "px");{% endif %}

        $('#mailto').attr('href',
                          'mailto:?subject={% fan_page_name page %} on Spudder' +
                          "&body=Check out this super fan's page - {% fan_page_name page %} - See the great Sports Updates they have shared! " + url);

        $('.alert').each(function(i, alert) {
           var $alert = $(alert);
           if ($alert.html() == "")
               $alert.hide();
        });

        $('#save-logo').click(function() {
            console.log('Save logo click...');
			var form = $(this).parents('form'),
				files = $(form).serializeFiles(),
                alert = $('#logo-name-alert');

            $.get('/upload/get_upload_url', function(data) {
                $.ajax({
                    url : data,
                    data : files,
                    cache : false,
                    contentType : false,
                    processData : false,
                    type : 'POST',
                    success : function(data) {
                        var parsed = JSON.parse(data),
                            response = $.post('/fan/{{ page.id }}/save_avatar', {
							    'avatar' : parsed['uploaded_files'][0]
                            });

                        response.done(function(data) {
                            if (parsed['uploaded_files'].length > 0){
                                showAlert(alert, 'Your new logo have been saved.', 'success', true);
                                $('#student-logo').attr('src', parsed['uploaded_files'][0]);
                            }
                        });
                    }
                });
            });
		});

        $('#nav-btn-wrapper').find('a').not('[title="School Page"]').click(function(){
            if(!$(this).hasClass('active')) {
                var currentTab = $(this).attr('openTab');

                $('.alert').not('.alert-info').hide();

                $('#nav-btn-wrapper').find('.active').removeClass('active');

                hide($('.contents > div.content'));

                $(this).addClass('active');

                show(currentTab);
            }
        });

        function show(element) {
			$('.contents > .active').removeClass('active');
			$(element).addClass('active');
			$(element).show();
		}

		function hide(elements) {
			$.each(elements, function() {
				$(this).hide();
			});
		}
    });
</script>
{% endblock %}

