<% include ../parts/head %>

<% include parts/bodyStart %>

<div id="spudmart-home">
    <% include parts/callaction %>

    <% include parts/slider %>

    <% include parts/content %>
</div>

<% include parts/footer %>

<% include ../parts/scripts %>

    </body>
</html>