<div class="container">
	<div class="row nomargin">
		<div class="span12">
			<div class="row">
				{% include 'base_parts/header_navigation.html' %}
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="logo">
					<a href="/"><img src="/media/img/spudder_logo.jpg" alt="" class="logo" /></a>
				</div>
			</div>
			<div class="span8">
				<div class="navbar navbar-static-top">
					{% include 'spudmart/parts/navigation.html' %}
				</div>
			</div>
		</div>
	</div>
</div>