{% extends 'CERN/quote_messages/base_quote_message.html' %}

{% block content %}
    <h4>Welcome to your CERN Team page!</h4>
    <p>You are the <b>Head</b> of this CERN Team and can customize this page!</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/abEP-pkCILA?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>As the <b>Head</b> of the CERN Team you should start by editing:</p>
    <ul class="unstyled">
        <li><i class="fa fa-fw fa-asterisk orange"></i> Adding a description! <i class="fa fa-hand-o-down"></i></li>
        <li><i class="fa fa-fw fa-asterisk orange"></i> Uploading a logo! <i class="fa fa-hand-o-right"></i> and</li>
        <li><i class="fa fa-fw fa-asterisk orange"></i> Customizing your mascot! <i class="fa fa-hand-o-right"></i></li>
    </ul>
    <p>
        As you market you CERN Team (in the <a href="/cern/social_media">social media</a> project) people will visit this
        page to find about about your team and the students involved in it!
    </p>
    <div class="btn-group" style="margin: 30px;">
        <button class="btn dismiss-for-now-button">Hide for now</button>
        <button id="submit" class="btn btn-orange dismiss-for-good-button">Hide Forever</button>
    </div>
{% endblock %}