{% extends 'CERN/quote_messages/base_quote_message.html' %}

{% block content %}
    <h4>Sponsor this venue <b>Coming Soon</b>!</h4>
    <br/>
    <p>Very soon now, you will be able to Sponsor this Venue!</p>
    <br/>
    <p>You will be able to purchase naming rights (allowing you to name this venue and change its logo).</p>
    <br/>
    <p>Additionally, your Sponsors Profile will be listed on this page so anyone visiting this venue can find out all about you and your company.</p>
{% endblock %}