<!-- Signup Modal -->
<div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" action="javascript:void(0)" method="POST">
		
			<div class="alert"></div>
			
			<input type="hidden" name="acceptInvitation" value="" />
			
			<div class="control-group">
				<label class="control-label" for="registerEmail">E-mail</label>
				<div class="controls">
					<input type="text" id="registerEmail" placeholder="E-mail" name="email">
					<span class="help-inline errors" for="email"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="registerPassword1">Password</label>
				<div class="controls">
					<input type="password" id="registerPassword1" placeholder="Password" name="password1">
					<span class="help-inline errors" for="password1"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="registerPassword2">Confirm Password</label>
				<div class="controls">
					<input type="password" id="registerPassword2" placeholder="Password" name="password2">
					<span class="help-inline errors" for="password2"></span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Sign up</button>
					<div class="loading">
						<img src="/media/img/ajax-loader.gif" />
					</div>
				</div>
				<p class="aligncenter margintop20">
					Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Sign in</a>
				</p>
			</div>
		</form>
	</div>
</div>
<!-- end signup modal -->