.ace-file-input label:before {
	background-color: #F03C02 !important;
}

textarea {
	resize: none;	
}

.modal-footer {
	background-color: #A89B94;
}

.orange {
    color: #F03C02 !important;
}
.breadcrumb > li > a {
    color: #000000;
}
.nav-tabs > li > a:hover {
    color: #F03C02;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus {
    background-color: #A89B94;
    color: #000000;
}
.skin-3 .nav-list > li:hover > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li:hover {
    background-color: #BCAFA8;
}
.skin-3 .sidebar-shortcuts {
    background-color: #A89B94;
}
.ace-nav > li > a > .badge-black {
    background-color: #111111 !important;
}
.ace-nav > li > a > .badge-black.hover {
    background-color: #F03C02 !important;
}
.ace-nav > li.black.open .btn-orange {
    background-color: #111111 !important;
}
.ace-nav .dropdown-menu.dropdown-orange li > a:hover {
    background-color: #111111 !important;
}
.skin-3 .menu-min .nav-list > li.active > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li.active > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li.active > a:focus {
    color: #F03C02;
}
.skin-3 .nav-list > li.open > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li > a {
    background-color: #A89B94;
    color: #000000;
}
.skin-3 .nav-list > li.open > a:focus {
    color: #F03C02;
}
.skin-3 .nav-list > li > a:focus {
    background-color: #BCAFA8;
    color: #000000;
}
.nav-list > li .submenu > li > a {
    color: #000000;
}
.nav-list > li .submenu > li > a:hover {
    color: #F03C02;
}
.skin-3 .sidebar-collapse {
    background-color: #A89B94;
}
.skin-3 .sidebar, .skin-3 .sidebar:before {
    background-color: #A89B94;
}
.breadcrumbs {
    background-color: #A89B94;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #BCAFA8;
}
.nav-search .nav-search-input {
    border-color: #F03C02;
}
.nav-search .nav-search-icon {
    color: #F03C02 !important;
}
.nav-search .nav-search-input:focus, .nav-search .nav-search-input:hover {
    border-color: #000000;
}
.nomargin {
    margin: 0;
}
.border-bottom {
    border-bottom: 1px solid #C5D0DC;
}
#fans .favorite-team {
    margin-bottom: 10px;
}
#fans .tab-content {
    overflow: visible;
}
.icon-huge {
    font-size: 6em;
}
#view-spuds {
    margin-top: 20px;
}
#create-spuds-buttons {
    margin-top: 10px;
}
#create-spuds-buttons > div:hover {
    background-color: #111111;
    cursor: pointer;
}
#create-spuds-buttons > div {
    background-color: #FF6B00;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 5px 10px;
}
#create-spuds-buttons div.modal {
    color: #111111;
}
[id$="preview-modal"] .title, .spud-container .title {
    display: inline-block;
    font-size: 1.3em;
    margin-left: 10px;
}
[id$="preview-modal"] .row-fluid div.button, .spud-container .row-fluid div.button {
    background-color: #FF6B00;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 10px 5px;
    text-align: center;
}
[id$="preview-modal"] .row-fluid div.button:hover, .spud-container .row-fluid div.button:hover {
    background-color: #111111;
    cursor: pointer;
}
[id$="preview-modal"] {
    margin-left: -390px;
    width: 780px;
}
[id$="preview-modal"] .row-fluid.bar, .spud-container .row-fluid.bar {
    background-color: #BCAFA8;
    border-bottom: 1px solid #a89b94;
    padding: 10px 0;
    width: 100%;
}
[id$="preview-modal"] h3 [class^="icon"] {
    font-size: 2.5em;
}

[id$="preview-modal"] #comment-preview {
	margin-top: 10px;
}

#images-preview-modal img {
	margin: auto;
	display: block;
}

.spud-container h3 [class^="icon"] {
    font-size: 1.8em;
    margin-left: 20px;
}
.spud-container h3 {
    font-size: 1.4em;
    margin-bottom: -5px;
}
.centered {
    display: table;
    margin: auto;
}

.centered + .centered {
    margin-top: 10px;
}

.spud-container [class^="icon-"], [class*=" icon-"] {
    margin-right: 0;
}
/*.btn-orange {*/
    /*background-color: #F03C02 !important;*/
    /*border-color: #F03C02;*/
/*}*/
/*.btn-orange.btn-noborder {*/
    /*background-color: #F03C02 !important;*/
    /*border: 0 none;*/
/*}*/
/*.btn-orange.btn-noborder:hover {*/
    /*background-color: #000000 !important;*/
    /*border: 0 none;*/
/*}*/
.btn-darkgrey {
    background-color: #A89B94 !important;
    border-color: #A89B94;
}
.btn-darkgrey:hover {
    background-color: #A89B94 !important;
    border-color: #BCAFA8;
}
.btn-lightgrey {
    background-color: #CFCFCF !important;
    border-color: #CFCFCF !important;
}
.sidebar-shortcuts-large .btn {
    width: 35px;
}
.spud-container .row-fluid div.button.grey, [id$="preview-modal"] .row-fluid div.button.grey {
    background-color: #A9A9A9;
    color: #FFFFFF !important;
}
.spud-container .row-fluid div.button.green, [id$="preview-modal"] .row-fluid div.button.green {
    background-color: #46B946;
    color: #FFFFFF !important;
}
.spud-container .row-fluid div.button.red, [id$="preview-modal"] .row-fluid div.button.red {
    background-color: #FF3333;
    color: #FFFFFF !important;
}
.spud-container .row-fluid div.button.yellow, [id$="preview-modal"] .row-fluid div.button.yellow {
    background-color: #FF3333;
    color: #FFFFFF !important;
}
#entity-create {
    margin-top: 10px;
}

#entity-create .form-horizontal .controls {
	margin-top: 5px;
}

#entity-create p.head,
#invitations-list p.head,
#create-spuds p.head {
    font-size: 34px;
    line-height: 40px;
}

#entity-create input {
    width: 395px;
    padding-left: 5px;
}

#entity-create span.input-icon.input-icon-right input {
    width: 360px;
    padding-left: 10px;
    padding-right: 30px;
}

#entity-create span.input-icon.input-icon-left input {
    width: 375px;
    padding-left: 25px;
    padding-right: 0;
}

#entity-create .tags input {
	width: auto;
}


#entity-create input[type="checkbox"] {
	width: auto;
	opacity: 1;
	margin-left: 5px;
} 

#entity-create .hide-publicly-text {
	margin-left: 25px;
}

#entity-create input.player-position {
	margin-left: 1px;
   	width: 335px;
}

#entity-create input.player-number {
	width: 50px;
}

#entity-create input.input-mask-phone,
#entity-create input.input-mask-website,
#entity-create input.input-mask-email{
    border: 2px inset;
    margin-bottom: 0;
    padding: 0;
}
#entity-create span.input-icon i.icon-phone,
#entity-create span.input-icon i.icon-bookmark,
#entity-create span.input-icon i.icon-envelope,
#entity-create span.input-icon i.icon-facetime-video {
    top: -1px;
}
#entity-create .input-icon.input-icon-right > [class*="icon-"] {
    right: 5px;
}
#entity-create div.input-append {
    margin-bottom: 0;
}
#entity-create input.date-picker {
    width: 360px;
}
#entity-create textarea {
    margin-bottom: 0;
    width: 385px;
    padding-left: 10px;
}
#entity-create select {
    margin-bottom: 0;
    width: 402px;
}
#entity-create dl.dl-horizontal dd, #entity-create dl.dl-horizontal dt {
    margin-bottom: 5px;
}

#entity-create dl.dl-horizontal dt {
	height: 23px;
}

#entity-create .location {
    font-size: 18px;
}
#entity-create .ace-file-input {
    margin-bottom: 0;
    width: 405px;
}
#entity-create .ace-file-input label:before {
    background-color: #F03C02;
}
#entity-create dd.offer-images .ace-file-input label {
    margin-bottom: 0;
}
#entity-create dd.offer-images .ace-file-input {
    height: 34px;
}
#entity-create .ace-file-input label.selected {
    right: 0;
}
#entity-create .ace-file-input label.selected + .remove {
    right: -24px;
}
#entity-create table.header-table td.image-cell {
    vertical-align: middle;
}
#entity-create table.header-table td:not(.image-cell) {
    padding-top: 5px;
}
#entity-create table.header-table img {
    border-radius: 15px;
    margin-right: 10px;
    width: 65px;
}
#entity-create table.header-table i {
    font-size: 50px;
    margin-right: 10px;
}
#entity-create .control-group {
    margin-bottom: 0;
}
#entity-create label.error {
    color: #C41A08;
    margin-top: 5px;
}

#entity-create label.error.error-pushed-up {
    margin-top: -20px;
}

#entity-create label[for="profile-picture-input"] {
    border: 0 none;
    top: 35px;
}

#entity-create label[for="profile-picture-input"]:before, #entity-create label[for^="offer-image-input"]:before {
    display: none;
}

#entity-create .control-group.thumbnail-container {
    padding-top: 20px;
}

#entity-create .control-group.thumbnail-container .controls {
    padding-left: 100px;
}

#entity-create .control-group.thumbnail-container .controls img {
    max-width: 200px;
    max-height: 150px;
}

#entity-create .control-group .thumbnail {
    width: 100px;
    height: 140px;
    text-align: center;
    float: left;
    margin-right: 20px;
    position: relative;
}

#entity-create .control-group .thumbnail > img {
    max-height: 100px;
}

#entity-create .control-group .thumbnail .remove-image-container {
    position: absolute;
    bottom: 5px;
    width: 100px;
}

#entity-create .control-group .thumbnail a {
    margin-top: 10px;
    border-radius: 10px;
}

#entity-create .save-btn-container {
    position: relative;
    left: 0;
}

#entity-create .save-btn-container .save-btn-inner-container {
    position: absolute;
    left: -150px;
    top: 10px;
}

#entity-create .ace-file-input.below-thumbnail,
#entity-create .save-btn-container.below-thumbnail{
    top: 165px;
}

#entity-create .google-map-canvas {
    width: 400px;
    height: 300px;
    margin: 10px 0 0;
    padding: 0;
}

#entity-create #location {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 320px !important;
    font-family: Roboto,serif;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-left: 0;
}

#entity-create #location:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;
    width: 401px;
}

#my-entity-list a.btn-action {
    padding-top: 2px;
}
#my-entity-list a.btn-action i[class^="icon-"] {
    font-size: 20px;
}
#my-entity-list tbody tr:first-child td {
    padding-top: 8px;
}
#my-entity-list td {
    padding-bottom: 4px;
    padding-top: 4px;
}

#my-teams-list td.team-profile,
#my-teams-list td.team-contact-details {
    width: 25%;
    padding-right: 20px;
}

#my-teams-list td.team-profile .team-profile-container,
#my-teams-list td.team-contact-details .team-contact-details-container{
    height: 20px;
    overflow: hidden;
}

#teams-offers-list {
    margin-top: 10px;
}
#teams-offers-list p.head {
    font-size: 26px;
}
#teams-offers-list p.head a {
    top: -3px;
}
#teams-offers-list table th.quantity, #teams-offers-list table th.end-date, #teams-offers-list table th.public-page {
    width: 10%;
}
#teams-offers-list table th.actions {
    width: 20%;
}
#teams-offers-list table td.quantity {
    padding-left: 20px;
}
#teams-offers-list table td.public-page {
    padding-left: 35px;
}
#mySignup .loading, #mySignin .loading {
    display: inline-block;
    margin-left: 10px;
    visibility: hidden;
}
form .input-required {
    color: #C41A08;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.tooltip-inner {
    white-space: pre-wrap;
}
#basic_info label {
    display: inline-block;
}
#basic_info .ace-file-input label:before {
    background-color: #F03C02;
}

#entity-create .create-entity-button {
    margin-bottom: 10px;
    margin-right: 10px;
}

.ace-nav .nav-user-photo {
	max-height: 36px;
}

.create-entity-button.btn > [class*="icon-"] {
	margin: 0px;
	line-height: 20px;
}

.margin-right5 {
	margin-right: 5px;
}

#tag-modal #image-preview,
#tag-modal #comment-preview {
	width: 90%;
	margin-top: 10px;
}

#invites li a.btn.btn-small {
	border-radius: 3px;
    font-size: 12px;
    padding: 2px 10px;
}

#invites li div.question {
	padding-bottom: 5px;
}

#top-right-icons .dropdown-navbar > li {
	padding: 5px 8px;
}

#top-right-icons .dropdown-navbar > li.nav-header {
	background-color: #a89b94 !important;
	color: #000;
	border-bottom-color: #F06F05;
}

#top-right-icons .dropdown-navbar > li.nav-header > [class*="icon-"] {
	color: #fff;
}

#top-right-icons .dropdown-navbar > li:hover {
	background-color: #BCAFA8 !important;
}

#top-right-icons .dropdown-navbar {
	border-color: #F06F05; 
}

#top-right-icons a.orange-link {
	color: #F03C02;
}

#top-right-icons a.orange-link:hover {
	color: #F06F05;
}

/* --- Custom buttons --- */

.btn.btn-spud-orange {
    background-color: #FF6B00 !important;
    border-color: #FF6B00 !important;
    color: #ffffff;
}

.btn.btn-spud-orange:hover {
    background-color: #FF6B00 !important;
    border-color: #FF6B00 !important;
    color: #ffffff;
    -webkit-filter: brightness(90%);
    filter: brightness(0.9);
}

.btn.btn-large.btn-rounded-corners {
    border-radius: 10px;
}

#new-spuds-container,
#new-spuds-preview-container {
	width: 350px;
	background: none repeat scroll 0 0 #F8F8F8;
    font-weight: 200;
    padding-top: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 10px 0px;
}

#new-spuds-preview-container {
	background: none repeat scroll 0 0 #FFFFFF;
}

#new-spuds-container .title textarea:after,
#new-spuds-container .title textarea:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#new-spuds-container .title {
	padding: 15px;
}

#new-spuds-container .title textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	resize: none;
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
}

#new-spuds-container .title textarea:focus {
	border-color: #F03C02;
}

#new-spuds-container .buttons > div:hover {
	color: #F03C02;
	cursor: pointer;
}

#new-spuds-preview-container {
	display: none;
}

#new-spuds-preview-container .preview-title .social-avatar {
	margin-right: 14px;
	border-radius: 50%;
}

#new-spuds-preview-container .preview-title {
	padding: 5px;
}

#new-spuds-preview-container .preview-title .profile-details {
	display: inline-block;
}

#new-spuds-preview-container .preview-title .profile-details a.user-name {
	color: #000;
	display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 6px;
}

#new-spuds-preview-container .preview-title .profile-details a.user-name:hover {
	color: #F03C02;
}

#new-spuds-preview-container .buttons-top {
	margin-top: 5px;
	margin-right: 5px;
}

#new-spuds-preview-container .buttons-bottom {
	margin-bottom: 5px;
	margin-left: 5px;
}

#new-spuds-preview-container #text-preview {
	padding: 20px 10px;
	margin: 10px 5px;
	background: none repeat scroll 0 0 #FBFBFB;
}

.margin-left5 {
	margin-left: 5px;
}

.margin-top10 {
	margin-top: 10px;
}

.btn-black-outline {
	background-color: transparent !important;
	border: 1px solid #bbb;
	color: #bbb !important;
	border-radius: 3px;
}

.btn-black-outline:hover {
	background-color: #bbb !important;
	color: #fff !important;
}

#new-spuds-preview-container .buttons-bottom .btn-small {
	width: 15px;
}

#new-spuds-preview-container .buttons-bottom .btn-small i {
	margin: 0px;
}

.social-share span {
	visibility: visible;
}

.btn-rounded {
	border-radius: 3px;
}

.spud-container {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: auto;
    width: 350px;
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
}

.spud-container .arrow {
	position: absolute;
	top: 45%;
	font-size: 50px;
	line-height: 50px;
}

.spud-container .arrow:hover {
	color: #F03C02;
	cursor: pointer;
}

.spud-container .arrow-left {
	left: -50px;
}

.spud-container .arrow-right {
	right: -50px;
}

.spud-container .content {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
}

.spud-container .content p {
	font-size: 14px;
    font-weight: 300;
    margin: 15px 0;
}

.spud-container .spud-comments {
	background: none repeat scroll 0 0 #F6F6F6;
    margin-top: 5px;
    padding: 15px;
}

.spud-container .spud-comments form {
	margin: 0px;
}

.spud-container .profile-details {
	display: inline-block;
}

.spud-container .profile-details a.user-name {
	color: #000000;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 6px;
}

.spud-container .profile-details p {
	color: #999999;
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.spud-container .profile-details em {
	color: #999999;
    font-size: 13px;
    font-weight: 300;
}

.spud-container .profile-details a.user-name:hover {
	color: #F03C02;
}

.spud-container .spud-comments form input {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spud-container .social-avatar {
	margin-right: 14px;
	border-radius: 50%;
}

.spud-container .spud-image {
	margin: auto;
	display: table;
	margin-top: 15px;
}

.container .social-network i {
	width: 20px;
	margin: 2px;
	color: #989b93;
}

.dashboard-logo {
    width: 200px;
}

#create-venue .alert-block {
	display: block;
	text-align: center;
}

#create-venue .alert-block h4 {
	margin-bottom: 10px;
}

#create-venue .content {
	width: 500px;
	margin: auto;
}

#create-venue #map-canvas {
	width: 320px;
	height: 200px;	
}

#venue-view .progress {
	display: none;
	width: 200px;
	margin-left: 10px;
	height: 30px;
}

#venue-view .logo-placeholder {
	text-align: center;
	color: #000;
	background-color: #F03C02;
	font-size: 1.5em;
	padding: 10px;
	width: 100px;
	height: 100px;
	border-radius: 25px;
	display: table-cell;
	vertical-align: middle;
}

#venue-view .details-header {
	display: inline-block;
	font-size: 18px;
}

#venue-view .venue-header {
	font-weight: bold;
}

#venue-view .buttons {
	font-size: 20px;
	margin: 5px 2px 25px;
}

#venue-view .buttons > div {
	display: inline-block;
	margin-right: 5px;
	
}

#venue-view .buttons i {
	color: #FFFFFF;
	padding: 5px 10px;
	background-color: #f03d02;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	border-radius: 3px;
	border: 1px solid #a89b94;
	box-shadow: #696969 1px 1px;
	text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#f03e0c;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
}

@media(max-width: 480px) {
	#venue-view .buttons i {
		width: 15px;
		margin-right: 4px;
		font-size: 18px;
		line-height: 30px;
	}
}

@media(max-width: 320px) {
	#venue-view .buttons i {
		margin-right: 0px;
	}
}

#venue-view .buttons.no-border i {
	border: 1px solid #a89b94;
}

#venue-view .buttons i:hover {
	cursor: pointer;
	background-color: #fb810b;
}

#venue-view .buttons i.active {
	/**border-color: yellow;*/
	background-color: #fb9e25;
}

#venue-view .buttons.no-border i.ready {
	border-color: #a89b94;
}

#venue-view .buttons i.ready {
	border-color: green;
}

#venue-view .edit-mode {
	display: none;
}

#venue-view .contents {
	overflow: hidden;
	
}

#venue-view .saving {
	width: 28px;
}

#venue-view .contents > div.content {
	height: 100%;
	display: none;
	margin-left: -1000px;
	width: 100%;
	padding: 2px 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#venue-view .contents .row-fluid {
	margin-bottom: 0px;
}

#venue-view .contents #map-canvas {
	height: 320px;
	margin-bottom: 10px;
}



#venue-view #prize-this-venue {
	margin: 0px auto 5px;
	display: table;
}

#venue-view .input-prepend {
	margin: auto;
	display: none;
}

#venue-view #current-price {
	margin-top: 25px;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

#venue-view .playing-surface-details {
	width: 200px;
	margin: 10px auto;
}

#venue-view textarea {
	height: 150px;
	height: 200px;
	margin-bottom: 10px;
}

#venue-view .contents > div.content.active {
	margin-left: 0px;
	display: block;
}

#venue-view .carousel img {
	margin: auto;
}

#venue-view .ace-file-multiple {
	width: 90%;
}

#venue-view .remove-pic {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#venue-view .icon-remove {
	margin: 0px;
}

#venue-index [class*="span"] .btn {
	margin-top: 20px;
	display: table;
	margin: auto;
}

#venue-index .row {
	margin-bottom: 50px;
}

#venue-index {
	margin-top: 20px;
}

#venue-account .well {
	width: 300px;
	margin: 20px auto;
}

#venue-account .header {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
    font-weight: bold;
    font-size: x-large;
}

#venue-account .alert-block {
	padding: 5px;
	border-radius: 3px;
}

p.head {
	font-size: 34px;
	line-height: 40px;
	margin-top: 10px;
}

p.head .add-button {
	margin-right: 15px;
}

.social-network a:hover {
	text-decoration: none;
}

.row-fluid.no-margin {
	margin-bottom: 0px;
}

.margin-bottom20 {
	margin-bottom: 20px !important;
}

#social-media table{
    border: solid 1px black;
}

.cern-logout{
    padding: 10px;
}

#logout-button{
    margin: 0 20px;
}

#venue-view .pin-pic {
	position: absolute;
	right: 10px;
	bottom: 10px;
}