<div class="offer-presentation">
    <div class="post-heading">
        <h3>
            <a href="http://alfonsostrattoria.com" target="_blank">Alfonso's Family Trattoria & Gourment Pizza</a>
        </h3>
    </div>

    <div class="offer-header">
        <i class="icon-time icon-large product-icon align-left"></i>
        <div class="sponsor-icon-container align-left">
            <img alt="Alexa's Avatar" src="/media/dashboard/avatars/avatar1.png" title="Alexa">
        </div>
        <div class="offer-headline align-left">
            <span>30% off only 10 offered</span>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="offer-actions">
        <% include bar-buttons %>
    </div>

    <div class="offer-description-container">
        <div class="preview-image align-left">
            <img src="/media/img/slides/flexslider/offers-picture.png"/>
        </div>
        <div class="offer-description align-right">
            <span>
                Our patent pending system gives more than just the score, it gives amateur sports leagues a platform to
                connect, promote, fund and grow their local communities with about 50% the effort.
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>