{% extends 'spuddercern/pages/dashboard_pages/dashboard.html' %}

{% block title %}Marketing Projects (Venues) on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Venues');
{% endblock %}

{#{% block side_nav %}{% include 'spuddercern/parts/sideNav.html' with active="venues" %}{% endblock %}#}

{% block dashboard_page %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-map-marker"></i> Venues <small>Create and Manage Venues, sell naming right and get paid!</small>
        </h1>
    </div>
    <div style="margin-bottom: 20px;">
        {% if venues or temp_venues %}
            {% with info_message_id="venue_list_instructions" %}
                {% if info_message_id not in student.hidden_info_messages %}
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                {% include 'spuddercern/quote_messages/venue_list_instructions.html' %}
                            </div>
                        </div>
                {% endif %}
            {% endwith %}
            <ul class="nav nav-tabs col-md-12" id="venues-tab" role="tablist" style="margin-bottom:10px">
                <li class="active">
                    <a href="#venues" role="tab" data-toggle="tab">
                        Published Venues
                    </a>
                </li>
                <li>
                    <a href="#temp-venues" role="tab" data-toggle="tab">
                        Unpublished Venues
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="venues-tab-content">
                <div class="tab-pane active" id="venues">
                    <table class="table striped {% if venues %}datatable{% endif %}">
                        <thead>
                            <tr>
                                <th>Sport</th>
                                <th>Name</th>
                                <th>Tag</th>
                                <th style="width: 70px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venue in venues %}
                                <tr>
                                    <td>{{ venue.sport }}</td>
                                    <td><a href="/venues/view/{{ venue.id }}">{{ venue.aka_name }}</a></td>
                                    <td>@{{ venue.name }}</td>
                                    <td style="white-space: nowrap">
                                        <!--<a class="btn btn-xs btn-primary" href="javascript:alert('Feature Coming Soon!')" title="SPUDS from SPICE">
                                            <i class="icon-microphone"> </i>
                                        </a>
                                        <a class="btn btn-xs btn-primary" href="javascript:alert('Feature Coming Soon!')" title="My Venue Teams">
                                            <i class="icon-group"> </i>
                                        </a>-->
                                        <a class="btn btn-xs btn-primary" href="/venues/view/{{ venue.id }}" title="Edit">
                                            <i class="fa fa-fw fa-edit"> </i>
                                        </a>
                                        <a class="btn btn-xs btn-primary" href="/venues/get_instagram_stream/{{ venue.id }}" title="Instagram Stream">
                                            <i class="fa fa-fw fa-instagram"> </i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-info">
                                            <p>No published venues to display.</p>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="temp-venues">
                    <table class="table striped {% if temp_venues %}datatable{% endif %}">
                        <thead>
                            <tr>
                                <th>Sport</th>
                                <th>Name</th>
                                <th>Tag</th>
                                <th style="width: 70px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venue in temp_venues %}
                                <tr>
                                    <td>{{ venue.sport }}</td>
                                    <td><a href="/cern/venues/temp_view/{{ venue.id }}">{{ venue.aka_name }}</a></td>
                                    <td>@{{ venue.name }}</td>
                                    <td style="white-space: nowrap">
                                        <a class="btn btn-sm btn-primary" href="javascript:publishVenue('{{ venue.id }}')">
                                            <i class="fa fa-fw fa-check-square-o"></i> Publish
                                        </a>
                                        <a class="btn btn-sm btn-primary" href="javascript:deleteVenue('{{ venue.id }}')" title="Delete">
                                            <i class="fa fa-fw fa-trash-o"> </i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-info">
                                            <p>No unpublished venues to display.</p>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <a href="/cern/venues/new/" class="btn btn-primary">
                <i class="fa fa-fw fa-plus"></i> Claim another venue!
            </a>
        {% else %}
            <div class="centered-venue-alert">
                {% include 'spuddercern/quote_messages/quote_venues_empty_list.html' %}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        function deleteVenue(id){
            if (confirm('This will permanently delete the venue!')){
                window.location.href = "/cern/venues/delete/" + id;
            }
        }

        function publishVenue(id){
            if (confirm('This will make your venue public, and you will no longer be able to delete it.')){
                window.location.href = "/cern/venues/publish/" + id + "?next=/cern/venues/";
            }
        }



{#        var max_height = 0;#}
{#        $('#venues-tab a[data-toggle="tab"]').each(function(index){#}
{#            $(this).tab('show');#}
{#            var height = $('#venues-tab-content').height();#}
{#            if (height > max_height)#}
{#                max_height = height;#}
{#        });#}
{##}
{#        $('#venues-tab-content').css('min-height', max_height);#}
{#        $('#venues-tab a[data-toggle="tab"]:first').tab('show');#}
    </script>
{% endblock %}