<!-- MESSAGES -->
{% if messages %}
	{% for message in messages %}
        <div id="message-modal-{{message.id}}" class="modal hide fade system-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
		        <h3 id="myModalLabel">System message</h3>
	        </div>
            <div class="modal-body">
                <div style="text-align: center">
                    {% autoescape off %}
                        {{ message.body }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
	{% endfor %}
{% endif %}