{% load bootstrap3 %}

<div class="page-header">
    <h3>Tell us about the organization you want to raise money for</h3>
</div>

<p>
    <small>
        Your organization doesn't need to be registered on Spudder for you to start raising money for them. The more
        information you give us, the quicker we will be able get your organization approved for online donations. Individuals
        who accept your challenge will pledge money until your team is approved to collect donations at which time
        Spudder will assist your organization in collecting those pledges.
    </small>
</p>

<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-cta btn-ajax">
            Go <i class="fa fa-arrow-right"></i>
        </button>
        <a href="/challenges/{{ challenge.id }}/{{ state_engine }}/7" class="btn btn-default btn-cta btn-ajax">
            Cancel
        </a>
    {% endbuttons %}
</form>