{% load spudderspudstags %}
{% load bootstrap3 %}

<div class="page-header">
    <h3>Payment failed!</h3>
</div>

<div class="alert alert-danger media">
    <i class="media-object pull-left fa fa-warning fa-3x"></i>
    <div class="media-body">
        <h4 class="media-heading">Something went wrong.</h4>
        <p>Sorry but something went wrong with your payment.</p>
        <p>Please refresh this page and try again.</p>
        <p><small>If this happens again, please contact us at support@spudder.com</small></p>
    </div>
</div>

<hr />
<a href="/fan" class="btn btn-cta btn-primary">
    My dashboard <i class="fa fa-arrow-right"></i>
</a>