{% load spudderspudstags %}
{% load bootstrap3 %}

<div class="page-header">
    <h3>
        Thanks for your pledge!
    </h3>
</div>
<h3>
    <small>
        Thank you for pledging to support <span class="text-primary">{{ beneficiary.name }} ({{ beneficiary.state }})</span>!
    </small>
</h3>
<hr />
<p>You will be contacted to honor your pledge shortly.</p>
<hr />
<a href="/fan" class="btn btn-cta btn-primary">
    My dashboard <i class="fa fa-arrow-right"></i>
</a>
<hr/>
{% include 'spudderspuds/challenges/components/challenge_others_links.html' %}