{% load bootstrap3 %}

<div class="page-header">
    <h3>Register to continue</h3>
</div>

<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-cta btn-ajax">
            Register <i class="fa fa-arrow-right"></i>
        </button>
        <a href="/challenges/{{ challenge.id }}/{{ state_engine }}/0" class="btn btn-link btn-ajax btn-cta">
            or sign in?
        </a>
    {% endbuttons %}
</form>
