{% extends 'base.html' %}

{% block title %}Spudder Fans Network{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/spudderteams.css" />
{% endblock %}

{% block favicon %}"/static/img/spudderspuds/button-spuds-tiny.png"{% endblock %}

{% block nav_brand %}<a href="/"><img src="/static/img/spudderfans/logo-fans-small.png" style="height:35px;margin-top:2px;"/> </a>{% endblock %}

{% block meta %}{% endblock %}

<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>