<div class="modal hide fade" aria-hidden="true" id="images-modal">
	<div class="modal-header">
		
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		
		<h3>
			Please Fill the Following Form Fields
		</h3>
	</div>
	<div class="modal-body">

		<div class="widget-body">
			<div class="widget-main">
				<form id="add-image">
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<div class="controls">
									<label for="image-file">Image:</label>
									<input type="file" id="image-file" name="image-file" />
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<div class="controls">
									<label for="comment">Comment:</label>
									<textarea name="comment" class="comment"> </textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<a href="javascript:loadImage()" class="btn btn-orange next">Next</a>
	</div>
</div>
