<p>
    Chances are you've had your social media reputation put to the test by receiving a challenge from a friend or family member or maybe you just want to start a new chain of challenges by being the first!
</p>

<p>
    The rules of the Pie Challenge are simple.
</p>

<p>
    There are three ways you can be a rock star for {{ challenge.recipient.name }}:
</p>
<ol>
    <li>Accept the challenge only to help spread awareness</li>
    <li>Accept the challenge to spread awareness and pledge to the cause</li>
    <li>Pledge to the cause only</li>
</ol>

<p>We'll cover each below in detail.</p>

<h4><span class="text-primary">Accept the Challenge Only</span></h4>

<p>
    Ready to take a pie in the face for a good cause? Excellent! Anyone can simply accept this Challenge to help spread awareness for {{ challenge.recipient.name }}.
</p>

<p>
    Keep in mind the following:
</p>

<p>
    Every person who accepts the challenge gets to set for whom they would like to raise pledges for... Of course, Spudder courtesy reflects first responding to your challenger then creating a separate new challenge for the cause of your choice.
</p>

<h4><span class="text-primary">Accept and Pledge</span></h4>

<p>
    Just like "Accept Only" above you have the ability to accept the challenge by recording yourself taking a lovely pie to the face. This selection also allows you to  be a a true MVP (Most Valuable Partner) for {{ challenge.recipient.name }} by also donating to their cause.
</p>

<p>
    Here's what you need to know:
</p>

<p>
    Upon completing the challenge, you will be able to set the amount that you wish to pledge. It can be as little or as much as you like.
</p>

<p>
    Spudder allows you to raise Donations for any organization, but only approved organizations will be allowed to collect the pledges through Spudder. In order to collect the pledges the organizations are required to obtain a valid Stripe Credit Card Processing account - which is super easy and takes 5 minutes to set up.
</p>