<p>
    Chances are you've had your social media reputation put to the test by receiving a challenge from a friend or family member or maybe you just want to start a new chain of challenges by being the first!
</p>

<p>
    The rules of the RAK Challenge are simple.
</p>

<p>
    There are three ways you can be a rock star for <span class="text-primary">{{ challenge.recipient.name }}</span>
</p>
<ol>
    <li>Accept the challenge only to help spread awareness</li>
    <li>Accept the challenge to spread awareness and pledge to the cause</li>
    <li>Pledge to the cause only</li>
</ol>

<p>
    We'll cover each below in detail.
</p>

<h4 class="text-primary">
    Accept the Challenge Only
</h4>

<p>
    Ready to do a random act of kindness for a good cause? Excellent! Anyone can simply accept this Challenge to help spread awareness for {{ challenge.recipient.name }}.
</p>

<p>
    Keep in mind the following:
</p>

<p>
    Every person who accepts the challenge gets to set for whom they would like to raise pledges for... Of course, Spudder courtesy reflects first responding to your challenger then creating a separate new challenge for the cause of your choice. But in the case of this challenge what most important to those closest to Brendon is that your team and club benefit, because Brendan an extremely unselfish individual would want it that way.
</p>

<p>
    If you have been challenged by someone else you should see the video of the person who challenged you doing there act of kindness. You do not need to do the same act. To help memorialize Brendan, we actual encourage you to be creative in your act and help make an impact in someone elses life.
</p>

<p>
    When conducting the act of kindness simply record yourself approaching a stranger with a piece of paper that says “Good Vibes and Easy Living learn more at spudder.com/brendan” Say to them” I have been challenged by a friend to conduct an random active kindness in honor of Brendan Tevlin. Thus I would like to (whatever act you do or have done)” , then hand them the paper and say “ I am now challenging you to do the same at your convenience.”
</p>


<h4 class="text-primary">
    Accept and Pledge
</h4>

<p>
    Just like "Accept Only" above you have the ability to accept the challenge by recording yourself doing the random Act of kindness. This selection also allows you to  be a true MVP (Most Valuable Partner) for those who challenges you by also donating to their cause.
</p>

<p>
    Here's what you need to know:
</p>

<p>
    Upon completing the challenge, you will be able to set the amount that you wish to pledge. It can be as little or as much as you like.
</p>

<p>
    Spudder allows you to raise donations for any organization, but only approved organizations will be allowed to collect the pledges through Spudder. In order to collect the pledges the organizations are required to obtain a valid Stripe Credit Card Processing account - which is super easy and takes 5 minutes to set up.
</p>

<p>
    Once the Organization is approved, Spudder notifies the you that the organization is approved and will request you to honor your Pledge (which you will do since you're an MVP!)
</p>

<p>
    If the Organization is already Spudder approved then the user will be given the chance to honor the pledge immediately.
</p>

<h4 class="text-primary">
    Pledge Only
</h4>

<p>
    This is just like "Accept and Donate" above but instead of making a video your Random Act of Kindness is putting your money where your mouth is by donating. It is okay to be camera shy, you can still challenge others just like you would if you created the video.
</p>

<p>
    If you Pledge only you do not need to create a video, instead you will immediately be able to set the amount that you wish to pledge.
</p>

<p>
    Remember:  Spudder allows you to raise Donations for any organization, but only approved organizations will be allowed to collect the pledges through Spudder. In order to collect the pledges the organizations are required to obtain a valid Stripe Credit Card Processing account - which is super easy and takes 5 minutes to set up.
</p>

<p>
    Once the Organization is approved, Spudder notifies you that the organization is approved and will sent you a link to honor your Pledge (which you will do since you're an MVP!)
</p>

<p>
    If the Organization is already Spudder approved then you can immediately make your donation through Spudder.
</p>

<h4 class="text-primary">
    Ok now that you know how the fun works what are you going to do?
</h4>

<p>
    Click one of the buttons <i class="fa fa-hand-o-down"></i> here!
</p>
{#Click here to respond to your challenger!#}
{##}
{#Or #}
{##}
{#Want to start a challenge to raise money for your Team of Your Choice? #}
{##}
{#Click here to get started!#}
