{% if clubs %}

    <div class="well">
        <h4>Can't find your team here?</h4>
        <p>No problems, you can add your team to this list and we'll make sure they get any money pledged to them through Spudder!</p>
        <br/>
        <a class="btn btn-default" href="{{ request.path }}/create_club">
            <i class="fa fa-plus"></i> Add your team!
        </a>
        <br/>
        <br/>
        <p><small>Once you add your team, we'll make sure they get all money raised for them!</small></p>
    </div>

    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Club</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>
                    <a href="{{ request.path }}/{{ club.type }}/{{ club.id }}" class="list-group-item">
                        <i class="fa fa-arrow-right text-primary pull-right"></i>
                        <h4 class="list-group-item-heading">{{ club.name }}</h4>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}

    <div class="well">
        <h4>Your the first to raise money for a team in {{ state }}!</h4>
        <p>Great news, you are about to start the fundraising revolution in {{ state }}.</p>
        <p>No teams in {{ state }} are registered yet but <b>don't worry</b></p>
        <br/>
        <a class="btn btn-default" href="{{ request.path }}/create_club">
            <i class="fa fa-plus"></i> Add your team!
        </a>
        <br/>
        <br/>
        <p><small>Once you add your team, we'll make sure they get all money raised for them!</small></p>
    </div>

{% endif %}
