<span class="wizard-steps clearfix">
    <span class="title text-primary">{{ title }}</span>
    <span class=" pull-right">
        <span class="fa fa-stack text-primary">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x fa-inverse">{{ step }}</strong>
        </span>
        <small>
            of
            <span class="fa fa-stack">
                <i class="fa fa-circle fa-stack-2x "></i>
                <strong class="fa-stack-1x fa-inverse">{{ of }}</strong>
            </span>
        </small>
    </span>
</span>
