{% extends 'spuddercern/base.html' %}

{% block title %}CERN Dashboard{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Dashboard');
{% endblock %}

{% block nav %}
    {% include 'spuddercern/parts/cern_dropdown_menu.html' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 hidden-xs hidden-sm">
                <div class="list-group">
                    {% block side_nav %}{% include 'spuddercern/parts/sideNav.html' with active="scoreboard" %}{% endblock %}
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                {% block dashboard_page %}
                    <div class="page-header">
                        <h1>
                            <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard <small>Keep up to date with how you are accruing points!</small>
                        </h1>
                    </div>
                    {% if 'dashboard' not in student.hidden_info_messages %}
                        {% include 'spuddercern/quote_messages/quote_dashboard_instructions.html' with info_message_id="dashboard" %}
                    {% endif %}
                    {% include 'spuddercern/parts/grid.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}