{% extends 'spuddercern/pages/dashboard_pages/dashboard.html' %}
{% load accounts %}

{% block title %}Social Media Projects on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Social Media');
{% endblock %}

{% block side_nav %}{% include 'spuddercern/parts/sideNav.html' with active="social" %}{% endblock %}

{% block dashboard_page %}
    <div class="page-header">
        <h1><i class="fa fa-fw fa-rss"></i> Social Media <small>Promote your CERN team and earn cred and real business experience!</small></h1>
    </div>

    {% if need_saving %}
    <script>
      function appendResults(text, elementid) {
        $("#" + elementid).attr('href', text)
      }

      function sendRequest(longUrl, elementId){
          var request = gapi.client.urlshortener.url.insert({
              'resource': {'longUrl':longUrl,},
          })
          request.execute(function(response){
              $.post('/CERN/save_short_url/', { elementId : response.id })
              appendResults(response.id, elementId)
          })
      }

      function createUrls(){
          sendRequest('{{ referral_url }}', 'referral-url');
          sendRequest('{{ same_referral_url }}', 'same-referral-url')
      }

      function load() {
        gapi.client.setApiKey('AIzaSyDDSFnHOspc8Xx-RKMS6qiVASBMk-4ehRk');
        gapi.client.load('urlshortener', 'v1', createUrls);
      }
    </script>
    {% endif %}
    <script type="text/javascript">
      function newPopup(url){
          window.open(url, 'popup', 'height=500, width=500, left=100, top-10, scrollbars=yes,toolbar=no,menubar=no');
      }

      function facebookPopup(id){
          var url = $('#' + id).attr('href');
          newPopup('http://www.facebook.com/sharer/sharer.php?u=' + url);
      }

      function linkedinPopup(id){
          var url = $('#' + id).attr('href');
          newPopup('http://www.linkedin.com/shareArticle?mini=true&url=' + url);
      }

      function twitterPopup(id){
          var url = escape($('#' + id).attr('href'));
          newPopup('http://twitter.com/intent/tweet?text=Join%20my%20CERN%20team:%20' + url);
      }

      function googlePopup(id){
          var url = $('#' + id).attr('href');
          newPopup('https://plus.google.com/share?url=' + url);
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>

    {% with info_message_id="social_media_info" %}
        {% if info_message_id not in student.hidden_info_messages %}
            {% include 'spuddercern/quote_messages/quote_social_media_instructions.html' %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-sm-6 text-center">
            <h3>Refer new CERN members!</h3>
            <h4>For students at your school:</h4>
            <p>
                <a href="{{ same_referral_url|escape }}" id="same-referral-url"><i class="fa fa-fw fa-link fa-2x"></i></a>
                <a href="JavaScript:facebookPopup('same-referral-url')"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
                <a href="JavaScript:linkedinPopup('same-referral-url')"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
                <a href="JavaScript:twitterPopup('same-referral-url')"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
                <a href="JavaScript:googlePopup('same-referral-url')"><i class="fa fa-fw fa-google-plus fa-2x"></i></a>
                <a href="mailto:?subject=Join my CERN team!&body=I want you to join me in CERN on Spudder. Click on this link to sign up: {{ same_referral_url|escape }}"><i class="fa fa-fw fa-envelope fa-2x"></i></a>
            </p>

            <h4>For students at other schools:</h4>
            <p>
                <a href="{{ same_referral_url|escape }}" id="same-referral-url"><i class="fa fa-fw fa-link fa-2x"></i></a>
                <a href="JavaScript:facebookPopup('same-referral-url')"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
                <a href="JavaScript:linkedinPopup('same-referral-url')"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
                <a href="JavaScript:twitterPopup('same-referral-url')"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
                <a href="JavaScript:googlePopup('same-referral-url')"><i class="fa fa-fw fa-google-plus fa-2x"></i></a>
                <a href="mailto:?subject=Join my CERN team!&body=I want you to join me in CERN on Spudder. Click on this link to sign up: {{ same_referral_url|escape }}"><i class="fa fa-fw fa-envelope fa-2x"></i></a>
            </p>
        </div>

        <div class="col-sm-6">
            {% if num_referred > 0 %}
                <h3 class="align-center">You have referred {{ num_referred }} CERN members!</h3>
                <div id="analytics">
                    <h5 class="align-center">Your Referred Students</h5>
                    <ol>
                        {% for referred in referrals %}
                        <li>{% user_name referred.user %}, {{ referred.rep }} points - {{ referred.school.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% else %}
                <p>You haven't referred any students yet! Use the links to the left to get started. You'll be able to see a little about the top students you've referred here.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}