{% extends 'spuddersponsors/pages/dashboard_pages/dashboard.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'SPONSORS - SPONSOR PAGE EDIT');
{% endblock %}

{% block side_nav %}{% include 'spuddersponsors/parts/side_nav.html' with active="sponsor-page" %}{% endblock %}

{% block dashboard_page %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-pencil"></i> Sponsor Page <small>Manage your sponsor profile!</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="edit-mode well" style="display: block;">
                <form action="" method="post" id="create-team-form" class="sponsor-page-form" enctype="multipart/form-data" role="form">
                <form method="post" enctype="multipart/form-data" role="form">
                    <div class="form-group edit-mode edit-mode-sponsor" style="display: block;">
                        <label>Company Name:</label>
                        <span class="input-required">*required</span>
                        <input  name="name" id="name" class="form-control" value="{{form.name.value|default:"" }}"/>
                    </div>
                    <div class="form-group edit-mode edit-mode-sponsor" style="display: block;">
                        <label>Company Tag:</label>
                        <span class="input-required">*required</span>
                        <div class="input-group">
                            <div class="input-group-addon">#</div>
                            <input  name="name" id="name" class="form-control" value="{{form.tag.value|default:"" }}"/>
                        </div>
                    </div>
                    <div class="form-group edit-mode" style="display: block;">
                        <label>Speciality:</label>
                        <span class="input-required">*required</span>
                        <input  name="speciality" id="speciality" class="form-control" value="{{form.speciality.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Phone:</label>
                        <span class="input-required">*required</span>
                        <input name="phone" id="form-field-phone" class="form-control" type="text" value="{{form.phone.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Fax:</label>
                        <input name="fax" id="form-field-fax" class="form-control" type="text" value="{{form.fax.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="me@website.com"
                               value="{{form.email.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Website:</label>
                        <input id="website" name="website" type="url" class="form-control" placeholder="http://www.website.com"
                               value="{{form.website.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Instagram:</label>
                        <input id="instagram" name="instagram" type="url" class="form-control" placeholder="http://instagram.com/your.name"
                               value="{{form.instagram.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Facebook:</label>
                        <input id="facebook" name="facebook" type="url" class="form-control" placeholder="https://www.facebook.com/your.name"
                               value="{{form.facebook.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Twitter:</label>
                        <input id="twitter" name="twitter" type="url" class="form-control" placeholder="http://www.twitter.com/your.name"
                               value="{{form.twitter.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Google+:</label>
                        <input id="google_plus" name="google_plus" type="url" class="form-control" placeholder="https://plus.google.com/u/0/your.id"
                               value="{{form.google_plus.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>LinkedIn:</label>
                        <input id="linkedin" name="linkedin" type="url" class="form-control" placeholder="https://www.linkedin.com/company/company-name"
                               value="{{form.linkedin.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Video:</label>
                        <input id="video" name="video" type="url" class="form-control" value="{{form.video.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea name="description" id="description" class="form-control" rows="5">{{form.description.value|default:"" }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Location:</label>
                        <input id="location" name="location" class="controls" type="text" placeholder="Enter a location">
                        <input id="infoLat" name="infoLat" type="hidden"
                            {% if lat %}value="{{ lat }}"{% endif %}>
                        <input id="infoLng" name="infoLng" type="hidden"
                            {% if lng %}value="{{ lng }}"{% endif %}>
                        <input id="infoWindow" name="infoWindow" type="hidden"
                            {% if info_window %}value="{{ info_window }}"{% endif %}>
                        <div id="map_canvas" class="google-map-canvas"></div>
                    </div>
                    <div class="form-group">
                        <label>Thumbnail:</label>
                        {% if page and page.thumbnail %}
                            <div class="thumbnail" data-thumbnail-index="4">
                                <img src="/file/serve/{{ page.thumbnail }}" class="page-thumbail"/>
                                <div class="remove-image-container">
                                    <a href="javascript:void(0)" class="btn btn-small btn-danger">Remove</a>
                                </div>
                            </div>
                        {% endif %}
                        <div>
                            <input type="hidden" name="image4" />
                            <input type="file" id="image-input4" name="image-input4" class="form-control" accept="image/*" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Images:</label>
                            <div class="ace-files-container" name="offerImagesContainer">
                            <div class="row">
                                {% for image in page.images %}
                                    {% if image %}
                                        <div class="col-md-4 col-sm-4">
                                            <div class="thumbnail" data-thumbnail-index="{{ forloop.counter }}">
                                                <img src="/file/serve/{{ image }}"/>
                                                <div class="remove-image-container">
                                                    <a href="javascript:void(0)" class="btn btn-small btn-danger">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div>
                                <input type="hidden" name="image1" />
                                <input type="file" id="image-input1" name="image-input1" class="form-control" accept="image/*" />
                            </div>
                            <div>
                                <input type="hidden" name="image2" />
                                <input type="file" id="image-input2" name="image-input2" class="form-control" accept="image/*" />
                            </div>
                            <div>
                                <input type="hidden" name="image3" />
                                <input type="file" id="image-input3" name="image-input3" class="form-control" accept="image/*" />
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary edit-mode" style="display: inline">Save</button>
                    <a class="btn btn-primary edit-mode" href="/sponsor/{{ page.id }}" style="display: inline" target="_blank">Preview</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/media/dashboard/js/jquery.validate.js"></script>
    <script src="/media/dashboard/js/additional-methods.min.js"></script>
    <script src="/media/dashboard/js/jquery.validate.spudder.rules.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="/media/js/jquery.serialize.file.js"></script>

    <!-- Google Maps initialization and configuration -->
    <script>
        function initialize() {
            function addPlaceChangedListener() {
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    infowindow.close();
                    marker.setVisible(false);

                    var place = autocomplete.getPlace();
                    if (!place.geometry) return;

                    var location = place.geometry.location;

                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(location);
                        map.setZoom(17);  // Why 17? Because it looks good.
                    }

                    marker.setPosition(location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }

                    var infoWindowContent = '<div><strong>' + place.name + '</strong><br>' + address +
                            '<br><a href="http://maps.google.com/?q=' + encodeURIComponent(address) + '" target="_new">External map</a>';
                    infowindow.setContent(infoWindowContent);
                    infowindow.open(map, marker);

                    inputInfoWindow.value = infoWindowContent;
                    inputLat.value = location.A;
                    inputLng.value = location.k;
                });
            }

            function addKeyDownListener() {
                google.maps.event.addDomListener(input, 'keydown', function (event) { // Prevent form submit event on Enter
                    if (event.keyCode == 13) {
                        if (event.preventDefault) {
                            event.preventDefault();
                        } else {
                            event.cancelBubble = true;
                            event.returnValue = false;
                        }
                    }
                });
            }

            function placeStartMarker (address, mapInfo) {
                var geocoder = new google.maps.Geocoder(),
                    infoContent = mapInfo.split(';')[2];

                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var location = results[0].geometry.location;

                        map.setCenter(location);
                        map.setZoom(13);

                        marker.setPosition(location);
                        marker.setVisible(true);

                        infowindow.setContent(infoContent);
                        input.value = address;
                        infowindow.open(map, marker);
                    }
                });
            }

            var mapOptions = {
                    zoom: 6, center: new google.maps.LatLng(-34.397, 150.644),
                        mapTypeControl: false, streetViewControl: false
                },
                canvas = document.getElementById('map_canvas'),
                map = new google.maps.Map(canvas, mapOptions),
                input = (document.getElementById('location')),
                inputLat = (document.getElementById('infoLat')),
                inputLng = (document.getElementById('infoLng')),
                inputInfoWindow = (document.getElementById('infoWindow'));

            addKeyDownListener();

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var autocomplete = new google.maps.places.Autocomplete(input);
            window.autocomplete = autocomplete;
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow(),
                marker = new google.maps.Marker({ map: map });

            addPlaceChangedListener();

            {% if page and page.location %}
                {% autoescape off %}
                placeStartMarker('{{ page.location }}', '{{ page.map_info }}');
                {% endautoescape %}
            {% endif %}
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('form');

            $form.validate({
                rules: {
                    name: "required",
                    speciality: "required",
                    phone: { required: true, phoneUS: true },
                    fax: { phoneUS: true }
                },

                errorPlacement: function(error, element) {
                    error.appendTo( element.parent() );
                },
                submitHandler: function (form) {
                    var $formSubmit = $(form).find('button[type="submit"]');

                    $formSubmit.text('Saving...');
                    $formSubmit.attr('disabled', 'disabled');

                    var offerImage1 = $(form).find('input[name="image1"]'),
                        fileUploadControl1 = $("#image-input1")[0],
                        $thumbnail1 = $(form).find('.thumbnail[data-thumbnail-index="1"]'),
                        offerImage2 = $(form).find('input[name="image2"]'),
                        fileUploadControl2 = $("#image-input2")[0],
                        $thumbnail2 = $(form).find('.thumbnail[data-thumbnail-index="2"]'),
                        offerImage3 = $(form).find('input[name="image3"]'),
                        fileUploadControl3 = $("#image-input3")[0],
                        $thumbnail3 = $(form).find('.thumbnail[data-thumbnail-index="3"]'),
                        thumbnail = $(form).find('input[name="image4"]'),
                        thumbnailControl = $("#image-input4")[0],
                        $thumbnail4 = $(form).find('.thumbnail[data-thumbnail-index="4"]');

                    var deffers = [ new jQuery.Deferred(), new jQuery.Deferred(), new jQuery.Deferred() ,new jQuery.Deferred()],
                        promises =  [deffers[0].promise(), deffers[1].promise(), deffers[2].promise(), deffers[3].promise()];

                    if ($thumbnail1.is(':visible')) {
                        offerImage1.val($thumbnail1.find('img').attr('src'));
                        deffers[0].resolve();
                    } else if (fileUploadControl1.files.length > 0) {
                        var files = $(fileUploadControl1).parent().serializeFiles();

                        $.get('/upload/get_upload_url', function(data) {
                            $.ajax({
                                url : data,
                                data : files,
                                cache : false,
                                contentType : false,
                                processData : false,
                                type : 'POST',
                                success : function(data) {
                                    var parsed = JSON.parse(data);
                                    offerImage1.val(parsed['uploaded_files'][0]);
                                    deffers[0].resolve();
                                }
                            });
                        });
                    } else {
                        deffers[0].resolve();
                    }

                    $.when(promises[0]).then(function () {
                        if ($thumbnail2.is(':visible')) {
                            offerImage2.val($thumbnail2.find('img').attr('src'));
                            deffers[1].resolve();
                        } else if (fileUploadControl2.files.length > 0) {
                            var files = $(fileUploadControl2).parent().serializeFiles();

                            $.get('/upload/get_upload_url', function(data) {
                                $.ajax({
                                    url : data,
                                    data : files,
                                    cache : false,
                                    contentType : false,
                                    processData : false,
                                    type : 'POST',
                                    success : function(data) {
                                        var parsed = JSON.parse(data);
                                        offerImage2.val(parsed['uploaded_files'][0]);
                                        deffers[1].resolve();
                                    }
                                });
                            });
                        } else {
                            deffers[1].resolve();
                        }
                    });

                    $.when(promises[1]).then(function () {
                        if ($thumbnail3.is(':visible')) {
                            offerImage3.val($thumbnail3.find('img').attr('src'));
                            deffers[2].resolve();
                        } else if (fileUploadControl3.files.length > 0) {
                            var files = $(fileUploadControl3).parent().serializeFiles();

                            $.get('/upload/get_upload_url', function(data) {
                                $.ajax({
                                    url : data,
                                    data : files,
                                    cache : false,
                                    contentType : false,
                                    processData : false,
                                    type : 'POST',
                                    success : function(data) {
                                        var parsed = JSON.parse(data);
                                        offerImage3.val(parsed['uploaded_files'][0]);
                                        deffers[2].resolve();
                                    }
                                });
                            });
                        } else {
                            deffers[2].resolve();
                        }
                    });

                    $.when(promises[2]).then(function () {
                        if ($thumbnail4.is(':visible')) {
                            thumbnail.val($thumbnail4.find('img').attr('src'));
                            deffers[3].resolve();
                        } else if (thumbnailControl.files.length > 0) {
                            var files = $(thumbnailControl).parent().serializeFiles();

                            $.get('/upload/get_upload_url', function(data) {
                                $.ajax({
                                    url : data,
                                    data : files,
                                    cache : false,
                                    contentType : false,
                                    processData : false,
                                    type : 'POST',
                                    success : function(data) {
                                        var parsed = JSON.parse(data);
                                        thumbnail.val(parsed['uploaded_files'][0]);

                                        deffers[3].resolve();
                                    }
                                });
                            });
                        } else {
                            deffers[3].resolve();
                        }
                    });

                    $.when(promises[3]).then(function () {
                        form.submit();
                    });
                }
            });
        });

        {% if page %}
            $(window).load(function () {
                $('.controls.ace-files-container').each(function () {
                    if ($(this).find('.thumbnail:visible').length) {
                        $(this).find('.ace-file-input, .save-btn-container').each(function () {
                            $(this).addClass('below-thumbnail');
                        });
                    }
                });

                $('.thumbnail').each(function () {
                    var $removeButton = $(this).find('a'),
                        index = parseInt($(this).data('thumbnail-index'), 10),
                        $aceFileInput = $('#image-input' + index).parent();

                    $aceFileInput.hide();

                    $removeButton.click(function () {
                        var $self = $(this),
                            $thumbnail = $self.parent().parent(),
                            index = parseInt($thumbnail.data('thumbnail-index'), 10),
                            $aceFileInput = $('#image-input' + index).parent();

                        $thumbnail.hide();
                        $aceFileInput.show();

                        $('.controls.ace-files-container').each(function () {
                            if ($(this).find('.thumbnail:visible').length == 0) {
                                $(this).find('.ace-file-input, .save-btn-container').removeClass('below-thumbnail');
                            }
                        });
                    });
                });
            });
        {% endif %}
    </script>
{% endblock js %}
