{% extends 'spuddersponsors/pages/dashboard_pages/dashboard.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'SPONSORS - SPONSOR PAGE VIEW');
{% endblock %}

{% block side_nav %}{% endblock side_nav %}

{% block title %}{{ page.name }} | Spudder - Sports Updates Made Simple{% endblock %}

{% block meta %}
{{ block.super }}
<meta property="og:title" content="{{ page.name }} | Spudder - Sports Updates Made Simple">
<meta property="og:description" content="Check out this awesome sponsor: {{ page.name }}! Here is a business that gives back to the community. Let's all click here and support them!">
{% if page.logo %} <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/file/serve/{{ page.logo.id }}">
{% endif %}
{% endblock %}

{% block dashboard_page %}
    {% if latitude and longitude %}
        <div class="row">
            <div style="height:400px; margin-top: -18px;" id="jumbo-map-container"></div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-8">
            <div class="post-heading">
                <h3 class="team-name">
                    {% if page.website %}
                        <a href="{{ page.website }}" target="_blank">
                            {{ page.name }}
                        </a>
                    {% else %}
                        {{ page.name }}
                    {% endif %}
                </h3>
            </div>

            <div id="sponsor-page-carousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% if page.images|length > 0 %}
                        {% for image in page.images %}
                            <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <img src="/file/serve/{{ image }}" />
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="item active">
                            <img src="/static/img/spudderspuds/button-spuds-large.png" height="300px"/>
                            <div class="carousel-caption">
                                <div class="alert alert-info">
                                    <h4>No images yet</h4>
                                    <p>Stay tuned, there will soon be images for this sponsor!</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

            <div class="top-wrapper">
                <div class="offer-description">
                    <p>{{ page.description }}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4" id="sponsor-page-details-container">
            {% include 'spuddersponsors/parts/sponsor_page_details.html' %}
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry"></script>
    <script type="text/javascript" src="/static/js/libs/google.map.js"></script>
    <script type="text/javascript" src="/static/js/google_maps/jumbotron.js"></script>

    {{ block.super }}

    <script type="text/javascript">
        window.twitterPopupText = "Here is a business that gives back to the community. Let's all click here and support them.";
        $('#mailto').attr('href',
                          'mailto:?subject={{ page.name }} on Spudder' +
                          "&body=Check out this awesome sponsor: {{ page.name }}! Here is a business that gives back to the community. Let's all click here and support them! " + url);

        {% if latitude and longitude %}
            $(document).ready(function () {
                initWithCoords(parseFloat("{{ latitude }}"), parseFloat("{{ longitude }}"))
            });
        {% endif %}
    </script>
{% endblock js %}
