{% extends 'spuddersponsors/pages/dashboard_pages/dashboard.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'SPONSORS - Venues');
{% endblock %}

{% block side_nav %}{% include 'spuddersponsors/parts/side_nav.html' with active="venues" %}{% endblock %}

{% block dashboard_page %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-map-marker"></i> Venues <small>Manage sponsored Venues!</small>
        </h1>
    </div>

    {% if venues %}
        <table class="table">
            <thead>
                <tr>
                    <th>Sport</th>
                    <th>AKA Name</th>
                    <th>Name</th>
                    <th style="width: 70px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for venue in venues %}
                    <tr>
                        <td>{{ venue.sport }}</td>
                        <td><a href="/venues/view/{{ venue.id }}">{{ venue.aka_name }}</a></td>
                        <td>{{ venue.name }}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-xs btn-primary" href="/venues/view/{{ venue.id }}" title="Edit">
                                <i class="fa fa-fw fa-edit"> </i>
                            </a>
                            <a class="btn btn-xs btn-primary" href="/venues/get_instagram_stream/{{ venue.id }}" title="Instagram Stream">
	                        	<i class="fa fa-fw fa-instagram"> </i>
	                   		</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% include 'spuddercern/quote_messages/quote_venues_empty_list_sponsor.html' %}
    {% endif %}

{% endblock %}
