{% extends base_quote_url %}

{% block content %}
    <h4>Why a custom #tag?</h4>
    <p>We want you to be able to talk about your favorite Spudder teams, fans, and venues everywhere, not just on Spudder. That's why we give you the option to give anyone you follow a custom <b>#tag</b>. If you use that #tag in a post you make on Twitter or Instagram, we can automatically tag whoever you're following when that post becomes a SPUD!</p>
    <p>You can either use the default tag below (supplied by the person in charge of the team, fan, or venue) or make up your own. Each of your tags must be unique, and can only contain lowercase letters and numbers.</p>
{% endblock %}