{% extends 'spudderadmin/pages/socialengine/_sociaengine_base.html' %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #atpostspud-panel p > b {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" id="atpostspud-panel">
                <div class="panel-body">
                    <h2 style="margin-top: 0;">
                        <a href="/spudderadmin/socialengine/atpostspud" class="btn btn-default pull-right">
                            manage
                        </a>
                        @postspud
                    </h2>
                    <hr/>
                    <p>
                        <b>Activation Status:</b>
                        {% if at_post_spud_service.active %}
                            <span class="label label-success">
                                <i class="fa fa-check"></i> Up and running
                            </span>
                        {% else %}
                            <span class="label label-danger">
                                <i class="fa fa-warning"></i> Inactive
                            </span>
                        {% endif %}
                    </p>
                    <p>
                        <b>Twitter Authentication:</b>
                        {% if twitter_auth.authorized %}
                            <span class="label label-success">
                                <i class="fa fa-check"></i> Authorized and active
                            </span>
                        {% else %}
                            <span class="label label-danger">
                                <i class="fa fa-warning"></i> Inactive
                            </span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            balance_element_width("#atpostspud-panel p > b");
        })
    </script>
{% endblock %}