{% extends 'spuddercern/old/quote_messages/base_quote_message.html' %}

{% block content %}
    <h4>Create an Amazon Payments account to get paid!</h4>
    <p>In order to receive the sponsorship of this venue, you have to create an Amazon Payments account, but that's easy!</p>
    <iframe width="250" height="175" src="//www.youtube.com/embed/fs2UKPsFp3k?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>Now, use the button below to connect your account to Spudder. You will have to confirm that Spudder is allowed to take a portion of the payments.</p>
{% endblock %}