<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div id="spuds" class="">
    <div class="row-fluid">
        <div class="span12">
            <% if (connected ){ %>
            <p>
                In order to make donation you have to go to Spudmart. After successful donation registration, you will be redirected back to Spudder.
            </p>
            <p>
                <a href="<%= spudmartURL %>">Navigate to Spudmart</a>
            </p>
            <% } else { %>
            <p><strong>It looks like you don't have Amazon account connected!</strong></p>
            <p>Before moving forward with registering team as a recipient you have to
                <a href="/dashboard/fans/amazon/connect?returnURL=/dashboard/payments/donate/<%= teamID %>/<%= offerID %>">Connect with Amazon account</a>!</p>
            <% } %>
        </div>
    </div>
</div>

<% include ../parts/scripts %>

<script src="/media/dashboard/js/tab-control.js"></script>

<% include ../parts/foot %>