<title>Spudmart | Spudder - Sports Updates Made Simple</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link href="/media/css/bootstrap.css" rel="stylesheet">
<link href="/media/css/font-awesome.min.css" rel="stylesheet">

<!--[if IE 7]>
    <link rel="stylesheet" href="/media/css/font-awesome-ie7.min.css" />
<![endif]-->

<link href="/media/css/ace-fonts.css" rel="stylesheet">

<!-- ACE Admin Template -->
<link href="/media/css/ace.min.css" rel="stylesheet">
<link href="/media/css/ace-rtl.min.css" rel="stylesheet">
<link href="/media/css/ace-skins.min.css" rel="stylesheet">

<!--[if lte IE 8]>
  <link rel="stylesheet" href="/media/css/ace-ie.min.css" />
<![endif]-->

<script src="/media/js/ace-extra.min.js"></script>

<link href="/media/css/spudmart.css" rel="stylesheet">

<link rel="shortcut icon" href="/media/images/icons/favicon.png" />