{% load bootstrap3 %}
{% load spudderaccountstags %}
{% load CERN %}
{% load featuretags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        {% block meta %}
            <!-- Base facebook meta tags -->
            <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">
            <meta property="og:site_name" content="Spudder - Sports Updates Made Simple">
            <meta property="og:type" content="website">
            <!-- Twitter meta tags -->
            <meta property="twitter:card" content="summary">
            <meta property="twitter:site" content="@spudder_com">
        {% endblock %}
        {% block css %}{% endblock %}
        <link rel="shortcut icon" href={% block favicon %}"/static/img/spudderspuds/button-spuds-tiny.png"{% endblock %} />
        <link rel="stylesheet" href="/static/css/select2.css">
        <style type="text/css">
            /* Datatables Styling */
            .paging_bootstrap { float: right; text-align: right; }
            .paging_bootstrap .pagination { margin: 0; }
            .dataTables_filter { text-align: right; }
            .dataTables_length { display: none;}
        </style>
        <script src="/static/js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/libs/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/libs/bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/libs/jquery.livequery.js"></script>
        <script type="text/javascript" src="/static/js/alerts.js"></script>
        <meta name="google-site-verification" content="LwTjfOkDzf-7D6U-ROwvrvO_2g8S6lktzpPrpYXfHC8" />
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        <div id="body-background-image-container"></div>
        {% block flag-modal %}{% endblock %}
        {% block header %}
            <nav class="navbar navbar-masthead {% block header_nav_class %}navbar-default{% endblock %} navbar-static-top spudder-masthead " role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% block nav_brand %}<a href="/"><img src="/static/img/spudderspuds/logo-spuds-small.png"/> </a>{% endblock %}
                    </div>
                    {% block masterhead %}{% endblock %}

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% block nav %}{% endblock %}
                            {% block current_role_nav %}
                                {% if not 'challenges_only_override'|feature_is_enabled %}
                                    {% if current_role %}
                                        {% if current_role|is_cern_student %}
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                                    CERN Menu <i class="fa fa-caret-down"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/cern/"><i class="fa fa-fw fa-bar-chart-o"></i> Scoreboard</a></li>
                                                    <li><a href="{% current_student_page %}"><i class="fa fa-fw fa-user"></i> Student Page</a></li>
                                                    <li><a href="/cern/venues/"><i class="fa fa-fw fa-map-marker"></i> Venues</a></li>
                                                    <li><a href="/team/list"><i class="fa fa-fw fa-group"></i> My Teams</a></li>
                                                    <li><a href="/cern/social_media/"><i class="fa fa-fw fa-rss"></i> Social Media</a></li>
                                                    <li><a href="/cern/testing/"><i class="fa fa-fw fa-bug"></i> QA Testing</a></li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if current_role|is_sponsor %}
                                            {% include 'spuddersponsors/parts/sponsors_menu.html' %}
                                        {% endif %}
                                        {% if current_role|is_fan %}
                                            {% include 'spudderspuds/components/main_nav.html' %}
                                        {% endif %}
                                        {% if current_role|is_club_admin %}
                                            {% include 'spudderclubs/components/main_nav.html' %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                            {% block user_account_nav %}
                                {% if not 'challenges_only_override'|feature_is_enabled %}
                                    {% if current_role %}
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                My Spudder <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li style=" padding: 5px 30px; min-width: 350px;">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="media">
                                                                <a href="{{ current_role.home_page_path }}" class="media-object pull-left">
                                                                    <img src="{{ current_role.image }}" style="height: 40px;" />
                                                                </a>
                                                                <div class="media-body">
                                                                    <p class="media-heading">{{ current_role.title|safe }}</p>
                                                                    <span class="label label-success"><a href="{{ current_role.home_page_path }}" style="color:white;">Current role</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if other_roles %}
                                                        <hr />
                                                        <p>My {% if other_roles|length > 2 %}top{% else %}other{% endif %} role{% if other_roles|length > 1 %}s{% endif %}</p>
                                                        <div style="margin-left:10px;">
                                                            {% for role in other_roles %}
                                                                {% if forloop.counter < 3 %}
                                                                    <hr />
                                                                    <div class="media">
                                                                        <img class="media-object pull-left" src="{{ role.image }}" style="height: 40px;" />
                                                                        <div class="media-body">
                                                                            <p class="media-heading"><small>{{ role.title|safe }}</small></p>
                                                                            <a href="{% link_to_change_role_and_return role %}" class="btn btn-default btn-xs" style="margin:0;">
                                                                                Activate this role
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </li>
                                                {% if current_role and current_role.entity_type == "fan" %}
                                                    <li>
                                                        <a href="/fan/{{ current_role.entity.id }}">My Fan Profile</a>
                                                    </li>
                                                    <li>
                                                        <a href="/fan/{{ current_role.entity.id }}/teams">My Teams</a>
                                                    </li>
                                                {% endif %}
                                                <li><a href="/accounts/logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                                            </ul>
                                        </li>
                                        {% block support_nav %}
                                            {% if current_role %}
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                                        Support <i class="fa fa-caret-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="http://spudder.zendesk.com/account/dropboxes/20176994" onClick="Zenbox.show(); return false;">Contact Spudder Support</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#flag-modal" class="{% block flag-page-class %}hidden{% endblock %}">Flag Page</a></li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endblock %}
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-share-alt"></i> <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" style="min-width: 1px">
                                                <li>
                                                    <a data-original-title="Share on Facebook" data-placement="bottom" href="JavaScript:facebookPopup()">
                                                        <i class="fa fa-facebook-square fa-2x"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-original-title="Share on Twitter" data-placement="bottom" href="javascript:twitterPopup()">
                                                        <i class="fa fa-twitter-square fa-2x"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-original-title="Share on LinkedIn" data-placement="bottom"href="Javascript:linkedinPopup()">
                                                        <i class="fa fa-linkedin-square fa-2x"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-original-title="Share on Google+" data-placement="bottom" href="javascript:googlePopup()">
                                                        <i class="fa fa-google-plus-square fa-2x"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-original-title="Share via Email" data-placement="bottom" id="mailto" href="mailto:?subject=Check out this Spudder page!&body=<Check out this cool page I saw on Spudder: http://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}">
                                                        <i class="fa fa-envelope-square fa-2x"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="container">
            {% bootstrap_messages %}
        </div>

        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="spudder-footer">
                <div class=" main-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-2 list-column">
                                <h3>Features</h3>
                                <ul class="list-unstyled">
                                    <li><a href="http://info.spudder.com/fundraising/" target="_blank">Fundraising</a></li>
                                    <li><a href="http://info.spudder.com/sports-updates/" target="_blank">Sports Updates</a></li>
                                    <li><a href="http://info.spudder.com/communications/" target="_blank">Safe Communications</a></li>
                                    <li><a href="http://info.spudder.com/community-metrics/" target="_blank">Community Metrics</a></li>
                                    <li><a href="http://info.spudder.com/parental-controls" target="_blank">Parental Controls</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-2 list-column">
                                <h3>About</h3>
                                <ul class="list-unstyled">
                                    <li><a href="http://info.spudder.com/privacy/" target="_blank">Privacy policy</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                    <li><a href="http://spudder.zendesk.com/hc/en-us" target="_blank">Support</a></li>
                                    <li><a href="http://info.spudder.com/contact" target="_blank">Contact Us</a></li>
                                    <li><a href="http://info.spudder.com/meet-our-team/" target="_blank">Meet our team</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-2 list-column">
                                <h3>Our Platform</h3>
                                <ul class="list-unstyled hidden-xs">
                                    <li style="margin-bottom: 10px;"><a href="/spuds"><img src="/static/img/spudderspuds/button-spuds-tiny.png" style="height:18px;"/> Spudder</a></li>
                                    <li style="margin-bottom: 10px;"><a href="/cern"><img src="/static/img/spuddercern/button-cern-tiny.png" style="height:18px;"/> CERN</a></li>
                                    <li style="margin-bottom: 10px;"><a href="/sponsor_network"><img src="/static/img/spuddersponsors/button-sponsors-tiny.png" style="height:18px;"/> Sponsor Network</a></li>
                                    {% if 'clubs'|feature_is_enabled %}
                                        <li style="margin-bottom: 10px;"><a href="/club"><img src="/static/img/spudderclubs/button-clubs-tiny.png" style="height:18px;"/> Clubs Network</a></li>
                                    {% endif %}
                                </ul>
                                <ul class="list-inline visible-xs">
                                    <li style="margin-bottom: 10px;"><a href="/spuds"><img src="/static/img/spudderspuds/button-spuds-tiny.png" style="height:18px;"/> Spudder</a></li>
                                    <li style="margin-bottom: 10px;"><a href="/cern"><img src="/static/img/spuddercern/button-cern-tiny.png" style="height:18px;"/> CERN</a></li>
                                    <li style="margin-bottom: 10px;"><a href="/sponsor_network"><img src="/static/img/spuddersponsors/button-sponsors-tiny.png" style="height:18px;"/> Sponsor Network</a></li>
                                    {% if 'clubs'|feature_is_enabled %}
                                        <li style="margin-bottom: 10px;"><a href="/club"><img src="/static/img/spudderclubs/button-clubs-tiny.png" style="height:18px;"/> Clubs Network</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-md-3 hidden-xs hidden-sm">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/liJrY694jKw" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-xs hidden-sm">
                                <h3>Spudder</h3>
                                <p>
                                    Our patent pending system gives more than just the score, it gives amateur sports leagues a platform to connect, promote, fund and grow their local communities with about 50% the effort.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-footer">
                    <div class="container">
                        <ul class="list-inline pull-right social-links">
                            <li>
                                <a href="https://www.facebook.com/spudderdotcom" target="_blank" title="Spudder on Facebook">
                                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-facebook fa-stack-1x"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/spudder_com" target="_blank" title="Spudder on Twitter">
                                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-twitter fa-stack-1x"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/5012950" target="_blank" title="Spudder on LinkedIn">
                                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-linkedin fa-stack-1x"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+Spudder/posts" target="_blank" title="Spudder on G+">
                                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-google-plus fa-stack-1x"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.pinterest.com/spudderdotcom/" target="_blank" title="Spudder on Pinterest">
                                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-pinterest fa-stack-1x"></i></span>
                                </a>
                            </li>
                        </ul>
                        <div class="copyright">
                            <p>
                                <span class="hidden-xs">&copy; Spudder LLC 2014 All right reserved.</span>
                                <span class="visible-xs"><abbr title="Spudder LLC 2014 All right reserved">&copy;</abbr></span>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <script type="text/javascript" language="javascript">

            function fix_footer_position(){
                var $footer = $('.spudder-footer');
                $footer.css('top', 'auto');
                setTimeout(function(){
                    if ($(document).height() > $(window).height())
                        $footer.css({top: ''});
                    else
                        $footer.css({top: $(window).height() - $footer.outerHeight() + 80});
                }, 500);
            }

            function balance_element_height(selector) {
                var max_height = 0;
                $(selector).each(function(i, el){
                    var $el = $(el);
                    if ($el.height() > max_height)
                        max_height = $el.height();
                });
                if (max_height == 0)
                    return;
                $(selector).each(function(i, el){
                    $(el).height(max_height);
                });
            }


            function balance_element_width(selector) {
                var max_width = 0;
                $(selector).each(function(i, el){
                    var $el = $(el);
                    if ($el.width() > max_width)
                        max_width = $el.width();
                });
                if (max_width == 0)
                    return;
                $(selector).each(function(i, el){
                    $(el).width(max_width + 10);
                });
            }


            $(document).ready(function(){

                /* GLOBAL - set the footer position */
                fix_footer_position();
                $(window).on('resize', function() { fix_footer_position(); });

                /* GLOBAL - auto hide .alert-autohide alerts after two seconds */
                $('.alert-autohide').livequery(function(){
                    var $alert = $(this);
                    var timeout = 2000;
                    if ($alert.is('.alert-error'))
                        timeout = 5000;
                    setTimeout(function(){
                        var $form = $alert.parents('form:first');
                        if ($form.length > 0)
                            $form.find('.has-success').removeClass('has-success');
                        $alert.remove();
                    }, 5000);
                });

                /* Attach to the dismissable notification */
                $('.dismiss-for-now-button').livequery(function(){
                    $(this).unbind('click').on('click', function(){
                        $(this).parents('.quote').remove();
                    });
                });
                $('.dismiss-for-good-button').livequery(function(){
                    $(this).unbind('click').on('click', function(){
                        var $container = $(this).parents('.quote');
                        $container.remove();

                        var dismissURL = '{{ info_message_url }}';
                        if (!dismissURL) {
                            dismissURL = '/cern/disable_about/';
                        }

                        $.post(dismissURL, {message_id: $container.data('id')});
                    });
                });
            });

        </script>
{#        {% if user.is_authenticated %}#}
            <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
            <style type="text/css" media="screen, projection">
              @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
              #zenbox_container{
                  min-width: 100px;
                  max-width: 615px;
                  width: 75%;
              }
            #zenbox_body{
                width: 100%;
            }
            </style>
            <script type="text/javascript">
                $(document).ready(function(){
                    if (typeof(Zenbox) !== "undefined") {
                        Zenbox.init({
                            dropboxID:   "20176994",
                            url:     	"https://spudder.zendesk.com",
                            tabTooltip:  "Support",
                            tabImageURL: "https://p2.zdassets.com/external/zenbox/images/tab_support.png",
                            tabColor:	"#fb810b",
                            tabPosition: "Left",
                            hide_tab: true
                        });
                    }
                });
            </script>
{#        {% endif %}#}

        {# Social Media sharing popups #}
        <script type="text/javascript">
          var url = 'http://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}';

          function sendRequest(){
              var request = gapi.client.urlshortener.url.insert({
                  'resource': {'longUrl':url}
              });
              request.execute(function(response){
                  this.url = response.id;
              });
          }

          function load() {
            gapi.client.setApiKey('AIzaSyDDSFnHOspc8Xx-RKMS6qiVASBMk-4ehRk');
            gapi.client.load('urlshortener', 'v1', sendRequest);
          }

          function newPopup(url){
              window.open(url, 'popup', 'height=500, width=500, left=100, top-10, scrollbars=yes,toolbar=no,menubar=no');
          }

          function facebookPopup(_url){
              newPopup('http://www.facebook.com/sharer/sharer.php?u=' + (_url || url));
          }

          function linkedinPopup(_url){
              if (_url == null)
                  _url = url;
              newPopup('http://www.linkedin.com/shareArticle?mini=true&url=' + _url);
          }

          function twitterPopup(_url){
              if (_url == null)
                  _url = url;
              if (window.twitterPopupText){
                  console.log(window.twitterPopupText);
                  window.open('http://twitter.com/intent/tweet?text=' + encodeURI(window.twitterPopupText) + ' ' + _url, 'popup', 'height=500, width=500, left=100, top-10, scrollbars=yes,toolbar=no,menubar=no');
              }
              else{
                  window.open('http://twitter.com/intent/tweet?text=Check%20out%20this%20page%20' + _url, 'popup', 'height=500, width=500, left=100, top-10, scrollbars=yes,toolbar=no,menubar=no');
              }
          }

          function googlePopup(_url){
              if (_url == null)
                  _url = url;
              newPopup('https://plus.google.com/share?url=' + _url);
          }

          function pinterestPopup(paramImage){
              image = paramImage || {% if venue %} "http://{{ request.META.HTTP_HOST }}/file/serve/{{ venue.logo.id }}" {% else %} {% if school %} "http://{{ request.META.HTTP_HOST }}/file/serve/{{ school.logo.id }}" {% else %} '' {% endif %}{% endif %}
              newPopup('http://pinterest.com/pin/create/button/?url=http://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}&media=' + image);
          }
        </script>
        <script src="https://apis.google.com/js/client.js?onload=load"></script>
        <script type="text/javascript" src="/static/js/libs/select2.min.js"></script>

        <script type="text/javascript" language="javascript" src="/static/js/libs/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(function(){

                /* Set the defaults for DataTables initialisation */
                $.extend( true, $.fn.dataTable.defaults, {
                    "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page"
                    }
                } );


                /* Default class modification */
                $.extend( $.fn.dataTableExt.oStdClasses, {
                    "sWrapper": "dataTables_wrapper form-inline"
                } );


                /* API method to get paging information */
                $.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
                {
                    return {
                        "iStart":         oSettings._iDisplayStart,
                        "iEnd":           oSettings.fnDisplayEnd(),
                        "iLength":        oSettings._iDisplayLength,
                        "iTotal":         oSettings.fnRecordsTotal(),
                        "iFilteredTotal": oSettings.fnRecordsDisplay(),
                        "iPage":          oSettings._iDisplayLength === -1 ?
                            0 : Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
                        "iTotalPages":    oSettings._iDisplayLength === -1 ?
                            0 : Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
                    };
                };


                /* Bootstrap style pagination control */
                $.extend( $.fn.dataTableExt.oPagination, {
                    "bootstrap": {
                        "fnInit": function( oSettings, nPaging, fnDraw ) {
                            var oLang = oSettings.oLanguage.oPaginate;
                            var fnClickHandler = function ( e ) {
                                e.preventDefault();
                                if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
                                    fnDraw( oSettings );
                                }
                            };

                            $(nPaging).append(
                                '<ul class="pagination">'+
                                    '<li class="prev disabled"><a href="#">'+oLang.sPrevious+'</a></li>'+
                                    '<li class="next disabled"><a href="#">'+oLang.sNext+'</a></li>'+
                                    '</ul>'
                            );
                            var els = $('a', nPaging);
                            $(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
                            $(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
                        },

                        "fnUpdate": function ( oSettings, fnDraw ) {
                            var iListLength = 5;
                            var oPaging = oSettings.oInstance.fnPagingInfo();
                            var an = oSettings.aanFeatures.p;
                            var i, ien, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);

                            if ( oPaging.iTotalPages < iListLength) {
                                iStart = 1;
                                iEnd = oPaging.iTotalPages;
                            }
                            else if ( oPaging.iPage <= iHalf ) {
                                iStart = 1;
                                iEnd = iListLength;
                            } else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
                                iStart = oPaging.iTotalPages - iListLength + 1;
                                iEnd = oPaging.iTotalPages;
                            } else {
                                iStart = oPaging.iPage - iHalf + 1;
                                iEnd = iStart + iListLength - 1;
                            }

                            for ( i=0, ien=an.length ; i<ien ; i++ ) {
                                // Remove the middle elements
                                $('li:gt(0)', an[i]).filter(':not(:last)').remove();

                                // Add the new list items and their event handlers
                                for ( j=iStart ; j<=iEnd ; j++ ) {
                                    sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
                                    $('<li '+sClass+'><a href="#">'+j+'</a></li>')
                                        .insertBefore( $('li:last', an[i])[0] )
                                        .bind('click', function (e) {
                                            e.preventDefault();
                                            oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
                                            fnDraw( oSettings );
                                        } );
                                }

                                // Add / remove disabled classes from the static elements
                                if ( oPaging.iPage === 0 ) {
                                    $('li:first', an[i]).addClass('disabled');
                                } else {
                                    $('li:first', an[i]).removeClass('disabled');
                                }

                                if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
                                    $('li:last', an[i]).addClass('disabled');
                                } else {
                                    $('li:last', an[i]).removeClass('disabled');
                                }
                            }
                        }
                    }
                } );

                $('.datatable').livequery(function() {
                    var $table = $(this);

                    var unsortableColumns = [];
                    $table.find('thead th').each(function(){
                        if ($(this).hasClass( 'no-sort')){
                            unsortableColumns.push({"bSortable": false});
                        } else {
                            unsortableColumns.push(null);
                        }
                    });

                    $table.dataTable({
                        "sDom": "<'row table-top-control'<'col-md-6 hidden-xs per-page-selector'l><'col-md-6'f>r>t<'row table-bottom-control'<'col-md-6'i><'col-md-6'p>>",
                        "oLanguage": {
                            "sLengthMenu": "_MENU_ &nbsp; records per page"
                        },
                        "aoColumns": unsortableColumns,
                        aaSorting: []
                    });
                    setTimeout(function(){
                        $('.dataTables_filter input[type=text]').addClass('form-control')
                    }, 200);
                });

            })
        </script>

        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript">
            _atrk_opts = { atrk_acct:"UTC1k1a0CM00oS", domain:"spudder.com",dynamic: true};
            (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
        </script>
        <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=UTC1k1a0CM00oS" style="display:none" height="1" width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->
        {% if 'spud_tagging'|feature_is_enabled %}
            <script type="text/javascript">
                function format(tag){
                    return "<img src='" + $(tag.element).data('img') + "' height=25px/> " + tag.text;
                }
                $(document).ready(function(){
                    $('#spud-carousel').find('.spud-add-tags').click(function(){
                        if ($(this).hasClass('btn-sm')){
                            $(this).parents('.carousel').carousel('pause');
                            $(this).siblings('#original-spud-data').hide();
                            $(this).siblings("#add-tags-div").children('.media-body').children("#select2").select2({
                                formatResult: format,
                                formatSelection: format,
                                formatNoMatches: "No one else to tag!",
                                escapeMarkup: function(m) { return m; }
                            });
                            $(this).removeClass('btn-sm').addClass('btn-lg').css('bottom','8px').css('top', '');
                            $(this).siblings('#add-tags-div').show();
                        }
                        else{
                            var tags = $('.select2-container:visible').siblings('select').val(),
                                icon = $(this).find('.fa'),
                                btn = $(this);
                            icon.removeClass('fa-tags').addClass('fa-spin fa-spinner');
                            if (tags) {
                                var response = $.post('/fan/add_spud_comment', {
                                    'spud_id': $('.select2-container:visible').siblings('select').attr('krowdioID'),
                                    'tags': tags
                                });
                                response.done(function () {
                                    icon.removeClass('fa-spin fa-spinner').addClass('fa-tags');
                                    btn.parents('.carousel').carousel('cycle');
                                    btn.siblings('#add-tags-div').hide();
                                    btn.removeClass('btn-lg').addClass('btn-sm').css('bottom', '').css('top', '8px');
                                    btn.siblings('#original-spud-data').show();
                                });
                            }
                            else{
                                icon.removeClass('fa-spin fa-spinner').addClass('fa-tags');
                                btn.parents('.carousel').carousel('cycle');
                                btn.siblings('#add-tags-div').hide();
                                btn.removeClass('btn-lg').addClass('btn-sm').css('bottom', '').css('top', '8px');
                                btn.siblings('#original-spud-data').show();
                            }
                        }
                    })
                })
            </script>
        {% endif %}

        {% block js %}
        {% endblock %}
    </body>
</html>