{% extends 'spudderspuds/base.html' %}
{% load bootstrap3 %}
{% load spudderspudstags %}
{% load featuretags %}

{% block title %}Spudder - Sports Updated Made Simple!{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'SPUDDER - Splash');
{% endblock %}

{% block body_id %}main-splash{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
            <img src="/static/img/spudderspuds/logo-spuds-large.png" style="padding-top: 160px; margin:0 auto;" class="img-responsive" />
        </div>
    </div>
    {% if 'challenges_landing_page'|feature_is_enabled %}
        <div id="challenges-cta">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <h1><span class="text-primary">Spudder</span> makes fundraising simple</h1>
                    <p>Create amazing challenges and engage your friends, family and fans to donate funds for your club.</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <h2>The next Ice Bucket challenge can be yours!</h2>
                    <div class="row">
                        <div class="col-xs-9">
                            <a class="btn btn-lg btn-block btn-primary" href="/challenges">
                                Get Started Today <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="entities-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="entity-section-header">
                        TEAMS <img src="/static/img/spudderspuds/button-teams-small.png" />
                    </h2>
                    {% include 'components/main_splash_entity_section.html' with top_entity=top_team top_entities=top_teams %}
                </div>
                <div class="col-sm-4">
                    <h2 class="entity-section-header">
                        FANS <img src="/static/img/spudderspuds/button-fans-small.png" />
                    </h2>
                    {% include 'components/main_splash_entity_section.html' with top_entity=top_fan top_entities=top_fans %}
                </div>
                <div class="col-sm-4">
                    <h2 class="entity-section-header">
                        VENUES <img src="/static/img/spuddervenues/button-venues-small.png" />
                    </h2>
                    {% include 'components/main_splash_entity_section.html' with top_entity=top_venue top_entities=top_venues %}
                </div>
            </div>
        </div>
    </div>
    <div id="registration-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <h1>Register to become a fan in <span class="text-primary">Spudder</span></h1>
                    <p>Becoming a fan will give you access to the entire network of Teams, Coaches, Players and Sports Updates!</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <form action="/spuds/register" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="email" class="form-control input-lg" placeholder="Email address" name="email_address" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password" placeholder="Password" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password_again" placeholder="Confirm Password" autocomplete="off" />
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <button type="submit" class="btn btn-lg btn-block btn-primary">
                                    Let's Get Started <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}