{% extends 'spudderspuds/base.html' %}
{% load bootstrap3 %}
{% load spudderspudstags %}

{% block title %}Spudder - Sports Updated Made Simple!{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'SPUDDER - Splash');
{% endblock %}

{% block body_id %}main-splash{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
            <img src="/static/img/spudderspuds/logo-spuds-large.png" style="padding-top: 160px; margin:0 auto;" class="img-responsive" />
        </div>
    </div>
    <div id="entities-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="entity-section-header">
                        TEAMS <img src="/static/img/spudderspuds/button-teams-small.png" />
                    </h2>
                    {% if top_team %}
                        <div class="top-entity">
                            <div class="image" style="background-image:url({{ top_team.jumbotron }});">
                                <img src="{{ top_team.icon }}" class="img-circle" />
                            </div>
                            <div class="caption">
                                <h4><a href="{{ top_team.link_to_public_page }}">{{ top_team.name }}</a></h4>
                                <p>{{ top_team.state|format_state }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <ul class="list-group">
                        {% for team in top_teams %}
                            <li class="list-group-item">
                                <div class="media">
                                    <img src="{{ team.icon }}" class="img-circle media-object pull-left" />
                                    <div class="media-body">
                                        <h5><a href="{{ team.link_to_public_page }}">{{ team.name }}</a></h5>
                                        <p>{{ team.state|format_state }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2 class="entity-section-header">
                        FANS <img src="/static/img/spudderspuds/button-fans-small.png" />
                    </h2>
                    {% if top_fan %}
                        <div class="top-entity">
                            <div class="image" style="background-image:url({{ top_fan.jumbotron }});">
                                <img src="{{ top_fan.icon }}" class="img-circle" />
                            </div>
                            <div class="caption">
                                <h4><a href="{{ top_fan.link_to_public_page }}">{{ top_fan.name }}</a></h4>
                                <p>{{ top_fan.state|format_state }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <h2 class="entity-section-header">
                        VENUES <img src="/static/img/spuddervenues/button-venues-small.png" />
                    </h2>
                    {% if top_venue %}
                        <div class="top-entity">
                            <div class="image" style="background-image:url({{ top_venue.jumbotron }});">
                                <img src="{{ top_venue.icon }}" class="img-circle" />
                            </div>
                            <div class="caption">
                                <h4><a href="{{ top_venue.link_to_public_page }}">{{ top_venue.name }}</a></h4>
                                <p>{{ top_venue.state|format_state }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="registration-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <h1>Register to become a fan in <span class="text-primary">Spudder</span></h1>
                    <p>Becoming a fan will give you access to the entire network of Teams, Coaches, Players and Sports Updates!</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <form action="/spuds/register" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="email" class="form-control input-lg" placeholder="Email address" name="email_address" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password" placeholder="Password" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password_again" placeholder="Confirm Password" autocomplete="off" />
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <button type="submit" class="btn btn-lg btn-block btn-primary">
                                    Let's Get Started <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}