<a class="btn btn-primary" openTab="#restroom-details" title="Restrooms">
    <i class="fa fa-2x fa-male {% if venue.restroom_details %}ready{% endif %}" title="Restrooms"> </i>
</a>
<a class="btn btn-primary" openTab="#concession-details" title="Concession Details">
    <i class="fa fa-2x fa-cutlery {% if venue.concession_details %}ready{% endif %}"  title="Concessions"> </i>
</a>
<a class="btn btn-primary" openTab="#admission-details" title="Admission Details">
    <i class="fa fa-2x fa-ticket {% if venue.admission_details %}ready{% endif %}" title="Seating"> </i>
</a>
<a class="btn btn-primary" openTab="#shelter-details" title="Shelter Details">
    <i class="fa fa-2x fa-home {% if venue.shelter_details %}ready{% endif %}" title="Shelter"> </i>
</a>
<a class="btn btn-primary" openTab="#medical-details" title="Medical Details">
    <i class="fa fa-2x fa-h-square {% if venue.medical_address %}ready{% endif %}" title="Medical"> </i>
</a>
<a class="btn btn-primary" openTab="#handicap-details" title="Details for users with a Disability">
    <i class="fa fa-2x fa-wheelchair {% if venue.handicap_details %}ready{% endif %}" title="Handicap"> </i>
</a>
