{% extends "base.html" %}

{% block content %}

<div id="amazon-root"></div>
<script type="text/javascript">
    window.onAmazonLoginReady = function() {
        amazon.Login.setClientId('{{ client_id }}');
    };
    (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
        d.getElementById('amazon-root').appendChild(a);
    })(document);
</script>

<div id="registration" class="accounts-form-container">
    <div class="accounts-form-header">
        <h4 id="mySignupModalLabel">Login to your <strong>account</strong></h4>
    </div>
    <div class="accounts-form-body">
        <form class="form-horizontal" action="/accounts/login" id="registration-form" method="POST">
            {% if error %}
            <div class="alert alert-error"><%= error %></div>
            {% endif %}

            <input type="hidden" name="returnURL" {% if returnURL %}value="{{ returnURL }}"{% endif %}>

            <div class="control-group">
                <p class="aligncenter">
                    <strong>
                        To login to Spudmart you must use existing Amazon account.
                    </strong>
                </p>
                <p class="aligncenter">
                    Spudmart users can login with Amazon account as well.
                </p>

                <p class="aligncenter">
                    <a href="#" id="LoginWithAmazon">
                        <img border="0" alt="Login with Amazon"
                             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                             width="156" height="32" />
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    var loginWithAmazon = document.getElementById('LoginWithAmazon'),
        next = getURLParameter('next'),
        returnUrl = '{{ base_url }}/accounts/login/amazon';

    if (next) returnUrl += '?next=' + next;

    if (loginWithAmazon) {
        loginWithAmazon.onclick = function() {
            options = { scope : 'profile' };
            amazon.Login.authorize(options, returnUrl);
            return false;
        };
    }
</script>
{% endblock scripts %}