{% extends base_url %}

{% load displays %}

{% block body %}
<div class="jumbotron spudder-jumbotron {% block cover_image_container_class %}{% endblock %}"
     style="background-image:url({% block cover_image_css_background %}{% endblock %})"
     id="{% block cover_image_container_id %}{% endblock %}">

    {% if request.can_edit %}
        <a class="btn btn-primary hidden-xs" href="{% block cover_image_edit_url %}{% endblock %}" style="position:absolute; bottom:20px; right:20px;">Edit Cover Image</a>
    {% endif %}

    <div class="container">
        <div class="spudder-jumbotron-caption">
            <div class="media">
                <img src="{% block cover_title_profile_image_url %}{% endblock %}" class="media-object pull-left img-responsive logo"/>
                <div class="media-body">
                    <h1 class="media-heading">{% block cover_title_display_name %}{% endblock %}</h1>
                    {% block cover_title_additions %}{% endblock %}
                    <p class="text-right">
                        {% block cover_title_action_buttons %}{% endblock %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container clearfix" id="venue-view">
    {% block full_page %}
        <div class="row">
            <div class="col-sm-8" style="margin-bottom:20px;">
                {% block main_page %}{% endblock %}
            </div>

            <div class="col-md-4">
                <aside class="right-sidebar">
                    {% block sidebar %}{% endblock %}
                </aside>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/google_maps/jumbotron.js"></script>
    <script type="text/javascript">
        {% if request.can_edit %}
            window.isEditMode = false;

            $('#edit').click(function() {
                var editMode = $('.edit-mode'),
                    viewMode = $('.view-mode');

                if ($(this).html() == 'Show Mode') {
                    editMode.hide();
                    viewMode.show();
                    $(this).html('Edit Mode');
                    window.isEditMode = false;
                } else {
                    editMode.show();
                    viewMode.hide();
                    $(this).html('Show Mode');
                    window.isEditMode = true;
                }
            });
        {% endif %}
        {% if request.can_follow %}
            $('#follow').click(function(){
                var span = $(this).find('span'),
                    icon = $(this).find('i');

                icon.removeClass('fa-minus').addClass('fa-spin fa-spinner');
                span.html('Unfollowing...');
                var response = $.post('/fan/stop_following',
                        {'origin': '{{ request.path }}'});
                response.done(function(){
                    span.html('Unfollowed!');
                    icon.removeClass('fa-spin fa-spinner').addClass('fa-check');
                    setTimeout(function(){
                        span.html('Follow');
                        span.parent('a').attr('href', "/fan/follow?origin={{ request.path }}");
                        icon.removeClass('fa-check').addClass('fa-plus');
                    }, 2000);
                })
            });
        {% endif %}
    </script>
{% endblock %}
