{% extends 'spudderadmin/base.html' %}
{% load bootstrap3 %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Ensure base challenge templates</h2>
                        <div class="alert alert-info">
                            <p>This will ensure that the database is populated with the basic challenge templates.</p>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="ensure_challenge_templates" />
                            <button class="btn btn-default" type="submit">
                                Ensure templates
                            </button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Challenge Templates</h2>
                        <ul class="list-group">
                            {% for template in challenge_templates %}
                                <li class="list-group-item">
                                    <h4>{{ template.name }}</h4>
                                </li>
                            {% empty %}
                                <div class="alert alert-danger" style="width:90%; margin: 20px auto;">
                                    <p>There are no templates in the system at the moment!</p>
                                    <p>You should reset the system or ensure the base templates are set.</p>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Challenge Configuration</h2>
                        <dl>
                            <dt>Time to complete challenge</dt>
                            <dd>{{ challenge_config.time_to_complete }} min <a href="/spudderadmin/challenges/edit_config">edit</a></dd>
                            <dt>Messages</dt>
                            <dd>
                                <a href="/spudderadmin/challenges/add_message" class="btn btn-default">
                                    <i class="fa fa-plus"></i> Add message
                                </a>

                                <ul class="list-group">
                                    {% for challenge_message_config in challenge_messages_config %}
                                        <li class="list-group-item">
                                            <p>
                                                {{ challenge_message_config.message }}
                                                <a href="/spudderadmin/challenges/{{ challenge_message_config.id }}/edit_message" class="btn btn-default">
                                                    <i class="fa fa-pencil-square-o"></i> Edit message
                                                </a>
                                                <a href="/spudderadmin/challenges/{{ challenge_message_config.id }}/remove_message" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i> Remove message
                                                </a>
                                            </p>
                                        </li>
                                    {% empty %}
                                        <p>No messages configured</p>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Reset Challenges System</h2>
                        <div class="alert alert-danger">
                            <p>This can not be undone and will delete all challenges and templates from the system.</p>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form reset_challenges_system_form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-refresh"></i> Reset system
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}