<% include ../../parts/head %>

<% include ../../parts/bodyStart %>

<div class="tab-content clearfix">
    <p>An error occurred while connecting with Amazon account. Please see the description below.</p>
    <p><%- error %></p>
    <p>&nbsp;</p>

    <a href="/dashboard/fans/amazon/connect" class="btn btn-orange">Try again!</a>
</div>

<% include ../../parts/scripts %>

<% include ../../parts/foot %>
