<% include ../../parts/head %>

<% include ../../parts/bodyStart %>

<div class="tab-content clearfix">
    <form method="POST" action="" class="span12">
        <p>If you want to disconnect your account from Amazon click "Disconnect" button</p>
        <p><i>(This operation can be undo at any time)</i></p>
        <p>&nbsp;</p>

        <button type="submit" class="btn btn-orange">
            <i class="icon-ok bigger-110"></i>
            Disconnect
        </button>
	</form>
</div>

<% include ../../parts/scripts %>

<% include ../../parts/foot %>
