<% include ../../parts/head %>

<% include ../../parts/bodyStart %>

<div class="tab-content clearfix">
    <h3>Congratulations!</h3>
    <p>Your Spudder account has been successfully disconnected Amazon.</p>
    <p>If you want to connect it again, click "Connect again button"</p>

    <a href="/dashboard/fans/amazon/connect" class="btn btn-orange">Connect again</a>
</div>

<% include ../../parts/scripts %>

<% include ../../parts/foot %>
