{% extends 'spuddercern/base.html' %}

{% block title %}CERN Dashboard{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Dashboard');
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 hidden-xs hidden-sm">
                <div class="list-group">
                    {% block side_nav %}{% include 'spuddercern/sponsor_dashboard/sideNav.html' with active="venues" %}{% endblock %}
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                {% block dashboard_page %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}