<form method="POST" action="" class="span3">
	<div class="space-10"></div>
	
	<div>
		<label class="inline">
			<input name="form-field-checkbox" type="checkbox">
			<span class="lbl"> Make my profile public</span>
		</label>
	</div>
	
	<div class="space-8"></div>
	
	<div>
		<label class="inline">
			<input name="form-field-checkbox" type="checkbox">
			<span class="lbl"> Email me new updates</span>
		</label>
	</div>
	
	<div class="space-8"></div>
	
	<div>
		<label class="inline">
			<input name="form-field-checkbox" type="checkbox">
			<span class="lbl"> Keep a history of my conversations</span>
		</label>
	
		<label class="inline">
			<span class="space-2 block"></span>
	
			for
			<input class="input-mini" maxlength="3" type="text">
			days
		</label>
	</div>
	
	<div class="space-8"></div>
	
	<div>
		<button type="button" class="btn btn-orange">
			<i class="icon-ok bigger-110"></i>
			Save
		</button>
	
		&nbsp; &nbsp; &nbsp;
		<button type="reset" class="btn btn-darkgrey">
			<i class="icon-undo bigger-110"></i>
			Reset
		</button>
	</div>
</form>

<form method="POST" action="" class="span3">
	<div class="control-group">
		<label class="control-label" for="form-field-pass1">New Password</label>
	
		<div class="controls">
			<input id="form-field-pass1" type="password" name="password">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="form-field-pass2">Confirm Password</label>
	
		<div class="controls">
			<input id="form-field-pass2" type="password" name="password2">
		</div>
	</div>
	<div>
		<button type="button" class="btn btn-orange">
			<i class="icon-ok bigger-110"></i>
			Save
		</button>

		&nbsp; &nbsp; &nbsp;
		<button type="reset" class="btn btn-darkgrey">
			<i class="icon-undo bigger-110"></i>
			Reset
		</button>
	</div>
</form>