// Core variables and mixins
@import "../spudderfans/spudderfans.less";

.input-required {
  color: #ff0000;
}

#map_canvas {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}

#location {
  width: 90%;
  margin-top: 10px;
}

.team-jumbotron-default {
  background-image: url("/static/img/spudderteams/button-teams-large.png");
  opacity: 0.2;
  height: 100%;
  background-size: 12%;
}