{% extends 'spuddersponsors/base.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'SPONSORS Splash Page');
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-8 col-sm-offset-2">

                <div class="text-center">
                    <img src="/static/img/spuddersponsors/logo-sponsors-medium.png">
                    <h2>Welcome to the Spudder Sponsors Network!</h2>
                    <a class="btn btn-primary btn-large" href="/sponsor/register" style="margin: 20px 0;">
                        Register Now!
                    </a>
                </div>

                <div class="quote">
                    <div class="alert alert-info">
                        <h4>What are Sponsors </h4>
                        <p>
                            At Spudder a Sponsor is an entity that uses Spudder® to donate to a Team, League or Tournament. Spudder® uses the most trusted ecommerce provider in the world, AMAZON®, to facilitate these transactions. So not only can you trust that the donation happens in a safe and secure transaction, but your donation will be recorded in your AMAZON® account and your Spudder® account for record keeping purposes.
                        </p>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <img src="/static/img/spuddersponsors/button-sponsors-small.png" class="button" />
                </div>
                <div class="quote">
                    <div class="alert alert-success">
                        <h4>What can Sponsors do?</h4>
                        <p>Sponsors can create their own SEO advertising mobile and web profiles. These profiles are public facing pages, so not only are they accessible in the form of banner links on the organizations pages that you sponsor, but they will drive traffic from the entire internet.</p>
                        <p>There are a number of ways to advertise on Spudder including: sponsor Teams, Leagues, Tournaments, and Venues.</p>
                        <p>Spudder® is a powerful marketing tool for local businesses. All the proceeds (less a small standard processing fee) goes directly back to the place it matters most: your local community! Thus aiding the kids in your home town.</p>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <img src="/static/img/spuddersponsors/button-sponsors-small.png" class="button" />
                </div>
                <div class="text-center">
                    <h2>Sounds great! Where do I sign up?</h2>
                    <a class="btn btn-primary btn-large" href="/sponsor/register" style="margin: 20px 0;">
                        Go to Registration Page
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}