<div class="padding-side5">
	<div class="span1">
		<div class="button open-modal grey" modal-id="#tag-modal-player" title="backward">
			<i class="icon-step-backward"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-player" title="player">
			<i class="icon-user"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-coach" title="coach">
			<i class="icon-bullhorn"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-team" title="team">
			<i class="icon-group"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-league" title="league">
			<i class="icon-sitemap"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-tournament" title="tournament">
			<i class="icon-trophy"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-field" title="field">
			<i class="icon-map-marker"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal green" modal-id="#tag-modal-field" title="activate">
			<i class="icon-bolt"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal green" modal-id="#tag-modal-field" title="like">
			<i class="icon-thumbs-up"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal red" modal-id="#tag-modal-field" title="dislike">
			<i class="icon-thumbs-down"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal grey" modal-id="#tag-modal-field" title="share">
			<i class="icon-share"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal grey" modal-id="#tag-modal-field" title="forward">
			<i class="icon-step-forward"></i>
		</div>
	</div>
</div>
