<div class="datePicker">
	<input type="hidden" class="default" name="<%- inputName %>" value="<%- defaultDate.split('-').reverse().join('-') %>" />
	
	<div class="control-group" type="month">
		<i class="icon-sort-up"> </i>
		<div class="controls">
			<select class="month">
			</select>
		</div>
		<i class="icon-sort-down"> </i>
	</div>
	
	<div class="control-group" type="day">
		<i class="icon-sort-up"> </i>
		<div class="controls">
			<select class="day">
			</select>
		</div>
		<i class="icon-sort-down"> </i>
	</div>
	
	<div class="control-group" type="year">
		<i class="icon-sort-up"> </i>
		<div class="controls">
			<select class="year">
			</select>
		</div>
		<i class="icon-sort-down"> </i>
	</div>
</div>