<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        Sponsors Menu <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/dashboard/sponsor/"><i class="fa fa-fw fa-bar-chart-o"></i> Dashboard</a></li>
        <li><a href="/dashboard/sponsor/venues/"><i class="fa fa-fw fa-map-marker"></i> Venues</a></li>
        <li><a href="/accounts/logout?next=/cern/"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
    </ul>
</li>