{% extends 'spudderspuds/base_single_well.html' %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="/static/css/spudderspuds.css" />
{% endblock %}

{% load bootstrap3 %}

{% block well_content %}
    <h3>You are creating a new Team in Spudder!</h3>
    <form method="post" enctype="multipart/form-data" action="{{ upload_url }}">
        <fieldset>
            <legend>Please fill out the form below and hit 'create'.</legend>
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-group edit-mode" style="display: block;">
                <label>Location:</label>
                <span class="input-required">*required</span>
                <input id="location" name="location" class="controls" type="text" placeholder="Enter a location">
                <input id="infoWindow" name="infoWindow" type="hidden" {% if info_window %}value="{{ info_window }}"{% endif %}>
                <input id="location_info" name="location_info" type="hidden" {% if page.location %}value="{{ page.location.post_data }}"{% endif %}/>
                <div id="map_canvas" class="google-map-canvas"></div>
            </div>

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Create
                </button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">
                    Cancel
                </a>
            {% endbuttons %}
        </fieldset>
    </form>
{% endblock %}

{% block js %}
{#    <script src="/media/dashboard/js/jquery.validate.js"></script>#}
{#    <script src="/media/dashboard/js/additional-methods.min.js"></script>#}
{#    <script src="/media/dashboard/js/jquery.validate.spudder.rules.js"></script>#}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&v=3.exp&sensor=false&libraries=places"></script>
    <script src="/static/js/google_maps/init.js"></script>

    <script type="text/javascript">
{#        var state = 'New Jersey';#}
{#        initializeGoogleMaps('United States', createInfoWindow('United States', 'US'));#}
{#        initializeGoogleMaps('United States, US');#}
        window.bigGlobalVariable = null;

        initialize();

{#        $(document).ready(function () {#}
{#            var $form = $('form');#}
{##}
{#            $form.validate({#}
{#                rules: {#}
{#                    team_name: "required"#}
{#                },#}
{##}
{#                errorPlacement: function(error, element) {#}
{#                    error.appendTo( element.parent() );#}
{#                },#}
{##}
{#                submitHandler: function (form) {#}
{#                    var $locationInfo = $('#location_info');#}
{##}
{#                    if ($locationInfo.val()) {#}
{#                        form.submit();#}
{#                    } else {#}
{#                        var $error = $(document.createElement('label'));#}
{##}
{#                        $error.addClass('error').attr('for', 'location');#}
{#                        $error.text('This field is required');#}
{#                        $error.css('display', 'block');#}
{##}
{#                        $('#map_canvas').before($error);#}
{#                    }#}
{#                }#}
{#            });#}
{#        });#}
    </script>
{% endblock js %}