{% extends 'spudderspuds/teams/pages/create_team.html' %}
{% load bootstrap3 %}

{% block css %}
    {{ block.super }}
    <style>
    .edit-team-logo-img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    .help-text-content {
        line-height: 50px;
    }
    </style>
{% endblock %}

{% block well_content %}
    <h3>You are editing a "{{ page.name }}" Team in Spudder!</h3>
    <form method="post" enctype="multipart/form-data" action="{{ upload_url }}">
        <fieldset>
            <legend>Please fill out the form below and hit 'update'.</legend>
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Update
                </button>
                <a href="/team/{{ page.id }}" class="btn btn-default">
                    Cancel
                </a>
            {% endbuttons %}
        </fieldset>
    </form>
{% endblock %}

{% block js %}
{% endblock %}