{% extends 'spudderspuds/base.html' %}
{% load bootstrap3 %}
{% load accounts %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .tab-pane > p {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="/fan/{{ request.current_role.entity.id }}/teams" class="btn btn-default pull-right">
                Cancel
            </a>
            <h1>
                Administrators for "{{ page.name }}"
            </h1>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#admins" role="tab" data-toggle="tab">Administrators</a></li>
            <li><a href="#invited-fans" role="tab" data-toggle="tab">invited Fans</a></li>
            <li><a href="#invited-emails" role="tab" data-toggle="tab">invited By Email</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="admins">
                <p>This list shows all the fan's who can administer team "{{ page.name }}"</p>

                <table class="table table-striped {% if admins %} datatable {% endif %}">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Fans Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td style="width: 40px;">
                                    {{ forloop.counter }}
                                </td>
                                <td style="width:40px;">
                                    <a href="/fan/{{ admin.id }}">
                                        <img src="{% if admin.avatar %}/file/serve/{{ admin.avatar.id }}{% else %}/static/img/spudderspuds/button-fans-medium.png{% endif %}" style="width: 25px;"/>
                                    </a>
                                </td>
                                <td>
                                    <a href="/fan/{{ admin.id }}">{% fan_page_name admin %}</a>
                                    {% if admin.fan == request.user %}
                                        <span class="label label-primary">It's you!</span>
                                    {% endif %}
                                </td>
                                <td style="width: 40px;">
                                    {% if admin.fan != request.user %}
                                        <a class="btn btn-xs btn-primary" href="/team/{{ page.id }}/revoke_fan_invitation/{{ admin.id }}"
                                           title="Revoke administration access">
                                            <i class="fa fa-fw fa-times"> </i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="invited-fans">
                <p>This list shows all the fan's who are invited to be an "{{ page.name }}" team administer</p>

                <table class="table table-striped {% if admins %} datatable {% endif %}">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Fans Name</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fan in invited_fans %}
                            <tr>
                                <td style="width: 40px;">
                                    {{ forloop.counter }}
                                </td>
                                <td>
            {#                        <a href="/fan/{{ admin.id }}">#}
            {#                            <img src="{% if admin.avatar %}/file/serve/{{ admin.avatar.id }}{% else %}/static/img/spudderspuds/button-fans-medium.png{% endif %}" style="width: 25px;"/>#}
            {#                        </a>#}
                                    <a href="/fan/{{ fan.id }}">{% fan_page_name fan %}</a>
                                </td>
                                <td style="width: 40px;">
                                    <a class="btn btn-xs btn-primary"
                                       href="/team/{{ page.id }}/cancel_fan_invitation/{{ fan.id }}" title="Cancel invitation">
                                        <i class="fa fa-fw fa-ban"> </i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="tab-pane" id="invited-emails">
                <p>This list shows all the users who are invited to be an "{{ page.name }}" team administer by email</p>

                <table class="table table-striped {% if admins %} datatable {% endif %}">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Email</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invited_non_user in invited_non_users %}
                            <tr>
                                <td style="width: 40px;">
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ invited_non_user.invitee_entity_id }}
                                </td>
                                <td style="width: 40px;">
                                    <a class="btn btn-xs btn-primary"
                                       href="/users/invitation/{{ invited_non_user.id }}/cancel" title="Cancel invitation">
                                        <i class="fa fa-fw fa-ban"> </i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <hr />

        <h3>Add additional administrators to this team!</h3>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#add-admins">
            <i class="fa fa-plus"></i> Add users to administer this team
        </button>

        <hr/>

        <div id="add-admins" class="collapse {% if form.errors or is_form_sent %} in {% endif %}">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li {% if not form.errors and not is_form_sent %} class="active" {% endif %}><a href="#invite-fans" role="tab" data-toggle="tab">Invite Fans</a></li>
                <li {% if form.errors or is_form_sent %} class="active" {% endif %}><a href="#invite-by-email" role="tab" data-toggle="tab">Invite New User By Email</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane {% if not form.errors and not is_form_sent %} active {% endif %}" id="invite-fans">
                    <p>This list shows all the fan's who are not invited yet</p>

                    <table class="table table-striped datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fans Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fan in not_invited_fans %}
                                <tr>
                                    <td style="width: 40px;">
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                {#                        <a href="/fan/{{ admin.id }}">#}
                {#                            <img src="{% if admin.avatar %}/file/serve/{{ admin.avatar.id }}{% else %}/static/img/spudderspuds/button-fans-medium.png{% endif %}" style="width: 25px;"/>#}
                {#                        </a>#}
                                        <a href="/fan/{{ fan.id }}">{% fan_page_name fan %}</a>
                                    </td>
                                    <td style="width: 100px;">
                                        <a class="btn btn-xs btn-primary"
                                           href="/team/{{ page.id }}/invite_fan/{{ fan.id }}"
                                           title="Invite fan">
                                            <i class="fa fa-fw fa-plus"> </i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane {% if form.errors or is_form_sent %} active {% endif %}" id="invite-by-email">

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="well" style="margin:20px 0;">
                                {% if is_form_sent and not form.errors %}
                                    <div class="alert alert-success" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                                        Invitation was sent, thanks!
                                    </div>
                                {% endif %}

                                <form method="post" enctype="multipart/form-data" action="{{ upload_url }}">
                                    <fieldset>
                                        {% csrf_token %}
                                        {% bootstrap_form form %}

                                        {% buttons %}
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-send"></i> Invite
                                            </button>
                                        {% endbuttons %}
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add-admins').on('shown.bs.collapse', function () {
                fix_footer_position()
            })
        });
    </script>
{% endblock %}