{% extends 'spudderspuds/base.html' %}

{% block title %}Spudder Teams Search{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'TEAMS - Search');
{% endblock %}


{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h4><i class="fa fa-search"> </i> Search Teams</h4>
            </div>
            <div class="panel-body">
            	<div class="well">
        			<form class="form-inline" style="display: inline-block;" action="/team/search" method="get">
						<div class="form-group">
							<label class="sr-only" for="state">State</label>
							<select class="form-control input-lg" id="state" name="state" style="line-height: 20px; padding: 0px 10px 0px 5px;">
								{% for state in states %}
									<option value="{{ state }}">{{ state }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="sport">Sport</label>
							<select class="form-control input-lg" id="sport" name="sport" style="line-height: 20px; padding: 0px 10px 0px 5px;">
								{% for sport in sports %}
									<option value="{{ sport }}">{{ sport }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit" class="btn btn-primary">
							Filter
						</button>
					</form>
					<span style="display: inline-block; margin-left: 20px;">
						Current Filters:
						{% if filters %}
							<span style="display: inline-block; margin-left: 10px;">
								<b>State:</b> {{ filters.state }}
							</span>
							<span style="display: inline-block; margin-left: 10px;">
								<b>Sport:</b> {{ filters.sport }}
							</span>
						{% else %}
							<b>There are no filters set.</b>
						{% endif %}
					</span>
            	</div>
                <table class="table table-striped {% if teams %}datatable{% endif %}">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Name</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>
                                	<a href="/team/{{ team.pk }}">
	                                	{% if team.image %}
	                                		<img src="/file/serve/{{ team.image.pk }}" width="56" height="52" />
	                                	{% else %}
	                                		<i class="fa fa-group fa-4x"> </i>
	                                	{% endif %}
                                	</a>
                            	</td>
                                <td>
                                	<a href="/team/{{ team.pk }}">{{ team.name|safe }}</a>
                        		</td>
                                <td class="actions" style="white-space: nowrap">
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    <div class="alert alert-warning">
                                        <p>There are no teams to show.</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}