{% extends 'components/sharedpages/public_page_base.html' %}

{% load accounts %}

{% block title %}
    {{ page.name }}
{% endblock %}

{% block meta %}
	{{ block.super }}
	<meta property="og:title" content="{{ page.name }} | Spudder - Sports Updates Made Simple">
	<meta property="og:description" content="Check out the latest updates about {{ page.name }}. If you are a fan of {{ page.name }}, you need to see this!">
	{% if page.avatar %} <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/file/serve/{{ page.image.id }}">
        {% else %}<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/img/spudderteams/button-teams-large.png">
	{% endif %}
{% endblock %}

{% block nav %}
    {% if current_role and current_role.entity_type == 'fan' %}
        {% include 'spudderspuds/components/main_nav.html' %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block cover_image_container_id %}{% if not page.cover_image %}jumbo-map-container{% endif %}{% endblock %}

{% block cover_image_css_background %}{% if page.cover_image %}/file/serve/{{ page.cover_image.id }}{% endif %}{% endblock %}

{% block cover_image_edit_url %}/team/{{ page.id }}/edit_cover{% endblock %}

{% block cover_title_profile_image_url %}{% if page.image %}/file/serve/{{ page.image.id }}{% else %}/static/img/spudderspuds/button-teams-medium.png{% endif %}{% endblock %}

{% block cover_title_display_name %}{{ page.name }}{% endblock %}

{% block cover_title_action_buttons %}
    {% if request.can_edit %}
        <button class="btn btn-primary" id="edit">
            Edit Mode
        </button>
    {% else %}
        {% if request.can_follow %}
            {% if request.following %}
                <a class="btn btn-primary" id="follow">
                    <i class="fa fa-fw fa-minus"></i> <span>Unfollow</span>
                </a>
            {% else %}
                <a class="btn btn-primary" href="/fan/follow?origin={{ request.path }}">
                    <i class="fa fa-fw fa-plus"></i> Follow
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block main_page %}
    <div class="edit-mode well">
        <h2>Edit Your Information</h2>
        <form method="post" enctype="multipart/form-data" role="form">
            <div class="form-group edit-mode">
                <label>Upload a profile image (logo):</label>
                <input type="file" name="avatar" id="logo-input" class="form-control" />
            </div>

            <a class="btn btn-primary" id="save-logo">Save</a>
            <div class="alert" id="logo-name-alert" style="margin-top:10px"></div>

            <p>Use the bu</p>

            <a class="btn btn-primary" href="/team/associate/{{ page.id }}" title="Associate with {% if is_associated %}Another {% endif %}Venue"
                style="margin: 20px auto 0; display: table;">
                <i class="fa fa-fw fa-map-marker"> </i> Associate with {% if is_associated %}Another {% endif %}Venue
            </a>
        </form>
    </div>

    <div id="venue-property-buttons">
        <div class="btn-group hidden-sm hidden-xs btn-group-justified" style="margin: 0 auto;">
            {% include 'spudderspuds/teams/parts/team_view_buttons.html' %}
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="spuds">
            <div style="min-height: 362px; margin: 0 auto; width: 100%; vertical-align: middle; text-align: center; padding:15px;">
                <div class="row-fluid" style="height:100%;">
                    <div class="col-md-12 contents" style="height:100%;">
                        <div class="alert"></div>
                        <div class="content active" id="spuds">
                            {% include 'components/spuds/spud_carousel.html' with spuds=team_spuds %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="venues">
            <div class="page-header">
                <h2><i class="fa fa-map-marker"></i> Venues associated with this team</h2>
            </div>
            {% if not is_associated %}
                {% include 'spudderspuds/teams/quotes/quote_team_not_associated_with_venue.html' %}
            {% else %}
                <table class="table table-striped" style="margin-top: 20px;">
                    {% for venue in venues %}
                        <tr>
                            <td style="width:40px;vertical-align: middle;">
                                <a href="/venues/view/{{ venue.id }}" style="text-decoration: none;">
                                    <img src="{% if venue.logo %}/file/serve/{{ venue.logo.id }}{% else %}/static/img/spuddersponsors/button-sponsors-medium.png{% endif %}" height="30px;"/>
                                </a>
                            </td>
                            <td style="vertical-align: middle;">
                                <a href="/venues/view/{{ venue.id }}" style="text-decoration: none;">
                                    {{ venue }}
                                </a>
                            </td>
                            <td style="vertical-align: middle;" class="hidden-xs">
                                @{{ venue.name }}
                            </td>
                            <td style="width:100px; vertical-align: middle;">
                                <a class="btn btn-danger btn-sm" href="javascript:removeAssociation('{{ venue.id }}', '{{ venue.aka_name }}');">
                                    Remove association
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if request.can_edit %}
                    <a class="btn btn-primary" href="/team/associate/{{ page.id }}" title="Associate with Another Venue" style="margin: 20px 0;">
                        <i class="fa fa-fw fa-map-marker"> </i> Associate with Another Venue
                    </a>
                {% endif %}
{#                <div id="associated-venue-container" class="text-center" style="border-top: 1px solid lightgray; padding-top: 20px" class="text-center">#}
{#                    <h3>#}
{#                        Associated Venue{% if venues|length > 1 %}s{% endif %}#}
{#                    </h3>#}
{#                    {% for venue in venues %}#}
{#                        <div id="associated-venue-{{ forloop.counter }}" {% if not forloop.first %}style="display:none"{% endif %}>#}
{#                            <div style="font-size:100px;">#}
{#                                {% if venues|length > 1 %}#}
{#                                    {% if forloop.first %}#}
{#                                        <a id="previous-venue" nextVenue="{{ venues|length }}"><i class="fa fa-angle-left"></i></a>#}
{#                                    {% else %}#}
{#                                        <a id="previous-venue" nextVenue="{{ forloop.counter0 }}"><i class="fa fa-angle-left"></i></a>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{##}
{#                                <a href="/venues/view/{{ venue.id }}" style="text-decoration: none;">#}
{#                                    {% if venue.logo %}#}
{#                                        <img id="venue-logo" src="/file/serve/{{ venue.logo.id }}" height="100px"/>#}
{#                                    {% else %}#}
{#                                        <img id="venue-logo" src="/static/img/spuddersponsors/button-sponsors-medium.png" />#}
{#                                    {% endif %}#}
{#                                </a>#}
{##}
{#                                {% if venues|length > 1 %}#}
{#                                    {% if forloop.last %}#}
{#                                        <a id="next-venue" nextVenue="1"><i class="fa fa-angle-right"></i></a>#}
{#                                    {% else %}#}
{#                                        <a id="next-venue" nextVenue="{{ forloop.counter|add:1 }}"><i class="fa fa-angle-right"></i></a>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            <ul class="list-unstyled" style="display:inline-block">#}
{#                                <li class="text-left">#}
{#                                    <label>Name: </label> {{ venue }}#}
{#                                </li>#}
{##}
{#                                <li class="text-left">#}
{#                                    <label>Page: </label> <a href="/venues/view/{{ venue.id }}">View Venue page</a>#}
{#                                </li>#}
{##}
{#                                <li class="text-left">#}
{#                                    <label>Tag: </label> @{{ venue.name }}#}
{#                                </li>#}
{#                            </ul>#}
{#                            <div style="margin-bottom:25px">#}
{#                                <a class="btn btn-danger" href="javascript:removeAssociation('{{ venue.id }}', '{{ venue.aka_name }}');">#}
{#                                    Remove association#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
            {% endif %}
        </div>

        <div class="tab-pane" id="about">
            {% if page.free_text %}
                <div>
                    <h3 style="text-align: center">Description:</h3>
                    <p style="margin-left: 30px; margin-right: 30px; text-align: justify;">{{ page.free_text }}</p>
                </div>
             {% else %}
                {% include 'spudderspuds/teams/quotes/quote_no_free_text.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="venue-sponsor-container">
        <h3>
            Team Details
        </h3>

        <ul class="list-unstyled">
            <li>
                <label>Sport: </label> {{ page.sport }}
            </li>

            {% if page.contact_details %}
                <li>
                    <label>Contact details: </label> {{ page.contact_details }}
                </li>
            {% endif %}

            {% if page.location %}
                <li>
                    <label>Location: </label> <a href="{{ page.location.external_link }}">{{ page.location }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock sidebar %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript" src="/static/js/libs/jquery.serialize.file.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry"></script>
    <script type="text/javascript" src="/static/js/libs/google.map.js"></script>

    <script type="text/javascript">
        $('.content').not('.active').hide();

        $(document).ready(function(){
            $('#mailto').attr('href',
                              'mailto:?subject={{ page.name }} on Spudder' +
                              '&body=Check out the latest updates about {{ page.name }}. If you are a fan of {{ page.name }}, you need to see this! ' + url)

            $('.alert').each(function(i, alert) {
               var $alert = $(alert);
               if ($alert.html() == "")
                   $alert.hide();
            });

            $('#save-logo').click(function() {
                console.log('Save logo click...');
                var form = $(this).parents('form'),
                    files = $(form).serializeFiles(),
                    alert = $('#logo-name-alert');

                $.get('/upload/get_upload_url', function(data) {
                    $.ajax({
                        url : data,
                        data : files,
                        cache : false,
                        contentType : false,
                        processData : false,
                        type : 'POST',
                        success : function(data) {
                            var parsed = JSON.parse(data),
                                response = $.post('/team/{{ page.id }}/save_avatar', {
                                    'avatar' : parsed['uploaded_files'][0]
                                });

                            response.done(function(data) {
                                if (parsed['uploaded_files'].length > 0){
                                    showAlert(alert, 'Your new logo have been saved.', 'success', true);
                                    $('.spudder-jumbotron-caption .media img').attr('src', parsed['uploaded_files'][0]);
                                }
                            });
                        }
                    });
                });
            });

            $('#nav-btn-wrapper').find('a').not('[title="School Page"]').click(function(){
                if(!$(this).hasClass('active')) {
                    var currentTab = $(this).attr('openTab');

                    $('.alert').not('.alert-info').hide();

                    $('#nav-btn-wrapper').find('.active').removeClass('active');

                    hide($('.contents > div.content'));

                    $(this).addClass('active');

                    show(currentTab);
                }
            });

            function show(element) {
                $('.contents > .active').removeClass('active');
                $(element).addClass('active');
                $(element).show();
            }

            function hide(elements) {
                $.each(elements, function() {
                    $(this).hide();
                });
            }
        });
        
        $('#associated-venue-container').find('[nextVenue]').click(function(){
            $(this).parent().parent().hide();
            $('#associated-venue-' + $(this).attr('nextVenue')).show();
        });

        function removeAssociation(venueID, venueName){
            if (confirm('This will remove the association with the venue ' + venueName + '. Are you sure you want to do that?')){
                window.location = '/team/associate/{{ page.id }}/remove/' + venueID;
            }
        }

        $('a[role="tab"]').click(function () {
            $('a[role="tab"]').removeClass('active');

            $(this).addClass('active');
            $(this).tab('show');
        })
    </script>

    <script type="text/javascript">
        window.twitterPopupText = "Follow {{ page.name }} and check out all the Sports Updates shared and posted about them!";

        {% if page.location %}
            $(document).ready(function () {
                initWithCoords(parseFloat("{{ page.location.latitude }}"), parseFloat("{{ page.location.longitude }}"))
            });
        {% endif %}
    </script>
{% endblock %}

