{% extends 'spudderspuds/base.html' %}

{% load displays %}

{% block body %}
<div class="jumbotron" style="position:relative; top: -20px; padding: 0;">
    {% block cover_image %}{% endblock %}
    <div class="container">
        <div class="page-header" style="background: rgba(255, 255, 255, .7); position:absolute; bottom: 10px; padding: 10px;">
            <h1 style="position:relative">
                {% block cover_title %}{% endblock %}
            </h1>
        </div>
    </div>
</div>
<div class="container clearfix" id="venue-view">
	<div class="row">
		<div class="col-sm-12" style="margin-top:20px; margin-bottom: 20px;">
            {% block main_page %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/google_maps/jumbotron.js"></script>
{% endblock %}
