		<footer>
			<div class="container">
				<div class="row">
					<div class="span2">
						<div class="widget"> 
							<h5 class="widgetheading">Features</h5>
							<ul class="link-list">
								<li><a href="http://info.spudder.com/fundraising.html">Fundraising</a></li>
								<li><a href="http://info.spudder.com/updates.html">Sports Updates</a></li>
								<li><a href="http://info.spudder.com/safe.html">Safe Communications</a></li>
								<li><a href="http://info.spudder.com/metrics.html">Community Metrics</a></li>
								<li><a href="http://info.spudder.com/controls.html">Parental Controls</a></li>
							</ul>
						</div>
					</div>
					<div class="span2">
						<div class="widget">
							<h5 class="widgetheading">About Spudder</h5>
							<ul class="link-list">
								<li><a href="http://support.spudder.com">Support</a></li>
								<li><a href="http://info.spudder.com/about.html">About Us</a></li>
								<li><a href="http://info.spudder.com/ourteam.html">Meet our team</a></li>
								<li><a href="http://info.spudder.com/reps.html">College Reps</a></li>
								<li><a href="http://info.spudder.com/affiliates.html">Affiliates</a></li>
							</ul>
						</div>
					</div>
					<div class="span4">
						<div class="widget">
                            <iframe width="330" height="220" src="//www.youtube.com/embed/Fde3tYVcuGc?rel=0" frameborder="0" allowfullscreen></iframe>
							<div class="clear">
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="widget">
							<h5 class="widgetheading">Sports Updates Made Simple</h5>
							<address>
								Our patent pending system gives more than just the score, it gives amateur sports leagues a platform to connect, promote, fund and grow their local communities with about 50% the effort.
							</address>
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						<div class="span6">
							<div class="copyright">
								<p>
									<span>&copy; Spudder LLC 2013 All right reserved. Designed by </span><a href="http://dennisharabin.com" target="_blank">Dennis Harabin</a>
								</p>
							</div>
						</div>
						<div class="span6">
							<ul class="social-network">
								<li><a data-original-title="Facebook" href="http://www.facebook.com/spudderdotcom" target="_blank" data-placement="top" title=""><i class="icon-facebook icon-square"></i></a></li>
								<li><a data-original-title="Twitter" href="https://twitter.com/spudderdotcom" target="_blank" data-placement="top" title=""><i class="icon-twitter icon-square"></i></a></li>
								<!-- <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li> -->
								<li><a data-original-title="Pinterest" href="http://pinterest.com/spudderdotcom/" target="_blank" data-placement="top" title=""><i class="icon-pinterest icon-square"></i></a></li>
								<li><a data-original-title="Google+" href="https://plus.google.com/113968251038874482620" target="_blank" rel="publisher" data-placement="top" title=""><i class="icon-google-plus icon-square"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
	
	