<!DOCTYPE html>
<html>
<head>
    {% include 'dashboard/parts/meta.html' %}
    {% block meta %}{% endblock %}
    {% include 'parts/scripts.html' %}
</head>

<body class="skin-3">
    {% include 'accounts/common/amazon-root.html' %}
    
        {% include 'CERN/parts/header.html' %}

        <div class="main-container container-fluid">

            {% include 'CERN/parts/sideNav.html' %}

            <div class="main-content">
                {% block breadcrumbs %} {% endblock breadcrumbs %}
                <div class="page-content">
                    {% block content %} 
                        {% if student.show_CERN %}
                            {% include 'CERN/parts/about-cern.html' %}
                        {% endif %}
                        {% include 'CERN/parts/grid.html' %} 
                    {% endblock content %}
                </div>

            </div>
        </div>
    {% include 'dashboard/parts/scripts.html' %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>