{% extends 'CERN/base.html' %}

{% block meta %}
<title>Amazon Authorization Error - CERN | Spudder - Sports Updates Made Simple </title>
{% endblock %}

{% block content %}
<div class="container clearfix" id="venue-account">
	<div class="well">
		<h4 class="aligncenter">Amazon Authorization is Required</h4>
		<p>To sign up with Spudder and CERN, you must authorize Amazon to share certain information with Spudder.</p>
        <p>To try again, use your browser's back button or click <a href="javascript:window.history.back()">here</a>.</p>
	</div>
</div>
{% endblock content %}
