{% extends 'base.html' %}

{% load displays %}

{% block meta %}
<link rel="stylesheet" href="/media/dashboard/css/ace-file-input.css" />
{% endblock meta %}

{% block content %}
    <div class="row">
        <div class="span4"></div>
        <div class="span4 align-center">
            <h2>Oops!</h2>
            <h5>I can't find the school that you're looking for. Try selecting it through <a href="/CERN/register/">this menu</a>.</h5>
        </div>
        <div class="span4"></div>
    </div>
{% endblock %}