{% extends 'CERN/base.html' %}

{% block content %}
<div class="container clearfix" id="venue-account">
	<div class="well">
		<h4 class="aligncenter">Join Your Team!</h4>
		<p> Now, you have to select your school.</p>
		{% if referral_id %}
		<form action="/cern/register/{{ referral_id }}" method = post>
		{% else %}
		<form action="/cern/register/" method="post">
		{% endif %}
			<div class="control-group">
				<div class="control-label">
					State: {{ state }}
				</div>
				
				<div class="control-label">
				    <a href="/cern/register">Click here to change state.</a>
				</div>
				<br>
				
				<div class="controls">
				    <input type="hidden" name="state" value="{{ abbr }}"> 
				</div>
				
				<div class="controls">
					<select name="school">
					   {% for sch in schools %}
					       <option value="{{ sch.id }}">{{ sch.name }}</option>
					   {% endfor %}
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-orange" type="submit">Select this School</button>
				</div>
			</div>			
		</form>
	</div>
</div>
{% endblock content %}
