{% extends 'CERN/dashboard.html' %}

{% block content %}
{% if need_saving %}
<script>
  function appendResults(text, elementid) {
    $("#" + elementid).val(text)
    console.log(text)
  }

  function sendRequest(longUrl, elementId){
      var request = gapi.client.urlshortener.url.insert({
          'resource': {'longUrl':longUrl,},
      })
      request.execute(function(response){
          console.log(response)
          appendResults(response.id, elementId)
      })
  }
  
  function createUrls(){
      sendRequest('{{ referral_url }}', 'referral-url');
      sendRequest('{{ same_referral_url }}', 'same-referral-url')
  }
  
  function load() {
    /* gapi.client.setApiKey('AIzaSyDDSFnHOspc8Xx-RKMS6qiVASBMk-4ehRk'); */
    gapi.client.load('urlshortener', 'v1', createUrls);
  }
</script>

<div class="row">
    <div class="span5">
        <h6>Use this link to refer students at your school:</h6>
        <p><input value="{{ same_referral_url }}" id="same-referral-url" readonly> <button class="btn btn-small btn-orange" onclick="document.location='{{ same_referral_url }}'">Visit</button></p>
        <div>
           Share to common sites: &nbsp;&nbsp;&nbsp;
           <a href="JavaScript:facebookPopup('same-referral-url')"><i class="icon-facebook icon-square"></i></a>
           <a href="JavaScript:newPopup('http://www.linkedin.com/shareArticle?mini=true&url={{ same_referral_url }}')"><i class="icon-linkedin icon-square"></i></a>
           <a href="JavaScript:newPopup('http://twitter.com/intent/tweet?text=Join%20my%20CERN%20team:%20{{ same_referral_url|urlencode }}')"><i class="icon-twitter icon-square"></i></a>
           <a href="JavaScript:newPopup('https://plus.google.com/share?url={{ same_referral_url }}')"><i class="icon-google-plus icon-square"></i></a>
        </div>
        
        <br>
        
        <h6>Use this link to refer students at another school:</h6>
        <p><input value="{{ referral_url }}" id="referral-url" readonly> <button class="btn btn-small btn-orange" onclick="document.location='{{ referral_url }}'">Visit</button></p>
        <div>
           Share to common sites: &nbsp;&nbsp;&nbsp;
           <a href="JavaScript:newPopup('http://www.facebook.com/sharer/sharer.php?u={{ referral_url }}')"><i class="icon-facebook icon-square"></i></a>
           <a href="JavaScript:newPopup('http://www.linkedin.com/shareArticle?mini=true&url={{ referral_url }}')"><i class="icon-linkedin icon-square"></i></a>
           <a href="JavaScript:newPopup('http://twitter.com/intent/tweet?text=Join%20my%20CERN%20team:%20{{ referral_url|urlencode }}')"><i class="icon-twitter icon-square"></i></a>
           <a href="JavaScript:newPopup('https://plus.google.com/share?url={{ referral_url }}')"><i class="icon-google-plus icon-square"></i></a>
        </div>
    </div>
    
    <div class="span5">
        <div id="analytics">
            <p>You have referred {{ num_referred }} CERN members!</p>
        </div>
    </div>
</div>
{% endif %}
<script type="text/javascript">
  function newPopup(url){
      window.open(url, 'popup', 'height=500, width=500, left=100, top-10, scrollbars=yes,toolbar=no,menubar=no')
  }
  
  function facebookPopup(id){
	  var url = $('#' + id).val()
	  newPopup('http://www.facebook.com/sharer/sharer.php?u=' + url)
  }
  
  function linkedinPopup(id){
	  var url = $('#' + id).val()
	  newPopup('http://www.linkedin.com/shareArticle?mini=true&url=' + url)
  }
</script>
<script src="https://apis.google.com/js/plusone.js"></script>
<script src="https://apis.google.com/js/client.js?onload=load"></script>
{% endblock %}