{% extends 'base.html' %}

{% load displays %}

{% block content %}
    <div id="team-offer">
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <article>
                            <div class="offer-presentation">
                                <div class="post-heading">
                                    <h3 class="team-name">
                                        {% if page.website %}
                                        <a href="{{ page.website }}" target="_blank">
                                            {{ page.name }}
                                        </a>
                                        {% else %}
                                            {{ page.name }}
                                        {% endif %}
                                    </h3>
                                </div>
                            <div class="top-wrapper">
                                {% if page.images %}
                                    <div class="flexslider">
                                        <ul class="slides">
                                            {% for image in page.images %}
                                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: {% if not forloop.counter0 %}list-item;{% else %} none;{% endif %}" class="flex-active-slide">
                                                    <div class="offer-description-container">
                                                        <div class="preview-image">
                                                            <img src="/file/serve/{{ image }}"/>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <ul class="flex-direction-nav">
                                            <li><a class="flex-prev" href="#">Previous</a></li>
                                            <li><a class="flex-next" href="#">Next</a></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="no-image-available">
                                        <img src="/media/img/no-image-available.png"/>
                                    </div>
                                {% endif %}
                                <div class="offer-description">
                                    <p>{{ page.description }}</p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="span4">
                        <aside class="right-sidebar">
                            {% include 'sponsors/common/details.html' %}
                        </aside>
                    </div>
                </div>

                {% if teams %}
                <div class="row-fluid nomargin">
                    <div class="span12">
{#                        <%- displayTeams('teams1', 'We Sponsor:', teams) %>#}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}
