<% include ../../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../../parts/bodyStart %>

<div id="entity-create">
    <p class="head">
        <i class="icon-briefcase"></i> Sponsorship Offer:
    </p>

    <form action="/dashboard/teams/<%= team.id %>/offers/create" method="post" id="create-team-form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">Title:</label>
            <div class="controls">
                <input tabindex="1" name="title" id="title" />
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="donation">Donations:</label>
            <div class="controls">
                <input tabindex="2" name="donation" id="donation" />
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-phone">Phone:</label>
            <div class="controls">
                <span class="input-icon input-icon-right">
                    <input tabindex="3" class="input-medium input-mask-phone" name="phone" id="form-field-phone" type="text">
                    <i class="icon-phone icon-flip-horizontal icon-right"></i>
                </span>
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-website">Website:</label>
            <div class="controls">
                <span class="input-icon input-icon-right">
                    <input tabindex="4" class="input-medium input-mask-website" name="website" id="form-field-website" type="url">
                    <i class="icon-bookmark icon-flip-horizontal icon-for-not-required-field"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="quantity">Quantity available:</label>
            <div class="controls">
                <input tabindex="5" name="quantity" id="quantity" />
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-video">Video</label>
            <div class="controls">
                <span class="input-icon input-icon-right">
                    <input tabindex="6" class="input-medium input-mask-website" name="video" id="form-field-video" type="url">
                    <i class="icon-bookmark  icon-flip-horizontal icon-for-not-required-field"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-date">End date:</label>
            <div class="controls">
                <div class="input-append">
                    <input class="input-small date-picker" name="endDate" id="form-field-date" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" type="text">
                </div>
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="details">Details:</label>
            <div class="controls">
                <textarea name="details" id="details" rows="5"></textarea>
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="offer-image-input1">Images:</label>
            <div class="controls">
                <input type="hidden" name="offerImage1" />
                <input type="file" id="offer-image-input1" name="offerImageInput1" class="file-upload-input" accept="image/*" />
                <input type="hidden" name="offerImage2" />
                <input type="file" id="offer-image-input2" name="offerImageInput2" class="file-upload-input" accept="image/*" />
                <input type="hidden" name="offerImage3" />
                <input type="file" id="offer-image-input3" name="offerImageInput3" class="file-upload-input" accept="image/*" />
            </div>
        </div>

        <button class="btn btn-danger" type="submit">Create</button>
    </form>
</div>

<% include ../../parts/scripts %>

<script src="/media/dashboard/js/jquery.validate.js"></script>
<script src="/media/dashboard/js/jquery.validate.spudder.rules.js"></script>
<script src="/media/dashboard/js/additional-methods.min.js"></script>
<script src="/media/dashboard/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/media/dashboard/js/teams/helpers.js"></script>
<script src="/media/js/parse.js"></script>

<script>
    $(document).ready(function () {
        Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');

        var $form = $('#create-team-form');

        $form.validate({
            rules: {
                title: "required",
                phone: { required: true, phoneUS: true },
                quantity: { required: true, positiveInteger: true },
                donation: { required: true, positiveInteger: true },
                endDate: { required: true, endDate: true },
                offerImageInput1: { extension: "gif|png|jpg|jpeg" },
                offerImageInput2: { extension: "gif|png|jpg|jpeg" },
                offerImageInput3: { extension: "gif|png|jpg|jpeg" }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parent() );
            },
            submitHandler: function (form) {
                var $formSubmit = $(form).find('button[type="submit"]');

                $formSubmit.text('Creating...');
                $formSubmit.attr('disabled', 'disabled');

                var offerImage1 = $(form).find('input[name="offerImage1"]'),
                    fileUploadControl1 = $("#offer-image-input1")[0],
                    offerImage2 = $(form).find('input[name="offerImage2"]'),
                    fileUploadControl2 = $("#offer-image-input2")[0],
                    offerImage3 = $(form).find('input[name="offerImage3"]'),
                    fileUploadControl3 = $("#offer-image-input3")[0];

                var deffers = [ new jQuery.Deferred(), new jQuery.Deferred(), new jQuery.Deferred() ],
                    promises =  [deffers[0].promise(), deffers[1].promise(), deffers[2].promise() ];

                if (fileUploadControl1.files.length > 0) {
                    var file1 = fileUploadControl1.files[0],
                        fileName1 = file1.name;

                    var parseFile1 = new Parse.File(fileName1, file1);
                    parseFile1.save().then(function(image) {
                        offerImage1.val(image.url());
                        deffers[0].resolve();
                    }, function(error) {
                        console.log(error);
                    });
                } else {
                    deffers[0].resolve();
                }

                $.when(promises[0]).then(function () {
                    if (fileUploadControl2.files.length > 0) {
                        var file2 = fileUploadControl2.files[0],
                            fileName2 = file2.name;

                        var parseFile2 = new Parse.File(fileName2, file2);
                        parseFile2.save().then(function(image) {
                            offerImage2.val(image.url());
                            deffers[1].resolve();
                        }, function(error) {
                            console.log(error);
                        });
                    } else {
                        deffers[1].resolve();
                    }
                });

                $.when(promises[1]).then(function () {
                    if (fileUploadControl3.files.length > 0) {
                        var file3 = fileUploadControl3.files[0],
                            fileName3 = file3.name;

                        var parseFile3 = new Parse.File(fileName3, file3);
                        parseFile3.save().then(function(image) {
                            offerImage3.val(image.url());
                            deffers[2].resolve();
                        }, function(error) {
                            console.log(error);
                        });
                    } else {
                        deffers[2].resolve();
                    }
                });

                $.when(promises[2]).then(function () {
                    if (!offerImage1.val() && !offerImage2.val() && !offerImage3.val()) {
                        var $label = $(document.createElement('label'));

                        $label.attr('for', 'offer-image-input1');
                        $label.addClass('error');
                        $label.text('At least one image must be chosen');

                        $('dd.offer-images').append($label);

                        $formSubmit.text('Create');
                        $formSubmit.removeAttr('disabled');
                    } else {
                        form.submit();
                    }
                });
            }
        });

        $('#form-field-date').datepicker();
    });
</script>
<% include ../../parts/foot %>