<% include ../../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../../parts/bodyStart %>

<div id="teams-offers-list">
    <p class="head">
        <i class="icon-dollar"></i> Donations for offer "<%= offer.get('title') %>"
    </p>

    <% if (donations.length) { %>
        <table class="table table-hovered">
            <thead>
                <tr>
                    <th>Sponsor</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            <% donations.forEach(function(donation) { %>
                <tr>
                    <td>
                    <% if (donation.sponsor.get('name')) { %>
                        <%= donation.sponsor.get('name') %>
                    <% } else { %>
                        <%= donation.sponsor.get('username') %>
                    <% } %>
                    </td>
                    <td class="created-at" data-created-at="<%= donation.date %>">

                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>There are no donations made for this offer.</p>
    <% } %>
</div>

<% include ../../parts/scripts %>
<script src="/media/js/moment-with-langs.js"></script>
<script>
    $(document).ready(function () {
        $('.created-at').each(function () {
            var createdAt = $(this).data('created-at'),
                formatted = moment(createdAt).format('MMMM Do YYYY, h:mm:ss a');

            $(this).text(formatted);
        })
    });
</script>
<% include ../../parts/foot %>