{% extends 'spudderadmin/pages/system/_system_base.html' %}

{% block cern_nav %}
    {% include 'spudderadmin/pages/system/sidenav.html' with active="dashboard" %}
{% endblock %}

{% block cern_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h4>DB Nuking Features</h4>
            </div>
            <div class="panel-body">
                {% if settings.DEBUG %}
                    <p>
                        <a href="/spudderadmin/system/nukedb" class="btn btn-danger">Nuke the db</a> Caution, this can not be undone
                    </p>
                {% else %}
                    <div class="alert alert-info">
                        <h3>Not available on live</h3>
                        <p>These features are not available on live!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
