<% include ../../dashboard/parts/head %>

<% include ../../dashboard/parts/bodyStart %>

<div id="spuds" class="">
	<div class="row-fluid">
		<div class="span12">
            <% if (isError) { %>
            <p>
                Problem with registration!
            </p>
            <p>
                <%= error %>
            </p>
            <% } else { %>
            <p>
                Registration complete!
            </p>
            <p>
                Thank you for your patience!
            </p>
            <p>
                Now you can create Sponsorship Offers or register another team. Please go to <a href="/dashboard/teams">you teams list</a>.
            </p>
            <% } %>
		</div>
	</div>
</div>

<% include ../../dashboard/parts/scripts %>

	<script src="/media/dashboard/js/tab-control.js"></script>
	
<% include ../../dashboard/parts/foot %>