<% include ../../dashboard/parts/head %>

<% include ../../dashboard/parts/bodyStart %>

<div id="spuds" class="">
	<div class="row-fluid">
		<div class="span12">
            <p>
                Your registration process is almost complete. Please enter your team name and press "Save".
            </p>
            <form action="/dashboard/recipient/save" method="post" onsubmit="return validate();">
                <label>
                    Team name
                    <input name="name" placeholder="Team name"/>
                </label>
                <input type="hidden" name="tokenID" value="<%= tokenID %>"/>
                <input type="hidden" name="refundTokenID" value="<%= refundTokenID %>"/>
                <input type="hidden" name="callerReference" value="<%= callerReference %>"/>
                <input type="hidden" name="signature" value="<%= signature %>"/>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
		</div>
	</div>
</div>

<% include ../../dashboard/parts/scripts %>

	<script src="/media/dashboard/js/tab-control.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            function validate () {
                return $("input[name='amount']").val() != "";
            }
        });
    </script>
	
<% include ../../dashboard/parts/foot %>