<% include ../../dashboard/parts/head %>

<% include ../../dashboard/parts/bodyStart %>

<div id="spuds" class="">
	<div class="row-fluid">
		<div class="span12">
            <p>
                Please verify below donation information before proceeding with donation. If everything is as it should be, press 'Proceed with donation' button.
            </p>
            <dl class="dl-horizontal">
                <dt>Team Name:</dt>
                <dd><%= team.get('name') %></dd>
                <dt>Offer Title:</dt>
                <dd><%= offer.get('title') %></dd>
                <dt>Donation:</dt>
                <dd>$<%= offer.get('donation') %></dd>

            </dl>
            <a href="<%= cbui %>" class="btn btn-small btn-success">
                Proceed with donation
            </a> (you will be redirected to Amazon Marketplace site to verify you account and start payment process).
		</div>
	</div>
</div>

<% include ../../dashboard/parts/scripts %>
<script src="/media/dashboard/js/tab-control.js"></script>

<% include ../../dashboard/parts/foot %>