<% include ../../dashboard/parts/head %>

<% include ../../dashboard/parts/bodyStart %>

<div id="spuds" class="">
	<div class="row-fluid">
		<div class="span12">
            <% if (isError) { %>
                <p>Unfortunately errors occured while making donation.</p>
                <p>Error message: <%= error %></p>
            <% } else { %>
                <p>Thank you for your donation!</p>
                <% if (sponsorPageExists) { %>
                    <p>
                        Don't have a sponsor page? <a href="/dashboard/sponsor/page" class="btn btn-small btn-success">Go and create one!</a>
                    </p>
                <% } else { %>
                    <p>
                        You can now work more on your sponsor page. <a href="/dashboard/sponsor/page" class="btn btn-small btn-success">Sponsor page</a>
                    </p>
                <% } %>
            <% } %>
		</div>
	</div>
</div>

<% include ../../dashboard/parts/scripts %>
	<script src="/media/dashboard/js/tab-control.js"></script>
<% include ../../dashboard/parts/foot %>