{% extends 'spudderspuds/base.html' %}
{% load spudderaccountstags %}
{% load spudderspudstags %}

{% block nav %}
    {% include 'spudderspuds/components/main_nav.html' with active="explore" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header">
            <h1><img src="/static/img/spudderspuds/button-spuds-small.png" /> Spudder <small>Sports Updates Made Simple</small></h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% include 'components/spuds/spud_carousel.html' with spuds=spuds %}
            </div>
            <div class="col-md-6">
                {% if request.current_role|is_fan %}
                    {% include 'components/following_table.html' with title="<img src='/static/img/spudderspuds/button-teams-tiny.png' /> Teams You Follow" following=teams entity_type='team' show_find_button='true' %}
                    {% include 'components/following_table.html' with title="<img src='/static/img/spudderspuds/button-fans-tiny.png' /> Fans You Follow" following=fans entity_type='fan' show_find_button='true' %}
                {% else %}
                    {% include 'spudderspuds/quote_messages/quote_landingpage_welcome.html' %}
                {% endif %}
            </div>
        </div>

        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <a href="/spuds/search/teams" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Find more teams</a>
                    <h3><img src="/static/img/spudderspuds/button-teams-tiny.png"/> Find Teams on Spudder</h3>
                </div>
                <table class="table table-striped">
                    <tbody>
                        {% for team in find_teams %}
                            <tr>
                                <td style="width: 40px;">
                                    <a href="/team/{{ team.id }}">
                                        <img src="{% if team.image %}/file/serve/{{ team.image.id }}{% else %}/static/img/spudderspuds/button-teams-medium.png{% endif %}" style="width: 25px;"/>
                                    </a>
                                </td>
                                <td>
                                    <a href="/team/{{ team.id }}">
                                        {{ team.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ team.state|format_state }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <a href="/spuds/search/fans" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Find more fans</a>
                    <h3><img src="/static/img/spudderspuds/button-fans-tiny.png"/> Find Fans on Spudder</h3>
                </div>
                <table class="table table-striped">
                    <tbody>
                        {% for fan in find_fans %}
                            <tr>
                                <td style="width: 40px;">
                                    <a href="/fan/{{ fan.id }}">
                                        <img src="{% if fan.image %}/file/serve/{{ fan.image.id }}{% else %}/static/img/spudderspuds/button-fans-medium.png{% endif %}" style="width: 25px;"/>
                                    </a>
                                </td>
                                <td>
                                    <a href="/fan/{{ fan.id }}">
                                        {{ fan.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ fan.state|format_state }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}