{% extends 'spudderspuds/base.html' %}
{% load spudderaccountstags %}
{% load spudderspudstags %}

{% block css %}
    {{ block.super }}
    <style>
    #explore-tab-content table {
        display: inline-table;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header">
            <h1><img src="/static/img/spudderspuds/button-spuds-small.png" /> Spudder <small>Sports Updates Made Simple</small></h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% include 'components/spuds/spud_carousel.html' with spuds=spuds %}
            </div>
            <div class="col-md-6">
                {% if request.current_role|is_fan %}
                    {% include 'components/following_table.html' with title="<img src='/static/img/spudderspuds/button-teams-tiny.png' /> Teams You Follow" following=teams entity_type='team' show_find_button='true' %}
                    {% include 'components/following_table.html' with title="<img src='/static/img/spudderspuds/button-fans-tiny.png' /> Fans You Follow" following=fans entity_type='fan' show_find_button='true' %}
                {% else %}
                    {% include 'spudderspuds/quote_messages/quote_landingpage_welcome.html' %}
                {% endif %}
            </div>
        </div>

        <hr/>
        <div class="row">

            <div class="page-header">
                <h3><i class="fa fa-search"></i> Explore Spuder</h3>
{#                <a href="/spuds/search/teams" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Explore Spuder</a>#}
            </div>

            <ul class="nav nav-tabs col-md-12" id="explore-tab" role="tablist">
                <li class="active">
                    <a href="#teams" role="tab" data-toggle="tab">
                        <img src="/static/img/spudderspuds/button-teams-tiny.png"/> Teams
                    </a>
                </li>
                <li>
                    <a href="#fans" role="tab" data-toggle="tab">
                        <img src="/static/img/spudderspuds/button-fans-tiny.png"/> Fans
                    </a>
                </li>
                <li>
                    <a href="#venues" role="tab" data-toggle="tab">
                        <img src="/static/img/spuddervenues/button-venues-tiny.png"/> Venues
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="explore-tab-content">
                <div class="tab-pane active" id="teams">
                    <table class="table table-striped">
                        <tbody>
                            {% for team in find_teams %}
                                <tr>
                                    <td style="width: 40px;">
                                        <a href="/team/{{ team.id }}">
                                            <img src="{% if team.image %}/file/serve/{{ team.image.id }}{% else %}/static/img/spudderspuds/button-teams-medium.png{% endif %}" style="width: 25px;"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/team/{{ team.id }}">
                                            {{ team.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ team.state|format_state }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/spuds/search/teams">
                        <i class="fa fa-search"></i> Find more teams
                    </a>
                </div>
                <div class="tab-pane" id="fans">
                    <table class="table table-striped">
                        <tbody>
                            {% for fan in find_fans %}
                                <tr>
                                    <td style="width: 40px;">
                                        <a href="/fan/{{ fan.id }}">
                                            <img src="{% if fan.avatar %}/file/serve/{{ fan.avatar.id }}{% else %}/static/img/spudderspuds/button-fans-medium.png{% endif %}" style="width: 25px;"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/fan/{{ fan.id }}">
                                            {{ fan.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ fan.state|format_state }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/spuds/search/fans">
                        <i class="fa fa-search"></i> Find more fans
                    </a>
                </div>
                <div class="tab-pane" id="venues">
                    <table class="table table-striped">
                        <tbody>
                            {% for venue in find_venues %}
                                <tr>
                                    <td style="width: 40px;">
                                        <a href="/venue/{{ venue.id }}">
                                            <img src="{% if venue.logo %}/file/serve/{{ venue.logo.id }}{% else %}/static/img/spuddervenues/button-venues-medium.png{% endif %}" style="width: 25px;"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/venues/view/{{ venue.id }}">
                                            {{ venue.aka_name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ venue.state|format_state }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/spuds/search/venues">
                        <i class="fa fa-search"></i> Find more venues
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="javascript">
    $(document).ready(function() {

        var max_height = 0;
        $('#explore-tab a[data-toggle="tab"]').each(function(index){
            $(this).tab('show');
            var height = $('#explore-tab-content').height();
            if (height > max_height)
                max_height = height;
        });

        $('#explore-tab-content').css('min-height', max_height);
        $('#explore-tab a[data-toggle="tab"]:first').tab('show');

{#        fix_footer_position();#}
    });
    </script>
{% endblock %}