<div class="spud-container">
	<h3>
		<i class="icon-microphone"></i>
		<span class="title">SPUD</span>
	</h3>
	<div class="">
		<div class="widget-main">
			<div class="row-fluid nomargin">
				<div class="span12">
					<div class="row-fluid bar">
						{% include 'commons/bar_buttons.html' %}
					</div>
				</div>
			</div>
			<div class="row-fluid nomargin">
				<div class="centered">
					<img src="/media/img/slides/parallax/2.png" />
				</div>
			</div>
			<div class="row-fluid nomargin">
				<div class="span1">
					<div class="button open-modal grey" id="toggle-chat" title="comment">
						<i class="icon-comments"></i>
					</div>
				</div>
				<div class="span1">
					<div class="button open-modal yellow" modal-id="#tag-modal-player" title="flag">
						<i class="icon-flag"></i>
					</div>
				</div>
				<div class="span9 small text-center">
					Only flag if inappropriate and explain why,
					improper flagging will cause your account to be Frozen
				</div>
				<div class="span1">
					<div class="button open-modal grey" modal-id="#tag-modal-player" title="flag review">
						<i class="icon-flag-checkered"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="chat-wrapper hidden">
	{% include 'commons/chat.html' %}
</div>