<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div id="home">

	<% include parts/slider %>

	<% include parts/callaction %>
	
	<% include parts/content %>
	
	<section id="bottom">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="aligncenter">
					<div id="twitter-wrapper">
						<div id="twitter">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>

<% include ../parts/foot %>

<% include ../parts/scripts %>

<script type="text/javascript" src="/media/js/parseUri.js"></script>
<script type="text/javascript">
	
	$(document).ready(function() {
		var parsed = parseUri(document.location)['queryKey'];
		if ( 'next' in parsed ) {
			$('input[name="returnURL"]').val(parsed['next']);
		}
		
		if (document.location.hash == '#mySignin') {
			$('#mySignin').modal('show');
		}
	});
</script>

	</body>
</html>