<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div id="home">
	<div id="mySignupComplete" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h4 id="mySignupModalLabel">Sign Up <strong>Complete</strong></h4>
		</div>
		<div class="modal-body">
			Registration was successful. Activation link has been sent to your e-mail address.
		</div>
	</div>
	
	<div id="activationComplete" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h4 id="mySignupModalLabel">Activation <strong>Complete</strong></h4>
		</div>
		<div class="modal-body">
			Your account has been succesfuly activated. You can <b><a data-toggle="modal" href="#mySignin" id="mySignin-after-activation">login</a></b> now.
		</div>
	</div>

	<% include ../accounts/signUp %>
	
	<% include ../accounts/signIn %>
	
	<% include ../accounts/resetPassword %>

	<% include parts/slider %>

	<% include parts/callaction %>
	
	<% include parts/content %>
	
	<section id="bottom">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="aligncenter">
					<div id="twitter-wrapper">
						<div id="twitter">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>

<% include ../parts/foot %>

<% include ../parts/scripts %>

<script type="text/javascript">
	$(document).ready(function() {
		$('input').on('keydown', function() {
			$(this).removeClass('error');
		});
		
		$('#mySignin-after-activation').click(function() {
			$('#activationComplete').modal('hide');
			$('#mySignupComplete').modal('hide');
		});
	});
</script>	

	</body>
</html>