<div class="container">
	<div class="row">
		<div class="span3">
			<div class="widget"> 
				<h5 class="widgetheading">Important Roles</h5>
				<ul class="link-list">
					<li><a href="#">Fan</a></li>
					<li><a href="#">Player</a></li>
					<li><a href="#">Coach</a></li>
					<li><a href="#">Groundskeeper</a></li>
					<li><a href="#">Sponsor</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5 class="widgetheading">About Spudder</h5>
				<ul class="link-list">
					<li><a href="#">About our company</a></li>
					<li><a href="#">Our services</a></li>
					<li><a href="#">Meet our team</a></li>
					<li><a href="/spudmart">The SPUDMART</a></li>
					<li><a href="#">Get in touch with us</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5 class="widgetheading">Top viewed Spuds</h5>
				<div class="flickr_badge">
					<script type="text/javascript"
						src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5 class="widgetheading">Sports Updates Made Simple</h5>
				<address>
					Our patent pending system gives more than just the score, it gives amateur sports leagues a platform to connect, promote, fund and grow their local communities with about 50% the effort.
				</address>
				<p>
				</p>
			</div>
		</div>
	</div>
</div>

{% include 'base_parts/sub_footer.html' %}	  