<div id="sub-footer">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="copyright">
					<p>
						<span>&copy; Spudder LLC 2013 All right reserved. Designed by </span><a href="http://dennisharabin.com" target="_blank">Dennis Harabin</a>
					</p>
				</div>
			</div>
			<div class="span6">
				<ul class="social-network">
					<li><a data-original-title="Facebook" href="http://www.facebook.com/spudderdotcom" target="_blank" data-placement="bottom" title=""><i class="icon-facebook icon-square"></i></a></li>
					<li><a data-original-title="Twitter" href="https://twitter.com/spudderdotcom" target="_blank" data-placement="bottom" title=""><i class="icon-twitter icon-square"></i></a></li>
					<li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
					<li><a data-original-title="Pinterest" href="http://pinterest.com/spudderdotcom/" target="_blank" data-placement="bottom" title=""><i class="icon-pinterest icon-square"></i></a></li>
					<li><a data-original-title="Google plus" href="https://plus.google.com/113968251038874482620" target="_blank" rel="publisher" data-placement="bottom" title=""><i class="icon-google-plus icon-square"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>