<div id="spud-carousel" data-ride="carousel" class="carousel slide spud-carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="spud-container">
                <div class="image" style="background-image: url(https://pbs.twimg.com/media/B0AO38oCIAIXQfl.jpg)"></div>
                <div class="caption">
                    <a style="top:20px" id="add-spud-tags" title="Add Tags" class="btn btn-primary btn-sm spud-add-tags"><i class="fa fa-fw fa-tags"></i></a>
                    <div style="color:black !important;display:none;" id="add-tags-div" class="user media">
                        <div class="media-body">
                            <p style="color:white !important">Tag someone you follow:</p>
                            <select krowdioid="543eafebf1f70e4148d698d0" style="z-index:1;width:200px;margin:8px;" multiple="" id="select2">
                                <option data-img="/file/serve/5170881986822144">fbtest1</option>
                                <option data-img="/static/img/spudderspuds/button-teams-tiny.png">teamone</option>
                                <option data-img="/static/img/spudderspuds/button-teams-tiny.png">testt1</option>
                                <option data-img="/static/img/spudderspuds/button-teams-tiny.png">er4567</option>
                                <option data-img="/static/img/spudderspuds/button-fans-tiny.png">mkgriffiths1</option>
                                <option data-img="/static/img/spudderspuds/button-teams-tiny.png">bettername</option>
                                <option data-img="/static/img/spudderspuds/button-fans-tiny.png">spudder</option>
                            </select>
                        </div>
                    </div>
                    <div id="original-spud-data" class="user media">
                        <img class="media-object pull-left img-circle" src="https://pbs.twimg.com/profile_images/378800000335660784/abf768ef9895a5d9470c45b35f9f8d12_normal.png">
                        <div class="media-body text-left">
                            <p>
                                <a target="_blank" href="http://twitter.com/Spudder_com">
                                    Spudder_com <i class="fa fa-twitter"></i>
                                </a>
                                <a title="Fan's Spudder Profile" href="/fan/5381504364445696"><img src="/static/img/spudderspuds/button-fans-tiny.png"></a>
                            </p>
                            <p class="text">@Spuddev you have been challenged http://t.co/zhA0CI773t</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a data-slide="prev" role="button" href="#spud-carousel" class="left carousel-control">
        <span class="icon-prev"></span>
    </a>
    <a data-slide="next" role="button" href="#spud-carousel" class="right carousel-control">
        <span class="icon-next"></span>
    </a>
</div>