{% extends 'spuddercern/old/base.html' %}

{% block title %}Marketing Projects (Venues) on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Venues');
{% endblock %}

{% block content %}

    <div class="container-fluid main-container">
        {% include 'spuddercern/old/parts/sideNav.html' with active="venues" %}

        <div class="main-content">
            <div class="page-content">
                <div class="main-content-header">
                    <h1><i class="fa fa-fw fa-map-marker"></i> Venues</h1>
                    <h2>Create and Manage Venues, sell naming right and get paid!</h2>
                </div>

                {% if venues %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sport</th>
                                <th>AKA Name</th>
                                <th>Name</th>
                                <th style="width: 70px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venue in venues %}
                                <tr>
                                    <td>{{ venue.sport }}</td>
                                    <td><a href="/venues/view/{{ venue.id }}">{{ venue.aka_name }}</a></td>
                                    <td>{{ venue.name }}</td>
                                    <td>
                                        <!--<a class="btn btn-mini btn-orange" href="javascript:alert('Feature Coming Soon!')" title="SPUDS from SPICE">
                                            <i class="icon-microphone"> </i>
                                        </a>
                                        <a class="btn btn-mini btn-orange" href="javascript:alert('Feature Coming Soon!')" title="My Venue Teams">
                                            <i class="icon-group"> </i>
                                        </a>-->
                                        <a class="btn btn-mini btn-orange" href="/venues/view/{{ venue.id }}" title="Edit">
                                            <i class="fa fa-fw fa-edit"> </i>
                                        </a>
                                        <a class="btn btn-mini btn-orange" href="javascript:deleteVenue('{{ venue.id }}')" title="Delete">
                                            <i class="fa fa-fw fa-trash-o"> </i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4">
                                    <a href="/cern/venues/new/" class="btn btn-orange">
                                        <i class="fa fa-fw fa-plus"></i> Claim another venue!
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    {% include 'spuddercern/old/quote_messages/venues_empty_list.html' %}

                {% endif %}

            </div>

        </div>
    </div>
    <script type="text/javascript">
        function deleteVenue(id){
            if (confirm('This will permanently delete the venue!')){
                window.location.href="/cern/venues/delete/" + id
            }
        }
    </script>

    {% include 'old/dashboard/parts/scripts.html' %}

{% endblock %}