{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript" src="/media/js/switches.js"></script>
{% endblock %}

{% block content %}
<div id="league-or-tournament" class="container">
	<div class="row-fluid primary" id="page-header">
		<div class="wrapper">
			<div class="span12">
				<div class="row-fluid header-parts nomargin">
					<div class="span3">
						<h3>Name {{ lor.name }}</h3>
					</div>
					<div class="span2">
						<div class="btn btn-primary">Follow</div>
						<div class="btn btn-primary"><i class="icon-calendar"></i></div>
						<div class="clear-fix">
							2200 Follows
						</div>
					</div>
					<div class="span3">
						<div class="btn btn-primary">Teams</div>
						<div class="btn btn-primary">Schedule</div>
						<div class="btn btn-primary">Our Store</div>
					</div>
					<div class="span4">
						<ul class="breadcrumb path">
							<li>
								<a href="#"><i class="icon-home"></i></a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
							</li>
							<li>
								<a href="#">League or Tournament</a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
							</li>
							<li class="active"><strong>Name</strong></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="btn btn-success btn-large" id="sponsor-us-btn">Sponsor Us</div>
			<h4>
				Filter the Spuds
			</h4>
			<div id="accordion2" class="accordion">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							All
						</a>
						<div class="switch">
							<label>
								<input type="checkbox" class="ace-switch ace-switch-2" name="switch-field-all">
								<span class="lbl"></span>
							</label>
						</div>
					</div>
					<div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
						<div class="accordion-inner">
							<p>
								By selecting All your SPUDs will not be filtered by type, you will see All the related SPUDs. Including: Images, Updates and Videos.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							Images
						</a>
						<div class="switch">
							<label>
								<input type="checkbox" class="ace-switch ace-switch-2" name="switch-field-1">
								<span class="lbl"></span>
							</label>
						</div>
					</div>
					<div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
						<div class="accordion-inner">
							<p>
								By selecting Images you will filter out all other types of SPUDs and Image will be the only type of SPUDs shown.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
							Videos
						</a>
						<div class="switch">
							<label>
								<input type="checkbox" class="ace-switch ace-switch-2" name="switch-field-1">
								<span class="lbl"></span>
							</label>
						</div>
					</div>
					<div class="accordion-body collapse" id="collapseThree">
						<div class="accordion-inner">
							<p>
								By selecting Videos you will filter out all other types of SPUDs and Videos will be the only type of SPUDs shown. 
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
							Updates
						</a>
						<div class="switch">
							<label>
								<input type="checkbox" class="ace-switch ace-switch-2" name="switch-field-1">
								<span class="lbl"></span>
							</label>
						</div>
					</div>
					<div class="accordion-body collapse" id="collapseFour">
						<div class="accordion-inner">
							<p>
								By selecting Updates the SPUDs will be filtered by type and you will only see Update SPUDs.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseFive" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
							Announcements
						</a>
						<div class="switch">
							<label>
								<input type="checkbox" class="ace-switch ace-switch-2" name="switch-field-1">
								<span class="lbl"></span>
							</label>
						</div>
					</div>
					<div class="accordion-body collapse" id="collapseFive">
						<div class="accordion-inner">
							<p>
								By selecting Announcements the SPUDs will be filtered by type and you will only see Announcements SPUDs.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="flexslider">
				<ul class="slides">
					<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
					<img alt="" src="/media/img/works/full/image-01-full.jpg">
					</li>
					<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
					<img alt="" src="/media/img/works/full/image-02-full.jpg">
					</li>
					<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
					<img alt="" src="/media/img/works/full/image-03-full.jpg">
					</li>
				</ul>
			<ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav"><li><a href="#" class="flex-prev">Previous</a></li><li><a href="#" class="flex-next">Next</a></li></ul></div>
		</div>
	</div>
</div>
{% endblock %}