{% extends 'base.html' %}

{% block content %}
<div id="league-or-tournament" class="container">
	<div class="row-fluid primary" id="page-header">
		<div class="wrapper">
			<div class="span12">
				<div class="row-fluid header-parts nomargin">
					<div class="span3">
						<h3>Name {{ lor.name }}</h3>
					</div>
					<div class="span2">
						<div class="btn btn-primary">Follow</div>
						<div class="btn btn-primary"><i class="icon-calendar"></i></div>
						<div class="clear-fix">
							2200 Follows
						</div>
					</div>
					<div class="span3">
						<div class="btn btn-primary">Teams</div>
						<div class="btn btn-primary">Schedule</div>
						<div class="btn btn-primary">Our Store</div>
					</div>
					<div class="span4">
						<ul class="breadcrumb path">
							<li>
								<a href="#"><i class="icon-home"></i></a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
							</li>
							<li>
								<a href="#">League or Tournament</a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
							</li>
							<li class="active"><strong>Name</strong></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="btn btn-success btn-large" id="sponsor-us-btn">Sponsor Us</div>
			<h4>
				Filter the Spuds
			</h4>
			<div id="accordion2" class="accordion">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							All
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
						<div class="accordion-inner">
							<p>
								 Diam alienum oporteat ad vis, latine intellegebat cu his. Ei eros dicam commodo duo, an assum meliore eam. In sed albucius dissentiet. Sit laudem graece malorum ne, at eam omnesque expetenda pertinacia, tale meliore vim ea. Dolore legere deleniti ius at, mea nibh discere perfecto ex. Mea ea iuvaret eripuit, eos no vivendo intellegat definiebas, patrioque eloquentiam eos et.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							Images
						 </a>
					</div>
					<div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
						<div class="accordion-inner">
							<p>
								 Nihil suscipit posidonium eos id. An cetero fierent insolens mel, ex sit rebum falli erroribus. Ius in nemore dolorum officiis. Et vel harum dicant, vix eius persius an. Ex eam malis postea, erat nihil consulatu nam ea. Ex quem dolores euripidis eum, tempor aperiam voluptaria has ad. Ea est persecuti dissentiet voluptatibus, at illum malorum minimum usu eum aeterno tritani.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
							Videos
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseThree">
						<div class="accordion-inner">
							<p>
								 Vel purto oportere principes ne, ut mel graeco omnesque. Habeo justo congue mei cu, eu est molestie sensibus, oratio tibique ad mei. Admodum consetetur cu eam, nec cu doming prompta inciderint, ne vim ceteros mnesarchum scriptorem. Ex eam malis postea, erat nihil consulatu nam ea. Ex quem dolores euripidis eum, tempor aperiam voluptaria has ad. Et vel harum dicant vix.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
							Updates
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseFour">
						<div class="accordion-inner">
							<p>
								 Diam alienum oporteat ad vis, latine intellegebat cu his. Ei eros dicam commodo duo, an assum meliore eam. In sed albucius dissentiet. Sit laudem graece malorum ne, at eam omnesque expetenda pertinacia, tale meliore vim ea. Dolore legere deleniti ius at, mea nibh discere perfecto ex. Mea ea iuvaret eripuit, eos no vivendo intellegat definiebas, patrioque eloquentiam eos et.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
							Announcements
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseFour">
						<div class="accordion-inner">
							<p>
								 Diam alienum oporteat ad vis, latine intellegebat cu his. Ei eros dicam commodo duo, an assum meliore eam. In sed albucius dissentiet. Sit laudem graece malorum ne, at eam omnesque expetenda pertinacia, tale meliore vim ea. Dolore legere deleniti ius at, mea nibh discere perfecto ex. Mea ea iuvaret eripuit, eos no vivendo intellegat definiebas, patrioque eloquentiam eos et.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="flexslider">
				<ul class="slides">
					<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
					<img alt="" src="/media/img/works/full/image-01-full.jpg">
					</li>
					<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
					<img alt="" src="/media/img/works/full/image-02-full.jpg">
					</li>
					<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
					<img alt="" src="/media/img/works/full/image-03-full.jpg">
					</li>
				</ul>
			<ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav"><li><a href="#" class="flex-prev">Previous</a></li><li><a href="#" class="flex-next">Next</a></li></ul></div>
		</div>
	</div>
</div>
{% endblock %}