<div class="" openTab="#map">
	<i class="icon-map-marker {% if venue.coordinates %}ready{% endif %}" title="Map"> </i>
</div>
<div class="" openTab="#parking-details">
	<i class="icon-truck {% if venue.parking_details and venue.parking_tips %}ready{% endif %}" title="Parking"> </i>
</div>
<div class="" openTab="#up-to-5-pics">
	<i class="icon-camera-retro {% if venue.venue_pics %}ready{% endif %}" title="Upto 5 pics"> </i>
</div>
<div class="" openTab="#video">
	<i class="icon-facetime-video {% if venue.video %}ready{% endif %}" title="Video"> </i>
</div>
<div class="" openTab="#playing-surface">
	<i class="icon-eye-open {% if venue.playing_surface_pics and venue.playing_surface_details %}ready{% endif %}" title="Playing surface"> </i>
</div>
<div class="" openTab="#flag-content">
	<i class="icon-flag-alt ready" title="Flag content"> </i>
</div>