<div class="" openTab="#restroom-details">
	<i class="icon-female {% if venue.restroom_details %}ready{% endif %}" title="Restrooms"> </i>
</div>
<div class="" openTab="#concession-details">
	<i class="icon-food {% if venue.concession_details %}ready{% endif %}"  title="Concessions"> </i>
</div>
<div class="" openTab="#admission-details">
	<i class="icon-ticket {% if venue.admission_details %}ready{% endif %}" title="Seating"> </i>
</div>
<div class="" openTab="#shelter-details">
	<i class="icon-umbrella {% if venue.shelter_details %}ready{% endif %}" title="Shelter"> </i>
</div>
<div class="" openTab="#medical-details">
	<i class="icon-medkit {% if venue.medical_address %}ready{% endif %}" title="Medical"> </i>
</div>
<div class="" openTab="#handicap-details">
	<i class="fa fa-wheelchair {% if venue.handicap_details %}ready{% endif %}" title="Handicap"> </i>
</div>