<div class="headnav span4">
    <ul>
        <% if (user) { %>
        <li><a href="/dashboard" data-toggle="modal"><i class="icon-user"></i><%= user.getUsername() %></a></li>
        <li><a href="/accounts/logout" data-toggle="modal">Sign out</a></li>
        <% } else { %>
        <li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
        <li><a href="#mySignin" data-toggle="modal">Sign in</a></li>
        <% } %>
    </ul>
</div>

<div class="hidden-top span8 download-buttons-wrapper">
    <div class="row-fluid" id="download-buttons">
        <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="App Store">
            <img src="/media/img/app_store_logo.png" />
        </a>
        <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="Google Play">
            <img src="/media/img/google_play_logo.png" />
        </a>
        <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large amazon" title="Amazon App">
            <img src="/media/img/amazon_apps_logo.png" />
        </a>
        <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="Direct Download">
            <i class="icon-coffee icon-circled icon-64 active" ></i>
        </a>
    </div>
</div>

<div id="header-hidden-link">
    <a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
</div>