{% extends 'spudderadmin/base.html' %}

{% block body %}

    <div class="container">

        <div class="alert alert-info">
            <h4>Welcome to the Spudder Admin Console</h4>
            <p>Choose one of the business areas below to begin managing the spudder universe.</p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spuddercern/button-cern-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Manage CERN</h3>
                                <a href="/spudderadmin/cern/" class="btn btn-primary">Manage CERN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <span class="fa-stack" style="font-size: 105px;">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="caption" style="text-align: center;">
                                <h3>Manage SocialEngine</h3>
                                <a href="/spudderadmin/socialengine/" class="btn btn-primary">Manage SocialEngine</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spudderspuds/button-spuds-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Manage SYSTEM</h3>
                                <a href="/spudderadmin/system/" class="btn btn-primary">Manage System</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}