{% extends "spuddercern/base.html" %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Login');
{% endblock %}

{% load bootstrap3 %}

{% block body %}
<div id="registration" class="text-center">
    <div class="accounts-form-header">
        <h4 id="mySignupModalLabel">Login to your <strong>account</strong></h4>
    </div>
    <div class="row-fluid">
        <div class="col-sm-4 col-sm-offset-2">
            <p>If you have not already signed up for Spudder, use the button below to get started:</p>
            <p><a href="/cern/register/" class="btn btn-primary">Register as a Student</a></p>
            <hr/>
            <div class="alert alert-info">
                <h4><i class="fa fa-question-circle"></i> No Login with Amazon? </h4>
                <p>We have changed the way you log in to your CERN account to make things better for you.</p>
                <p>If you have already created an account with Amazon, but haven't migrated your account, click <a href="/cern/login/migrate">here</a> to do that.</p>
                <p>Don't worry - you won't lose anything when you migrate your account.</p>
            </div>
        </div>

        <div class="accounts-form-body col-sm-4">
            <form method="post" role="form">
                <fieldset>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    {% endbuttons %}
                </fieldset>
            </form>
        </div>
        <div class="span2"></div>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'spudderaccounts/parts/amazon_login_js.html' %}
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            if (typeof amazon == undefined) return;

            var $logoutBtn = $('#logout-button');

            if ($logoutBtn.length) {
                $logoutBtn.click(function (event) {
                    event.preventDefault();
                    amazon.Login.logout();
                    window.location = $logoutBtn.attr('href');
                });
            }
            var loginWithAmazon = document.getElementById('LoginWithAmazon'),
                returnUrl = '/accounts/login/amazon';

            if (loginWithAmazon) {
                loginWithAmazon.onclick = function() {
                    options = { scope : 'profile', interactive: 'always' };
                    amazon.Login.authorize(options, returnUrl);
                    return false;
                };
            }
        });
    </script>
{% endblock %}