{% extends 'spuddercern/base_single_well.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Login - Need Amazon Account');
{% endblock %}

{% block title %}
Amazon Authorization Error
{% endblock %}

{% block well_content %}
    <h4 class="aligncenter">Amazon Authorization is Required</h4>
    <p>To sign up with Spudder and CERN, you must authorize Amazon to share certain information with Spudder.</p>
    <p>To try again, use your browser's back button or click <a href="javascript:window.history.back()">here</a>.</p>
{% endblock %}
