{% extends 'spuddercern/base_single_well.html' %}

{% block title %}CERN Register: Terms & Conditions{% endblock %}

{% block well_content %}
    <div class="text-center">
        <h1>Register for CERN</h1>
        <h4>Terms & Conditions:</h4>
        <p>In order to register for CERN, you must accept our <a href="/terms">terms and conditions</a>.</p>
        <h4>Do you...</h4>
        <div class="btn-group">
            <a class="btn btn-default" href="/cern/register/tcs_required/">Reject the T&Cs</a>
            <a class="btn btn-primary" href="/cern/register/choose_school/">Accept the T&Cs</a>
        </div>
    </div>



{% endblock %}