{% extends 'spuddercern/base_single_well.html' %}

{% block title %}CERN Register: Terms & Conditions{% endblock %}

{% block well_content %}
    <h4 class="text-center">Terms & Conditions:</h4>
    <p>In order to register for CERN, you must accept our <a href="/terms">terms and conditions</a>.</p>
    <h4>Do you...</h4>
    <div class="btn-group">
        <a class="btn btn-default" href="/cern/register/tcs_required">Reject</a>
        <a class="btn btn-primary" href="/cern/register/choose_school">Accept</a>
    </div>



{% endblock %}