{% extends 'spuddercern/base_single_well.html' %}

{% load bootstrap3 %}
{% load accounts %}

{% block title %}CERN Register for : {{ school.name }} - CERN{% endblock %}

{% block well_content %}
    <h4 class="text-center">
        Join CERN Team for: <br/>
        <b>{{ school.name }}</b>
    </h4>

    {% if referrer %}
        <p>You were referred by:</p>
        <p><label>
            {% user_name referrer.user %},
            {% if referrer.isHead %}
            Team Captain for
            {% else %}
            on the team for
            {% endif %}
            {{ referrer.school.name }}
            </label></p>
    {% endif %}

    <form method="post" role="form">
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Register
                </button>
            {% endbuttons %}
        </fieldset>
    </form>

    <p>Not your team? Click <a href="/cern/register/{{ referrer.id }}">here</a>.</p>

{% endblock %}