{% extends 'spuddercern/base_single_well.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN RENT - Thanks');
{% endblock %}

{% block well_content %}
    <p class="header">Success</p>
    <p class="text-center">You've just bought this Venue!</p>
    <p class="text-center"><a href="{{ spudder_url }}" class="btn btn-primary">Edit your sponsorship profile</a></p>
    <p class="text-center"><a href="{{ venue_url }}" class="btn btn-primary">Edit Venue information</a></p>
{% endblock %}
