{% extends 'spuddercern/base_single_well.html' %}

{% load spudderaccountstags %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN RENT - Signin');
{% endblock %}

{% block well_content %}
    <h2 class="text-center">Sign in needed</h2>
    <p class="text-center">Your payment was successful, but in order to complete renting venue, you must sign in</p>
    <p class="text-center"><strong>If you don't sign in and create/select an account, you won't be able to claim your rights for this venue!</strong></p>

    {% if sponsor_roles %}
        <p class="text-center" style="margin-top: 20px;">You have registered Sponsor roles within your account. You can select either one of them from below.</p>
        <div class="row" style="margin-bottom: 20px;">
            {% for role in sponsor_roles %}
                <div class="col-sm-4" style="text-align: center;">
                    <img src="{{ role.image }}" style="height: 40px; margin-bottom: 10px;" />
                    <p>Amazon ID: {{ role.get_amazon_id }}</p>
                    <a href="{% link_to_change_role_and_return role '/venues/rent_venue/sign_in_complete' %}" class="btn btn-warning btn-xs" style="margin:0;">
                        Use this role
                    </a>
                </div>
            {% endfor %}
        </div>
        <p class="text-center">Or you can create new one with just one click!</p>
    {% endif %}

    <p class="text-center">
        <a href="#" id="LoginWithAmazon">
            <img border="0" alt="Login with Amazon"
                src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                width="156" height="32" />
        </a>
    </p>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'spudderaccounts/parts/amazon_login_js.html' %}
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            if (typeof amazon == undefined) return;

            var $logoutBtn = $('#logout-button');

            if ($logoutBtn.length) {
                $logoutBtn.click(function (event) {
                    event.preventDefault();
                    amazon.Login.logout();
                    window.location = $logoutBtn.attr('href');
                });
            }
            var loginWithAmazon = document.getElementById('LoginWithAmazon'),
                returnUrl = '/accounts/login/amazon?next=/venues/rent_venue/sign_in_complete&account_type=sponsor';

            if (loginWithAmazon) {
                loginWithAmazon.onclick = function() {
                    options = { scope : 'profile', interactive: 'always' };
                    amazon.Login.authorize(options, returnUrl);
                    return false;
                };
            }
        });
    </script>
{% endblock %}