{% extends 'spuddercern/base.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Splash Page');
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-8 col-sm-offset-2">

                <div class="text-center">
                    <img src="/static/img/spuddercern/logo-cern-medium.png">
                    <h2>Welcome to CERN!</h2>
                    <p>Campus Entrepreneur Recruiting Network</p>
                    <div class="embed-responsive embed-responsive-16by9" style="width: 80%; margin: 20px auto;">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/AKzKiReIjgc?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <a class="btn btn-primary btn-large" href="/cern/register/" style="margin: 20px 0;">
                        Register Now!
                    </a>
                </div>

                <div class="quote">
                    <div class="alert alert-info">
                        <h4>What is "CERN"?</h4>
                        <p><em>CERN</em> stands for Campus Entrepreneur Recruiting Network. CERN Teams are made up of people associated with colleges and Universities in the United States.</p>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <img src="/static/img/spuddercern/button-cern-small.png" class="button" />
                </div>
                <div class="quote">
                    <div class="alert alert-success">
                        <h4>What do these students do?</h4>
                        <p>As a member of a CERN Team, you can learn critical skills and showcase your talents as an entrepreneur on various projects.</p>
                        <p>Currently, we have projects for <b>Marketing</b> and <b>Social Media PR</b>, with more <b>coming soon!</b></p>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <img src="/static/img/spuddercern/button-cern-small.png" class="button" />
                </div>
                <div class="quote">
                    <div class="alert alert-info">
                        <h4>What do I get out of joining a CERN Team?</h4>
                        <p>In addition to enhancing your resume with third party validated real world accomplishments, you’ll actually get paid for the work you do!</p>
                        <p>Different projects earn different kinds of rewards – <b>sign up to learn more!</b></p>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <img src="/static/img/spuddercern/button-cern-small.png" class="button" />
                </div>
                <div class="text-center">
                    <h2>Sounds great! Where do I sign up?</h2>
                    <a class="btn btn-primary btn-large" href="/cern/register/" style="margin: 20px 0;">
                        Go to Registration Page
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}