{% extends 'spuddercern/base_single_well.html' %}

{% block title %}CERN Register: Terms & Conditions{% endblock %}

{% block well_content %}
    <h4 class="text-center">You must accept the Terms and Conditions</h4>
    <p>We're sorry. In order to register for a Spudder account, you must accept the terms and conditions.</p>
    <p>To return to the CERN splash page, click <a href="/cern">here</a>.</p>
    <p>To return to the CERN registration page, click <a href="/cern/register">here</a>.</p>
{% endblock %}