<div class="tab-pane active" id="friends">
	<div class="profile-users clearfix">
		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Bob Doe's avatar" src="/media/profile/avatars/avatar4.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-online"></span>
							Bob Doe
						</a>
					</div>
				</div>

				<div class="popover right">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">Content Editor</div>

						<div class="time">
							<i class="icon-time middle bigger-120 orange"></i>
							<span class="green"> 20 mins ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Rose Doe's avatar" src="/media/profile/avatars/avatar1.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-offline"></span>
							Rose Doe
						</a>
					</div>
				</div>

				<div class="popover right">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">Graphic Designer</div>

						<div class="time">
							<i class="icon-time middle bigger-120 grey"></i>
							<span class="grey"> 30 min ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Jim Doe's avatar" src="/media/profile/avatars/avatar.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-busy"></span>
							Jim Doe
						</a>
					</div>
				</div>

				<div class="popover right">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">SEO &amp; Advertising</div>

						<div class="time">
							<i class="icon-time middle bigger-120 red"></i>
							<span class="grey"> 1 hour ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Alex Doe's avatar" src="/media/profile/avatars/avatar5.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-idle"></span>
							Alex Doe
						</a>
					</div>
				</div>

				<div class="popover right">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">Marketing</div>

						<div class="time">
							<i class="icon-time middle bigger-120 orange"></i>
							<span class=""> 40 minutes idle </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Phil Doe's avatar" src="/media/profile/avatars/avatar2.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-online"></span>
							Phil Doe
						</a>
					</div>
				</div>

				<div class="popover">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">Public Relations</div>

						<div class="time">
							<i class="icon-time middle bigger-120 orange"></i>
							<span class="green"> 2 hours ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Susan Doe's avatar" src="/media/profile/avatars/avatar3.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-online"></span>
							Susan Doe
						</a>
					</div>
				</div>

				<div class="popover">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">HR Management</div>

						<div class="time">
							<i class="icon-time middle bigger-120 orange"></i>
							<span class="green"> 20 mins ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Jennifer Doe's avatar" src="/media/profile/avatars/avatar1.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-offline"></span>
							Jennifer Doe
						</a>
					</div>
				</div>

				<div class="popover">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">Graphic Designer</div>

						<div class="time">
							<i class="icon-time middle bigger-120 grey"></i>
							<span class="grey"> 2 hours ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="#">
						<img alt="Alexa Doe's avatar" src="/media/profile/avatars/avatar3.png">
					</a>
				</div>

				<div class="body">
					<div class="name">
						<a href="#">
							<span class="user-status status-offline"></span>
							Alexa Doe
						</a>
					</div>
				</div>

				<div class="popover left">
					<div class="arrow"></div>

					<div class="popover-content">
						<div class="bolder">Accounting</div>

						<div class="time">
							<i class="icon-time middle bigger-120 grey"></i>
							<span class="grey"> 4 hours ago </span>
						</div>

						<div class="hr dotted hr-8"></div>

						<div class="tools action-buttons">
							<a href="#">
								<i class="icon-facebook-sign blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-twitter-sign light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="icon-google-plus-sign red bigger-150"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hr hr10 hr-double"></div>

	<ul class="pager pull-right">
		<li class="previous disabled">
			<a href="#"> <i class="icon-arrow-left"></i> Prev </a>
			
		</li>

		<li class="next">
			<a href="#">Next <i class="icon-arrow-right"></i> </a>
		</li>
	</ul>
</div>

<div class="clearfix"></div>

<div class="widget-box">

	<div class="widget-header widget-header-small">
		<h5 class="lighter">Search Fans</h5>
	</div>

	<div class="widget-body">
	<div class="widget-main">
		<form class="form-search">
			<input type="text" class="input-medium search-query">
			<button class="btn btn-purple btn-small" onclick="return false;">
					Search
					<i class="icon-search icon-on-right bigger-110"></i>
				</button>
			</form>
		</div>
	</div>
</div>