
<ul class="nav nav-list">
	<li>
		<a href="/fan/spuds">
			<i class="icon-microphone"></i>
			<span class="menu-text"> SPUDS </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-male"></i>
			<span class="menu-text"> Fans </span>

			<b class="arrow icon-angle-down"></b>
		</a>
		<ul class="submenu">
			<li>
				<a href="/fan/fans">
					<i class="icon-male"></i>
					General
				</a>
			</li>
			<li>
				<a href="javascript:alert('coming soon')">
					<i class="icon-time"></i>
					Offers
				</a>
			</li>
		</ul>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-group"></i>
			<span class="menu-text"> Teams </span>

			<b class="arrow icon-angle-down"></b>
		</a>
		<ul class="submenu">
			<li>
				<a href="form-elements.html">
					<i class="icon-bullhorn"></i>
					Coach
				</a>
			</li>
			<li>
				<a href="">
					<i class="icon-user"></i>
					<span class="menu-text"> Players </span>
				</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="widgets.html">
			<i class="icon-sitemap"></i>
			<span class="menu-text"> Leagues </span>
		</a>
	</li>

	<li>
		<a href="gallery.html">
			<i class="icon-trophy"></i>
			<span class="menu-text"> Tournaments </span>
		</a>
	</li>
	
	<li>
		<a href="gallery.html">
			<i class="icon-map-marker"></i>
			<span class="menu-text"> Fields </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-shopping-cart"></i>
			<span class="menu-text"> Stores </span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
			<li>
				<a href="profile.html">
					<i class="icon-credit-card"></i>
					Buyers
				</a>
			</li>

			<li>
				<a href="pricing.html">
					<i class="icon-tag"></i>
					Sellers
				</a>
			</li>

		</ul>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-money"></i>

			<span class="menu-text">
				Sponsors
			</span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
			<li>
				<a href="error-404.html">
					<i class="icon-time"></i>
					Offers
				</a>
			</li>

		</ul>
	</li>
</ul>