<ul class="nav nav-list">
	<li class="active">
		<a href="/fan">
			<i class="icon-dashboard"></i>
			<span class="menu-text"> SPUDS </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-desktop"></i>
			<span class="menu-text"> Fans </span>

			<b class="arrow icon-angle-down"></b>
		</a>
		<ul class="submenu">
			<li>
				<a href="elements.html">
					<i class="icon-double-angle-right"></i>
					Offers
				</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="/fan/spuds">
			<i class="icon-dashboard"></i>
			<span class="menu-text"> Players </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-edit"></i>
			<span class="menu-text"> Teams </span>

			<b class="arrow icon-angle-down"></b>
		</a>
		<ul class="submenu">
			<li>
				<a href="form-elements.html">
					<i class="icon-double-angle-right"></i>
					Coach
				</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="widgets.html">
			<i class="icon-list-alt"></i>
			<span class="menu-text"> Leagues </span>
		</a>
	</li>

	<li>
		<a href="gallery.html">
			<i class="icon-picture"></i>
			<span class="menu-text"> Tournaments </span>
		</a>
	</li>
	
	<li>
		<a href="gallery.html">
			<i class="icon-picture"></i>
			<span class="menu-text"> Fields </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-tag"></i>
			<span class="menu-text"> Stores </span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
			<li>
				<a href="profile.html">
					<i class="icon-double-angle-right"></i>
					Buyers
				</a>
			</li>

			<li>
				<a href="pricing.html">
					<i class="icon-double-angle-right"></i>
					Sellers
				</a>
			</li>

		</ul>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-flag"></i>

			<span class="menu-text">
				Sponsors
			</span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
			<li>
				<a href="error-404.html">
					<i class="icon-double-angle-right"></i>
					Offers
				</a>
			</li>

		</ul>
	</li>
</ul>