{% extends 'spuddercern/base.html' %}

{% block content %}
<div class="container clearfix" id="venue-account">
	<div class="well">
		<p class="header">Register as a <strong>Recipient!</strong></p>

                {% with info_message_id="venues_can_edit" %}
                        {% include 'spuddercern/quote_messages/quote_make_amazon_payments.html' %}
                {% endwith %}
		<a href="{{ cbui_url }}" class="btn btn-orange centered">Register</a>
	</div>
</div>
{% endblock content %}
