<% include ../dashboard/parts/head %>

<link href="/media/dashboard/css/isotope.css" rel="stylesheet" type="text/css" />

<% include ../dashboard/parts/bodyStart %>

<div id="spuds" class="">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active">
						<a href="#" data-toggle="tab" id="showAll">
							All
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="tab" id="showText">
							Text
						</a>
					</li>
					
					<li>
						<a href="#" data-toggle="tab" id="showImages">
							Images
						</a>
					</li>
					
					<li>
						<a href="#" data-toggle="tab" id="showVideos">
							Videos
						</a>
					</li>
				</ul>
				<div id="social-container"></div>
				
				<div class="row-fluid">
					<div class="span12">
						<div class="btn btn-orange" id="load-more" nextPage="1">
							<span class="loading"><i class="icon-spinner icon-spin"></i> Loading content</span>
							<span class="hasMore hidden">Load More</span>
						</div>
					</div>
				</div>
				
				<div class="tab-content hidden" id="all">
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../dashboard/parts/scripts %>

	<script src="/media/dashboard/js/tab-control.js"></script>
	<script src="/media/dashboard/js/jquery.isotope.min.js"></script>
	<script src="/media/js/spud-container-utils.js"></script>
	<script type="text/javascript">
    		
	    $(window).load(function() {
			var all = $('#all'),
	    		container = $('#social-container');
	      /*
	      # init isotope, then insert all items from hidden alpha
	      */
			container.isotope({
				itemSelector: '.item'
			});//.isotope('insert', all.find('.item'));
			
			$('#showAll').click(function() {
	    		container.isotope({ filter: '.item' });
	    	});
	    	
	    	$('#showText').click(function() {
	    		container.isotope({ filter: '.status, .text' });
	    	});
	    	
	    	$('#showImages').click(function() {
	    		container.isotope({ filter: '.image' });
	    	});
	    	
	    	$('#showVideos').click(function() {
	    		container.isotope({ filter: '.video' });
	    	});
	    	
	    });
	    
	    $(document).ready(function() {
	    	var socialContainer = $('#social-container');
	    	
	    	$('#load-more').click(function() {
	    		getSpuds();
	    	});
	    	
	    	function getSpuds() {
	    		var loadMore = $('#load-more'),
	    			hasMore = $(loadMore).find('.hasMore'),
	    			loading = $(loadMore).find('.loading'),
	    			self = $(loadMore);
	    		
	    		loading.show();
    			hasMore.addClass('hidden');
	    		
	    		var nextPage = parseInt($(loadMore).attr('nextPage'), 10),
		    		response = $.get('/spuds/getSpuds', { 
			    		page: nextPage
		    		});
		    	
		    	response.done(function(data) {
		    		var parsed = JSON.parse(data),
		    			container = $('#social-container'),
		    			all = $('#all');
		    		
		    		$.each(parsed.items, function() {
		    			all.append($(this.toString()));
		    		});
		    		
		    		container.isotope('insert', all.find('.item'));
		    		
		    		loading.hide();
		    		if (parsed.hasMore) {
		    			hasMore.removeClass('hidden');
		    		} else {
		    			loadMore.hide();
		    		}
		    		
		    		activateTooltips();
		    		
		    		self.attr('nextPage', nextPage + 1);
		    	});
		    	
		    	response.fail(function(error) {
		    		console.log(error);
		    	});
	    	}
	    	
	    	getSpuds();
	    	
	    	function activateTooltips() {
		    	$('.buttons-bottom .btn, .tag-buttons .btn').tooltip({
					hide: {
						effect: "explode",
						delay: 2500
					},
					show: {
						effect: "slideDown",
						delay: 2500
                    }
				});

                $('.buttons-bottom .btn.like').on('shown.bs.tooltip', function() {
                	// var self = $(this);
//                 	
                	// if (!$(this).hasClass('alreadyLoaded')) {
	                    // var tooltipContainer = $(this).parent().find('.tooltip'),
	                        // self = $(this),
	                        // response = $.get('/spuds/getLikes', {
	                            // 'spudId' : self.parents('.spud-container').attr('id'),
	                            // 'isCurrentUser' : true
	                        // }, function(data) {
	                        	// var parsed = JSON.parse(data);
// 	                        	
	                        	// self.addClass('alreadyLoaded');
// 	                        	
	                            // $.each(parsed.items, function() {
	                                // var userContainer = $('<div class="userContainer"></div>'),
	                                    // userLink = $('<a href="/public/fan/' + this.userId + '">' + this.username + '</a>');
	                                // userContainer.html(userLink);
	                                // tooltipContainer.append(userContainer);
	                            // });
	                        // });
                	// }
                });

			}
	
            socialContainer.on('click', '.btn.like', function() {
                var spudContainer = $(this).parents('.spud-container'),
                    spudID = spudContainer.attr('id'),
                    loadingLikes = spudContainer.find('.loading-likes'),
                    counter = spudContainer.find('.like-counter');

                var response = $.post('/spuds/toggleLike', {
                    'id' : spudID
                });

                loadingLikes.css('display', 'inline-block');
                counter.hide();

                response.done(function(data) {
                    var parsed = JSON.parse(data);
                    loadingLikes.hide();
                    counter.html(parsed.totalItems);
                    counter.css('display', 'inline-block');
                });
            });

	    	socialContainer.on('click', '.tag', function() {
	    		var spudContainer = $(this).parents('.spud-container'),
					buttons = spudContainer.find('.tag-buttons'),
					decodedTags = spudContainer.find('.decodedTags'),
					teamExists = teamTagExists(spudContainer),
					isAlreadyLoaded = $(this).hasClass('alreadyLoaded'),
					self = this;
				
				if (teamExists.doesExist && !isAlreadyLoaded) {
					setTeamPlayersAndCoaches(teamExists.id, spudContainer);
				}
				
				if (buttons.is(':visible')) {
					buttons.hide();
					spudContainer.find('.tag-inputs').hide();
				} else {
					buttons.show();
				}
				
				reLayout();
				
	    		var tagsContainer = $(decodedTags).parents('.spud-container').find('.tags-container'),
	    			tags = $(decodedTags).val();
	    		
	    		if (tags.length && !isAlreadyLoaded) {
	    			
	    			var loadingTags = $(spudContainer).find('.loading-tags');
	    			
	    			loadingTags.show();
	    			
	    			reLayout();
	    			
		    		$.post('/spuds/encodeTags', {
		    			'tags' : $(decodedTags).val()
		    		}, function(httpResponse) {
		    			var tags = JSON.parse(httpResponse).items;
		    			
		    			$(self).addClass('alreadyLoaded');
		    			
		    			$.each(tags, function() {
		    				var tagDiv = $('<div class="tag"></div>'),
		    					tagLink = $('<a href=""></a>');
		    				
		    				tagLink.attr('href', getEntityPublicViewURL(this.clazz, this.id) + '?spudId=' + spudContainer.attr('id'));
		    				tagLink.html(this.name);
		    				tagDiv.html(tagLink);
		    				
		    				tagsContainer.append(tagDiv);
		    			});
		    			
		    			loadingTags.hide();
		    			reLayout();
		    		});
		    		
    			}
				
			});
			
			socialContainer.on('click', '.tag-buttons .btn', function() {
				var title = $(this).attr('data-original-title').toLowerCase(),
					spudContainer = $(this).parents('.spud-container'),
					inputs = spudContainer.find('.tag-' + title);
				
				if (title == 'team' && $(this).attr('alreadyTagged') == 'true') {
					alert('You can tag only one Team per SPUD.', spudContainer);
					return;
				}
				
				if (inputs.is(':visible')) {
					inputs.hide();
				} else {
					inputs.show();
				}
				
				reLayout();
			});
			
			function alert(msg, spudContainer) {
				var alert = spudContainer.find('.alert-danger');
				alert.html(
					msg
				);
				
				alert.show();
				reLayout();
			}
			
			function reLayout() {
				$('#social-container').isotope('reLayout');
			}
			
			socialContainer.on('click', '.load-comments, [name="comment"]', function() {
				var ids = [],
					spudContainer = $(this).parents('.spud-container'),
					loadingComments = spudContainer.find('.loading-comments'),
					currentComments = spudContainer.find('.comment'),
					loadMore = spudContainer.find('.spud-comments .load-more'),
					currentPage = parseInt(loadMore.attr('nextPage'), 10);
					
					
				if (currentComments.is(':visible') && $(this).hasClass('load-comments')) {
					
					currentComments.hide();
					currentComments.css('opacity', '0');
					loadMore.hide();
					reLayout();
					
				} else if (!loadingComments.hasClass('alreadyLoaded')) { 
				
					loadingComments.css('display', 'table');

                    reLayout();

					$.each(currentComments, function() {
						var id = $(this).attr('krowdioUserId');
						
						if ($.inArray(id, ids) === -1) {
							ids.push(id);
						}
					});

                    if (ids.length) {
                        var response = $.post('/spuds/getCommentsPublishers', {
                            'ids' : ids
                        });

                        response.done(function(data) {
                            var items = JSON.parse(data).items;

                            $.each(items, function(key, value) {
                                var comment = $('[krowdiouserid="' + key + '"]'),
                                	userNameContainer = comment.find('.user-name');
                                	
                                if (value.profileImageThumb.length > 0) {
                                    comment.find('.social-avatar').attr('src', value.profileImageThumb);
                                }

                                var userName = 'Annonymous';

                                if (value.nickname.length > 0) {
                                    userName = value.nickname;
                                } else if (value.krowdioUserId.length > 0) {
                                    userName = value.krowdioUserId;
                                }

                                userNameContainer.html(userName);
                                userNameContainer.attr('href', '/public/fan/' + value.objectId + '?spudId=' + spudContainer.attr('id'));
                            });

							loadingComments.addClass('alreadyLoaded');
                            loadingComments.hide();
                            showComments(currentComments, currentPage, loadMore);
                        });

                    }
				} else {
					showComments(currentComments, 1, loadMore);
				}
				
			});
			
			function showComments(currentComments, currentPage, loadMore) {
				var lastCommentIndex = currentPage * 5;
				
				currentComments.slice(lastCommentIndex - 5, lastCommentIndex).show();
				currentComments.slice(lastCommentIndex - 5, lastCommentIndex).animate({
                	opacity: 1
                }, 2000);
                
                loadMore.attr('nextPage', currentPage + 1);
                
                if (lastCommentIndex < currentComments.length) {
                	$(currentComments.get(lastCommentIndex - 1)).after(loadMore);
                    loadMore.css('display', 'table');
                } else {
                	loadMore.hide();
                }
                reLayout();
			}
			
			socialContainer.on('click', '.spud-comments .load-more', function() {
				var currentPage = parseInt($(this).attr('nextPage'), 10),
					spudContainer = $(this).parents('.spud-container'),
					currentComments = spudContainer.find('.comment'),
					loadMore = spudContainer.find('.spud-comments .load-more');
				
				showComments(currentComments, currentPage, loadMore);
			});
			
			socialContainer.on('submit', '.spud-container .add-comment', function(e) {
				e.preventDefault();
				
				var url = $(this).attr('action'),
					commentInput = $(this).find('input[name="comment"]'),
					text = commentInput.val(),
					self = this,
					postingComment = $(this).find('.posting-comment'),
					spudContainer = $(this).parents('.spud-container');
					
				postingComment.css('display', 'inline-block');
				commentInput.val('');
				
				$.post(url, { 'comment' : text }, function(comments) {
					var user = {
						'nickname' : '<%- getValueOrEmpty(user.get("nickname")) %>',
						'krowdioUserId' : '<%- getValueOrEmpty(user.get("krowdioUserId")) %>',
						'profileImageThumb' : '<%- getValueOrEmpty(user.get("profileImageThumb")) %>'
					}, comment = buildComment('', text, user, new Date().toString());
					
					$(self).after(comment);
					
					comment.show();
					comment.animate({
						opacity: 1
					}, 2000);
					
					postingComment.hide();
					
					reLayout();
				});
			});
			
			socialContainer.on('click', '.tagTeam', function(e) {
				e.preventDefault();
				
				var nameFromInput = $(this).parent().find('input').val(),
					select = $(this).parent().find('select'),
					idFromSelect = select.val(),
					nameFromSelect = select.find(':selected').html(),
					name = idFromSelect.length > 0 ? nameFromSelect : nameFromInput,
					spudContainer = $(this).parents('.spud-container');
				
				if (nameFromInput.length == 0 && idFromSelect.length == 0) {
					alert('You must select a team from favorites or type name of the existing team', spudContainer);
				}
					
				setTeamIdByName(name, nameFromInput.length > 0, spudContainer).then(function(teamId) {
					setTeamPlayersAndCoaches(teamId, spudContainer);
					$('.tag-team').hide();
					spudContainer.find('[data-original-title="Team"]').attr('alreadyTagged', 'true');
				});
				
				
			}); 
			
			socialContainer.on('click', '.tagPlayer', function(e) {
				e.preventDefault();
				
				var selected = $(this).parent().find('select').find(':selected');
				
				addTag('Player', selected.val(), selected.html(), $(this).find('.spud-container'));
			});
			
			socialContainer.on('click', '.tagCoach', function(e) {
				e.preventDefault();
				
				var selected = $(this).parent().find('select').find(':selected');
				
				addTag('Coach', selected.val(), selected.html(), $(this).find('.spud-container'));
			});
			
			socialContainer.on({ mouseenter : function() {
                $(this).find('img').attr('src', '/media/img/ajax-loader-dark-grey.gif');
            }, mouseleave : function() {
                $(this).find('img').attr('src', '/media/img/ajax-loader.gif');
            }
            }, '.btn.like');
    	});
	</script>
	
<% include ../dashboard/parts/foot %>