{% extends 'spudderspuds/base.html' %}

{% block title %}Spudder Fans Dashboard{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'FANS - Dashboard');
{% endblock %}


{% block body %}
    <div class="container-fluid">
        {% block dashboard_page %}
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard <small>Monitor your Fan profile across all your Spudder assets</small>
                </h1>
            </div>

            <div class="quote" data-id="dashboard">
                <div class="alert alert-info" style="display: inline-block">
                    <h4><i class="fa fa-fw fa-bullhorn"></i> What to do now?</h4>
                    <p><b>Welcome to your Fan dashboard.</b> This is your control center for managing your Fan Page, created teams and everything else!</p>
                    <br/>
                    <div class="hidden-xs hidden-sm">
                        <i class="fa fa-hand-o-up fa-2x pull-left" style="position:relative; top:-5px;"></i>
                        <p>You can use the navigation at the top to visit the various pages in your dashboard:</p>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <i class="fa fa-hand-o-up fa-2x  pull-right"></i>
                        <p>You can use this button to bring down the menu and visit the various pages in your dashboard:</p>
                    </div>
                    <br/>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-fw fa-asterisk"></i> Manage your fan profile on the <a href="/fan/page">Edit Fan Page</a></li>
                        <li><i class="fa fa-fw fa-asterisk"></i> Manage created teams on the <a href="/team/list">My Teams</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}