{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block css %}
    {{ block.super }}
    <style>
    .edit-team-logo-img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    .help-text-content {
        line-height: 50px;
    }
    </style>
{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'FANS - FAN PAGE EDIT');
{% endblock %}

{% block well_content %}
    <h2>
        <img src="/static/img/spudderspuds/button-fans-small.png"/> Update your fan profile details
    </h2>

    {% if new_registration %}
        <div class="alert alert-info">
            <h4><i class="fa fa-check"></i> Your registeration as a Fan is almost complete.</h4>
            <p>Please fill in the details below so we can build your Fan profile.</p>
        </div>
    {% endif %}

    <form action="{{ upload_url }}" method="post" id="create-team-form" class="fan-page-form" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <fieldset>
            <legend>Basic Profile Details</legend>
            {% bootstrap_form profile_form %}
        </fieldset>
        <fieldset>
            <legend>Social Media Profiles</legend>
            <div class="alert alert-info">
                <h4><i class="fa fa-question"></i> Why are we asking for this?</h4>
                <p>We ask for you username across the most popular social networks for two reasons:</p>
                <ol>
                    <li>We can create links from your spudder profile to your social network page!</li>
                    <li>When you post to @postspud on these social networks, your images will show up right here in Spudder!</li>
                </ol>
            </div>
            {% bootstrap_form social_accounts_form %}
        </fieldset>

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Update
            </button>
            <a href="/fan/{{ page.id }}" class="btn btn-default">
                Cancel
            </a>

        {% endbuttons %}
    </form>
{% endblock %}
