<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Spudder - Sports Updates Made Simple</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!-- css -->
		<link href="/media/css/bootstrap.css" rel="stylesheet" />
		<link href="/media/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="/media/css/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="/media/css/jcarousel.css" rel="stylesheet" />
		<link href="/media/css/flexslider.css" rel="stylesheet" />
		<link href="/media/css/style.css" rel="stylesheet" />
		
		<!-- Theme skin -->
		<link id="t-colors" href="/media/skins/default.css" rel="stylesheet" />
		<!-- boxed bg -->
		<link id="bodybg" href="/media/bodybg/custom_bg.css" rel="stylesheet" type="text/css" />
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <![endif]-->
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/ico/apple-touch-icon-144-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/ico/apple-touch-icon-114-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/ico/apple-touch-icon-72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="/media/ico/apple-touch-icon-57-precomposed.png" />
		<link rel="shortcut icon" href="/media/ico/favicon.png" />
	</head>
<body>
	<div id="wrapper">
		
		<header>
			{% include 'base_parts/header.html' %}
		</header>
		
		{% block content %} {% endblock %}
		
		<footer>
			{% include 'base_parts/footer.html' %}
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
	<script src="/media/js/jquery.js"></script>
	<script src="/media/js/jquery.easing.1.3.js"></script>
	<script src="/media/js/bootstrap.js"></script>
	<script src="/media/js/jcarousel/jquery.jcarousel.min.js"></script>
	<script src="/media/js/jquery.fancybox.pack.js"></script>
	<script src="/media/js/jquery.fancybox-media.js"></script>
	<script src="/media/js/google-code-prettify/prettify.js"></script>
	<script src="/media/js/portfolio/jquery.quicksand.js"></script>
	<script src="/media/js/portfolio/setting.js"></script>
	<!-- <script src="/media/js/tweet/jquery.tweet.js"></script> -->
	<script src="/media/js/jquery.flexslider.js"></script>
	<script src="/media/js/jquery.nivo.slider.js"></script>
	<script src="/media/js/modernizr.custom.79639.js"></script>
	<script src="/media/js/jquery.ba-cond.min.js"></script>
	<script src="/media/js/jquery.slitslider.js"></script>
	<script src="/media/js/animate.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var logo = $('header .logo');
			var buttons = $('header #download-buttons');
			var hiddenTop = $('header .hidden-top');
			$('#header-hidden-link .toggle-link').toggle(function(e) {
				e.preventDefault();
				buttons.css({
					'display' : 'table',
					'margin' : 'auto'
				});
				hiddenTop.css('margin-top', '0px');
				logo.css('margin-top', '10px');
			}, function() {
				hiddenTop.css('margin-top', '-5px');
				logo.css('margin-top', '-10px');
			});
			
		});
	</script>
	<script src="/media/js/custom.js"></script>
	{% block scripts %}
	
	{% endblock %}
</body>
</html>