</div>
	<div class="modal-footer">
		<a href="<%= buttons['first']['value'] %>" class="btn"><%= buttons['first']['text'] %></a> 
		<a href="<%= buttons['second']['value'] %>" class="btn btn-primary next"><%= buttons['second']['text'] %></a>
	</div>
</div>