<div class="carousel slide spud-carousel" data-ride="carousel" id="spud-carousel"">
    <div class="carousel-inner">
        {% for spud in spuds %}
            <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                {% include 'components/spuds/spud.html' %}
            </div>
        {% empty %}
            <div class="item active empty">
                <img src="/static/img/spudderspuds/button-spuds-large.png"/>
                <div class="carousel-caption">
                    <div class="alert alert-info">
                        <h4>No SPUDS Yet</h4>
                        <p>Stay tuned, there will soon be SPUDS here!</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#spud-carousel" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#spud-carousel" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
