{% load spudderaccountstags %}
{% load featuretags %}
<div class="spud-container" style="background-image: url({{ spud.image.standard_resolution.url}})">
    <div class="caption">
{#        <div class="user media">#}
            {% if 'spud_tagging'|feature_is_enabled %}
                <a class="btn btn-primary btn-sm spud-add-tags" title="Add Tags" id="add-spud-tags" style="top:8px"><i class="fa fa-fw fa-tags"></i></a>
            {% endif %}
            <div class="user media" id="add-tags-div" style="color:black !important;display:none;">
                <p style="color:white !important">Tag someone you follow:</p>
                <select id="select2" multiple style="z-index:1;width:200px;margin:8px;">
                    {% for tag in tags %}
                        <option data-img="{{ tag.1 }}">{{ tag.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="user media" id="original-spud-data">
                <img src="{{ spud.user.profile_picture }}" class="media-object pull-left img-circle" />
                <div class="media-body text-left">
                    <p>
                        {% if spud.service == 'INSTAGRAM' %}
                            <a href="http://instagram.com/{{ spud.user.username }}" target="_blank">
                                {{ spud.user.username }} <i class="fa fa-instagram"></i>
                            </a>
                        {% endif %}
                        {% if spud.service == 'TWITTER' %}
                            <a href="http://twitter.com/{{ spud.user.username }}" target="_blank">
                                {{ spud.user.username }} <i class="fa fa-twitter"></i>
                            </a>
                        {% endif %}
                    </p>
                    <p class="text">{{ spud.text|join:"<br/>" }}</p>
                </div>
            </div>
{#        </div>#}
    </div>
</div>