{% load spudderspudstags %}
<div class="carousel slide spud-carousel" data-ride="carousel" id="spud-carousel">
    <div class="carousel-inner">
        {% for full_spud in spuds %}
            <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                {% include 'components/spuds/spud.html' with spud=full_spud.extra id=full_spud|get_protected_id %}
            </div>
        {% empty %}
            <div class="item active empty">
                <img src="/static/img/spudderspuds/button-spuds-large.png"/>
                <div class="carousel-caption">
                    <div class="alert alert-info">
                        <h4>No SPUDS Yet</h4>
                        <p>Stay tuned, there will soon be SPUDS here!</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#spud-carousel" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#spud-carousel" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<link rel="stylesheet" href="/static/css/select2.css">
<script type="text/javascript" src="/static/js/libs/select2.min.js"></script>
<script type="text/javascript">
    function format(tag){
        return "<img src='" + $(tag.element).data('img') + "' height=25px/> " + tag.text;
    }
    $('#spud-carousel').find('.spud-add-tags').click(function(){
        if ($(this).hasClass('btn-sm')){
            $(this).parents('.carousel').carousel('pause');
            $(this).siblings('#original-spud-data').hide();
            $(this).siblings("#add-tags-div").children("#select2").select2({
                formatResult: format,
                formatSelection: format,
                formatNoMatches: "No one else to tag!",
                escapeMarkup: function(m) { return m; }
            });
            $(this).removeClass('btn-sm').addClass('btn-lg').css('bottom','8px').css('top', '');
            $(this).siblings('#add-tags-div').show();
        }
        else{
            var tags = $('.select2-container:visible').siblings('select').val(),
                icon = $(this).find('.fa'),
                btn = $(this);
            icon.removeClass('fa-tags').addClass('fa-spin fa-spinner');
            var response = $.post('/fan/add_spud_comment',{
                'spud_id': $('.select2-container:visible').siblings('select').attr('krowdioID'),
                'tags': tags
            });
            response.done(function(){
                icon.removeClass('fa-spin fa-spinner').addClass('fa-tags');
                console.log($(this))
                btn.parents('.carousel').carousel('cycle');
                btn.siblings('#add-tags-div').hide();
                btn.removeClass('btn-lg').addClass('btn-sm').css('bottom', '').css('top', '8px');
                btn.siblings('#original-spud-data').show();
            });
        }
    })
</script>
