{% load spudderaccountstags %}
{% load featuretags %}

<div class="spud-container" style="background-image: url({{ spud.image.standard_resolution.url}})">
    <div class="caption">
        {% if 'spud_tagging'|feature_is_enabled %}
            {% include 'components/spuds/spud_tagging.html' %}
        {% endif %}
        <div class="user media" id="original-spud-data">
            <img src="{{ spud.user.profile_picture }}" class="media-object pull-left img-circle" />
            <div class="media-body text-left">
                <p>
                    {% if spud.service == 'INSTAGRAM' %}
                        <a href="http://instagram.com/{{ spud.user.username }}" target="_blank">
                            {{ spud.user.username }} <i class="fa fa-instagram"></i>
                        </a>
                    {% endif %}
                    {% if spud.service == 'TWITTER' %}
                        <a href="http://twitter.com/{{ spud.user.username }}" target="_blank">
                            {{ spud.user.username }} <i class="fa fa-twitter"></i>
                        </a>
                    {% endif %}
                </p>
                <p class="text">{{ spud.text|join:"<br/>" }}</p>
            </div>
        </div>
    </div>
</div>