{% load spudderspudstags %}
<div class="carousel slide spud-carousel" data-ride="carousel" id="spud-carousel">
    <div class="carousel-inner">
        {% for full_spud in spuds %}
            <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                {% if full_spud.extra|spud_is_valid %}
                    {% include 'components/spuds/spud.html' with spud=full_spud.extra id=full_spud|get_protected_id krowdio_user=full_spud.user user_mentions=full_spud|get_all_user_mentions %}
                {% else %}
                    {% include 'components/spuds/spud_deleted.html' with service=full_spud.extra.service %}
                {% endif %}
            </div>
        {% empty %}
            <div class="item active empty">
                <img src="/static/img/spudderspuds/button-spuds-large.png"/>
                <div class="carousel-caption">
                    <div class="alert alert-info">
                        <h4>No SPUDS Yet</h4>
                        {% if alt_empty_text %}
                            {{ alt_empty_text|safe }}
                        {% else %}
                            <p>Stay tuned, there will soon be SPUDS here!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#spud-carousel" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#spud-carousel" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
