<div class="widget donation-widget">
    <% if (!isSoldOut) { %>
    <a href="<%= spudmartBaseURL %>/dashboard/donation/<%= offerID %>">
        <img src="/media/img/buttons/pay-with-amazon.png" />
    </a>
    <% } else { %>
    <a href="javascript:void(0);" title="Sold out!" disabled>
        <img src="/media/img/buttons/pay-with-amazon.png" />
    </a>
    <% } %>
</div>