<div class="widget donation-widget">
<% if (!isSoldOut) { %>
    <a class="btn btn-danger" href="#donation-modal" data-toggle="modal" id="donate-btn">
        <i class="icon-credit-card"></i>
        DONATE NOW
    </a>
<% } else { %>
    <a class="btn btn-danger" href="javascript:void(0);" title="Sold out!" id="donate-btn" disabled>
        <i class="icon-credit-card"></i>
        DONATE NOW
    </a>
<% } %>
</div>

<div id="donation-modal" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="mySigninModalLabel">Donation</h4>
    </div>
    <div class="modal-body">
        <% if (!isLoggedIn) { %>
            You need to be logged in to make a donation. Try again after you log in successfully.
        <% } else { %>
            In order to make a donation please press 'Make donation' button (you will be redirected to the Dashboard).
        <% } %>
    </div>
    <div class="modal-footer">
        <% if (!isLoggedIn) { %>
        <a href="#" data-dismiss="modal" class="btn btn-danger">OK</a>
        <% } else { %>
        <a href="/dashboard/sponsor/<%= team.id %>/<%= offer.id %>" class="btn btn-danger">Make donation</a>
        <% } %>
    </div>
</div>