{% extends 'spudderteams/base.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'TEAMS - TEAM PAGE EDIT');
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-pencil"></i> Team Page <small>Manage your team: {{ team.name }}</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="edit-mode well" style="display: block;">
                <form action="" method="post" id="create-team-form" class="sponsor-page-form" enctype="multipart/form-data" role="form">
                    <div class="form-group edit-mode edit-mode-team" style="display: block;">
                        <label>Name:</label>
                        <span class="input-required">*required</span>
                        <input name="name" id="name" class="form-control" value="{{form.name.value|default:"" }}"/>
                    </div>
                    <div class="form-group edit-mode edit-mode-team" style="display: block;">
                        <label>Sport:</label>
                        <span class="input-required">*required</span>
                        <select name="sport" id="sport" class="form-control">
                        	{% for sport in sports %}
                        		<option {% if form.sport.value == sport %}selected{% endif %} value="{{ sport }}">{{ sport }}</option>
                        	{% endfor %}
                        </select>
                    </div>
                    <div class="form-group edit-mode" style="display: block;">
                        <label>Location:</label>
                        <span class="input-required">*required</span>
                        <input id="location" name="location" class="controls" type="text" placeholder="Enter a location">
                        <input id="infoWindow" name="infoWindow" type="hidden" {% if info_window %}value="{{ info_window }}"{% endif %}>
                        <input id="location_info" name="location_info" type="hidden" {% if page.location %}value="{{ page.location.post_data }}"{% endif %}/>
                        <div id="map_canvas" class="google-map-canvas"></div>
                    </div>
                    <div class="form-group edit-mode" style="display: block;">
                        <label>Contact details:</label>
                        <input  name="contact_details" id="contact_details" class="form-control" value="{{form.contact_details.value|default:"" }}" />
                    </div>
                    <div class="form-group">
                        <label>Describe your team:</label>
                        <textarea name="free_text" id="free_text" class="form-control" rows="5">{{form.free_text.value|default:"" }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary edit-mode" style="display: inline">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/media/dashboard/js/jquery.validate.js"></script>
    <script src="/media/dashboard/js/additional-methods.min.js"></script>
    <script src="/media/dashboard/js/jquery.validate.spudder.rules.js"></script>
    <script type="text/javascript" src="/media/js/jquery.serialize.file.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&v=3.exp&sensor=false&libraries=places"></script>
    <script src="/static/js/google_maps/init.js"></script>

    <script type="text/javascript">
        {% if page.location %}
            {% autoescape off %}
                initializeGoogleMaps('{{ page.location.address }}', '{{ page.location.info_window }}');
            {% endautoescape %}
        {% else %}
            initializeGoogleMaps();
        {% endif %}

        $(document).ready(function () {
            var $form = $('form');

            $form.validate({
                rules: {
                    name: "required"
                },

                errorPlacement: function(error, element) {
                    error.appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock js %}
