<div class="row">
    <div class="span1"></div>
    <div class="span8 about-cern alert alert-info">
        <h3>What is the Social Media PR project?</h3>
        <h5>In the <em>Social Media PR</em> project, we reward you for spreading publicity about CERN and for bringing in new users.</h5>
        <h3>How do I do that?</h3>
        <h5>Below, you'll find two links - one is a quick link for referring students at your school, and the other allows you to recruit students from another school. Distribute this link, and anyone who signs up at your custom URL will give you rewards!</h5>
        <h3>How do I track my progress?</h3>
        <h5>You'll also find some metrics recording your progress in recruiting members below. Currently we display the number of users you have recruited, and a list of all the users you have recruited, ranked on their overall score.</h5>
        <h3>Sounds great, but didn't you say something about prizes?</h3>
        <h5>Yes, you will get rewarded for your work! You earn a certain number of points for each student you recruit, as well as how many points they earn in their projects. These points can be redeemed for cash and other prizes.</h5>
        <button class="btn btn-orage pull-right" onclick="close_alert()">Hide for now</button><button id="submit" class="btn btn-orange pull-right" onclick="clear_first()">Hide Forever</button>
    </div>
    <div class="span1"></div>
</div>
<script src="/media/js/alerts.js"></script>
<script type="text/javascript">
$().alert();
function close_alert(){
    alert = $('.alert');
    alert.addClass('fade');
    alert.alert('close');
}
function clear_first(){
    close_alert();
    $.post('/cern/disable_about/', { 'about' : 'social media'});
}
</script>