<div class="row">
    <div class="span2">
        <div class="pricing-box-alt" id="marketing">
            <div class="pricing-heading">
                <h3>Marketing</h3>
            </div>
            <div class="pricing-terms">
                <h3>{{ student.marketing_points }} pts</h3>
            </div>
            <div class="pricing-content">
                <ul>
                    <li>Learn proven techniques to drive traffic to your Venue page</li>
                    <li>Earn a percentage of your venue's sponsorship</li>
                    <li>
                        <a class="btn btn-orange" href="/venues/list">
                            {% if student.marketing_points > 0 %}
                                Go to this project
                            {% else %}
                                Start this project!
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="span2">
        <div class="pricing-box-alt" id="social-media">
            <div class="pricing-heading">
                <h3>Social Media PR</h3>
            </div>
            <div class="pricing-terms">
                <h3>{{ student.social_media_points }} pts</h3>
            </div>
            <div class="pricing-content">
                <ul>
                    <li>Earn points based on the number of people you bring to CERN</li>
                    <li>Redeem these points for cash and other great prizes</li>
                    <li>
                        <a class="btn btn-orange" href="/cern/social_media/">
                            {% if student.social_media_points > 0 %}
                                Go to this project
                            {% else %}
                                Start this project!
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="span2">
        <div class="pricing-box-alt" id="blogging">
            <div class="pricing-heading">
                <h3>Content Management</h3>
            </div>
            <div class="pricing-terms">
                <h3>{{ student.content_points }} pts</h3>
            </div>
            <div class="pricing-content">
                <ul>
                    <li>Manage a blog and even earn a featured column on Spudder's main site</li>
                    <li>This feature isn't ready yet. Sign up below to be alerted when it is.</li>
                    {% if content %}
                    <li><button class="btn btn-orange" id='content'>Join mailing list</button></li>
                    {% else %}
                    <li><button class="btn">You're on the list</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="span2">
        <div class="pricing-box-alt" id="design">
            <div class="pricing-heading">
                <h3>Design UX/UI</h3>
            </div>
            <div class="pricing-terms">
                <h3>{{ student.design_points }} pts</h3>
            </div>
            <div class="pricing-content">
                <ul>
                    <li>Help sponsors (small businesses) manage their Spudder pages</li>
                    <li>This feature isn't ready yet. Sign up below to be alerted when it is.</li>
                    {% if design %}
                    <li><button class="btn btn-orange" id='design-btn'>Join mailing list</button></li>
                    {% else %}
                    <li><button class="btn">You're on the list</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="span2">
        <div class="pricing-box-alt" id="quality-assurance">
            <div class="pricing-heading">
                <h3>Quality Assurance</h3>
            </div>
            <div class="pricing-terms">
                <h3>{{ student.testing_points }} pts</h3>
            </div>
            <div class="pricing-content">
                <ul>
                    <li>Beta applications and get advanced access prior to release</li>
                    <li>This feature isn't ready yet. Sign up below to be alerted when it is.</li>
                    {% if qa %}
                    <li><button class="btn btn-orange" id="qa">Join mailing list</button></li>
                    {% else %}
                    <li><button class="btn">You're on the list</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
    function join_list(project){
        $.post('/cern/add_email_alert/',
            { 'email' : "{{ request.user.email }}",
              'project' : project, });
    }

    $('#content').click(function(){
        $(this).removeClass('btn-orange');
        $(this).text("You're on the list");
        join_list('Blogging');
    });

    $('#design-btn').click(function(){
        $(this).removeClass('btn-orange');
        $(this).text("You're on the list");
        join_list('Sponsor Page Design');
    });

    $('#qa').click(function(){
        $(this).removeClass('btn-orange');
        $(this).text("You're on the list");
        join_list('Quality Assurance Testing');
    });
</script>