{% load CERN %}
<div class="sidebar" id="sidebar">
	<ul class="nav nav-list">
	    <li>
	       <a class="dropwdown-toggle" href="/cern/">
	           <i class="icon-bar-chart"></i>
	           <span class="menu-text"> Scoreboard </span>
           </a>
        </li>

	    <li>
	       <a class="dropwdown-toggle" href="{% my_school_link request.user %}">
	           <i class="icon-group"></i>
	           <span class="menu-text"> School Page </span>
           </a>
        </li>

		<li>
			<a class="dropdown-toggle" href="/venues/list">
				<i class="icon-thumbs-up"></i>
				<span class="menu-text"> Marketing </span>
			</a>
		</li>
	
		<li>
			<a class="dropdown-toggle" href="/cern/social_media/">
				<i class="icon-rss"></i>
				<span class="menu-text"> Social Media </span>
			</a>
		</li>
	
		<li>
			<a class="dropdown-toggle" href="/cern/content/">
				<i class="icon-edit"></i>
				<span class="menu-text"> Content </span>
			</a>
		</li>
	
		<li>
			<a class="dropdown-toggle" href="/cern/design/">
				<i class="icon-pencil"></i>
				<span class="menu-text"> Design </span>
			</a>
		</li>
	
		<li>
			<a class="dropdown-toggle" href="/cern/testing/">
				<i class="icon-cogs"></i>
				<span class="menu-text"> QA Testing </span>
			</a>
		</li>
	
		<li>
			<a class="dropdown-toggle" href="/cern/mobile/">
				<i class="icon-mobile-phone"></i>
				<span class="menu-text"> Mobile App </span>
			</a>
		</li>
	</ul>
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left"></i>
    </div>
</div>
