
<ul class="nav nav-list">
	<li>
		<a class="dropdown-toggle" href="/venues/list">
			<i class="icon-thumbs-up"></i>
			<span class="menu-text"> Marketing </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="/CERN/social_media/">
			<i class="icon-rss"></i>
			<span class="menu-text"> Social Media </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="/CERN/content/">
			<i class="icon-edit"></i>
			<span class="menu-text"> Content </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="/CERN/design/">
			<i class="icon-pencil"></i>
			<span class="menu-text"> Design </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="/CERN/testing/">
			<i class="icon-cogs"></i>
			<span class="menu-text"> QA Testing </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="/CERN/mobile/">
			<i class="icon-mobile-phone"></i>
			<span class="menu-text"> Mobile App </span>
		</a>
	</li>
</ul>