<a class="btn btn-primary active" openTab="#spuds" title="SPUDs">
    <i class="fa fa-2x fa-microphone" title="SPUDs"> </i>
</a>
<a class="btn btn-primary" openTab="#map" title="Venue Location">
    <i class="fa fa-2x fa-map-marker" title="Map"> </i>
</a>
<a class="btn btn-primary" openTab="#parking-details" title="Parking Details">
    <i class="fa fa-2x fa-car" title="Parking"> </i>
</a>
<a class="btn btn-primary" openTab="#up-to-5-pics" title="Venue Pictures">
    <i class="fa fa-2x fa-camera" title="Upto 5 pics"> </i>
</a>
<a class="btn btn-primary" openTab="#video" title="Venue Video">
    <i class="fa fa-2x fa-youtube-play" title="Video"> </i>
</a>
<a class="btn btn-primary" openTab="#playing-surface" title="Playing Surface">
    <i class="fa fa-2x fa-eye {% comment %}icon-field-inverse-full{% endcomment %}" title="Playing surface"> </i>
</a>