{% extends 'base.html' %}

{% block title %}Campus Entrepreneur Recruiting Network{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/spuddercern.css" />
{% endblock %}

{% block favicon %}"/static/img/spuddercern/button-cern-tiny.png"{% endblock %}

{% block nav_brand %}<a href="/"><img src="/static/img/spuddercern/logo-cern-small.png" style="height:35px;margin-top:2px;"/> </a>{% endblock %}

{% block meta %}
{{ block.super }}
<meta property="og:title" content="Campus Entrepreneur Recruiting Network | Spudder - Sports Updates Made Simple">
<meta property="og:description" content="Attention Students! CERN is a program to earn money as you learn all about marketing, public relations, and social media. Click to learn more.">
{% endblock %}

{% block nav %}
    {% if not request.current_role %}
        <li>
            <a href="/cern/register">register</a>
        </li>
        <li>
            <a href="/cern/signin">signin</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
{% endblock %}

{% block js %}
{{ super.js }}
<script type="text/javascript">
    window.twitterPopupText = "Want to apply business school learning to a real life company? Click here to find out how!"
</script>
{% endblock %}