<{{ heading_tag|default:"h2" }} class="media-heading">
    Your stripe account is not yet verified!
</{{ heading_tag|default:"h2" }}>
<p>
    You registered with Stripe but <b>but have not verified your account.</b>
</p>
<p>
    Please visit your stripe dashboard and carry out any remaining steps to verify your account.
</p>
<p>
    <a href="https://dashboard.stripe.com/login" class="btn btn-primary btn-cta" target="_blank">
        Go to Stripe <i class="fa fa-arrow-right"></i>
    </a>
</p>
<p>
    <small>
        Once you have done this, please <a href="javascript:window.location.reload()">refresh</a> this page!
    </small>
</p>
