<{{ heading_tag|default:"h2" }} class="media-heading">
    You need to set a default card in Stripe
</{{ heading_tag|default:"h2" }}>
<p>
    You registered with Stripe but have not set a default card.
</p>
<p>
    You need to sign in into your Stripe account and set a default card.
</p>
<p>
    <a href="https://dashboard.stripe.com/login" class="btn btn-primary btn-cta" target="_blank">
        Set a default card in Stripe <i class="fa fa-arrow-right"></i>
    </a>
</p>
<p>
    <small>
        Once you have done this, please refresh this page!
    </small>
</p>
