<{{ heading_tag|default:"h2" }} class="media-heading">
    You need to add a bank account to Stripe!
</{{ heading_tag|default:"h2" }}>
<p>
    You registered with Stripe but <b>did not add a bank account.</b>
</p>
<p>
    You need to add a bank account to your stripe account or we can not get
    money raised for your team to you.
</p>
<p>
    You need to sign in into your Stripe account and add a bank account.
</p>
<p>
    <a href="https://dashboard.stripe.com/login" class="btn btn-primary btn-cta" target="_blank">
        Add an account to Stripe <i class="fa fa-arrow-right"></i>
    </a>
</p>
<p>
    <small>
        Once you have done this, please refresh this page!
    </small>
</p>
