<div class="list-group">
    <a href="/club/dashboard" class="list-group-item {% if not active or active == 'dashboard' %}active{% endif %}">
        <i class="fa fa-dashboard"></i> Dashboard
    </a>
    <a href="/club/dashboard/edit" class="list-group-item {% if not active or active == 'edit' %}active{% endif %}">
        <i class="fa fa-pencil"></i> Team Profile
    </a>
    {% if club.is_fully_activated %}
{#    <a href="/challenges/create" class="list-group-item {% if active == 'challenges' %}active{% endif %}">#}
{#        <i class="fa fa-trophy"></i> Create Challenges#}
{#    </a>#}
    {% endif %}
</div>
