<div class="widget offer-widget">
    <div>
        <ul class="social-network">
            <li><a href="http://www.facebook.com/spudderdotcom"
                   target="_blank" data-placement="bottom" title=""
                   data-original-title="Facebook"><i
                    class="icon-facebook icon-square"></i></a></li>
            <li><a href="https://twitter.com/spudderdotcom"
                   target="_blank" data-placement="bottom" title=""
                   data-original-title="Twitter"><i
                    class="icon-twitter icon-square"></i></a></li>
            <li><a href="http://pinterest.com/spudderdotcom/"
                   target="_blank" data-placement="bottom" title=""
                   data-original-title="Pinterest"><i
                    class="icon-pinterest icon-square"></i></a></li>
            <li><a
                    href="https://plus.google.com/113968251038874482620"
                    target="_blank" rel="publisher" data-placement="bottom"
                    title="" data-original-title="Google plus"><i
                    class="icon-google-plus icon-square"></i></a></li>
        </ul>
    </div>

    <h5 class="widgetheading">Spudder only Offer</h5>
    <ul class="folio-detail offer-details">
        <li><label>Special Offer: </label> 30% off</li>
        <li><label>Location: </label> 101 West Main Street,
            Somerville, NJ 08876</li>
        <li><label>Map: </label> <a
                href="https://maps.google.com/maps?q=Somerville+High+School,+Davenport+Street,+Somerville,+NJ&amp;hl=en&amp;ll=40.580715,-74.612553&amp;spn=0.0103,0.026157&amp;sll=40.860469,-74.460741&amp;sspn=0.65641,1.674042&amp;oq=somerville+Somerville+nj&amp;t=m&amp;z=16&amp;iwloc=A"
                target="_blank">Click for a map</a></li>
        <li><label>Website: </label> <a
                href="http://alfonsostrattoria.com/" target="_blank">alfonsostrattoria.com</a>
        </li>
        <li><label>Phone: </label> 908.526.0616</li>
        <li><label>Quanity Available:</label> 10/10</li>
        <li><label>Experation Time:</label> 9/15/13 12:00 Pm</li>
        <li><label>Video :</label> <a
                href="http://video-embed.nj.com/services/player/bcpid1949044328001?bctid=1178923103001&amp;bckey=AQ~~,AAAAPLMIP6E~,BRrRHTAljlHRdo2SPuH4cYpjTxdIZDlA"
                target="_blank">Our Video</a></li>
    </ul>
</div>
<div class="widget redemption-widget">
    <h5 class="widgetheading">Redemption</h5>
    <p>In person Redemption only</p>
</div>