<% include ../../parts/head %>

<% include ../parts/bodyStart %>

<div id="spudmart-offer">
    <section id="content">
        <div class="container">
            <div class="row">
                Error!
            </div>
        </div>
    </section>
</div>

<% include ../../parts/foot %>

<% include ../../parts/scripts %>

    </body>
</html>