// Core variables and mixins
@import "../libs/spudder-bootstrap/spudder-bootstrap.less";

.create-venue-map{
  min-height: 100px;

  @media(min-width: @screen-tablet) {
    min-height: 200px;
  }

  @media(min-width: @screen-md){
    min-height: 300px;
  }
}

.view-venue-map{
  min-height: 100px;

  @media(min-width: @screen-tablet) {
    min-height: 250px;
  }

  @media(min-width: @screen-md){
    min-height: 350px;
  }
}

.school-logo{
  max-width: 300px;
}

.edit-mode{
  display: none;
}

.pin-pic{
  position: relative;
}

.how-to-nav {
  text-align: center;
  > li {
    // Actual tabs (as links)
    > a {
      color: @alert-info-text;
    }

    // Active state, and it's :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @alert-info-text;
        border-bottom-color: @alert-info-border;
        background-color: rgba(255,255,255,.7);
      }

      &:hover{
        color: @nav-tabs-google-link-hover-color;
      }
    }
  }
}

.how-to-contents{
  height:200px;
  padding:15px;
  overflow-y: scroll;

  @media(min-width: @screen-lg){
    height:300px;
  }
}

.jumbotron-img{
  max-height: 150px;
  max-width: 100%;

//  To center image in div, since horizontal-align:center isn't working
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;

  @media(min-width: @screen-sm){
    max-height: 200px;
  }

  @media(min-width: @screen-md){
    max-height: 310px;
  }

  @media(min-width: @screen-lg){
    max-height: 400px;
  }
}

.jumbotron{
  height: 400px
}

