{% extends 'spudderspuds/components/base_quote_message.html' %}

{% block alert_style %}display: block; margin-top: 20px;{% endblock %}

{% block content %}
    <h4>This club is not associated with any team!</h4>

{#    {% if request.can_edit %}#}
{#        <p>If you want to associate your club with a team, use the button below!</p>#}
{#        <p>A club can be associated with an unlimited number of teams.</p>#}
{#        <a class="btn   btn-primary" href="/club/associate/{{ profile.id }}" title="Associate with Team"#}
{#            style="margin: 20px auto 0; display: table;">#}
{#            <i class="fa fa-fw fa-group"> </i> Associate with Team#}
{#        </a>#}
{#    {% endif %}#}
{% endblock %}

{% block button_image_src %}/static/img/spudderclubs/button-clubs-small.png{% endblock %}