{% extends 'spudderfans/public_page_base.html' %}

{% load accounts %}
{% load CERN %}

{% block title %}
    {% fan_page_name page %}
{% endblock %}

{% block meta %}
	{{ block.super }}
	<meta property="og:title" content="{% fan_page_name page %} | Spudder - Sports Updates Made Simple">
	<meta property="og:description" content="Check out this super fan's page - {% fan_page_name page %} - See the great Sports Updates they have shared!">
	{% if page.avatar %} <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/file/serve/{{ page.avatar.id }}">
        {% else %}<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/img/spudderfans/button-fans-large.png">
	{% endif %}
{% endblock %}

{% block cover_image %}
    {% if page.cover_image %}
        <div id="cover-image-container" style="text-align:center;">
            <img src="/file/serve/{{ page.cover_image.id }}" class="jumbotron-img"/>
        </div>
    {% else %}
        <div class="fan-jumbotron-default"></div>
    {% endif %}

    {% if can_edit %}
        <div style="position:absolute; top:20px; right:20px;">
            <a class="btn btn-primary" href="/fan/{{ page.id }}/edit_cover">Edit Cover Image</a>
        </div>
    {% endif %}
{% endblock %}

{% block cover_title %}
    {% if page.avatar %}
        <img id="student-logo" src="/file/serve/{{ page.avatar.id }}" height="100px" style="margin-top:10px" />
    {% else %}
        <img id="student-logo" src="/static/img/spudderspuds/button-spuds-medium.png" style="margin-top:10px" />
    {% endif %}

    <span id="display-name">
        {% fan_page_name page %}
    </span>
    {% if can_edit %}
        <button class="btn btn-primary" id="edit">
            Edit Mode
        </button>
    {% endif %}
{% endblock %}

{% block main_page %}
    <div class="edit-mode well">
        <h2>Edit Your Information</h2>
        <form method="post" enctype="multipart/form-data" role="form">
            <div class="form-group edit-mode">
                <label>Upload a profile image (logo):</label>
                <input type="file" name="avatar" id="logo-input" class="form-control" />
            </div>

            <a class="btn btn-primary" id="save-logo">Save</a>
            <div class="alert" id="logo-name-alert" style="margin-top:10px"></div>
        </form>
    </div>

    <div style="min-height: 362px; margin: 0 auto; width: 100%; vertical-align: middle; text-align: center; padding:15px;">
        <div class="row-fluid" style="height:100%;">
            <div class="col-md-12 contents" style="height:100%;">
                <div class="alert"></div>
                <div class="content active" id="spuds">
                    <div style="padding-bottom: 30px">
                        <h4 style="margin-bottom: 0"><abbr title="Sports Updates">SPUDS</abbr> from this fan</h4>
                        <p class="help-block">Here are the SPUDS created by this fan!</p>
                    </div>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/static/img/spudderspuds/button-spuds-large.png" height="300px"/>
                                <div class="carousel-caption">
                                    <div class="alert alert-info">
                                        <h4>No SPUDS Yet</h4>
                                        <p>Stay tuned, there will soon be SPUDS for this fan!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/static/js/libs/jquery.serialize.file.js"></script>
<script type="text/javascript">
    window.isEditMode = false;
    window.twitterPopupText = "See the great Sports Updates that this fan has shared on their page!";
    if($('.jumbotron').height() > $('.jumbotron-img').height()) {% if page.cover_image %}$('.jumbotron').css('height', $('.jumbotron-img').height() + "px");{% endif %}

    $('.content').not('.active').hide();

    $(document).ready(function(){
        var editMode = $('.edit-mode'),
	        viewMode = $('.view-mode');

        $('#mailto').attr('href',
                          'mailto:?subject={% fan_page_name page %} on Spudder' +
                          "&body=Check out this super fan's page - {% fan_page_name page %} - See the great Sports Updates they have shared! " + url);

        $('.alert').each(function(i, alert) {
           var $alert = $(alert);
           if ($alert.html() == "")
               $alert.hide();
        });

        $('#edit').click(function(){
            if (window.isEditMode){
                editMode.hide();
                viewMode.show();
                $(this).html('Edit Mode');
                window.isEditMode = false;
            } else{
                viewMode.hide();
                editMode.show();
                $(this).html('Show Mode');
                window.isEditMode = true;
            }
        });

        $('#save-logo').click(function() {
            console.log('Save logo click...');
			var form = $(this).parents('form'),
				files = $(form).serializeFiles(),
                alert = $('#logo-name-alert');

            $.get('/upload/get_upload_url', function(data) {
                $.ajax({
                    url : data,
                    data : files,
                    cache : false,
                    contentType : false,
                    processData : false,
                    type : 'POST',
                    success : function(data) {
                        var parsed = JSON.parse(data),
                            response = $.post('/fan/{{ page.id }}/save_avatar', {
							    'avatar' : parsed['uploaded_files'][0]
                            });

                        response.done(function(data) {
                            if (parsed['uploaded_files'].length > 0){
                                showAlert(alert, 'Your new logo have been saved.', 'success', true);
                                $('#student-logo').attr('src', parsed['uploaded_files'][0]);
                            }
                        });
                    }
                });
            });
		});

        $('#nav-btn-wrapper').find('a').not('[title="School Page"]').click(function(){
            if(!$(this).hasClass('active')) {
                var currentTab = $(this).attr('openTab');

                $('.alert').not('.alert-info').hide();

                $('#nav-btn-wrapper').find('.active').removeClass('active');

                hide($('.contents > div.content'));

                $(this).addClass('active');

                show(currentTab);
            }
        });

        function show(element) {
			$('.contents > .active').removeClass('active');
			$(element).addClass('active');
			$(element).show();
		}

		function hide(elements) {
			$.each(elements, function() {
				$(this).hide();
			});
		}
    });
</script>
{% endblock %}

