{% extends 'base.html' %}

{% load displays %}

{% block sharing %}
<div class="span4">
    <div class="logo">
        <a href="/"><img src="/media/img/spudmart_logo.png" alt="" class="logo" /></a>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="spudmart-home">
        <!-- callaction -->
        <section class="callaction">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="big-cta">
                            <div class="cta-text">
                                <h3>
                                    <strong>Welcome to Spudmart!</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Slider -->
        <section id="featured">
            <div id="nivo-slider">
                <div class="nivo-slider">
                    <!-- Slide #1 image -->
                    <img src="/media/img/slides/nivo/bg-1.jpg" alt="" title="#caption-1" />
                    <!-- Slide #2 image -->
                    <img src="/media/img/slides/nivo/bg-2.jpg" alt="" title="#caption-2" />
                    <!-- Slide #3 image -->
                    <img src="/media/img/slides/nivo/bg-3.jpg" alt="" title="#caption-3" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <!-- Slide #1 caption -->
                            <div class="nivo-caption" id="caption-1">
                                <div>
                                    <h2>Awesome <strong>features</strong></h2>
                                    <p>
                                        Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                                    </p>
                                    <a href="#" class="btn btn-theme">Read More</a>
                                </div>
                            </div>
                            <!-- Slide #2 caption -->
                            <div class="nivo-caption" id="caption-2">
                                <div>
                                    <h2>Fully <strong>responsive</strong></h2>
                                    <p>
                                        Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                                    </p>
                                    <a href="#" class="btn btn-theme">Read More</a>
                                </div>
                            </div>
                            <!-- Slide #3 caption -->
                            <div class="nivo-caption" id="caption-3">
                                <div>
                                    <h2>Very <strong>customizable</strong></h2>
                                    <p>
                                        Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                                    </p>
                                    <a href="#" class="btn btn-theme">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content -->
        <section id="content">
            <div class="container">
                <div class="row-fluid nomargin">
                    <div class="span12">
                        {% display_sports 'sports' %}
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h4>Search for products:</h4>

                        <form class="form-search">
                            <input type="text" class="input-large search-query" placeholder="Product name...">
                            <button class="btn btn-hover-orange btn-small" onclick="return false;">
                                Search
                                <i class="icon-search icon-on-right bigger-110"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
