{% extends 'spudderspuds/clubs/base.html' %}

{% load bootstrap3 %}

{% block title %}Club Dashboard{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'Club Dashboard');
{% endblock %}

{% block messages %}{# blank out the header messages #}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="javascript" src="/static/js/libs/jquery.form.min.js"></script>
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            $('.btn-ajax').livequery(function(){
                var $btn = $(this);
                var $target = $($btn.data('target'));
                if ($btn.is('button[type=submit]')){
                    $btn.parents('form:first').ajaxForm({
                        beforeSerialize: function ($form, options) {
                            var $btn = $form.find('.btn-ajax');
                            $btn.attr('disabled', 'disabled');
                            $btn.html('<i class="fa fa-spin fa-spinner"></i> ' + $btn.html());
                        },
                        error: function (event, type, message, $form) {
                            alert('Sorry, there was an error processing your upload, please try again or contact support@spudder.com if the problem continues.')
                        },
                        success: function (response_text, status_text, xhr, $form) {
                            var $btn = $form.find('.btn-ajax');
                            var $target = $($btn.data('target'));
                            $target.html(response_text);
                            fix_footer_position();
                            if ($(window).scrollTop() > 20)
                                $(window).scrollTop($target.offset().top - 100);
                        }
                    })
                }
                else {
                    $btn.unbind('click').on('click', function(e){
                        e.preventDefault();
                        e.stopPropagation();
                        var $btn = $(this);
                        var $target = $($btn.data('target'));
                        $btn.attr('disabled', 'disabled');
                        $btn.html('<i class="fa fa-spin fa-spinner"></i> ' + $btn.html());
                        $target.load($btn.attr('href'), function(){
                            fix_footer_position();
                            if ($(window).scrollTop() > 20)
                                $(window).scrollTop($target.offset().top - 60);
                        });
                    });

                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="dashboard-page">
        <div class="submenu-header">
            <div class="container-fluid text-left">
                <h4>
                    <button class="btn btn-primary navbar-toggle" style="margin-top: -6px" type="button" data-toggle="collapse" data-target=".dashboard-page .navbar-collapse"><i class="fa fa-angle-down"></i></button>
                    <a href="/club/dashboard">{{ club_entity.name }}</a> {% block dashboard_breadcrumbs %}<i class="fa fa-angle-right"></i> Dashboard{% endblock %}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 collapse navbar-collapse">
                <div class="submenu-menu">
                    {% block dashboard_menu %}
                        {% include 'spudderspuds/clubs/components/dashboard_nav.html' with active="dashboard" %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-9 submenu-page">
                <div class="container-fluid">
                    {% block dashboard_messages %}{% bootstrap_messages %}{% endblock %}
                    {% block dashboard_page %}

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-money"></i> Payment Services Status</h3>
                                    </div>
                                    <div class="panel-body">

                                        <div class="alert">
                                            <div class="media">
                                                <i class="media-object pull-left fa fa-check fa-2x text-success"></i>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Payments are active</h4>
                                                    <span>You team is fully registered and able to accept donations from fans.</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="media">
                                            <img class="media-object pull-left" src="/static/img/spudderspuds/stripe-logo.png"  style="width:25%" />
                                            <div class="media-body">
                                                <h4 class="media-heading">Stripe payment service</h4>
                                                <p>
                                                    <span class="label label-success">
                                                        <i class="fa fa-check"></i> Active and working
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}