{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}


{% block well_content %}
    <div class="page-header">
        <h2>
            <img src="/static/img/spudderspuds/button-spuds-small.png" />
            Sign in to your account
        </h2>
    </div>
    <form method="post" role="form">
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Signin
                </button>
                <span class="pull-right" style="line-height: 30px;">
                    Don't have an account? Register <a href="/spuds/register">here</a>.
                </span>
            {% endbuttons %}
        </fieldset>
    </form>
    <hr/>
    <p>Forgotten password? <a href="/users/account/forgot">Restore <i class="fa fa-arrow-right"></i> </a></p>
{% endblock %}