<%- modalTop('announcements-modal', false) %>

<div class="widget-body">
	<div class="widget-main">
		<form id="add-announcement">
			<div class="row-fluid">
				<div class="span12">
					<p>
						Announcement SPUDS can only be created by Team, League or Tournament Admins. <br />
						If you are Trying to Create an Announcement as a TEAM, LEAGUE OR TOURNAMENT please go to the Appropriate TAB. 
					</p>
				</div>
			</div>
		</form>
	</div>
</div>

<% include modalBottom %>