<%- modalTop('tag-modal-tournament', '<i class="icon-site-map"></i><span class="title">Select the Tournament from Your Favorites or Add New</span>') %>

<div class="widget-body">
	<div class="widget-main">
		<div class="row-fluid">
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						<label for="add-image-comment">Favorites:</label>
						<select name="favorites" id="favorites">
							<option>-- select --</option>
						</select>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						<label for="new">Add New:</label>
						<input name="new" id="new" type="text" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include modalBottom %>