{% extends 'spuddercern/old/base_single_well.html' %}

{% load accounts %}
{% load CERN %}

{% block title %}CERN Register for : {{ school.name }} - CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Register - Login With Amazon');
{% endblock %}

{% block well_content %}
		<h4 class="aligncenter">
            Join CERN Team for: <br/>
            <b>{{ school.name }}</b>
        </h4>
        <p>Use the button below to login using your amazon account and join this CERN team.</p>

        {% if referrer %}
            <p>You were referred by:</p>
            <p><label>
                {% user_name referrer.user %},
                {% if referrer.isHead %}
                Team Captain for
                {% else %}
                on the team for
                {% endif %}
                {{ referrer.school.name }}
                </label></p>
        {% endif %}

        {% if request.user.is_authenticated %}

            {% if request.user|is_student %}
                <div class="alert alert-danger">
                    <p>Uhoh! You've already joined a CERN team - you can only be on one team!</p>
                    <p>Go back to your <a href="/cern/">dashboard</a></p>
                </div>
            {% else %}
                <p><a href="/cern/join_school/{{ school.id }}/{{ referrer.id }}" class="btn btn-orange aligncenter">Join team with Existing Account</a></p>
            {% endif %}

        {% else %}

            <div class="alert alert-info">
                <h4><i class="fa fa-question"></i> Why Amazon</h4>
                <p>CERN aims to get you <b>paid</b>!</p>
                <p>For this to happen, you need to have an amazon account.</p>
                <p><small>Don't have an Amazon account? You can create one when you click the "Login with Amazon" button</small></p>
            </div>

            {% if running_locally %}

                <div class="alert alert-danger">
                    <h4><i class="fa fa-warning"></i> Running locally</h4>
                    <p>You are currently running a local copy of this application (as in, it is not running from appengine.</p>
                    <p>The following signin control will allow you to access pages that normally require amazon login.</p>
                    <p>
                        When you click the signin button, the user (Username: test@test.com, Password: test) will be
                        created (if this is the first time you have done this locally) and you will be logged in as this
                        user. Note that any advanced Amazon features will not work!
                    </p>
                </div>

                <a class="btn btn-orange btn-large" href="/accounts/login_fake?school_id={{ school.id }}&next=/cern/{{ school.state }}/{{ school.id }}/{% strip_school_name school %}/">
                    <i class="fa fa-sign-in"></i> Login with fake account
                </a>

            {% else %}

                <div class="accounts-form-body">
                    <form class="form-horizontal" action="/accounts/login" id="registration-form" method="POST">
                        {% if error %}
                        <div class="alert alert-error"><%= error %></div>
                        {% endif %}

                        <input type="checkbox" class="checkbox-visible" id="accepted-terms-and-conditions"><label class="checkbox-label">I have accepted the <a href="/terms">terms and conditions</a>.</label>

                        <div class="control-group">
                            <p class="aligncenter">
                                <a href="#" id="LoginWithAmazon">
                                    <img border="0" alt="Login with Amazon"
                                         src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                                         width="156" height="32" />
                                </a>
                            </p>
                        </div>
                    </form>
                </div>

            {% endif %}

        {% endif %}
        <p>Not your team? Click <a href="/cern/register/{{ referrer.id }}">here</a>.</p>
      </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" language="javascript">

        var loginWithAmazon = document.getElementById('LoginWithAmazon'),
            returnUrl = '{{ request.META_HEADER.HTTP_HOST }}/accounts/login/amazon';

        returnUrl += '?school_id={{ school.id }}&next=/cern/{{ school.state }}/{{ school.id }}/{% strip_school_name school %}/';
        {% if referrer %}
            returnUrl += '&referrer=' + {{ referrer.id }};
        {% endif %}


        if (loginWithAmazon) {
            loginWithAmazon.onclick = function() {
                if ($('#accepted-terms-and-conditions').prop('checked')){
                    options = { scope : 'profile' };
                    amazon.Login.authorize(options, returnUrl);
                    return false;
                } else{
                    alert('You must accept the terms and conditions to register!');
                }
            };
        }
    </script>
{% endblock %}