{% extends 'profile_base.html' %}

{% block scripts %}
	<script src="/media/profile/js/tab-control.js"></script>
{% endblock %}

{% block site_path %}
<ul class="breadcrumb">
	<li class="active">
		<i class="icon-home home-icon"></i>
		<a href="#">SPUDS</a>
	</li>

</ul><!--.breadcrumb-->
{% endblock %}

{% block left_side_nav %}
	{% include 'fan/parts/left_side_nav.html' %}
{% endblock %}

{% block content %}
<div id="spuds" class="">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active">
						<a href="#all" data-toggle="tab">
							All
						</a>
					</li>
	
					<li>
						<a href="#messages" data-toggle="tab">
							Messages
						</a>
					</li>
	
					<li>
						<a href="#images" data-toggle="tab">
							Images
						</a>
					</li>
					
					<li>
						<a href="#videos" data-toggle="tab">
							Videos
						</a>
					</li>
					
					<li>
						<a href="#updates" data-toggle="tab">
							Updates
						</a>
					</li>
				</ul>
	
				<div class="tab-content">
					<div class="tab-pane in active" id="all">
						<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
					</div>
	
					<div class="tab-pane" id="messages">
						<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
					</div>
	
					<div class="tab-pane" id="images">
						<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
					</div>
	
					<div class="tab-pane" id="videos">
						<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
					</div>
					
					<div class="tab-pane" id="updates">
						<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}