{% load accounts %}
{% load system_messages %}

<!DOCTYPE html>
<html>
<head>
	{% include 'parts/meta.html' %}
	{% block meta %}
        <title>Spudmart | Spudder - Sports Updates Made Simple</title>
    {% endblock %}
</head>

<script type="text/javascript">
  var url = 'http://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}'

  function sendRequest(){
      var request = gapi.client.urlshortener.url.insert({
          'resource': {'longUrl':url,},
      })
      request.execute(function(response){
          this.url = response.id;
      })
  }

  function load() {
    gapi.client.setApiKey('AIzaSyDDSFnHOspc8Xx-RKMS6qiVASBMk-4ehRk');
    gapi.client.load('urlshortener', 'v1', sendRequest);
  }

  function newPopup(url){
      window.open(url, 'popup', 'height=500, width=500, left=100, top-10, scrollbars=yes,toolbar=no,menubar=no');
  }

  function facebookPopup(){
	  newPopup('http://www.facebook.com/sharer/sharer.php?u=' + url);
  }

  function linkedinPopup(){
	  newPopup('http://www.linkedin.com/shareArticle?mini=true&url=' + url);
  }

  function twitterPopup(){
      newPopup('http://twitter.com/intent/tweet?text=Check%20out%20this%20page%20' + url);
  }

  function googlePopup(){
      newPopup('https://plus.google.com/share?url=' + url);
  }
</script>
<script src="https://apis.google.com/js/client.js?onload=load"></script>

<body>
    {% display_messages_for_user request.user %}
    {% include 'accounts/common/amazon-root.html' %}
    <div id="wrapper">
        <header>
            <div class="container">
                <div class="row nomargin">
                    <div class="span8 social-network">
                        <p>Share:
                            <a href="JavaScript:facebookPopup()"><i class="icon-facebook icon-square icon-32"></i></a>
                            <a href="javascript:twitterPopup()"><i class="icon-twitter icon-square icon-32"></i></a>
                            <a href="javascript:googlePopup()"><i class="icon-google-plus icon-square icon-32"></i></a>
                            <a href="mailto:?subject=Check out this Spudder page!&body=Check out this cool page I saw on Spudder: {{ request.META.HTTP_HOST }}{{ request.get_full_path }}"><i class="icon-envelope icon-square icon-32"></i></a>
                        </p>
                    </div>
                    <div class="headnav span4">
                        <ul>
                            {% if request.user.is_authenticated %}
                            <li><a href="/dashboard"><i class="icon-user"></i>{% user_name user %}</a></li>
                            <li><a href="/accounts/logout" id="logout-button">Sign out</a></li>
                            {%  else  %}
                            <li><a href="/accounts/login">Sign in</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="hidden-top span8 download-buttons-wrapper">
                        <div class="row-fluid" id="download-buttons">
                            <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="App Store" style="color:black">
                                <img src="/media/img/app_store_logo.png" />
                                Our iOS Apps
                            </a>
                            <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="Google Play" style="color:black">
                                <img src="/media/img/google_play_logo.png" class="pull-left"/>
                                Our Android Apps
                            </a>
                            <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large amazon" title="Amazon App" style="color:black">
                                <img src="/media/img/amazon_apps_logo.png" />
                            </a>
                            <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="Flag" style="color:black">
                                <span class="icon-flag icon-circled icon-64 active pull-left" style="margin-left: 0"></span>
                                Flag content
                            </a>
                        </div>
                    </div>

                    <div id="header-hidden-link">
                        <a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
                    </div>
                    <div id="header-logo">
                        <a href="/"><img src="/media/ico/favicon.png"></a>
                    </div>
                </div>
            </div>

            {% include 'parts/modals.html' %}

        </header>

        {% block content %}{% endblock content %}

		<div class="push"> </div> <!-- sticky footer part -->

    </div>
    {% include 'parts/footer.html' %}

    {% include 'parts/scripts.html' %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>