<!DOCTYPE html>
<html>
<head>
	{% include 'parts/meta.html' %}
	{% block meta %}{% endblock %}
</head>

<body>
    {% include 'accounts/common/amazon-root.html' %}
    <div id="wrapper">
        <header>
            <div class="container">
                <div class="row nomargin">
                    <div class="span12">
                        <div class="row">
                            <div class="headnav span4">
                                <ul>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="/dashboard"><i class="icon-user"></i>{{ user.username }}</a></li>
                                    <li><a href="/accounts/logout" id="logout-button">Sign out</a></li>
                                    {%  else  %}
                                    <li><a href="/accounts/login">Sign in</a></li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="hidden-top span8 download-buttons-wrapper">
                                <div class="row-fluid" id="download-buttons">
                                    <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="App Store" style="color:black">
                                        <img src="/media/img/app_store_logo.png" />
                                        Our iOS Apps                                        
                                    </a>
                                    <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="Google Play" style="color:black">
                                        <img src="/media/img/google_play_logo.png" class="pull-left"/>
                                        Our Android Apps
                                    </a>
                                    <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large amazon" title="Amazon App" style="color:black">
                                        <img src="/media/img/amazon_apps_logo.png" />
                                    </a>
                                    <a href="http://www.spudder.com/mobile" class="span3 btn btn-primary btn-large" title="Flag" style="color:black">
                                        <span class="icon-flag icon-circled icon-64 active pull-left" style="margin-left: 0"></span>
                                        Flag content
                                    </a>
                                </div>
                            </div>

                            <div id="header-hidden-link">
                                <a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
                            </div>
                            <div id="header-logo">
                                <a href="/"><img src="/media/ico/favicon.png"></a>
                            </div>
                        </div>
                    </div>

                    <!-- logo and social -->
                    <div class="row">
                        {% block logo %}{% endblock%}
                        <div class="span8">
                            <div class="social-links pull-right">
                                <table>
                                    <tr>
                                        <td class="twitter-cell">
{#                                            <%- twitterShareButton('Checkout this great entity!') %>#}
                                        </td>
                                        <td class="google-plus-cell">
{#                                            <%- googlePlusShareButton() %>#}
                                        </td>
                                        <td class="facebook-cell">
{#                                            <%- facebookShareButton() %>#}
                                        </td>
                                        <td class="email-cell">
{#                                            <%- emailShareButton(meta.url) %>#}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end of logo and social -->
                </div>
            </div>

            {% include 'parts/modals.html' %}

        </header>

        {% block content %}{% endblock content %}

		<div class="push"> </div> <!-- sticky footer part -->

    </div>
    {% include 'parts/footer.html' %}

    {% include 'parts/scripts.html' %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>