{% extends 'dashboard_base.html' %}

{% block content %}
    <div class="page-header">
        <h1>
            Dashboard <small><i class="icon-double-angle-right"></i> registration complete</small>
        </h1>
    </div>

    <div class="content">
        <p>Thank you for your patience! Your team is now registered registered with Amazon and can received donnations from sponsors. </p>
        <a class="btn btn-success" href="{{ spudder_url }}">Make team offers on Spudder</a>
    </div>
{% endblock content %}