{% extends 'spudderadmin/base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <h3><img src="/static/img/spuddercern/button-cern-small.png" /> Manage CERN</h3>
                </div>
                <div class="list-group" style="margin-top: 20px;">
                    {% block cern_nav %}{% endblock %}
                </div>
            </div>
            <div class="col-sm-9">
                {% block cern_body %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}