{% extends 'spudderadmin/pages/cern/_cern_base.html' %}

{% load accounts %}
{% load CERN %}

{% block cern_nav %}
    {% include 'spudderadmin/pages/cern/sidenav.html' %}
{% endblock %}

{% block cern_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h4>Compose Email to: <a href="/cern/student/{{ student.id }}">{% user_name student.user %} ({% student_email student %})</a></h4>
            </div>
            <div class="panel-body well">
                <div class="visible-xs">
                    <p>Top Student Project: {{ student.top_project_verbose }}</p>
                </div>
                <div class="hidden-xs">
                    <p><b>Quick Details</b></p>
                    <p>
                        <b>Marketing Points:</b> {{ student.marketing_points }} <br/>
                        <b>Social Media Points:</b> {{ student.social_media_points }} <br/>
                        <b>QA Testing Points:</b> {{ student.testing_points }}
                    </p>
                </div>
                <form role="form">
                    <div class="form-group">
                        <label>Email Subject:</label>
                        <input type="text" id="subject" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email Content:</label>
                        <textarea id="body" class="form-control"></textarea>
                    </div>
                    <a class="btn btn-primary" id="send"><i class="fa fa-fw fa-send-o"></i> Send Email</a>
                </form>
                <div class="alert" style="display:none; margin-top: 15px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $('#send').click(function(){
        var subj = $('#subject').val(),
            body = $('#body').val(),
            icon = $('.fa-send-o');

        if (subj == "" || body == "")alert('You must supply a subject and content to the email.');
        else{
            icon.removeClass('fa-send-o').addClass('fa-spin fa-spinner');

            var response = $.post('/spudderadmin/send_email', {
                                to: '{% student_email student %}',
                                subject: subj,
                                body: body
                            });

            response.done(function(){
                icon.removeClass('fa-spin fa-spinner').addClass('fa-send-o');
                showAlert($('.alert'), 'Email has been sent!', 'success', true);
            })
        }
    });
</script>
{% endblock %}