<a class="list-group-item {% if active == "dashboard" %}active{% endif %}" href="/spudderadmin/cern/">
   <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard
</a>
<a class="list-group-item {% if active == "students" %}active{% endif %}" href="/spudderadmin/cern/students">
   <i class="fa fa-fw fa-users"></i> Students
</a>
<a class="list-group-item {% if active == "qa_job_board" %}active{% endif %}" href="/spudderadmin/cern/qa_job_board">
    <i class="fa fa-fw fa-tasks"></i> Job Board (QA)
</a>
<a class="list-group-item {% if active == "schools" %}active{% endif %}" href="/spudderadmin/cern/schools">
    <i class="fa fa-fw fa-university"></i> Schools
</a>