<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/media/dashboard/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>

<!--<![endif]-->

<!--[if IE]>
			<script type="text/javascript">
				window.jQuery || document.write("<script src='/media/dashboard/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
			</script>
		<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='/media/dashboard/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/media/dashboard/js/bootstrap.min.js"></script>

<!--page specific plugin scripts-->

<!--ace scripts-->

<script src="/media/dashboard/js/ace-elements.min.js"></script>
<script src="/media/dashboard/js/ace.min.js"></script>
<script type="text/javascript" src="/media/js/alerts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var currentPath = document.location.pathname;
        var linkElementForCurrentPath = $('.nav-list a[href="' + currentPath + '"]');
        var listElementForCurrentPath = linkElementForCurrentPath.parent('li');
        var submenu = linkElementForCurrentPath.parent().parent('.submenu');

        listElementForCurrentPath.addClass('active');
        if (submenu.length > 0) {
            submenu.parent('li').addClass('open');
            submenu.css('display', 'block');
        }

        $('.ace-nav > li.black').hover(function () {
            $(this).find('.badge').addClass('hover');
        }, function () {
            $(this).find('.badge').removeClass('hover');
        });

        $('#sidebar-shortcuts-large button').tooltip({
            hide: {
                effect: "explode",
                delay: 2500
            },
            show: {
                effect: "slideDown",
                delay: 2500
            }
        });

        $('#top-right-icons li.black').tooltip({
            hide: {
                effect: "explode",
                delay: 2500
            },
            show: {
                effect: "slideDown",
                delay: 2500
            },
            placement: 'bottom'
        });
    });
</script>