{% extends 'spuddercern/base_single_well.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Login - Non Student');
{% endblock %}

{% block well_content %}
    <h2 class="aligncenter">Oops!</h2>
    <p>Your current role is not a CERN Student.</p>
    <p>If you have a CERN Student role, use the <b>My Roles</b> Menu to switch to a Student role, and then access this page.</p>
    <p>If you do not have a CERN Student role, you'll have to register before seeing this page. To learn more about CERN, click <a href="/cern/">here</a>.</p>
{% endblock %}