{% extends 'spuddercern/base_single_well.html' %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN RECIPIENT - Register');
{% endblock %}

{% block well_content %}
    <h2 class="text-center">Register as a <strong>Recipient!</strong></h2>
        {% with info_message_id="venues_can_edit" %}
            {% include 'spuddercern/quote_messages/quote_make_amazon_payments.html' %}
        {% endwith %}
    <p class="text-center"><a href="{{ cbui_url }}" class="btn btn-primary">Register</a></p>
{% endblock %}
