{% extends 'spuddercern/public_page_base.html' %}
{% load accounts %}
{% load CERN %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Team Page');
{% endblock %}

{% block title %}{{ school.name }} on CERN{% endblock %}

{% block page_meta %}
    <meta property="og:title" content="{{ school.name }} | Spudder - Sports Updates Made Simple">
    <meta property="og:description" content="Check out the newest team from {{ school.name }}! They are making it better for YOUR local sports team!">
    {% if school.logo %} <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/file/serve/{{ school.logo.id }}">
        {% else %}<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/img/spuddercern/button-cern-large.png">
    {% endif %}
{% endblock %}

{% block favicon %}"/static/img/spuddercern/button-cern-tiny.png"{% endblock %}

{% block flag-page-class %}{% endblock %}
{% block flag-modal %}
{% include 'spuddercern/flag-modals/school-flag-modal.html' %}
{% endblock %}

{% block cover_image %}
    {% if school.cover_image %}
        <div id="cover-image-container" style="text-align:center;">
            <img src="/file/serve/{{ school.cover_image.id }}" class="jumbotron-img"/>
        </div>
    {% else %}
        {% if school.full_address %}
            <div id="jumbo-map-container" style="height:100%"></div>
        {% else %}
            <div class="cern-jumbotron-default"></div>
        {% endif %}
    {% endif %}
    {% if request.can_edit %}
    <div style="position:absolute; top:20px; right:20px;">
        <a class="btn btn-primary hidden-xs" href="/cern/{{ school.id }}/edit_cover_image">Edit Cover Image</a>
    </div>
    {% endif %}
{% endblock %}
{% block cover_title %}
    {% if school.logo %}
        <img id="school-logo" src="/file/serve/{{ school.logo.id }}" class="logo"/>
    {% else %}
        <img id="school-logo" src="/static/img/spuddercern/button-cern-medium.png" class="logo"/>
    {% endif %}
    {{ school.name }}
{% endblock %}

{% block main_page %}
    <div class="edit-mode well">
        <h2>Edit School Information</h2>
        <form method="post" enctype="multipart/form-data" role="form">
            <div class="form-group edit-mode">
                <label>Upload a profile image (logo):</label>
                <input type="file" name="logo" id="logo-input" class="form-control" />
            </div>

            <div class="form-group">
                <label>School Mascot:</label>
                <input type="text" name="mascot" value="{% if school.mascot %}{{ school.mascot }}{% endif %}" placeholder="Students" id="mascot-input"  class="form-control"/>
            </div>

            <div class="form-group">
                <label>CERN Team Description:</label>
                <p class="help-block">Remember, visitors to your CERN Team page will see this description!</p>
                <textarea id="description-input" name="description" placeholder="Enter something that you would like other to know about your CERN Team" class="form-control">{{ school.description }}</textarea>
            </div>

            <a class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</a>
        </form>
        <div class="alert" id="logo-name-alert" style="margin-top:10px"></div>
    </div>

    <div id="school-body">
        <div class="quotes">
            {% if request.can_edit %}
                {% with info_message_id="cern_team_welcome_head" %}
                    {% if info_message_id not in student.hidden_info_messages %}
                        {% include 'spuddercern/quote_messages/quote_cern_team_welcome_head.html' %}
                    {% endif %}
                {% endwith %}
            {% endif %}

            {% if user_is_team_member %}
                {% with info_message_id="cern_team_welcome_member" %}
                    {% if info_message_id not in student.hidden_info_messages %}
                        {% include 'spuddercern/quote_messages/quote_cern_team_welcome_member.html' %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>

        <div class="school-description">
            <div class="view-mode">
                <div class="row-fluid {% if not school.description %}hidden{% endif %}">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p class="school-description-p">{{ school.description|linebreaksbr }}</p>
                    </div>
                </div>
                {% if not school.description %}
                    {% if request.can_edit %}
                        {% include 'spuddercern/quote_messages/quote_no_team_description_head.html' %}
                    {% else %}
                        {% include 'spuddercern/quote_messages/quote_no_team_description.html' %}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="school-stats">
            <ul class="list-unstyled" id="school-details" style="padding-top:30px">
                <li  class="view-mode clearfix">
                    <label>Team Size: </label> {{ school.num_students }} registered
                    <span id="mascot">
                        {{ school.mascot|default:"students" }}
                    </span>
                </li>

                <li>
                    <label>School Reputation: </label> {{ school.get_rep }} points, Level {{ school.level }}
                </li>

                <li>
                    <label>Team Captain: </label>
                        {% if head %}
                            {% user_name head.user %}
                        {% else %}
                            Register now to be Team Captain!
                        {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if top_students %}
        <div id="school-student-points">
            {% if not request.user.is_authenticated %}
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% include 'spuddercern/quote_messages/quote_join_this_team.html' %}
                    </div>
                </div>
            {% endif %}
            <div class="row-fluid">
                <div class="col-sm-10 col-sm-offset-1 top-students">
                    <h4 class="aligncenter">Top students at {{ school.name }}:</h4>
                    <ol>
                        {% for student in top_students %}
                        <li><a href="/cern/student/{{ student.id }}">{% user_name student.user %}: {{ student.rep }} total points</a> - Top project: {{ student.top_project_verbose }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% if remaining_students %}
                <div class="row-fluid">
                    <div class="col-sm-10 col-sm-offset-1 remaining-students">
                        <h4>More students at {{ school.name }}:</h4>
                            {% for student in remaining_students %}
                            <p><a href="/cern/student/{{ student.id }}">{% user_name student.user %}: {{ student.rep }} total points</a> - Top project: {{ student.top_project_verbose }}</p>
                            {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry"></script>
<script type="text/javascript" src="/static/js/libs/google.map.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.serialize.file.js"></script>
<script type="text/javascript">
    {% if head %}window.ownerId = {{ head.user.id }}{% endif %}
    window.isEditMode = false;
    window.twitterPopupText = 'Check out the latest CERN team at {{ school.name }} on Spudder.com - click here:';

    {% if school.cover_image %}
{#        if($('.jumbotron').height() > $('.jumbotron-img').height()) $('.jumbotron').css('height', $('.jumbotron-img').height() + "px");#}
    {% endif %}

    $(document).ready(function(){
        $('#mailto').attr('href',
                          'mailto:?subject={{ school.name }} on CERN' +
                          "&body=Check out the newest team from {{ school.name }}! They are making it better for YOUR local sports team! " + url);

        if ($('#jumbo-map-container').is(':visible')) {
            initWithAddr('{{ school.full_address }}, {{ school.verbose_state }}')
        }

        $('.alert').each(function(i, alert) {
           var $alert = $(alert);
           if ($alert.html() == "")
               $alert.hide();
        });

        $('#save').click(function() {
			var form = $(this).parents('form'),
				files = $(form).serializeFiles(),
				mascot = $('#mascot-input').val(),
				description = $('#description-input').val(),
                alert = $('#logo-name-alert'),
                ico = $('.fa-save');

            ico.removeClass('fa-save').addClass('fa-spinner fa-spin');


            $.get('/upload/get_upload_url', function(data) {
                $.ajax({
                    url : data,
                    data : files,
                    cache : false,
                    contentType : false,
                    processData : false,
                    type : 'POST',
                    success : function(data) {
                        var parsed = JSON.parse(data);
                        var response = $.post('/cern/{{ school.id }}/save', {
							'logo' : parsed['uploaded_files'],
                            'mascot': mascot,
                            'description': description
                        });

                        response.done(function(data) {
                            if (parsed['uploaded_files'].length > 0){
                                ico.removeClass('fa-spinner fa-spin').addClass('fa-save');
                                showAlert(alert, 'School details have been saved (new logo uploaded).', 'success', true);
                                $('#school-logo').attr('src', parsed['uploaded_files'][0]);
                                $('#mascot').html(mascot);
                                $('.school-description-p').html(description);
                            } else {
                                ico.removeClass('fa-spinner fa-spin').addClass('fa-save');
                                showAlert(alert, 'School details have been saved.', 'success', true);
                                $('.school-description-p').html(description);
                                $('#mascot').html(mascot);
                            }
                        });
                    }
                });
            });
		});
    });
</script>
{% endblock %}
