{% extends 'spuddercern/base.html' %}
{% load accounts %}
{% load CERN %}

{% block title %}{{ school.name }} on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Team Page');
{% endblock %}

{% block nav %}
    {% include 'spuddercern/parts/cern_dropdown_menu.html' %}
{% endblock %}

{% block body %}

    <div class="container" id="venue-view">
        <div class="school-header">
            <div class="row-fluid">
                <div class="col-sm-10">
                    <h1><i class="fa fa-users"></i> {{ school.name }} CERN Team</h1>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-7">
                <div id="school-body">
                    <div class="view-control">
                        {% if user_is_head or running_locally %}
                            {% with info_message_id="cern_team_welcome_head" %}
                                {% if info_message_id not in student.hidden_info_messages %}
                                    {% include 'spuddercern/quote_messages/quote_cern_team_welcome_head.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}

                        {% if user_is_team_member or running_locally %}
                            {% with info_message_id="cern_team_welcome_member" %}
                                {% if info_message_id not in student.hidden_info_messages %}
                                    {% include 'spuddercern/quote_messages/quote_cern_team_welcome_member.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}

                        {% if not request.user.is_authenticated %}
                            {% include 'spuddercern/quote_messages/quote_join_this_team.html' %}
                        {% endif %}
                    </div>

                    <div class="school-description">
                        <div class="view-control">
                            {% if school.description %}
                                <div class="row-fluid">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <p class="school-description-p">{{ school.description|linebreaksbr }}</p>
                                        {% if user_is_head or running_locally%}
                                            <button class="btn btn-primary btn-small" type="submit">
                                                <i class="fa fa-cog"></i> Edit cern team description
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                {% if user_is_head or running_locally %}
                                    {% include 'spuddercern/quote_messages/quote_no_team_description_head.html' %}
                                {% else %}
                                    {% include 'spuddercern/quote_messages/quote_no_team_description.html' %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="edit-control">
                            <form method="POST" id="description-form" enctype="multipart/form-data" role="form">
                                <div class="form-group">
                                    <label for="school-form-description">CERN Team Description:</label>
                                    <textarea id="school-form-description" name="description" class="input-block-level" placeholder="Enter something that you would like other to know about your CERN Team">{{ school.description }}</textarea>
                                    <p class="help-block">Remember, visitors to your CERN Team page will see this description!</p>
                                </div>
                                <button class="btn btn-primary btn-small" type="submit">
                                    <i class="fa fa-save"></i> Save cern team description
                                </button>
                        </div>
                    </div>

                </div>

                {% if top_students %}
                    <div id="school-student-points">
                        <div class="row-fluid">
                            <div class="col-sm-10 col-sm-offset-1 top-students">
                                <h4 class="aligncenter">Top students at {{ school.name }}:</h4>
                                <ol>
                                    {% for student in top_students %}
                                    <li>{% user_name student.user %}: {{ student.rep }} total points - Top project: {{ student.top_project_verbose }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        {% if remaining_students %}
                            <div class="row-fluid">
                                <div class="col-sm-10 col-sm-offset-1 remaining-students">
                                    <h4>More students at {{ school.name }}:</h4>
                                        {% for student in remaining_students %}
                                        <p>{% user_name student.user %}: {{ student.rep }} total points - Top project: {{ student.top_project_verbose }}</p>
                                        {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-5">
                <div id="school-sidebar">
                    <hr class="hidden-desktop"/>

                    <div id="school-logo-container">
                        <div class="clearfix">
                            {% if school.logo %}
                                <img src="/file/serve/{{ school.logo.id }}" class="school-logo"/>
                            {% else %}
                                <img src="/static/img/spuddercern/button-cern-large.png" />
                            {% endif %}
                            {% if user_is_head or running_locally %}
                                <button type="submit" class="btn btn-primary btn-small pull-right view-control">
                                    <i class="fa fa-cog"></i> Change Team Logo
                                </button>
                            {% endif %}
                        </div>
                        <div class="edit-control">
                            <div class="row-fluid">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <form method="POST" enctype="multipart/form-data" role="form">
                                        <div class="form-group" id="logo-form">
                                            <label>Upload a new Logo</label>
                                            <input type="file" name="file-0" id="logo-input"/>
                                            <p class="help-block">Don't use your school's logo or anything else that has a trademark. Create something new instead!</p>
                                        </div>
                                        <a class="btn btn-primary btn-small" id="logo-button">
                                            <i class="fa fa-save"></i> Save new logo
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <ul class="unstyled" id="school-details">
                        <li  class="view-control clearfix">
                            <label>Team Size: </label> {{ school.num_students }} registered
                            <span id="mascot">
                                {{ school.mascot|default:"students" }}
                                {% if user_is_head or running_locally %}
                                    <button class="btn btn-primary btn-mini pull-right" type="submit">
                                        <i class="fa fa-cog"></i> Edit
                                    </button>
                                {% endif %}
                            </span>
                        </li>

                        <li class="edit-control">
                            <form method="POST" id="mascot-form" enctype="multipart/form-data" role="form">
                                <div class="form-group">
                                    <label>Students are called:</label>
                                    <input type="text" name="mascot" value="{{ school.mascot|default_if_none:"students"  }}" placeholder="students" class="input-small" />
                                </div>
                                <button class="btn btn-primary btn-mini" type="submit" style="position: relative;top: -5px;">
                                    <i class="fa fa-save"></i> save mascot name
                                </button>
                            </form>
                        </li>

                        <li>
                            <label>School Reputation: </label> {{ school.get_rep }} points, Level {{ school.level }}
                        </li>

                        <li>
                            <label>Team Captain: </label>
                                {% if head %}
                                    {% user_name head.user %}
                                {% else %}
                                    Register now to be Team Captain!
                                {% endif %}
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/libs/jquery.serialize.file.js"></script>
<script type="text/javascript">

    // Attach to the clicking of the main submit button
    var $school_form = $('#school-form');
    $school_form.on('submit', function(e){
        // Is the form in edit mode?
        var in_edit_mode = $school_form.is('.in-edit-mode');
        if (!in_edit_mode) {
            e.preventDefault();
            e.stopPropagation();
            $school_form.addClass('in-edit-mode');
        }
        else {
            $school_form.find('.btn[type=submit]:visible i').attr('class', 'fa fa-spinner fa-spin');
        }
    });

    $('#logo-button').click(function(){
        if ($('#logo-input').val() > "") {
            $(this).find('i').attr('class', 'fa fa-spinner fa-spin');
            $.get('/upload/get_upload_url', function(data) {
                $.ajax({
                    url : data,
                    data : $('#logo-form').serializeFiles(),
                    cache : false,
                    contentType : false,
                    processData : false,
                    type : 'POST',
                    success : function(data) {
                        var parsed = JSON.parse(data);
                        var response = $.post('/cern/{{ school.id }}/save_logo', {
                            'logo' : parsed['uploaded_files'],
                        });

                        response.done(function(data) {
                            if (parsed['uploaded_files'].length > 0) {
                                $('.logo-placeholder').text('Refresh to see logo');
                                $('#logo').attr('src', parsed['uploaded_files'][0]);
                            }
                            window.location.reload();
                        });
                    }
                });
            });
        }
    });

{#    $('.alert').hide();#}
    window.preloadedOrange = $('<img src="/static/img/spuddercern/ajax-loader-orange.gif" />');
    window.preloadedBlack = $('<img src="/static/img/spuddercern/ajax-loader-black.gif" />');
    window.isEditMode = false;

    $(document).ready(function() {
        var editMode = $('.edit-mode'), viewMode = $('.view-mode'), buttons = $('.buttons'), icons = buttons.find('i');

        $('#edit-description').click(function() {
            if (window.isEditMode === true) {
                save();
                editMode.hide();
                viewMode.show();
                $(this).html($(this).data('old_html'));
                window.isEditMode = false;
            } else {
                editMode.show();
                viewMode.hide();
                $(this).data('old_html', $(this).html());
                $(this).html('<i class="fa fa-save"></i> save');
                window.isEditMode = true;
            }
        });

        $('#edit-right').click(function() {
            if ($(this).html() == 'Show Mode') {
                editMode.hide();
                viewMode.show();
                buttons.addClass('no-border');
                $(this).html('Edit Mode');
                $('#edit-description').html('Edit Mode');
                window.isEditMode = false;
            } else {
                editMode.show();
                viewMode.hide();
                buttons.removeClass('no-border');
                $(this).html('Show Mode');
                $('#edit-description').html('Show Mode');
                window.isEditMode = true;
            }
        });

        function show(element) {
            $('.contents > .active').removeClass('active');
            $(element).addClass('active');
            $(element).animate({
                'margin-left' : '0px'
            }, '1000');
            $(element).show();
        }

        function hide(elements) {
            $.each(elements, function() {
                $(this).css({
                    'margin-left' : '-1000px',
                    'display' : 'none'
                });
            });
        }

        $('#edit-logo').ace_file_input({
            no_file : 'No File ...',
            btn_choose : 'Choose',
            btn_change : 'Change',
            droppable : false,
            onchange : null,
            thumbnail : false
        });

{#        function save() {#}
{#        	var logo_form = $('#logo-form'),#}
{#        	   files = $(logo_form).serializeFiles()#}
{#        	   filesList = $(logo_form).find('input')[0].files,#}
{#        	   mascot = $('#mascot-form').find('[name="mascot"]').val()#}
{#        	   description = $('#description-input').val()#}
{#               dfd = saving($(this), $('.alert'), 'Customized page has been saved!');#}
{##}
{#               if (filesList.length > 0) {#}
{#                // There is a logo, so upload it#}
{#                $.get('/upload/get_upload_url', function(data) {#}
{#                    $.ajax({#}
{#                        url : data,#}
{#                        data : files,#}
{#                        cache : false,#}
{#                        contentType : false,#}
{#                        processData : false,#}
{#                        type : 'POST',#}
{#                        success : function(data) {#}
{#                            var parsed = JSON.parse(data);#}
{##}
{#                            console.log("something dammit");#}
{##}
{#                            var response = $.post('/cern/{{ school.id }}/save_logo', {#}
{#                                'logo' : parsed['uploaded_files'],#}
{#                            });#}
{##}
{#                            response.done(function(data) {#}
{#                                if (parsed['uploaded_files'].length > 0) {#}
{#                                    $('.logo-placeholder').text('Refresh to see logo');#}
{#                                    $('#logo').attr('src', parsed['uploaded_files'][0]);#}
{#                                }#}
{#                                //dfd.resolve();#}
{#                            });#}
{#                        }#}
{#                    });#}
{#                });#}
{#               }#}
{##}
{##}
{#                var response = $.post('/cern/{{ school.id }}/save', {#}
{#                    'mascot' : mascot,#}
{#                    'description' : description,#}
{#                });#}
{##}
{#                response.done(function(data) {#}
{#                    if (mascot !== ""){#}
{#                        $('#mascot').text(mascot)#}
{#                    }#}
{#                    $('#description').text(description)#}
{##}
{#                    dfd.resolve();#}
{#                });#}
{##}
{#        }#}
{##}
{#        $('#save-description').click(save);#}
{#        $('#save-right').click(save)#}


    });
</script>
{% endblock %}
