{% extends 'spuddercern/pages/dashboard_pages/dashboard.html' %}

{% block title %}Marketing Projects (Venues) on CERN{% endblock %}

{% block dashboard_page %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-map-marker"></i> Temporary Venues <small>Manage your unpublished venues</small>
        </h1>
    </div>
    <div style="margin-bottom: 20px;">
        <table class="table striped {% if venues %}datatable{% endif %}">
                <thead>
                    <tr>
                        <th>Sport</th>
                        <th>Name</th>
                        <th>Tag</th>
                        <th style="width: 70px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venue in venues %}
                        <tr>
                            <td>{{ venue.sport }}</td>
                            <td><a href="/cern/venues/temp_view/{{ venue.id }}">{{ venue.aka_name }}</a></td>
                            <td>@{{ venue.name }}</td>
                            <td style="white-space: nowrap">
                                <a class="btn btn-sm btn-primary" href="javascript:publishVenue('{{ venue.id }}')">
                                    <i class="fa fa-fw fa-check-square-o"></i> Publish
                                </a>
                                <a class="btn btn-sm btn-primary" href="javascript:deleteVenue('{{ venue.id }}')" title="Delete">
                                    <i class="fa fa-fw fa-trash-o"> </i> Delete
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-info">
                                    <p>No temporary venues to display. Find your full list of venues on the <a href="/cern/venues">Venues Page</a>.</p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="/cern/venues/new/" class="btn btn-primary">
                <i class="fa fa-fw fa-plus"></i> Claim another venue!
            </a>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        function deleteVenue(id){
            if (confirm('This will permanently delete the venue!')){
                window.location.href = "/cern/venues/delete/" + id;
            }
        }

        function publishVenue(id){
            if (confirm('This will make your venue public, and you will no longer be able to delete it.')){
                window.location.href = "/cern/venues/publish/" + id + "?next=/cern/venues/";
            }
        }
    </script>
{% endblock %}
