{% extends 'spuddercern/base_single_well.html' %}

{% block well_content %}
    <h2>
        <img src="/static/img/spuddercern/button-cern-small.png" />
        Sigin into your CERN Account
    </h2>
    <p>To sigin into CERN, simply click the Amazon button and enter your Amazon details.</p>
    <a id="log-in-with-amazon-student">
        <img border="0" alt="Login with Amazon"
             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
             width="156" height="32" style="margin-bottom: 10px;"/>
    </a>
    <p>Don't have an account?</p>
    <a href="/cern/register/" class="btn btn-primary">Register as a Student</a>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'spudderaccounts/parts/amazon_login_js.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#log-in-with-amazon-student').click(function(){
                loginWithAmazon('{{ base_url }}/accounts/login/amazon');
            });
        });

        function loginWithAmazon(returnURL) {
            if (typeof amazon == undefined) return;

            var options = { scope : 'profile', interactive: 'always' };

            amazon.Login.authorize(options, returnURL);

            return false;
        }
    </script>

{% endblock js %}