{% extends 'spuddercern/pages/dashboard_pages/dashboard.html' %}

{% block title %}Marketing Projects (Venues) on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Venues Instagram Feed');
{% endblock %}

{% block side_nav %}{% include 'spuddercern/parts/sideNav.html' with active="venues" %}{% endblock %}

{% block dashboard_page %}

    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-map-marker"> </i> Venues - <small> filter <i class="fa fa-instagram"> </i> Instagram Stream</small>
        </h1>
    </div>
    
    {% if instagram_media %}
		<div class="alert alert-info about-cern">
	        <h2 class="aligncenter">This is the Instagram Stream.</h2>
	        <p>Here you can see all the media taken from Instagram, near the Venue.</p>
	        <p>All of the media, listed here, will become SPUDS if you press the Accept button.</p>
	        <p>You can reject the media you don't want to become a SPUD by pressing the Reject button.</p>
	    </div>
	{% endif %}

    <div class="row">
        <div class="col-sm-3">
            <div class="well">
                <h3><i class="fa fa-filter"></i> Filters</h3>
                {% for facet_group in results.facets.basic_facets %}
                    <div style="margin-left: 10px;">
                        <hr/>
                        <h4>{{ facet_group.display_name }}</h4>
                        <ul class="list-unstyled">
                            {% for facet in facet_group.facets %}
                                <li>
                                    <p>
                                        {% if facet.count  %}
                                            <a href="{{ request.path }}?filter={{ facet.name }}">
                                                {{ facet.display_name }} ({{ facet.count }})
                                            </a>
                                        {% else %}
                                            {{ facet.display_name }} ({{ facet.count }})
                                        {% endif %}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <p>Viewing {{ results.pagination.showing }} of {{ results.pagination.total_count }}</p>
            </div>
            <div class="clearfix">
                {% for result in results.results %}
                    <div class="panel panel-default" style="float: left; width: 200px; margin-right: 10px;">
                        <div class="panel-body">
                            <div class="thumbnail">
                                <img src="{{ result.expanded_data.image.standard_resolution.url }}" />
                                <div class="cpation">
                                    <hr/>
                                    <div class="btn-group">
                                        <button class="btn btn-success">
                                            Accept
                                        </button>
                                        <button class="btn btn-default">
                                            Reject
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



	
	    <div class="container-fluid">
		    <div class="row">
			    <div class="col-sm-12 col-md-2">
		        	<div class="well">
		        		<form action="/venues/accept_instagram_media/{{ venue_id }}" method="post">
		        			<input type="hidden" name="spuds" value="{% for key, element in stream_data.items %}{{ key }}{% if not forloop.last %}|{% endif %}{% endfor %}" />
		        			<button {% if not instagram_media %}disabled{% endif %} type="submit" class="btn btn-primary" id="accept-button">Accept All Media</button>
		        		</form>
	        		</div>
		        </div>
		        
		        <div class="col-sm-12 col-md-6">
		        	<div class="well">
		        		<form action="" method="post" class="form-inline" role="form">
		        			<div class="form-group">
							    <label class="sr-only" for="month">Month</label>
							    <input class="form-control" name="month" type="number" placeholder="month" />
						 	</div>
		        			
		        			<div class="form-group">
							    <label class="sr-only" for="day">Day</label>
							    <input class="form-control" name="day" type="number" placeholder="day" />
						 	</div>
						 	
						 	<div class="form-group">
							    <label class="sr-only" for="year">Year</label>
							    <input class="form-control" name="year" type="number" placeholder="year" />
						 	</div>
		        			
		        			<button type="submit" class="btn btn-primary" id="filter">Filter</button>
		        		</form>
	        		</div>
		        </div>
	        </div>
        </div>
        
    {% if stream_data %}
	    <div id="stream" class="container-fluid">
	        {% for key, element in stream_data.items %}
	        	{% if forloop.counter0|divisibleby:4 %}
	        		<div class="row">
	        	{% endif %}
	        	
				<div class="col-sm-6 col-md-3 item">
					<div class="thumbnail" style="min-height: 200px; padding: 5px; border-color: #eee;">
						<div class="alert text-center"> </div>
						<img class="img-thumbnail" width="150" src="{{ element.images.standard_resolution.url }}" />
						<div class="caption text-center">
							<div class="text" style="overflow:auto; height:70px;">
								{{ element.caption.text }}
							</div>
							<div class="tags" style="overflow:auto; height:70px;">
								{% for tag in element.tags %}
									<a href="#">{{ tag }}</a> &nbsp;
								{% endfor %}
							</div>
							<div id="{{ key }}" style="margin-top: 20px" class="confirmation-buttons">
								<a href="javascript:void(0)" href="#" class="btn btn-danger">Reject</a>
							</div>
						</div>
					</div>
				</div>
				
				{% if forloop.counter|divisibleby:4 %}
	        		</div>
	        	{% endif %}
			{% endfor %}
		</div>
    {% else %}
        <div class="alert alert-info about-cern">
	        <h2 class="aligncenter">This is the Instagram Stream.</h2>
	        <p>Here you can accept or reject media that comes from Instagram,</p>
	        <p>but currently there is no stream data.</p>
	    </div>
    {% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		var date = new Date({% if date %}'{{ date }}'{% endif %});
		var month = date.getMonth() + 1;
		var day = date.getDate();
		var year = date.getFullYear();
		$('[name="month"]').val(month);
		$('[name="day"]').val(day);
		$('[name="year"]').val(year);
		
		
		$('.confirmation-buttons .btn-danger').click(function() {
			var thumbnail = $(this).parents('.thumbnail'),
				acceptButton = $('#accept-button'),
				id = $(this).parent().attr('id'),
				values = $('[name="spuds"]').val().split('|');
				
			thumbnail.toggleClass('alert-danger');
			
			if( $('.thumbnail.alert-danger').length > 0 ) {
				acceptButton.html('Accept The Rest');
			} else {
				acceptButton.html('Accept All Media');
			}
			
			var newValue = '';
			$.each(values, function() {
				if (this.toString() != id) {
					newValue += (this.toString() + '|');
				}
			});
			
			$('[name="spuds"]').val(newValue.slice(0, newValue.length - 1));
		});
	});
</script>
{% endblock %}
