{% extends 'spuddercern/pages/dashboard_pages/dashboard.html' %}

{% block title %}Marketing Projects (Venues) on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Venues Instagram Feed');
{% endblock %}

{% block side_nav %}{% include 'spuddercern/parts/sideNav.html' with active="venues" %}{% endblock %}

{% block dashboard_page %}

    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-map-marker"> </i> Venues - <small> filter <i class="fa fa-instagram"> </i> Instagram Stream</small>
        </h1>
    </div>
    
    <div class="alert alert-info">
        <h4>This is the Instagram Stream.</h4>
        <p>Here you can manage all the media taken from Instagram, near the Venue.</p>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="well">
                <h3><i class="fa fa-filter"></i> Filters</h3>
                {% for facet_group in results.facets.basic_facets %}
                    <div style="margin-left: 10px;">
                        <hr/>
                        <h4>{{ facet_group.display_name }}</h4>
                        <ul class="list-unstyled" style="margin-left: 10px;">
                            {% if request.GET.filter %}
                                <li>
                                    <a href="{{ request.path }}">
                                        reset
                                    </a>
                                </li>
                            {% else %}
                                {% for facet in facet_group.facets %}
                                    <li>
                                        <p>
                                            {% if facet.count  %}
                                                <a href="{{ request.path }}?filter={{ facet.name }}">
                                                    {{ facet.display_name }} ({{ facet.count }})
                                                </a>
                                            {% else %}
                                                {{ facet.display_name }} ({{ facet.count }})
                                            {% endif %}
                                        </p>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% empty %}
                    <p>Sorry, no filters!</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <p id="pagination-container" data-showing="{{ results.pagination.showing }}" data-total="{{ results.pagination.total_count }}">
                    Viewing <span class="showing">{{ results.pagination.showing }}</span> of <span class="total">{{ results.pagination.total_count }}</span> | {{ filter_message|default:"No filters applied, showing most recent first" }}
                </p>
            </div>
            <div class="clearfix">
                {% for result in results.results %}
                    <div class="panel panel-default" style="float: left; width: 200px; margin-right: 10px;">
                        <div class="panel-body">
                            <div class="thumbnail">
                                <img src="{{ result.expanded_data.image.standard_resolution.url }}" />
                                <div class="cpation">
                                    <hr/>
                                    <div class="btn-group">
                                        <button class="btn btn-success button-accept" data-id="{{ result.id }}">
                                            Accept
                                        </button>
                                        <button class="btn btn-default button-reject" data-id="{{ result.id }}">
                                            Reject
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-info">
                        <h4>Sorry, no spuds to show</h4>
                        {% if request.GET.filter %}
                            <p>There are no spuds matching your filters, please reset them!</p>
                        {% else %}
                            <p>There are currently no spuds waiting for your approval, please check back soon!</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-default" style="width: 30%; margin: 10px auto;" href="javascript:window.location.reload()">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">

        function update_pagination(adjustment) {
            var $pagination_container = $('#pagination-container');
            var $showing = $pagination_container.find('.showing');
            var $total = $pagination_container.find('.total');
            var showing = $pagination_container.data('showing');
            var total = $pagination_container.data('total');
            total += adjustment;
            showing += adjustment;
            $total.html(total);
            $showing.html(showing);
            $pagination_container.data('showing', showing);
            $pagination_container.data('total', total);
        }

        $(document).ready(function() {
            $('.button-accept').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                var $button = $(this);
                var id = $button.data('id');
                $.get('/venues/accept_spud/{{ venue_id }}/' + id);
                $button.parents('.panel').remove();
                update_pagination(-1);
            });
            $('.button-reject').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                var $button = $(this);
                var id = $button.data('id');
                $.get('/venues/reject_spud/{{ venue_id }}/' + id);
                $button.parents('.panel').remove();
                update_pagination(-1);
            });
        });
    </script>
{% endblock %}
