{% extends 'spuddercern/pages/dashboard_pages/dashboard.html' %}

{% block title %}Marketing Projects (Venues) on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Venues Instagram Feed');
{% endblock %}

{% block side_nav %}{% include 'spuddercern/parts/sideNav.html' with active="venues" %}{% endblock %}

{% block dashboard_page %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-map-marker"> </i> Venues - <small> filter <i class="fa fa-instagram"> </i> Instagram Stream</small>
        </h1>
    </div>
    
    {% if stream_data %}
    <div id="stream">
        {% for key, element in stream_data.items %}
			
				<div class="col-sm-6 col-md-3 item">
					<div class="thumbnail" style="min-height: 200px; padding: 5px; border-color: #eee;">
						<div class="alert text-center"> </div>
						<img class="img-thumbnail" width="150" src="{{ element.images.standard_resolution.url }}" />
						<div class="caption text-center">
							<div class="text" style="overflow:auto; height:70px;">
								{{ element.caption.text }}
							</div>
							<div class="tags" style="overflow:auto; height:70px;">
								{% for tag in element.tags %}
									<a href="#">{{ tag }}</a> &nbsp;
								{% endfor %}
							</div>
							<div id="{{ key }}" style="margin-top: 20px" class="confirmation-buttons">
								<a href="javascript:void(0)" data-url="/venues/accept_instagram_media/{{ venue_id }}" class="btn btn-success">Accept</a>
								<a href="javascript:void(0)" data-url="/venues/reject_instagram_media/{{ venue_id }}" href="#" class="btn btn-danger">Reject</a>
							</div>
						</div>
					</div>
				</div>
			
		{% endfor %}
	</div>
    {% else %}
        <div class="alert alert-info about-cern">
	        <h2 class="aligncenter">This is the Instagram Stream.</h2>
	        <p>Here you can accept or reject media that comes from Instagram,</p>
	        <p>but currently there is no stream data.</p>
	    </div>
    {% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/libs/isotope.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var container = $('#stream'),
			iso = container.isotope({
				itemSelector: '.item',
				layoutMode: 'fitRows'
			});
		
		$('.confirmation-buttons .btn').click(function() {
			var url = $(this).attr('data-url'),
				id = $(this).parent().attr('id'),
				thumbnail = $(this).parents('.thumbnail'),
				alert = thumbnail.find('.alert');
				
			var response = $.post(url, {
				'id' : id
			});
			
			response.done(function(data) {
				var parsed = JSON.parse(data);
				thumbnail.addClass(parsed.alertClass);
				alert.html(parsed.alertText);
				thumbnail.animate({
					'opacity' : 0
				}, parsed.animationTime, function() {
					container.isotope('remove', thumbnail.parent());
					iso.isotope('layout');
				});
			});
			
			response.fail(function() {
				thumbnail.addClass('alert-danger');
				alert.html('Something went wrong. Please try again later.');
			});
		});
		
	});
</script>
{% endblock %}
