{% extends 'spuddercern/base.html' %}

{% block body %}
<div class="container clearfix" id="venue-index">
	<div class="row video-row">
		<div class="col-sm-5 col-md-offset-1">
            <div class="embed-responsive embed-responsive-16by9">
			    <iframe width="420" height="280" src="//www.youtube.com/embed/H72B-GCMohs?rel=0" allowfullscreen>
			    </iframe>
            </div>
		</div>
		<div class="col-sm-4">
			<h3>Own the Venue!</h3>
			When it comes to sporting events one thing is constant,
			there needs to be a venue or the event won't happen.
			Now what if YOU could "own the Naming Rights" to a public venue?
			What if YOU were paid by a sponsor who wants to associate
			their name with every update that comes out of that venue?
			<p class="margin-top10">
				Well now you can just click <strong>Learn More</strong> to get the details of how you can.
			</p>

			<a class="btn btn-orange" href="http://info.spudder.com/groundskeepers">
				Learn More
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<p class="text-center well">Don't have an account yet? Sign Up as a <strong>Groundskeeper!</strong></p>
			<a href="/cern/register" class="btn btn-orange btn-large">Sign Up</a>
		</div>
		<div class="col-sm-5 col-sm-offset-2">
			<p class="text-center well">Sign In as a <strong>Groundskeeper</strong> to create/manage venues!</p>
			<a href="/cern/login" class="btn btn-orange btn-large">Sign In</a>
		</div>
	</div>
</div>
{% endblock %}
