{% extends 'spuddercern/base_single_well.html' %}

{% block title %}Claim a new Venue on CERN{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CERN Students - Create New Venue');
{% endblock %}

{% block well_content %}
    <h4 class="text-center">Claim the venue at this location!</h4>

    <div class="quote">
        <div class="alert alert-info alert-block">
            <h4>You must be at the venue to create a new venue</h4>
            <p>The location of venues is very important to the way that Spudder and CERN Teams work.</p>
            <p>You must physically <b>be</b> at the venue you are trying to create.</p>
            <p>Once created, you can not change a venue's location.</p>
            <p>If your location isn't correct, try enabling GPS on your device and reloading the page.</p>
            <i class="fa fa-caret-down"></i>
        </div>
        <img src="/static/img/spuddercern/button-cern-small.png" class="button" />
    </div>

    <form action="" method="post" id="create-team-form" class="form-horizontal" enctype="multipart/form-data">

        <div class="form-group">
            <label for="state">State:</label>
            <select name="state" for="state" class="form-control" id="venue-state">
                <option disabled selected>Select your current state...</option>
               {% for abbr, full in states %}
                   <option value="{{ abbr }}">{{ full }}</option>
               {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="sport">Sport:</label>
            <select name="sport" id="venue-sport" class="form-control">
                <option selected disabled>Select a sport...</option>
                {% for sport in sports %}
                    <option value="{{ sport }}">{{ sport }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="alert alert-danger" style="display: none" id="alert-location"></div>

        <div class="form-group" id="create-venue">
            <label for="location">Venue Location:</label>
            <input name="longitude" type="hidden" />
            <input name="latitude" type="hidden" />
            <div id="map">
                <div id="map-canvas" class="create-venue-map">
                    <div class="alert alert-warning" style="width: 90%:margin; 20px auto;">
                        <h4><i class="fa fa-warning"></i> Can't choose a location just yet.</h4>
                        <p>You must select both the state and sport to continue.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" id="save">Save Location</a>
            <a href="/cern/venues" class="btn btn-default">
                Cancel
            </a>
        </div>
    </form>
{% endblock %}

{% block js %}
{#	<script type="text/javascript" src="/media/js/venues/utils.js"></script>#}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry"></script>
	<script type="text/javascript" src="/static/js/libs/google.map.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            function init(){
                initialize(true, $('#alert-location'), function(venue) {
                    return venue.sport == $('#venue-sport').val();
                }, function(latitude, longitude) {
                    $('[name="longitude"]').val(longitude);
                    $('[name="latitude"]').val(latitude);
                    $('#save').removeClass('hidden');
                });
            }

            $('#venue-sport').change(function(){
                if (($('#venue-state').val() != "") && ($('#venue-sport').val() != '')) {
                    $('#map-canvas').children().remove();
                    init();
                    $('#save').addClass('hidden');
                    $('.alert').not('.alert-info').hide();
                }
            });

            $('#save').click(function(){
                var response = $.post('/cern/venues/create_temp',{
                    'sport': $('#venue-sport').val(),
                    'latitude': $('[name="latitude"]').val(),
                    'longitude': $('[name="longitude"]').val(),
                    'state': $('#venue-state').val()
                });

                response.done(function(data){
                   window.location = "/cern/venues/venue_created/" + data;
                })
            })
		});
	</script>
{% endblock %}

