{% extends 'spudderadmin/base.html' %}

{% block body %}

    <div class="container">

        <div class="alert alert-info">
            <h4>Welcome to the Spudder Admin Console</h4>
            <p>Choose one of the business areas below to begin managing the spudder universe.</p>
        </div>

        <div class="row" id="admin-sections">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="list-group">
                    <a class="list-group-item" href="/spudderadmin/cern">
                        <h3 class="list-group-item-heading">CERN Reports</h3>
                        <p class="list-group-item-text">CERN Reports</p>
                    </a>
                    <a class="list-group-item" href="/spudderadmin/socialengine">
                        <h3 class="list-group-item-heading">Social Engine</h3>
                        <p class="list-group-item-text">Mange @postspud and location scraper</p>
                    </a>
                    <a class="list-group-item" href="/spudderadmin/system">
                        <h3 class="list-group-item-heading">System</h3>
                        <p class="list-group-item-text">Manage system level features</p>
                    </a>
                    <a class="list-group-item" href="/spudderadmin/reports">
                        <h3 class="list-group-item-heading">User Reports</h3>
                        <p class="list-group-item-text">See user reports</p>
                    </a>
                    <a class="list-group-item" href="/spudderadmin/affiliates">
                        <h3 class="list-group-item-heading">Affiliates</h3>
                        <p class="list-group-item-text">Manage system affiliates</p>
                    </a>
                    <a class="list-group-item" href="/spudderadmin/challenges">
                        <h3 class="list-group-item-heading">Challenegs System</h3>
                        <p class="list-group-item-text">Manage the challenges system</p>
                    </a>
                    <a class="list-group-item" href="/spudderadmin/leagueathletics">
                        <h3 class="list-group-item-heading">League Athletics</h3>
                        <p class="list-group-item-text">Manage integration with leagueathletics.com</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            balance_element_height("#admin-sections .panel-body");
        })
    </script>
{% endblock %}