{% extends 'spudderadmin/base.html' %}

{% block body %}

    <div class="container">

        <div class="alert alert-info">
            <h4>Welcome to the Spudder Admin Console</h4>
            <p>Choose one of the business areas below to begin managing the spudder universe.</p>
        </div>

        <div class="row" id="admin-sections">
            <div class="col-sm-2 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spuddercern/button-cern-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>CERN Reports</h3>
                                <a href="/spudderadmin/cern/" class="btn btn-primary">CERN Reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
{#                            <span class="fa-stack" style="font-size: 105px;">#}
{#                                <i class="fa fa-circle fa-stack-2x text-primary"></i>#}
{#                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>#}
{#                            </span>#}
                            <img src="/static/img/spudderadmin/button-socialengine.png">
                            <div class="caption" style="text-align: center;">
                                <h3>Manage Social Engine</h3>
                                <a href="/spudderadmin/socialengine/" class="btn btn-primary">Social Engine</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spudderspuds/button-spuds-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Manage SYSTEM</h3>
                                <a href="/spudderadmin/system/" class="btn btn-primary">Manage System</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spudderspuds/button-teams-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>User Reports</h3>
                                <a href="/spudderadmin/reports" class="btn btn-primary">User Reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spudderclubs/button-clubs-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Manage Affiliates</h3>
                                <a href="/spudderadmin/affiliates" class="btn btn-primary">Manage Affiliates</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            balance_element_height("#admin-sections .panel-body");
        })
    </script>
{% endblock %}