<div>
	<a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site {{ request.build_absolute_uri }}." 
	    title="Share by Email">
	    <span class="icon-envelope"></span>
	</a>
</div>
<div id="fb-root"> </div>
<div class="fb-share-button" data-type="button_count"> </div>
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check this out!" data-size="large" data-related="spudderdotcom" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>