{% extends role_dashboard %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'TEAMS - Teams');
{% endblock %}

{% block nav %}
    {{ additional_nav|safe }}
    {{ block.super }}
{% endblock %}


{% block dashboard_page %}
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-group"></i> Teams <small>Manage your Teams!</small>
        </h1>
    </div>
    {% if teams %}
        <table class="table">
            <thead>
                <tr>
                    <th>Sport</th>
                    <th>Name</th>
                    <th>Tag</th>
                    <th style="width: 70px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.sport }}</td>
                        <td><a href="/team/{{ team.id }}">{{ team.name }}</a></td>
                        <td>@{{ team.name }}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-xs btn-primary" href="/team/page/{{ team.id }}" title="Edit">
                                <i class="fa fa-fw fa-edit"> </i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/team/create" class="btn btn-primary" style="margin-bottom: 20px;">
            <i class="fa fa-fw fa-plus"></i> Create another team!
        </a>
    {% else %}
        {% include 'spudderteams/quotes/quote_teams_empty_list.html' %}
    {% endif %}

{% endblock %}
