{% extends 'CERN/dashboard.html' %}

{% block breadcrumbs %}
	<div class="breadcrumbs" id="breadcrumbs"> 
		<ul class="breadcrumb"> 
			<li> 
				<i class="icon-home home-icon"> </i> 
				<a href="/venues/list"> 
					Venues 
				</a> 
				<span class="divider">  
					<i class="icon-angle-right arrow-icon"> </i>  
				</span> 
				<a href=""> 
					Create Venue
				</a> 
			</li> 
		</ul> 
		<div class="nav-search" id="nav-search"> 
			<form class="form-search"> 
				<span class="input-icon"> 
					<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off"> 
					<i class="icon-search nav-search-icon"> </i> 
				</span> 
			</form> 
		</div><!--#nav-search--> 
	</div>
{% endblock breadcrumbs %}

{% block scripts %}
	<script type="text/javascript" src="/media/js/venues/utils.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry"></script>
	<script type="text/javascript" src="/media/js/google.map.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			initialize(true, $('.alert'), function(venue) {
				return venue.sport == $('#venue-sport').val();
			}, function(latitude, longitude) {
				$('[name="longitude"]').val(longitude);
				$('[name="latitude"]').val(latitude);
				$('#save').removeClass('hidden');
			});
		});
	</script>
{% endblock %}

{% block content %}
<div id="create-venue">
    <p class="head clearfix"> 
        <i class="icon-map-marker"> </i> Create Venue
    </p>
    
	<div class="content">
		<div class="alert"> </div>
		
		<form action="/venues/create" method="post" id="create-team-form" class="form-horizontal" enctype="multipart/form-data">
            <div class="control-group">
                <label class="control-label" for="sport">Sport:</label>
                <div class="controls">
                	{% include 'venues/parts/select_sport.html' %}
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="location">Venue Location:</label>
                <div class="controls">
                	<input name="longitude" type="hidden" />
                	<input name="latitude" type="hidden" />
	                <div class="" id="map">
						<div id="map-canvas">
	
						</div>
					</div>
				</div>
            </div>
            
            <div class="control-group">
            	<div class="controls">
		            <button type="submit" id="save" class="btn btn-orange hidden">Create</button>
        		</div>
            </div>
       	</form>
	</div>
</div>
{% endblock content %}