{% extends 'base.html' %}

{% block content %}
<div class="container clearfix" id="venue-account">
	<div class="well">
		<p class="header">Sign Up as a <strong>Groundskeeper!</strong></p>
		<p> To register as a Groundskeeper, you must be a student. First, select your state:</p>
		<form action="/venues/register" method="post">
			<div class="control-group">
				<div class="control-label">
					State: {{ state }}
				</div>
				
				<div class="control-label">
				    <a href="/venues/register">Click here to change state.</a>
				</div>
				<br>
				
				<div class="controls">
				    <input type="hidden" name="state" value="{{ abbr }}"> 
				</div>
				
				<div class="controls">
					<select name="school">
					   {% for sch in schools %}
					       <option value="{{ sch.name }}">{{ sch.name }}</option>
					   {% endfor %}
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-orange" type="submit">Select this School</button>
				</div>
			</div>			
		</form>
	</div>
</div>
{% endblock content %}
