{% extends 'base.html' %}

{% block content %}
<div class="container clearfix" id="venue-account">
	<div class="well">
		<p class="header">Join Your Team!</strong></p>
		<p> To register as a Groundskeeper, you must be a student. First, select your state:</p>
        {% if code %}
        <form action="/venues/register/{{ code }}" method="post">
        {% else %}
        <form action="/venues/register" method="post">
        {% endif %}			<div class="control-group">
				<div class="control-label">
					State:
				</div>
				<div class="controls">
					<select name="state">
					   {% for abbr, full in states %}
					       {% if state == abbr %}
					           <option value="{{ abbr }}" selected>{{ full }}</option>
					       {% else %}
					           <option value="{{ abbr }}">{{ full }}</option>
				           {% endif %}
					   {% endfor %}
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-orange" type="submit">Select this State</button>
				</div>
			</div>			
		</form>
	</div>
</div>
{% endblock content %}
