{% extends 'base.html' %}

{% block content %}
<div class="container clearfix" id="venue-account">
    <div>
        <h3 style="text-align:center;"><a href=".."> {{ school.name }} </a></h3>
    </div>
	<div class="well">
		<p class="header">Join Our Team!</p>
		
		<form action="/venues/{{ school.state }}/{{ school.name }}/register/" method="post">
			{% if referrer %}
	          <p class="header"> You were referred by: {{ referrer.user.username }}</p>
	          <input type="hidden" name="code" value="{{ code }}">
	        {% endif %}

            <p>Joining the {{ school.name }} team is a job for which you will be PAID! However, we need some way to give you the money! This means that you have to sign up with an Amazon account.</p>
            <p>Amazon accounts are easy to set up. Simply click on the button below, and select the "I am a new customer" button after supplying your email address.</p>
			
		</form>
	</div>
</div>
{% endblock content %}
