{% extends 'base.html' %}

{% load displays %}

{% block meta %}
<link rel="stylesheet" href="/media/dashboard/css/ace-file-input.css" />
{% endblock meta %}

{% block content %}
<div class="container clearfix" id="venue-view">
    <div class="row">
        <div class="span7">
            <h5 class="venue-header clearfix aligncenter"> {{ school.name }} </h5>
            
            <div class="row-fluid">
                <div class="span12 contents">
                    <div id="venue-promo-video" class="active content">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/H72B-GCMohs?rel=0"
                        style="display:block;margin:0 auto;"
                        frameborder="0"
                        allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            
            {% if request.user and head and request.user.pk == head.user.pk %}
            <div class="row-fluid">
                <div class="span6">                    
                    <form method="post" enctype="multipart/form-data">
                        <div class="edit-mode">
                            <div class="btn btn-orange" id="save">
                                Save
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="span6">
                    <div class="btn btn-orange pull-right" id="edit-description" style="margin:0 auto;">
                        Edit Mode
                    </div>
                </div>
            </div>
            
            <div class="alert"></div>
            
            <div class="row-fluid edit-mode">
                <div class="span1"></div>
                <div class="span10">
                    <form method="post" enctype="multipart/form-data" id="description-form">
                    <textarea id="description-input" placeholder="You can put a quick message for people viewing your school's page here.">{{ school.description }}</textarea>
                </form>    
                </div>
                <div class="span1"></div>
            </div>
            
            {% endif %}
            <div class="row-fluid view-mode details-header">
                <div class="span1"></div>
                <div class="span10">
                    <p id="description"> {{ school.description }} </p>
                </div>
                <div class="span1"></div>
            </div>
        </div>

        <div class="span5">
            <aside class="right-sidebar">
                <div class="widget offer-widget">
                    {% if request.user and head and request.user.pk == head.user.pk %}
                    <div class="row-fluid">
                        <div class="span6">                    
		                    <form method="post" enctype="multipart/form-data">
		                        <div class="edit-mode">
		                            <div class="btn btn-orange" id="save">
		                                Save
		                            </div>
		                        </div>
		                    </form>
                        </div>
                        
                        <div class="span6">
                            <div class="btn btn-orange pull-right" id="edit" style="margin:0 auto;">
                                Edit Mode
                            </div>
                        </div>
                    </div>
                    
                    <div class="alert"></div>
                    
                    <div class="row-fluid edit-mode aligncenter">
                        <div class="span12">
                            <p>Show some school spirit and customize your page!</p>
                            <form method="post" enctype="multipart/form-data" id="mascot-form">
                                <label>Team Mascot: </label>
                                {% if school.mascot %}
                                    <input name="mascot" value="{{ school.mascot }}">
                                {% else %}
                                    <input name="mascot">
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="row-fluid">
                        <div class="span12" >
                            {% if school.logo %}
                                <img style="margin:auto;display:block" id="logo" src="/file/serve/{{ school.logo.id }}"/>
                            {% else %}
                                <div class="logo-placeholder" style="margin:0 auto;">
                                    Your Logo Here
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    
                    <div class="row-fluid edit-mode">
                        <div class="span2"></div>
	                    <div class="span8 aligncenter">
	                       <form method="post" enctype="multipart/form-data" id="logo-form">
	                            Upload a new logo: <input type="file" name="file" id="edit-logo" />
	                       </form>
                        </div>
                        <div class="span2"></div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8 details-header">
                            Join {{ school.name }}'s Campus Entrepenuer Recruiting Network (CERN) Team! 
                        </div>
                    </div>

                    <ul class="folio-detail offer-details">
                        <li>
                            <label>Team Size: </label> {{ school.num_students }} registered
                            <span id="mascot">
                                {% if school.mascot %}
                                    {{ school.mascot }}
                                {% else %}
                                    students
                                {% endif %}
                            </span>
                        </li>

                        <li>
                            <label>School Reputation: </label> {{ school.get_rep }} points, Level {{ school.level }} 
                        </li>
                        
                        <li>
                            <label>Team Captain: </label>
                                {% if head %}
                                    {{ head.user }}
                                {% else %}
                                    Register now to be Team Captain!
                                {% endif %}
                        </li>
                        
                        
                          <p class="aligncenter"><label>Sign up now!</label></p>
                          <p>Joining with Amazon allows us to pay you for the work you do with CERN. Plus, it's easier than remembering another account.</p>
                          <p>If you don't have an Amazon account, you can create one using this link. Simply select the "I am a new customer" option.</p>
                    </ul>
                          
    <div class="accounts-form-body">
        <form class="form-horizontal" action="/accounts/login" id="registration-form" method="POST">
            {% if error %}
            <div class="alert alert-error"><%= error %></div>
            {% endif %}

            <input type="hidden" name="returnURL" {% if returnURL %}value="{{ returnURL }}"{% endif %}>

            <div class="control-group">
                <p class="aligncenter">
                    <a href="#" id="LoginWithAmazon">
                        <img border="0" alt="Login with Amazon"
                             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                             width="156" height="32" />
                    </a>
                </p>
            </div>
        </form>
    </div>
	                
                </div>
            </aside>
        </div>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/media/js/venues/utils.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry"></script>
<script type="text/javascript" src="/media/js/google.map.js"></script>
<script type="text/javascript" src="/media/js/jquery.serialize.file.js"></script>
<script type="text/javascript" src="/media/dashboard/js/ace-elements.min.js"></script>
<script type="text/javascript" src="/media/dashboard/js/ace.min.js"></script>
<script type="text/javascript" src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/media/js/parseUri.js"></script>
<script type="text/javascript">
    window.venueName = "{{ venue.name }}";
    window.currentVenueLongitude = "{{ venue.longitude }}";
    window.currentVenueLatitude = "{{ venue.latitude }}";
    window.preloadedOrange = $('<img src="/media/img/ajax-loader-orange.gif" />');
    window.preloadedBlack = $('<img src="/media/img/ajax-loader-black.gif" />');
    window.isEditMode = false;

    $(document).ready(function() {
        var editMode = $('.edit-mode'), viewMode = $('.view-mode'), buttons = $('.buttons'), icons = buttons.find('i');

        $('#edit-description').click(function() {
            if ($(this).html() == 'Show Mode') {
                editMode.hide();
                viewMode.show();
                buttons.addClass('no-border');
                $(this).html('Edit Mode');
                window.isEditMode = false;
            } else {
                editMode.show();
                viewMode.hide();
                buttons.removeClass('no-border');
                $(this).html('Show Mode');
                window.isEditMode = true;
            }
        });
        
        $('#edit').click(function() {
            if ($(this).html() == 'Show Mode') {
                editMode.hide();
                viewMode.show();
                buttons.addClass('no-border');
                $(this).html('Edit Mode');
                window.isEditMode = false;
            } else {
                editMode.show();
                viewMode.hide();
                buttons.removeClass('no-border');
                $(this).html('Show Mode');
                window.isEditMode = true;
            }
        });

        function show(element) {
            $('.contents > .active').removeClass('active');
            $(element).addClass('active');
            $(element).animate({
                'margin-left' : '0px'
            }, '1000');
            $(element).show();
        }

        function hide(elements) {
            $.each(elements, function() {
                $(this).css({
                    'margin-left' : '-1000px',
                    'display' : 'none'
                });
            });
        }

        $('#edit-logo').ace_file_input({
            no_file : 'No File ...',
            btn_choose : 'Choose',
            btn_change : 'Change',
            droppable : false,
            onchange : null,
            thumbnail : false
        });

        $('#save').click(function() {
        	var logo_form = $('#logo-form'),
        	   files = $(logo_form).serializeFiles()
        	   filesList = $(logo_form).find('input')[0].files,
        	   mascot = $('#mascot-form').find('[name="mascot"]').val()
        	   description = $('#description-input').val()
               dfd = saving($(this), $('.alert'), 'Customized page has been saved!');
            
           

            $.get('/upload/get_upload_url', function(data) {
                $.ajax({
                    url : data,
                    data : files,
                    cache : false,
                    contentType : false,
                    processData : false,
                    type : 'POST',
                    success : function(data) {
                        var parsed = JSON.parse(data);

                        var response = $.post('/venues/{{ school.state }}/{{ school.name }}/save', {
                            'logo' : parsed['uploaded_files'],
                            'mascot' : mascot,
                            'description' : description,
                        });

                        response.done(function(data) {
                            if (parsed['uploaded_files'].length > 0) {
                                $('#logo').attr('src', parsed['uploaded_files'][0]);
                            }
                            if (mascot !== ""){
                            	$('#mascot').text(mascot)
                            }
                            $('#description').text(description)
                            
                            dfd.resolve();
                        });
                    }
                });
            });
        });
    }); 
</script>
<script>
    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    var loginWithAmazon = document.getElementById('LoginWithAmazon'),
        next = getURLParameter('next'),
        returnUrl = '{{ base_url }}/accounts/login/amazon';

    if (next) returnUrl += '?next=' + next;

    if (loginWithAmazon) {
        loginWithAmazon.onclick = function() {
            options = { scope : 'profile' };
            amazon.Login.authorize(options, returnUrl);
            return false;
        };
    }
</script>
{% endblock scripts %}
