{% extends 'spudderspuds/components/base_quote_message.html' %}

{% block content %}
    <h4>Welcome to Spudder!</h4>
    <p><b>Spudder has forever changed the face of youth sport!</b></p>
    <p>What to keep up to date with your favourite Teams, Players and Coaches?</p>
    <p>Need help managing your youth sports team?</p>
    <p><b>Spudder does this and so much more!</b></p>
    <p>Register or signin now!</p>
    <a href="/spuds/register" class="btn btn-primary">
        Register now!
    </a>
    <a href="/spuds/signin" class="btn btn-default">
        Signin now!
    </a>
{% endblock %}