{% extends 'dashboard_base.html' %}

{% block content %}
    <div class="page-header">
        <h1>
            Dashboard <small><i class="icon-double-angle-right"></i> error during donation registration</small>
        </h1>
    </div>

    <div class="content">
        <p>We're terribly sorry, but an error occurred while procesing the donation. Please see the description below</p>
        <p>{{ status }}</p>
        <p>{{ error_message }}</p>
        <a class="btn btn-danger" href="{{ spudder_url }}">Go back to Spudder</a>
    </div>
{% endblock content %}