
<ul class="nav nav-list">
	<li>
		<a href="/dashboard/general">
			<i class="icon-male"></i>
			<span class="menu-text"> Fans </span>
		</a>
	</li>
	
	<li>
		<a href="javascript:alert('coming soon')">
			<i class="icon-user"></i>
			<span class="menu-text"> Players </span>
		</a>
	</li>
	
	<li>
		<a href="javascript:alert('coming soon')">
			<i class="icon-bullhorn"></i>
			<span class="menu-text"> Coaches </span>
		</a>
	</li>

	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-group"></i>
			<span class="menu-text"> Teams </span>

			<b class="arrow icon-angle-down"></b>
		</a>
		<ul class="submenu">
            <li>
                <a href="/dashboard/teams/create">
                    <i class="icon-bullhorn"></i>
                    Create
                </a>
            </li>
            <li>
                <a href="/dashboard/teams">
                    <i class="icon-bullhorn"></i>
                    My teams
                </a>
            </li>
		</ul>
	</li>

	<li>
		<a href="javascript:alert('coming soon')">
			<i class="icon-sitemap"></i>
			<span class="menu-text"> Leagues </span>
		</a>
	</li>

	<li>
		<a href="gallery.html">
			<i class="icon-trophy"></i>
			<span class="menu-text"> Tournaments </span>
		</a>
	</li>
	<li>
		<a href="gallery.html">
			<i class="icon-map-marker"></i>
			<span class="menu-text"> Venues </span>
		</a>
	</li>
	<li>
		<a class="dropdown-toggle" href="#">
			<i class="icon-money"></i>

			<span class="menu-text">
				Sponsors
			</span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
            <li>
                <a href="/dashboard/recipient">
                    <i class="icon-double-angle-right"></i>
                    Become a recipient
                </a>
            </li>
			<li>
				<a href="/dashboard/sponsor">
					<i class="icon-double-angle-right"></i>
					Become a sponsor
				</a>
			</li>
            <li>
                <a href="/dashboard/donations">
                    <i class="icon-double-angle-right"></i>
                    List donations
                </a>
            </li>
		</ul>
	</li>
</ul>