{% extends 'spudderaffiliates/base_single_well.html' %}

{% block well_content %}
    <div class="text-center alert alert-warning">
        <h1><i class="fa fa-fw fa-exclamation-triangle"></i> Error - Active Role Not Fan</h1>
        <p>In order to accept this invitation, you must have a Fan role active.</p>
        <p>If you already have a Fan role, activate it using the "My Roles" menu at the top of this page.</p>
        <p>If you do not have a Fan role, click <a href="redirect_to_registration">here</a> to make one.</p>
    </div>
{% endblock %}