{% extends 'spudderaffiliates/base_single_well.html' %}

{% block well_content %}
    <div class="text-center">
        <h1>Create Your Club</h1>
        <p class="text-left">It is now time to create your club. In order to do this, you must have access to an Amazon.com account where the name is "{{ club_name }}". The email address on that Amazon account is not important, although we recommend using the one that you used to create your Spudder account.</p>
        <p>When you are ready, click:</p>
        <a href="/club/register" class="btn btn-primary">Create Your Club</a>
    </div>
{% endblock %}