{% extends 'base.html' %}

{% load utils %}

{% block scripts %}
<script type="text/javascript" src="/media/profile/js/jquery-ui-1.10.3.custom.min.js"></script>
{% endblock %}

{% block head %}
	<link href="/media/profile/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
{% endblock %}


{% block content %}
<div id="spuds-view" class="container">
	<div class="row-fluid primary" id="page-header">
		<div class="wrapper">
			<div class="span12">
				{% display_items 'sponsors-items' 'Sponsors I Follow' %}
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			Home
		</div>
		<div class="span8">
			Spud Container
		</div>
		<div class="span2">
			Away
		</div>
	</div>
	
	
</div>
{% endblock %}