<div class="bar">
	<div class="offset1 span1">
		<div class="button open-modal" modal-id="#tag-modal-player">
			<i class="icon-user"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-coach">
			<i class="icon-bullhorn"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-team">
			<i class="icon-group"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-team">
			<i class="icon-sitemap"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-team">
			<i class="icon-trophy"></i>
		</div>
	</div>
	<div class="span1">
		<div class="button open-modal" modal-id="#tag-modal-team">
			<i class="icon-map-marker"></i>
		</div>
	</div>
</div>