{% extends 'fan/modals/modal.html' %}

{% block modal_id %}tag-modal-coach{% endblock %}

{% block title %}
	<i class="icon-bullhorn"></i>
	<span class="title">Select the Coach you want to TAG</span>
{% endblock %}

{% block content %}
<div class="widget-body">
	<div class="widget-main">
		<div class="row-fluid">
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						<label for="add-image-comment">Team's Coaches:</label>
						<select name="favorites" id="favorites">
							<option>-- select --</option>
						</select>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						Coach Not on List? <br />
						Contact <a href="javascript:alert('coming soon...')">Team Admin</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}