{% extends 'fan/modals/modal.html' %}

{% block modal_id %}tag-modal-player{% endblock %}

{% block title %}
	<i class="icon-user"></i>
	<span class="title">Enter the numbers that you want to TAG</span>
{% endblock %}

{% block content %}
<div class="widget-body">
	<div class="widget-main">
		<div class="row-fluid">
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						<input type="text" placeholder="Enter tags ..." id="player-tags-input" />
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						If the Players number doesn't appear in your SPUD it is the Players Privacy Controls.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}