{% extends 'fan/modals/modal.html' %}

{% block modal_id %}tag-modal-league{% endblock %}

{% block title %}
	<i class="icon-trophy"></i>
	<span class="title">Select the League from Your Favorites or Add New</span>
{% endblock %}

{% block content %}
<div class="widget-body">
	<div class="widget-main">
		<div class="row-fluid">
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						<label for="add-image-comment">Favorites:</label>
						<select name="favorites" id="favorites">
							<option>-- select --</option>
						</select>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<div class="controls">
						<label for="new">Add New:</label>
						<input name="new" id="new" type="text" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}