{% extends 'fan/modals/modal.html' %}

{% block modal_id %}updates-modal{% endblock %}

{% block title %}
	Download Mobile APP
{% endblock %}

{% block content %}
<div class="widget-body">
	<div class="widget-main">
		<form id="add-update">
			<div class="row-fluid">
				<div class="span12">
					<p>
						Update SPUDS are first being introduced as specific mobile applications. <br />
						Download the appropriate Mobile APP to be able to Create Update SPUDS.
					</p>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}