{% extends 'spudderadmin/base.html' %}
{% load featuretags %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% block menu %}
                    {% include 'spudderqa/components/menu.html' with active='dashboard' %}
                {% endblock %}
            </div>
            <div class="col-sm-10">
                {% block qa_page %}
                    <div class="page-header">
                        <h1><i class="fa fa-dashboard"></i> QA Dashboard</h1>
                    </div>

                    {% if 'email_error_logs'|feature_is_enabled %}
                        <a href="/qa/send_error_email_to_admins" class="btn btn-danger">Send error email to admins</a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}