.breadcrumb > li > a {
	color: #F03C02;
}

.nav-tabs > li > a:hover {
	color: #F03C02;
}

.ace-nav > li > a > .badge-black {
	background-color: #111!important;
}

.ace-nav > li > a > .badge-black.hover {
	background-color: #F03C02!important;
}

.ace-nav > li.black.open .btn-orange {
	background-color: #111!important;
}

.ace-nav .dropdown-menu.dropdown-orange li > a:hover {
	background-color: #111!important;
}

.skin-3 .menu-min .nav-list > li.active > a {
	background-color: #a89b94;
}

.skin-3 .nav-list > li > a:focus {
	color: #F03C02;
}

.nav-search .nav-search-input {
	border-color: #F03C02;
}

.nav-search .nav-search-icon {
	color: #F03C02!important;
}

.nav-search .nav-search-input:focus, .nav-search .nav-search-input:hover {
	border-color: #000;
}

.nomargin {
	margin: 0px;
}

.border-bottom {
	border-bottom: 1px solid #C5D0DC;
}

#fans .favorite-team {
	margin-bottom: 10px;
}

#fans .tab-content {
	overflow: visible;
}

.icon-huge {
	font-size: 6em;
}

#spuds-toggle #view-spuds {
	margin-top: 20px;
}

#create-spuds-buttons {
	margin-top: 10px;
}

#create-spuds-buttons > div:hover {
	background-color: #111;
	cursor: pointer;
}

#create-spuds-buttons > div {
	background-color: #FF6B00;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#create-spuds-buttons div.modal {
	color: #111;
}

[id^="tag-modal"] .title {
	display: inline-block;
	margin-left: 10px;
	font-size: 1.3em;
}

[id^="tag-modal"] .row-fluid div.button {
	font-size: 1.5em;
	background-color: #FF6B00;
	color: #fff;
	padding: 15px 5px;
	border-radius: 10px;
	text-align: center;
}

[id^="tag-modal"] .row-fluid div.button:hover {
	background-color: #111;
	cursor: pointer;
}

[id^="tag-modal"] {
	width: 760px;
	margin-left: -380px;
}

[id^="tag-modal"] .row-fluid .bar {
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0px;
	float: left;
	width: 100%;
}

[id^="tag-modal"] h3 [class^="icon"] {
	font-size: 2.5em;
}

.btn-orange {
	background-color: #F03C02!important;
	border-color: #F03C02;
}

.btn-orange:hover {
	background-color: #000!important;
}

.sidebar-shortcuts-large .btn {
	width: 35px;
}