{% load featuretags %}

{% if 'challenges_landing_page'|feature_is_enabled %}
    <li>
        <a href="/challenges">
            <i class="fa fa-trophy"></i> Challenges!
        </a>
    </li>
{% endif %}

<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        Explore <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/spuds"><img src="/static/img/spudderspuds/button-spuds-tiny.png"/> Explore Spudder</a></li>
        <li><a href="/spuds/search/teams"><img src="/static/img/spudderspuds/button-teams-tiny.png"/> Find Teams</a></li>
        <li><a href="/spuds/search/fans"><img src="/static/img/spudderspuds/button-fans-tiny.png"/> Find Fans</a></li>
        <li><a href="/spuds/search/venues"><img src="/static/img/spuddervenues/button-venues-tiny.png"/> Find Venues</a></li>
    </ul>
</li>