{% extends 'spudderaccounts/base.html' %}
{% load bootstrap3 %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'ACCOUNTS Add new role');
{% endblock %}

{% block body %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/users">User dashboard</a></li>
            <li class="active">Add new role</li>
        </ol>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spuddercern/button-cern-large.png"/>
                            <div class="caption">
                                <h3>Student in CERN</h3>
                                <p>Use the button below to add a new Student role to this account.</p>
                                <p>Each unique Amazon account can only have <strong>one</strong> role in Spudder, but your Spudder account can be associated with multiple Amazon accounts.</p>
                                <a href="/cern/register/" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add a new student role
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spuddersponsors/button-sponsors-large.png"/>
                            <div class="caption">
                                <h3>Venue Sponsor</h3>
                                <p>Use the button below to add a new Sponsor role to this account.</p>
                                <p>Each unique Amazon account can only have <strong>one</strong> role in Spudder, but your Spudder account can be associated with multiple Amazon accounts.</p>
                                <a href="/accounts/login/sponsors" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add a new Sponsor role
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="/static/img/spudderfans/button-fans-large.png"/>
                            <div class="caption">
                                <h3>Fan</h3>
                                <p>Use the button below to add a new Fan role to this account.</p>
                                <p>Each unique Amazon account can only have <strong>one</strong> role in Spudder, but your Spudder account can be associated with multiple Amazon accounts.</p>
                                <a href="/accounts/login/fans" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add a new Fan role
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}