{% extends 'spudderaccounts/base.html' %}
{% load bootstrap3 %}
{% load spudderaccountstags %}

{% block body %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">User dashboard</li>
        </ol>

        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-user"></i> Account Settings
                        </h4>
                    </header>
                    <form class="panel-body" method="post">
                        <fieldset>
                            <legend>Manage your basic user details</legend>
                            {% if profile_details_form_saved %}
                                <div class="alert alert-success alert-dismissable alert-autohide">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4><i class="fa fa-check"></i> Profile Details Saved</h4>
                                    <p>Your profile details were updated</p>
                                </div>
                            {% endif %}
                            {% csrf_token %}
                            <input type="hidden" name="form" value="profile_detail"/>
                            {% bootstrap_form profile_details_form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            {% endbuttons %}
                        </fieldset>
                    </form>
                </div>

            </div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-users"></i> Spudder Roles
                        </h4>
                    </header>
                    <div class="panel-body" method="POST">
                        <legend>Manage your roles within Spudder</legend>
                        {% if current_role %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="media">
                                        <img class="media-object pull-left" src="{{ current_role.image }}" />
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ current_role.title|safe }}</h4>
                                            <p>{{ current_role.subtitle|safe }}</p>
                                            <p><span class="label label-success">Current role</span></p>
                                            <a href="javascript:alert('in development');" title="delete" class="pull-right" style="margin-top: 5px">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                            <a href="javascript:alert('in development');{# role.links.role_management_url #}" class="btn btn-default btn-sm">
                                                <i class="fa fa-cog"></i> Manage this role
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% for role in other_roles %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="media">
                                        <img class="media-object pull-left" src="{{ role.image }}" />
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ role.title|safe }}</h4>
                                            <p>{{ role.subtitle|safe }}</p>
                                            <a href="javascript:alert('in development');" title="delete" class="pull-right" style="margin-top: 5px">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                            <div class="btn-group">
                                                <a href="javascript:alert('in development');{# role.links.role_management_url #}" class="btn btn-default btn-sm">
                                                    <i class="fa fa-cog"></i> Manage this role
                                                </a>
                                                <a href="{% change_role_and_return_url role %}" class="btn btn-default btn-sm">
                                                    Activate this role
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if not current_role and not other_roles %}
                            <div class="alert alert-info">
                                <h4><i class="fa fa-exclamation"></i> You don't have any roles.</h4>
                                <p>To get the best of the Spudder universe, you really need to add some roles.</p>
                                <p>Do you want to be a Sponsor, a Fan or a Team Manager, the choice is yours.</p>
                                <p><i class="fa fa-hand-o-down"></i> <b>Add a role now!</b></p>
                            </div>
                        {% endif %}
                        <a href="/users/roles/add" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Add new role
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}