{% extends 'spudderaccounts/base.html' %}
{% load bootstrap3 %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-user"></i> Account Settings
                        </h4>
                    </header>
                    <form class="panel-body" method="post">
                        <fieldset>
                            <legend>Manage your basic user details</legend>
                            {% if profile_details_form_saved %}
                                <div class="alert alert-success alert-dismissable alert-autohide">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4><i class="fa fa-check"></i> Profile Details Saved</h4>
                                    <p>Your profile details were updated</p>
                                </div>
                            {% endif %}
                            {% csrf_token %}
                            <input type="hidden" name="form" value="profile_detail"/>
                            {% bootstrap_form profile_details_form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            {% endbuttons %}
                        </fieldset>
                    </form>
                </div>

            </div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-users"></i> Spudder Roles
                        </h4>
                    </header>
                    <div class="panel-body" method="POST">
                        <legend>Manage your roles within Spudder</legend>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}