{% extends 'spudderaccounts/base_single_well.html' %}
{% load bootstrap3 %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'ACCOUNST Sign in with password');
{% endblock %}

{% block well_body %}
    <h4>Enter your password</h4>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Please enter your password.</legend>
            {% bootstrap_form signin_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-signin"></i> Signin
                </button>
            {% endbuttons %}
        </fieldset>
    </form>
{% endblock %}