{% extends 'spudderaccounts/base.html' %}
{% load bootstrap3 %}

{% block user_account_nav %}{% endblock %}
{% block current_role_nav %}{% endblock %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'ACCOUNTS Choose account');
{% endblock %}

{% block body %}
    <div class="container">

        <div class="alert alert-info">
            <h4>Which account to log in with?</h4>
            <p>Please login with your primary (first) spudder account.</p>
            <p><small>You will have access to all your roles once logged in.</small></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 420px;">
                        <div class="thumbnail">
                            <img src="/static/img/spuddercern/button-cern-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Student in CERN</h3>
                                <p>Login as a Student in CERN</p>
                                <a id="log-in-with-amazon-student">
                                    <img border="0" alt="Login with Amazon"
                                             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                                             width="156" height="32" style="margin-bottom: 10px;"/>
                                </a>
                                <p>Don't have an account?</p>
                                <a href="/cern/register/" class="btn btn-primary">Register as a Student</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 420px;">
                        <div class="thumbnail">
                            <img src="/static/img/spuddersponsors/button-sponsors-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Venue Sponsor</h3>
                                <p>Login as a Venue Sponsor</p>
                                <a id="log-in-with-amazon-sponsor">
                                    <img border="0" alt="Login with Amazon"
                                        src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                                        width="156" height="32" style="margin-bottom: 10px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 420px;">
                        <div class="thumbnail">
                            <img src="/static/img/spudderspuds/button-fans-large.png"/>
                            <div class="caption" style="text-align: center;">
                                <h3>Fan</h3>
                                <p>Login as a Fan</p>
                                <a id="log-in-with-amazon-fan">
                                    <img border="0" alt="Login with Amazon"
                                        src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                                        width="156" height="32" style="margin-bottom: 10px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'spudderaccounts/parts/amazon_login_js.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#log-in-with-amazon-sponsor').click(function(){
                loginWithAmazon('{{ base_url }}/accounts/login/amazon?next=/sponsor/page&account_type=sponsor');
            });
            $('#log-in-with-amazon-student').click(function(){
                loginWithAmazon('{{ base_url }}/accounts/login/amazon');
            });
            $('#log-in-with-amazon-fan').click(function(){
                loginWithAmazon('{{ base_url }}/accounts/login/amazon?next=/fan/page&account_type=fan');
            });
        });
        
        function loginWithAmazon(returnURL) {
            if (typeof amazon == undefined) return;

            var options = { scope : 'profile', interactive: 'always' };

            amazon.Login.authorize(options, returnURL);

            return false;
        }
    </script>

{% endblock js %}