<h4><% title %></h4>
<ul id="<% id %>" class="jcarousel-skin-tango recent-jcarousel clients display-items">
	<% if ( isSponsorUs ) { %>
		<li>
			<a href="#" class="">
				<img src="/media/img/sponsor.png" />
			</a>
		</li>
		<li>
			<a href="#" class="">
				<img src="/media/img/follow.png" width="155" height="60" />
			</a>
		</li>
	<% } %>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client3.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client4.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client5.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client6.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client1.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client2.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client3.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client4.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client5.png" class="client-logo" alt="" />
	</a>
	</li>
	<li>
	<a href="#">
	<img src="/media/img/dummies/clients/client6.png" class="client-logo" alt="" />
	</a>
	</li>
</ul>