<div class="spud-container with-arrows">
	<div class="arrow arrow-left">
		<i class="icon-arrow-left"> </i>
	</div>
	<div class="arrow arrow-right">
		<i class="icon-arrow-right"> </i>
	</div>
	
	<div class="content">
		<% if( getValueOrEmpty( user.get('profileImageThumb') ) == '' ) { %>
	  		<img width="50" height="50" src="/media/dashboard/avatars/no_avatar.png" class="social-avatar pull-left">
	    <% } else { %>
	        <img width="50" height="50" src="<%= user.get('profileImageThumb') %>" class="social-avatar pull-left">
	    <% } %>
		<div class="profile-details clearfix">
	        <a href="#" class="user-name">
				<% if (getValueOrEmpty(user.get('nickname')) != '') { %>
	                <%= user.get('nickname') %>
	            <% } else if (getValueOrEmpty(user.get('krowdioUserId')) != '') { %>
	                #<%= user.get('krowdioUserId') %>
	        	<% } else { %>
	                Anonymous
	            <% } %>
			</a>
			<p>
            	<em>2 days ago</em>
            </p>
		</div>
		
		
		<img src="/media/dashboard/images/futboloynayancocuk.jpg" class="spud-image" />
		
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. 
		</p>
		
		<div class="buttons-bottom"> 
			<div title="Like" class="btn btn-small btn-black-outline"> 
    			<i class="icon-thumbs-up"> </i> 
    		</div> 
    		<div title="Dislike" class="btn btn-small btn-black-outline"> 
    			<i class="icon-thumbs-down"> </i> 
    		</div> 
    		<div title="Tag" class="btn btn-small btn-black-outline"> 
    			<i class="icon-tag"> </i> 
    		</div> 
    		<div title="Tag Venue" class="btn btn-small btn-black-outline"> 
    			<i class="icon-map-marker"> </i> 
    		</div> 
    		<div title="Share" id="share" class="btn btn-small btn-black-outline"> 
    			<i class="icon-share-alt"> </i> 
    		</div> 
    	</div>
	</div>
	<div class="spud-comments">
		<form role="form">
        	<div class="form-group">
        		<input type="email" placeholder="Add a comment..." id="exampleInputEmail1" class="form-control">
        	</div>
        </form>
	</div>
</div>