</head>
<body>
	<div id="wrapper">
		<header>
			<div class="container">
				<div class="row nomargin">
					<div class="span12">
						<div class="row">
							<% include ../../parts/head-nav %>
						</div>
					</div>
					<div class="row logo-and-nav-row">
						<% include logo-and-socials %>
					</div>
				</div>
			</div>
			
            <% include ../../parts/modals %>

			<% include ../../accounts/signUp %>
			
			<% include ../../accounts/signIn %>
			
			<% include ../../accounts/resetPassword %>
		</header>