		<footer>
			<div class="container">
				<div class="row">
					<div class="span3">
						<div class="widget"> 
							<h5 class="widgetheading">Important Roles</h5>
							<ul class="link-list">
								<li><a href="#">Fan</a></li>
								<li><a href="#">Player</a></li>
								<li><a href="#">Coach</a></li>
								<li><a href="#">Groundskeeper</a></li>
								<li><a href="#">Sponsor</a></li>
							</ul>
						</div>
					</div>
					<div class="span2">
						<div class="widget">
							<h5 class="widgetheading">About Spudder</h5>
							<ul class="link-list">
								<li><a href="#">About our company</a></li>
								<li><a href="#">Our services</a></li>
								<li><a href="#">Meet our team</a></li>
								<li><a href="/spudmart">The SPUDMART</a></li>
								<li><a href="#">Get in touch with us</a></li>
							</ul>
						</div>
					</div>
					<div class="span4">
						<div class="widget">
							<iframe class="spud-video" width="280" height="220" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/aBjEYkdbmh4"></iframe>
							<div class="clear">
							</div>
						</div>
					</div>
                    <div class="span3">
                        <div class="widget">
                            <h5 class="widgetheading">Why use Spudmart</h5>
                            <address>
                                Our patent pending system gives more than just the score, it gives amateur sports leagues a platform to connect, promote, fund and grow their local communities with about 50% the effort.
                            </address>
                        </div>
                    </div>
				</div>
			</div>
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						<div class="span6">
							<div class="copyright">
								<p>
									<span>&copy; Spudder LLC 2013 All right reserved. Designed by </span><a href="http://dennisharabin.com" target="_blank">Dennis Harabin</a>
								</p>
							</div>
						</div>
						<div class="span6">
							<ul class="social-network">
								<li><a data-original-title="Facebook" href="http://www.facebook.com/spudderdotcom" target="_blank" data-placement="bottom" title=""><i class="icon-facebook icon-square"></i></a></li>
								<li><a data-original-title="Twitter" href="https://twitter.com/spudderdotcom" target="_blank" data-placement="bottom" title=""><i class="icon-twitter icon-square"></i></a></li>
								<!-- <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li> -->
								<li><a data-original-title="Pinterest" href="http://pinterest.com/spudderdotcom/" target="_blank" data-placement="bottom" title=""><i class="icon-pinterest icon-square"></i></a></li>
								<li><a data-original-title="Google plus" href="https://plus.google.com/113968251038874482620" target="_blank" rel="publisher" data-placement="bottom" title=""><i class="icon-google-plus icon-square"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
	
	