<div class="span4">
    <div class="logo">
        <a href="/"><img src="/media/img/spudder_logo.jpg" alt="" class="logo" /></a>
    </div>
</div>
<div class="span8">
    <div class="navbar navbar-static-top">
        <div class="navigation">
            <nav>
                <ul class="nav topnav">
                    <li class="active"><a href="/">Home</a></li>

                    <li class="dropdown">
                        <a href="#">Features <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tournament">League/Tournament</a></li>
                            <li><a href="#">Team Management</a></li>
                            <li><a href="#">Sponsorships</a></li>
                            <li><a href="/spudmart">Spudmart &reg;</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#">Stores <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Store 1</a></li>
                            <li><a href="#">Store 2</a></li>
                            <li><a href="#">Store 3</a></li>
                            <li><a href="#">Store 4</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#">Sellers <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Seller 1</a></li>
                            <li><a href="#">Seller 2</a></li>
                            <li><a href="#">Seller 3</a></li>
                            <li><a href="#">Seller 4</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#">Buyers <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Buyer 1</a></li>
                            <li><a href="#">Buyer 2</a></li>
                            <li><a href="#">Buyer 3</a></li>
                            <li><a href="#">Buyer 4</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Search</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>