<div class="span4">
    <div class="logo">
        <a href="/"><img src="/media/img/spudder_logo.jpg" alt="" class="logo" /></a>
    </div>
</div>
<div class="span8">
	<div class="social-links pull-right">
        <table>
            <tr>
                <td class="share-cell">Share:</td>
                <td class="twitter-cell">
                    <%- twitterShareButton('Checkout this great entity! #spudder') %>
                </td>
                <td class="google-plus-cell">
                    <%- googlePlusShareButton() %>
                </td>
                <td class="facebook-cell">
                    <%- facebookShareButton() %>
                </td>
                <td class="email-cell">
                    <%- emailShareButton(meta.url) %>
                </td>
            </tr>
        </table>
    </div>
</div>