<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div class="tab-content clearfix">
	
	<h1 class="border-bottom"><i class="icon-camera icon-microphone"></i>Create SPUDS</h1>
	
	<div class="row-fluid">
		<div class="span8">
			<% include modals/tag %>
			<% include modals/tagTeam %>
			<% include modals/tagCoach %>
			<% include modals/tagPlayer %>
			<% include modals/tagLeague %>
			<% include modals/tagTournament %>
			<% include modals/tagField %>
	
			<div class="row-fluid create-spuds-modals" id="create-spuds-buttons">
			
				<div class="span3 text-center btn-orange" modal-id="#images-modal">
					<h3>Images</h3>
					<i class="icon-camera icon-huge"></i>
					<% include modals/images %>
				</div>
				<div class="span3 text-center btn-orange" modal-id="#videos-modal">
					<h3>Videos</h3>
					<i class="icon-facetime-video icon-huge"></i>
					<% include modals/videos %>
				</div>
				<div class="span3 text-center btn-orange" modal-id="#updates-modal">
					<h3>Updates</h3>
					<i class="icon-headphones icon-huge"></i>
					<% include modals/updates %>
				</div>
				<div class="span3 text-center btn-orange" modal-id="#announcements-modal">
					<h3>Announcements</h3>
					<i class="icon-volume-up icon-huge"></i>
					<% include modals/announcements %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-fluid" id="view-spuds">
		<div class="span8">
			<h5>View SPUDS on the <a class="btn btn-orange btn-small" href="/dashboard">SPUDS FEED</a></h5>
		</div>
	</div>

</div>

<% include ../parts/scripts %>

<script src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/media/dashboard/js/chosen.jquery.min.js"></script>
<script src="/media/dashboard/js/bootstrap-tag.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
	
		// TODO: remove after creating other example
		$(".chzn-select").chosen({ 'width' : '220px' });
		
		var playerTagsInput = $('#player-tags-input');
		playerTagsInput.tag({ placeholder : playerTagsInput.attr('placeholder') });
		
		$("div.bar div.button").tooltip({
			hide: {
				effect: "explode",
				delay: 2500
			},
			show: {
				effect: "slideDown",
				delay: 2500
			}
		});
		
		$('#id-input-file-2').ace_file_input({
			no_file:'No File ...',
			btn_choose:'Choose',
			btn_change:'Change',
			droppable:false,
			onchange:null,
			thumbnail:false //| true | large
			//whitelist:'gif|png|jpg|jpeg'
			//blacklist:'exe|php'
			//onchange:''
			//
		});
		
		$('#images-input-file').ace_file_input({
			style:'well',
			btn_choose:'Drop files here or click to choose',
			btn_change:null,
			no_icon:'icon-cloud-upload',
			droppable:true,
			thumbnail:'small'
			//,icon_remove:null//set null, to hide remove/reset button
			/**,before_change:function(files, dropped) {
				//Check an example below
				//or examples/file-upload.html
				return true;
			}*/
			/**,before_remove : function() {
				return true;
			}*/
			,
			preview_error : function(filename, error_code) {
				//name of the file that failed
				//error_code values
				//1 = 'FILE_LOAD_FAILED',
				//2 = 'IMAGE_LOAD_FAILED',
				//3 = 'THUMBNAIL_FAILED'
				//alert(error_code);
			}
		});
		
		$('#create-spuds-buttons > div').modal({ 'show' : false });
		
		$('#create-spuds-buttons > div').click(function() {
			var modalID = $(this).attr('modal-id');
			var modal = $('' + modalID);
			modal.appendTo($('body'));
			modal.modal('show');
		});
		
		$('.create-spuds-modals .modal .next').on('click', function() {
			$('.modal').modal('hide');
			var modal = $('#tag-modal');
			modal.appendTo($('body'));
			modal.modal();
		});
		
		$('.open-modal').on('click', function() {
			var modalID = $(this).attr('modal-id');
			$('.modal').modal('hide');
			var modal = $('' + modalID);
			modal.appendTo($('body'));
			modal.modal();
		});
	});
</script>

<% include ../parts/foot %>
