<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div class="tab-content clearfix">

	<form method="POST" action="" class="span3">
		<div class="control-group">
			<label class="control-label" for="form-field-pass1">New Password</label>
		
			<div class="controls">
				<input id="form-field-pass1" type="password" name="password">
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="form-field-pass2">Confirm Password</label>
		
			<div class="controls">
				<input id="form-field-pass2" type="password" name="password2">
			</div>
		</div>
		<div>
			<button type="button" class="btn btn-orange">
				<i class="icon-ok bigger-110"></i>
				Save
			</button>
	
			&nbsp; &nbsp; &nbsp;
			<button type="reset" class="btn btn-darkgrey">
				<i class="icon-undo bigger-110"></i>
				Reset
			</button>
		</div>
	</form>
	
</div>

<% include ../parts/scripts %>

<% include ../parts/foot %>
