
.orange {
    color: #F03C02 !important;
}
.breadcrumb > li > a {
    color: #000000;
}
.nav-tabs > li > a:hover {
    color: #F03C02;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus {
    background-color: #A89B94;
    color: #000000;
}
.skin-3 .nav-list > li:hover > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li:hover {
    background-color: #BCAFA8;
}
.skin-3 .sidebar-shortcuts {
    background-color: #A89B94;
}
.ace-nav > li > a > .badge-black {
    background-color: #111111 !important;
}
.ace-nav > li > a > .badge-black.hover {
    background-color: #F03C02 !important;
}
.ace-nav > li.black.open .btn-orange {
    background-color: #111111 !important;
}
.ace-nav .dropdown-menu.dropdown-orange li > a:hover {
    background-color: #111111 !important;
}
.skin-3 .menu-min .nav-list > li.active > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li.active > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li.active > a:focus {
    color: #F03C02;
}
.skin-3 .nav-list > li.open > a {
    background-color: #BCAFA8;
}
.skin-3 .nav-list > li > a {
    background-color: #A89B94;
    color: #000000;
}
.skin-3 .nav-list > li.open > a:focus {
    color: #F03C02;
}
.skin-3 .nav-list > li > a:focus {
    background-color: #BCAFA8;
    color: #000000;
}
.nav-list > li .submenu > li > a {
    color: #000000;
}
.nav-list > li .submenu > li > a:hover {
    color: #F03C02;
}
.skin-3 .sidebar-collapse {
    background-color: #A89B94;
}
.skin-3 .sidebar, .skin-3 .sidebar:before {
    background-color: #A89B94;
}
.breadcrumbs {
    background-color: #A89B94;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #BCAFA8;
}
.nav-search .nav-search-input {
    border-color: #F03C02;
}
.nav-search .nav-search-icon {
    color: #F03C02 !important;
}
.nav-search .nav-search-input:focus, .nav-search .nav-search-input:hover {
    border-color: #000000;
}
.nomargin {
    margin: 0;
}
.border-bottom {
    border-bottom: 1px solid #C5D0DC;
}
#fans .favorite-team {
    margin-bottom: 10px;
}
#fans .tab-content {
    overflow: visible;
}
.icon-huge {
    font-size: 6em;
}
#spuds-toggle #view-spuds {
    margin-top: 20px;
}
#create-spuds-buttons {
    margin-top: 10px;
}
#create-spuds-buttons > div:hover {
    background-color: #111111;
    cursor: pointer;
}
#create-spuds-buttons > div {
    background-color: #FF6B00;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 5px 10px;
}
#create-spuds-buttons div.modal {
    color: #111111;
}
[id^="tag-modal"] .title, .spud-container .title {
    display: inline-block;
    font-size: 1.3em;
    margin-left: 10px;
}
[id^="tag-modal"] .row-fluid div.button, .spud-container .row-fluid div.button {
    background-color: #FF6B00;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 15px 5px;
    text-align: center;
}
[id^="tag-modal"] .row-fluid div.button:hover, .spud-container .row-fluid div.button:hover {
    background-color: #111111;
    cursor: pointer;
}
[id^="tag-modal"] {
    margin-left: -390px;
    width: 780px;
}
[id^="tag-modal"] .row-fluid.bar, .spud-container .row-fluid.bar {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
    width: 100%;
}
[id^="tag-modal"] h3 [class^="icon"] {
    font-size: 2.5em;
}
.spud-container h3 [class^="icon"] {
    font-size: 1.8em;
    margin-left: 20px;
}
.spud-container h3 {
    font-size: 1.4em;
    margin-bottom: -5px;
}
.centered {
    display: table;
    margin: auto;
}
.spud-container [class^="icon-"], [class*=" icon-"] {
    margin-right: 0;
}
.btn-orange {
    background-color: #F03C02 !important;
    border-color: #F03C02;
}
.btn-orange:hover {
    background-color: #000000 !important;
}
.btn-orange.btn-noborder {
    background-color: #F03C02 !important;
    border: 0 none;
}
.btn-orange.btn-noborder:hover {
    background-color: #000000 !important;
    border: 0 none;
}
.btn-darkgrey {
    background-color: #A89B94 !important;
    border-color: #A89B94;
}
.btn-darkgrey:hover {
    background-color: #A89B94 !important;
    border-color: #BCAFA8;
}
.btn-lightgrey {
    background-color: #CFCFCF !important;
    border-color: #CFCFCF !important;
}
.sidebar-shortcuts-large .btn {
    width: 35px;
}
.spud-container .row-fluid div.button.grey, [id^="tag-modal"] .row-fluid div.button.grey {
    background-color: #A9A9A9;
    color: #FFFFFF !important;
}
.spud-container .row-fluid div.button.green, [id^="tag-modal"] .row-fluid div.button.green {
    background-color: #46B946;
    color: #FFFFFF !important;
}
.spud-container .row-fluid div.button.red, [id^="tag-modal"] .row-fluid div.button.red {
    background-color: #FF3333;
    color: #FFFFFF !important;
}
.spud-container .row-fluid div.button.yellow, [id^="tag-modal"] .row-fluid div.button.yellow {
    background-color: #FF3333;
    color: #FFFFFF !important;
}
#entity-create {
    margin-top: 10px;
}

#entity-create .form-horizontal .controls {
	margin-top: 5px;
}

#entity-create p.head,
#invitations-list p.head {
    font-size: 34px;
    line-height: 40px;
}

#entity-create input {
    width: 390px;
    padding-left: 10px;
}

#entity-create span.input-icon.input-icon-right input {
    width: 360px;
    padding-left: 10px;
    padding-right: 30px;
}

#entity-create span.input-icon.input-icon-left input {
    width: 375px;
    padding-left: 25px;
    padding-right: 0;
}

#entity-create .tags input {
	width: auto;
}

#entity-create input[type="checkbox"] {
	width: auto;
	opacity: 1;
	margin-left: 5px;
} 

#entity-create .hide-publicly-text {
	margin-left: 25px;
}

#entity-create input.player-position {
	margin-left: 1px;
    width: 340px;
}

#entity-create input.player-number {
	width: 50px;
}

#entity-create input.input-mask-phone, #entity-create input.input-mask-website {
    border: 2px inset;
    margin-bottom: 0;
    padding: 0;
}
#entity-create span.input-icon i.icon-phone, #entity-create span.input-icon i.icon-bookmark {
    top: -1px;
}
#entity-create .input-icon.input-icon-right > [class*="icon-"] {
    right: 5px;
}
#entity-create div.input-append {
    margin-bottom: 0;
}
#entity-create input.date-picker {
    width: 360px;
}
#entity-create textarea {
    margin-bottom: 0;
    width: 385px;
    padding-left: 10px;
}
#entity-create select {
    margin-bottom: 0;
    width: 405px;
}
#entity-create dl.dl-horizontal dd, #entity-create dl.dl-horizontal dt {
    margin-bottom: 5px;
}

#entity-create dl.dl-horizontal dt {
	height: 23px;
}

#entity-create .location {
    font-size: 18px;
}
#entity-create .ace-file-input {
    margin-bottom: 0;
    width: 405px;
}
#entity-create .ace-file-input label:before {
    background-color: #F03C02;
}
#entity-create dd.offer-images .ace-file-input label {
    margin-bottom: 0;
}
#entity-create dd.offer-images .ace-file-input {
    height: 34px;
}
#entity-create .ace-file-input label.selected {
    right: 0;
}
#entity-create .ace-file-input label.selected + .remove {
    right: -24px;
}
#entity-create table.header-table td.image-cell {
    vertical-align: middle;
}
#entity-create table.header-table td:not(.image-cell) {
    padding-top: 5px;
}
#entity-create table.header-table img {
    border-radius: 15px;
    margin-right: 10px;
    width: 65px;
}
#entity-create table.header-table i {
    font-size: 50px;
    margin-right: 10px;
}
#entity-create .control-group {
    margin-bottom: 0;
}
#entity-create label.error {
    color: #C41A08;
}
#entity-create label[for="profile-picture-input"] {
    border: 0 none;
    top: 35px;
}
#entity-create label[for^="offer-image-input"] {
    border: 0 none;
    left: 450px;
    top: 5px;
    width: 300px;
}
#entity-create label[for="profile-picture-input"]:before, #entity-create label[for^="offer-image-input"]:before {
    display: none;
}
#my-entity-list a.btn-action {
    padding-top: 2px;
}
#my-entity-list a.btn-action i[class^="icon-"] {
    font-size: 20px;
}
#my-entity-list tbody tr:first-child td {
    padding-top: 8px;
}
#my-entity-list td {
    padding-bottom: 4px;
    padding-top: 4px;
}
#teams-offers-list {
    margin-top: 10px;
}
#teams-offers-list p.head {
    font-size: 26px;
}
#teams-offers-list p.head a {
    top: -3px;
}
#teams-offers-list table th.quantity, #teams-offers-list table th.end-date, #teams-offers-list table th.public-page {
    width: 10%;
}
#teams-offers-list table th.actions {
    width: 20%;
}
#teams-offers-list table td.quantity {
    padding-left: 20px;
}
#teams-offers-list table td.public-page {
    padding-left: 35px;
}
#mySignup .loading, #mySignin .loading {
    display: inline-block;
    margin-left: 10px;
    visibility: hidden;
}
form .input-required {
    color: #C41A08;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.tooltip-inner {
    white-space: pre-wrap;
}
#basic_info label {
    display: inline-block;
}
#basic_info .ace-file-input label:before {
    background-color: #F03C02;
}

#entity-create .create-entity-button {
    margin-bottom: 10px;
    margin-right: 10px;
}

.ace-nav .nav-user-photo {
	max-height: 36px;
}

.create-entity-button.btn > [class*="icon-"] {
	margin: 0px;
	line-height: 20px;
}

.margin-right5 {
	margin-right: 5px;
}

#tag-modal #image-preview,
#tag-modal #comment-preview {
	width: 90%;
	margin-top: 10px;
}

.alert {
	display: none;
}

#invites li a.btn.btn-small {
	border-radius: 3px;
    font-size: 12px;
    padding: 2px 10px;
}

#invites li div.question {
	padding-bottom: 5px;
}

#top-right-icons .dropdown-navbar > li {
	padding: 5px 8px;
}

#top-right-icons .dropdown-navbar > li.nav-header {
	background-color: #a89b94 !important;
	color: #000;
	border-bottom-color: #F06F05;
}

#top-right-icons .dropdown-navbar > li.nav-header > [class*="icon-"] {
	color: #fff;
}

#top-right-icons .dropdown-navbar > li:hover {
	background-color: #BCAFA8 !important;
}

#top-right-icons .dropdown-navbar {
	border-color: #F06F05; 
}

#top-right-icons a.orange-link {
	color: #F03C02;
}

#top-right-icons a.orange-link:hover {
	color: #F06F05;
}
