.orange {
	color: #F03C02!important;
}

.breadcrumb > li > a {
	color: #000;
}

.nav-tabs > li > a:hover {
	color: #F03C02;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
	background-color: #a89b94;
	color: #000;
}

.skin-3 .nav-list > li:hover > a {
	background-color: #BCAFA8;
}

.skin-3 .nav-list > li:hover {
	background-color: #BCAFA8;
}

.skin-3 .sidebar-shortcuts {
	background-color: #a89b94;
}

.ace-nav > li > a > .badge-black {
	background-color: #111!important;
}

.ace-nav > li > a > .badge-black.hover {
	background-color: #F03C02!important;
}

.ace-nav > li.black.open .btn-orange {
	background-color: #111!important;
}

.ace-nav .dropdown-menu.dropdown-orange li > a:hover {
	background-color: #111!important;
}

.skin-3 .menu-min .nav-list > li.active > a {
	background-color: #BCAFA8;
}

.skin-3 .nav-list > li.active > a {
	background-color: #BCAFA8;
}

.skin-3 .nav-list > li.active > a:focus {
	color: #F03C02;
}

.skin-3 .nav-list > li.open > a {
	background-color: #BCAFA8;
}

.skin-3 .nav-list > li > a {
	background-color: #a89b94;
	color: #000;
}

.skin-3 .nav-list > li.open > a:focus {
	color: #F03C02;
}

.skin-3 .nav-list > li > a:focus {
	background-color: #BCAFA8;
	color: #000;
}

.nav-list > li .submenu > li > a {
	color: #000;
}

.nav-list > li .submenu > li > a:hover {
	color: #F03C02;
}

.skin-3 .sidebar-collapse {
	background-color: #a89b94;
}

.skin-3 .sidebar, .skin-3 .sidebar:before {
	background-color: #a89b94;
}

.breadcrumbs {
	background-color: #a89b94;
}

.breadcrumb > li {
	text-shadow: 0 1px 0 #BCAFA8;
}

.nav-search .nav-search-input {
	border-color: #F03C02;
}

.nav-search .nav-search-icon {
	color: #F03C02!important;
}

.nav-search .nav-search-input:focus, .nav-search .nav-search-input:hover {
	border-color: #000;
}

.nomargin {
	margin: 0px;
}

.border-bottom {
	border-bottom: 1px solid #C5D0DC;
}

#fans .favorite-team {
	margin-bottom: 10px;
}

#fans .tab-content {
	overflow: visible;
}

.icon-huge {
	font-size: 6em;
}

#spuds-toggle #view-spuds {
	margin-top: 20px;
}

#create-spuds-buttons {
	margin-top: 10px;
}

#create-spuds-buttons > div:hover {
	background-color: #111;
	cursor: pointer;
}

#create-spuds-buttons > div {
	background-color: #FF6B00;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#create-spuds-buttons div.modal {
	color: #111;
}

[id^="tag-modal"] .title,
.spud-container .title {
	display: inline-block;
	margin-left: 10px;
	font-size: 1.3em;
}

[id^="tag-modal"] .row-fluid div.button,
.spud-container .row-fluid div.button {
	font-size: 1.5em;
	background-color: #FF6B00;
	color: #fff;
	padding: 15px 5px;
	border-radius: 10px;
	text-align: center;
}

[id^="tag-modal"] .row-fluid div.button:hover,
.spud-container .row-fluid div.button:hover {
	background-color: #111;
	cursor: pointer;
}

[id^="tag-modal"] {
	width: 780px;
	margin-left: -390px;
}

[id^="tag-modal"] .row-fluid.bar,
.spud-container .row-fluid.bar {
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0px;
	width: 100%;
}

[id^="tag-modal"] h3 [class^="icon"] {
	font-size: 2.5em;
}

.spud-container h3 [class^="icon"] {
	margin-left: 20px;
	font-size: 1.8em;
}

.spud-container h3 {
	font-size: 1.4em;
	margin-bottom: -5px;
}

.centered {
	display: table;
	margin: auto;
}

.spud-container [class^="icon-"], [class*=" icon-"] {
	margin-right: 0px;
}

.btn-orange {
	background-color: #F03C02!important;
	border-color: #F03C02;
}

.btn-orange:hover {
	background-color: #000!important;
}

.btn-orange.btn-noborder {
	background-color: #F03C02!important;
	border: 0;
}

.btn-orange.btn-noborder:hover {
	background-color: #000!important;
	border: 0;
}

.btn-darkgrey {
	background-color: #a89b94!important;
	border-color: #a89b94;
}

.btn-darkgrey:hover {
	background-color: #a89b94!important;
	border-color: #BCAFA8;
}

.sidebar-shortcuts-large .btn {
	width: 35px;
}

.spud-container .row-fluid  div.button.grey,
[id^="tag-modal"] .row-fluid div.button.grey {
	background-color: #A9A9A9;
	color: #fff!important;
}

.spud-container .row-fluid  div.button.green,
[id^="tag-modal"] .row-fluid div.button.green {
	background-color: #46B946;
	color: #fff!important;
}

.spud-container .row-fluid  div.button.red,
[id^="tag-modal"] .row-fluid div.button.red {
	background-color: #FF3333;
	color: #fff!important;
}

.spud-container .row-fluid  div.button.yellow,
[id^="tag-modal"] .row-fluid div.button.yellow {
	background-color: #FF3333;
	color: #fff!important;
}

#mySignup .loading,
#mySignin .loading {
	display: inline-block;
	margin-left: 10px;
	visibility: hidden;
}
