<% include ../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../parts/bodyStart %>

<div id="entity-create">
    <p class="head">
        <i class="icon-group"></i> Team details:
    </p>

    <form action="/dashboard/teams/create" method="post" id="create-team-form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">Team Name:</label>
            <div class="controls">
                <input tabindex="1" name="name" id="name" />
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="location">Team Location:</label>
            <div class="controls">
                <input tabindex="2" name="location" id="location" />
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="contact-details">Team Contact Details:</label>
            <div class="controls">
                <input tabindex="3" name="contact-details" id="contact-details" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="profile">Team Profile:</label>
            <div class="controls">
                <textarea tabindex="4" name="profile" id="profile"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sport">Sport:</label>
            <div class="controls">
                <select tabindex="5" name="sport" id="sport">
                    <option value="football">Football</option>
                    <option value="soccer">Soccer</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="admins">Admins:</label>
            <div class="controls">
                <input name="admins" id="admins" placeholder="Enter emails..." tabindex="6" />
            </div>
    	</div>
        <div class="control-group">
            <label class="control-label" for="profile-picture-input">Profile Picture:</label>
            <div class="controls">
                <input type="hidden" name="profileImageThumb" />
                <input type="file" id="profile-picture-input" accept="image/*" class="file-upload-input" tabindex="7" />
            </div>
        </div>

		<div class="control-group">
            <div class="controls">
		        <button class="btn btn-orange" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>

<% include ../parts/scripts %>

<script src="/media/dashboard/js/jquery.validate.js"></script>
<script src="/media/dashboard/js/additional-methods.min.js"></script>
<script src="/media/dashboard/js/teams/helpers.js"></script>
<script src="/media/dashboard/js/bootstrap-tag.min.js"></script>
<script src="/media/js/parse.js"></script>

<script>
    $(document).ready(function () {
        Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');

        var $form = $('#create-team-form');

        $form.validate({
            rules: {
                name: "required",
                location: {
                    required: true,
                    zipcodeUS: true
                },
                picture: {
                    extension: "gif|png|jpg|jpeg"
                }
            },
            messages: {
                name: "A team name is required!",
                location: {
                    required: "A team location is required!",
                    zipcodeUS: "The specified US ZIP Code is invalid"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parent() );
            },
            onkeyup: false,
            onfocus: false,
            onclick: false,
            submitHandler: function (form) {
                var $formSubmit = $(form).find('button[type="submit"]');
                $formSubmit.text('Saving...');
                $formSubmit.attr('disabled', 'disabled');

                var dfd = new jQuery.Deferred(),
                    promise = dfd.promise();

                var pictureURL = $form.find('input[name="profileImageThumb"]'),
                    fileUploadControl = $("#profile-picture-input")[0];

                if (fileUploadControl.files.length > 0) {
                    var file = fileUploadControl.files[0],
                        name = file.name;

                    var parseFile = new Parse.File(name, file);
                    parseFile.save().then(function(image) {
                        pictureURL.val(image.url());
                        dfd.resolve();
                    }, function(error) {
                        $formSubmit.text('Save');
                        $formSubmit.removeAttr('disabled');
                        console.log(error);
                    });
                } else {
                    dfd.resolve();
                }

                $.when(promise).then(function () {
                    form.submit();
                });
            }
        });

        var $admins = $('#admins');
        $admins.tag({ placeholder: $admins.attr('placeholder'), name: $admins.attr('name'), tabindex: $admins.attr('tabindex') });
    });
</script>
<% include ../parts/foot %>