<section id="spudder-description-boxes">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="row">
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/fan">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-camera"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Fans</h6>
									<p>
										 Post, share, interact and CHEER! Everyone is a FAN!
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/players">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-user"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Players</h6>
									<p>
										 Share your sports achievements and grow your network. Become a PLAYER and take your game to the next level.
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/coaches">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-bullhorn"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Coaches</h6>
									<p>
										 COACHES work hard to make our sporting events happen. Spudder simplifies how you communicate, plan and lead.
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/teams">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-group"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Teams</h6>
									<p>
										 Build your community, manage your TEAMS and get your own Sponsors. Join Spudder to become an official TEAM and use our easy fundraising and communication tools.
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				
				<div class="row separator">
					<div class="span12">
						<div class="solidline">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/tournaments">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-trophy"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Tournaments</h6>
									<p>
										 Looking for a better way to manage your TOURNAMENT? Simplify your collections and sponsorships as well as promote and communicate, so you can raise funds more effectively.
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/leagues">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-sitemap"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Leagues</h6>
									<p>
										 Spend less time with administrative hassles and more time enjoying the sports you love. Manage your LEAGUE and grow your community.
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/sponsors">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-money"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Sponsors</h6>
									<p>
										 Are you already sponsoring a team in your community or looking to promote your business? Get more value from the money you give. SPONSOR through SPUDDER.
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<a href="http://info.spudder.com/groundskeepers">
								<div class="aligncenter icon">
									<div class="orange-circle">
										<i class="icon-map-marker"> </i>
									</div>
								</div>
								<div class="text">
									<h6>Groundskeepers</h6>
									<p>
										 Looking for a smart way to earn extra income? Become a GROUNDSKEEPER, only through Spudder!
									</p>
									<p class="read-more">
										Read more &raquo;
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>