<section id="featured">
	<div id="slider" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#slider" data-slide-to="0" class="active"></li>
		    <li data-target="#slider" data-slide-to="1"></li>
		    <li data-target="#slider" data-slide-to="2"></li>
		    <li data-target="#slider" data-slide-to="3"></li>
  		</ol>
		<div class="carousel-inner">
			<!-- Slide #1 caption -->
			<div class="item active row-fluid first" id="caption-1">
				<div class="carousel-caption row-fluid">
					<div class="span5">
						<h2>Simplified <strong>Fundrising</strong></h2>
						<p>
							We make it easier to manage, promote, communicate and record your fundraising <br /> 
							efforts. Once you have tried Spudder's simple to use web and mobile tools you will <br /> 
							wonder what to do with all your newly found free time.
						</p>
						<a href="http://info.spudder.com/fundraising" class="btn btn-more">More</a>
					</div>
					<div class="span5">
						<iframe width="520" height="340" src="//www.youtube.com/embed/Fde3tYVcuGc?hd=1&wmode=opaque&controls=1&showinfo=0;rel=0" frameborder="0"></iframe>
					</div>
				</div>
			</div>
			<!-- Slide #2 caption -->
			<div class="item row-fluid" id="caption-2">
				<div class="carousel-caption row-fluid">
					<div class="span5">
						<h2>Safe <strong>Communications</strong></h2>
						<p>
							Amateur sports volunteers are spending more time communicating and less time <br /> 
							enjoying the sports. As a VOLUNTEER it shouldn't be so difficult. Spudder makes it <br /> 
							easier and SAFER to communicate so you can focus on the game.
						</p>
						<a href="http://info.spudder.com/communications" class="btn btn-more">More</a>
					</div>
					<div class="span5">
						<iframe width="520" height="340" src="" frameborder="0"></iframe>
					</div>
				</div>
			</div>
			<!-- Slide #3 caption -->
			<div class="item row-fluid" id="caption-3">
				<div class="carousel-caption row-fluid">
					<div class="span5">
						<h2>Community <strong>Commitment</strong></h2>
						<p>
							Communities invest a lot of time and money into their amateur sports. Not only does <br /> 
							Spudder provide administrators the metrics they need to prove that it is money well <br /> 
							spent, we put our own money towards "Dreams for Kids".
						</p>
						<a href="http://info.spudder.com/community-metrics" class="btn btn-more">More</a>
					</div>
					<div class="span5">
						<iframe width="520" height="340" src="" frameborder="0"></iframe>
					</div>
				</div>
			</div>
			<!-- Slide #4 caption -->
			<div class="item" id="caption-4">
				<div class="carousel-caption row-fluid">
					<div class="span5">
						<h2>Important <strong>Updates</strong></h2>
						<p>
							Stuck at work? Out of town? We can help. Keep up to date with the games that matter <br /> 
							most. With real time updates and cutting edge features Spudder puts the games that <br /> 
							matter to you in the palm of your hand.
						</p>
						<a href="http://info.spudder.com/sports-updates" class="btn btn-more">More</a>
					</div>
					<div class="span5">
						<iframe width="520" height="340" src="" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
  		<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
	</div>
</section>