// Core variables and mixins
@import "../libs/spudder-bootstrap/spudder-bootstrap.less";

#main-splash {

    .jumbotron {
        background-image: url('/static/img/footballfield.jpg');
        background-position: center center;
        height: 600px;
        background-size: cover;

        @media (max-width: @screen-xs) {
            height:200px;
        }
        @media (max-width: @screen-sm) {
            height:300px;
        }
        @media (max-width: @screen-md) {
            height:500px;
        }

        .caption {
            position: relative;
            background: rgba(255,255,255,0.6);
            padding: 20px;
            margin-top: 60px;
        }
    }

    .role-callout {
        .role-callout-body {
            padding-left: 10px;
            h2 {
                margin-top: 0;
            }
        }
        @media (max-width: @screen-sm) {
            margin-top: 30px;
        }
    }
}
