// Core variables and mixins
@import "../libs/spudder-bootstrap/spudder-bootstrap.less";

#main-splash {

    .jumbotron {
        background-image: url('/static/img/footballfield.jpg');
        background-position: center center;
        height: 600px;
        background-size: cover;
        overflow:hidden;

        .caption {
            position: relative;
            background: rgba(255,255,255,0.6);
            padding: 20px;
            margin-top: 60px;
        }
    }

    .role-callout {
        .role-callout-body {
            padding-left: 10px;
            h2 {
                margin-top: 0;
            }
        }
        @media (max-width: @screen-sm) {
            margin-top: 30px;
        }
    }
}



.fan-page-form .input-required {
  color: #ff0000;
}

.fan-page-form #map_canvas {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}

.fan-page-form #location {
  width: 90%;
  margin-top: 10px;
}

input[type="file"] {
  display: block;
}

.fan-jumbotron-default {
  background-image: url("/static/img/spudderfans/button-fans-large.png");
  opacity: 0.2;
  height: 100%;
  background-size: 12%;
}

.jumbotron-img {
  width: 100%;
}

.edit-mode{
  display: none;
}

.input-required {
  color: #ff0000;
}

#map_canvas {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}

#location {
  width: 90%;
  margin-top: 10px;
}

