{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'CLUBS Registration Failure');
{% endblock %}

{% block well_content %}
    <h2>
        <img src="/static/img/spudderclubs/button-clubs-small.png" />
        Register to become a Club in Spudder
    </h2>
    <p>Becoming a Club means you have access to the entire network of Teams, fundraising and marketplace tools!</p>

    <div class="alert alert-danger">
        <h4>Registration as recipient failed</h4>
        <p>Club registration as Amazon recipient failed. Please check the reason below and contact us if you need further assistance.</p>
        <p>Failure reason: {{ failure_reason }}</p>
    </div>
{% endblock %}