{% extends 'spudderaccounts/base_single_well.html' %}
{% load bootstrap3 %}

{% block google_analytics_additions %}
    ga('set', 'contentGroup1', 'ACCOUNTS Create Password');
{% endblock %}

{% block well_body %}
    {% if reset_password %}
        <h4>Reset a password</h4>
    {% else %}
        <h4>Create a password</h4>
        <div class="alert alert-info">
            <h4>You need to create a password for your account.</h4>
            <p>Now that you have more than one role within Spudder, its no longer possible to just sign in with Amazon.</p>
            <p>For added security, please enter a new password in the form below.</p>
            <p><b>You will be asked for this password whenever you sign into Spudder.</b></p>
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Please enter your new password.</legend>
            {% bootstrap_form password_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Save
                </button>
            {% endbuttons %}
        </fieldset>
    </form>
{% endblock %}