{% extends 'base.html' %}
{% load spudderaccountstags %}
{% load featuretags %}

{% block title %}Spudder Sports Fundraising Made Simple{% endblock %}

{% block header_nav_class %}navbar-inverse{% endblock %}

{% block logout_next_url %}/spuds{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/spudderspuds.css" />
{% endblock %}

{% block masterhead %}

    {% if not request.current_role and not 'challenges_only_override'|feature_is_enabled %}
        <div class="navbar-collapse collapse navbar-right login-signup">
            <a href="/spuds/signin" class="btn btn-default navbar-btn btn-lg">LOG IN <i class="fa fa-caret-down text-primary"></i></a>
            <a href="/spuds/register" class="btn btn-primary navbar-btn btn-lg">SIGN UP</a>
        </div>

    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        {% block dashboard_page %}hi{% endblock %}
    </div>
{% endblock %}
