{% extends 'spudderspuds/base.html' %}
{% load bootstrap3 %}
{% load accounts %}

{% block body_id %}challenges-splash{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block masterhead %}

    {% if 'challenges_only_override'|feature_is_enabled %}

        <a href="/challenges/create" class="btn btn-lg btn-primary hidden-xs navbar-right">
            Create your first challenge <i class="fa fa-arrow-right"></i>
        </a>

        <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Spudder</span> Sports Fundraising Made Simple</h4>

    {% endif %} {# if not 'challenges_only_override'|feature_is_enabled #}

{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-0 col-sm-5 col-sm-offset-1">
                <h1><span class="text-primary">Spudder</span><br/> simple fundraising for youth sports </h1>
            </div>
        </div>
    </div>
    <div id="challenges-cta">
        <div class="row">
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
                <h1><span class="text-primary">Spudder</span> makes fundraising simple</h1>
                <p>Create amazing challenges and engage your friends, family and fans to donate funds for your club.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                <h2>The next Ice Bucket challenge can be yours!</h2>
                <div class="row">
                    <div class="col-xs-9">
                        <a class="btn btn-lg btn-block btn-primary" href="/challenges/create">
                            Create your first challenge <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>
                Browse challenges in Spudder!
            </h1>
        </div>

        <table class="table table-striped {% if challenges %} datatable {% endif %}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Logo</th>
                    <th>Challenge Template</th>
                    <th>Challenge Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in challenges %}
                    <tr>
                        <td style="width: 40px;">
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {% if challenge.template.image %}
                                <img src="/file/serve/{{ challenge.template.image.pk }}" width="56" height="52" />
                            {% else %}
                                <i class="fa fa-group fa-2x"> </i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/challenges/template/{{ challenge.template.id }}">{{ challenge.template.name }}</a>
                        </td>
                        <td>
                            <a href="/challenges/{{ challenge.id }}">{{ challenge.name }}</a>
                        </td>
                        <td style="width: 40px;">

                        </td>
                    </tr>
                {% empty %}
                <tr>
                    <td colspan="5">
                        <div class="alert alert-warning">
                            <p>There are no challenges to show.</p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
