{% extends 'spudderspuds/base.html' %}
{% load bootstrap3 %}
{% load accounts %}
{% load featuretags %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        // set the date we're counting down to
        var target_date = new Date(2014, 9, 31);

        // variables for time units
        var days, hours, minutes, seconds;

        // get tag element
        var countdown = $(".countdown");

        $(function(){

            balance_element_height("#challenges-explained .panel-body");
            balance_element_height("#entities-section .caption");

            // update the tag with id "countdown" every 1 second
            setInterval(function () {

                // find the amount of "seconds" between now and target
                var current_date = new Date().getTime();
                var seconds_left = (target_date - current_date) / 1000;
                // do some time calculations
                days = parseInt(seconds_left / 86400);
                seconds_left = seconds_left % 86400;

                hours = parseInt(seconds_left / 3600);
                seconds_left = seconds_left % 3600;

                minutes = parseInt(seconds_left / 60);
                seconds = parseInt(seconds_left % 60);

                // format countdown string + set tag value
                var message = days + " day" + ((days > 1) ? 's' : '') + ", " + hours + " hours, "
                        + minutes + " minutes and " + seconds + " seconds";
                countdown.html(message);

            }, 1000);

        });
    </script>
{% endblock %}

{% block body_id %}challenges-splash{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Spudder: Sports Fundraising Made Simple{% endblock %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Spudder</span> Sports Fundraising Made Simple</h4>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-0 col-sm-5 col-sm-offset-1">
                <h1><span class="text-primary">Spudder</span><br/> simple fundraising for youth sports </h1>
            </div>
        </div>
    </div>

    <div id="entities-section">
        <div class="container">
            <h1 class="text-center">
                Check out these challenges on <span class="text-primary">Spudder</span>
            </h1>
            <div class="row">
                {% for challenge in challenges %}
                    <div class="col-sm-4">
                        <h2 class="entity-section-header">
                            {{ challenge.title }}
                        </h2>
                        <div class="top-entity">
                            <div class="image embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" type="text/html" src="http{% if request.is_secure %}s{% endif %}://www.youtube.com/embed/{{ challenge.youtube_video_id }}?origin=http://www.spudder.com&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="caption">
                                <h4><a href="{{ challenge.link }}">{{ challenge.h4 }}</a></h4>
                                <p>{{ challenge.p|safe }}</p>
                            </div>
                            <p>
                                <a href="{{ challenge.link }}" class="btn btn-block btn-cta btn-default">
                                    Go to challenge <i class="fa fa-arrow-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {# START - CHALLENGE CHALLENGE CTA #}
    {% if 'challenge_challenge'|feature_is_enabled %}
        <div id="challenge-challenge-cta">
            <span class="fa fa-stack hidden-xs">
                <i class="fa fa-stack-2x fa-circle"></i>
                <span class="fa fa-stack-1x">$</span>
            </span>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <h1 class="text-center">$200 <span class="text-muted">for your local team!</span></h1>
                    <h2 class="text-center">Spudder is giving away $200! It could go to your local youth sports team.</h2>
                    <p>
                        Can you think of the next Ice Bucket Challenge? Send us your idea and if you win, we'll donate $200
                        to the youth sports team of your choice. Simple!
                    </p>
                    <p class="text-center">
                        <a href="/challenges/challenge_challenge" class="btn btn-info btn-cta">
                            Watch the video <i class="fa fa-arrow-right"></i>
                        </a>
                    </p>
                    <p><small>This challenge closes in <span class="countdown"></span></small></p>
                </div>
            </div>
        </div>
    {% endif %}
    {# END - CHALLENGE CHALLENGE CTA #}

{#    <div id="challenges-cta">#}
{#        <div class="row">#}
{#            <div class="col-xs-10 col-xs-offset-1 col-xs-push-0 col-sm-4 col-sm-offset-1 col-sm-push-6">#}
{#                <h2>The next Ice Bucket challenge can be yours!</h2>#}
{#                <div class="row">#}
{#                    <div class="col-sm-9">#}
{#                        <a class="btn btn-lg btn-block btn-primary" href="/challenges/create">#}
{#                            Create your first challenge <i class="fa fa-arrow-right"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xs-10 col-xs-offset-1 col-xs-pull-0 col-sm-4 col-sm-offset-1 col-sm-pull-5">#}
{#                <h1><span class="text-primary">Spudder</span> makes fundraising simple</h1>#}
{#                <p>Create amazing challenges and engage your friends, family and fans to donate funds for your club.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <div id="challenges-explained">
        <div class="container">
            <div class="row header-text">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1><span class="text-primary">Spudder</span> enables youth sports clubs to create <span class="text-primary">Challenges</span> that go viral and help raise funds.</h1>
                    <h3>Fundraising with <span class="text-primary">Spudder</span> is as easy as 1, 2, 3 ...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="text-center text-muted">
                                Step
                                <span class="fa fa-stack">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <strong class="fa-stack-1x fa-inverse">1</strong>
                                </span>
                            </h1>
                            <h2>Choose a challenge!</h2>
                            <p>
                                <span class="text-primary">Spudder</span> provides a list of ready-to-use challenges that
                                you can use to start fundraising for your team!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="text-center text-warning">
                                Step
                                <span class="fa fa-stack">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <strong class="fa-stack-1x fa-inverse">2</strong>
                                </span>
                            </h1>
                            <h2>Choose who gets the money!</h2>
                            <p>
                                Register your team with <span class="text-primary">Spudder</span> and we'll make sure they
                                get all the money pledged!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="text-center text-primary">
                                Step
                                <span class="fa fa-stack">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <strong class="fa-stack-1x fa-inverse">3</strong>
                                </span>
                            </h1>
                            <h2>Start fundraising!</h2>
                            <p>
                                Challenge your friends, family and fans by sharing your challenge on social media or
                                by email!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="coming-soon">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="text-primary">Coming Soon!</h1>
                    <h2><span class="text-primary">Spudder:</span> Sports updates made simple</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
