{% extends 'spudderspuds/challenges/pages/challenge_accept_beneficiary_create_club.html' %}
{% load bootstrap3 %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Accept Challenge:</span> The Challenge Challenge</h4>
{% endblock %}

{% block body_id %}challenge-accept-beneficiary-create-club{% endblock %}

{% block title %}Challenges Challenge - Choose Team - Create Team{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with step="1" of="2" title="Accept Challenge" %}
            Who gets the money?
        </h1>
        <p><small>Tell us about the team you would like to get the money?</small></p>
    </div>
{% endblock %}
