{% extends 'spudderspuds/base.html' %}
{% load spudderspudstags %}
{% load featuretags %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="Take the '{{ challenge.name }}'. On Spudder for '{{ challenge.get_recipient.name }} ({{ challenge.get_recipient.state }})'!" />
    <meta property="og:description" content="{{ challenge.description }}" />
    {% if challenge.youtube_video_id %}
        <meta property="og:image" content="http://img.youtube.com/vi/{{ challenge.youtube_video_id }}/sddefault.jpg" />
    {% else %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/img/spudderspuds/button-spuds-medium.png" />
    {% endif %}
{% endblock %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Spudder Challenge:</span> {{ challenge.name }}</h4>
{% endblock %}

{% block body_id %}challenge-view{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - View{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <div class="well">
                    <div class="page-header">
                        <h1>
                            {% include 'spudderspuds/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Spudder Challenge" %}
                            {{ challenge.name }}
                        </h1>
                        <h2>{{ owner.name }} Has challenged you!</h2>
                        <h2>
                            <small>
                                You are challenged to do the {{ challenge.name }}
                                {% with recipient=challenge.get_recipient %}
                                    for
                                    {% if recipient.link_to_public_page %}
                                        <a href="{{ recipient.link_to_public_page }}">
                                            {{ recipient.name }}
                                        </a>
                                    {% else %}
                                        {{ recipient.name }}
                                    {% endif %}
                                {% endwith %}
                            </small>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            {% include 'spudderspuds/challenges/components/challenge_container.html' %}
                        </div>
                    </div>
                    <hr/>
                    <h2>Do you ...</h2>
                    <div class="action-buttons">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{{ request.path }}/accept/pledge" class="btn btn-primary btn-block btn-cta">
                                    ACCEPT!
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <h2>You can <span class="text-primary">share</span> this challenge with other!</h2>
                    <p class="share-challenge">
                        <a data-original-title="Share on Facebook" data-placement="bottom" href="JavaScript:facebookPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                            <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-facebook fa-stack-1x"></i></span>
                        </a>
                        <a data-original-title="Share on Twitter" data-placement="bottom" href="javascript:twitterPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                            <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-twitter fa-stack-1x"></i></span>
                        </a>
                        <a data-original-title="Share on LinkedIn" data-placement="bottom"href="Javascript:linkedinPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                            <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-linkedin fa-stack-1x"></i></span>
                        </a>
                        <a data-original-title="Share on Google+" data-placement="bottom" href="javascript:googlePopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                            <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-google-plus fa-stack-1x"></i></span>
                        </a>
                        <a data-original-title="Share via Email" data-placement="bottom" id="mailto" href="mailto:?subject=Check out this on Spudder.com!&body=Check out this amazing challenge on Spudder.com: http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}">
                            <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-envelope-o fa-stack-1x"></i></span>
                        </a>
                    </p>
                    <p>The people who you share this challenge with will be able to come back to <span class="text-primary">Spudder</span> to accept your challenge and pledge money to {{ challenge.get_recipient.name }}.</p>
                </div>
            </div>
            {% if 'challenge_tree'|feature_is_enabled %}
            <div class="col-sm-4">

                <div class="well">
                    <div class="page-header">
                        <h3><span class="text-primary">Challenge</span> History</h3>
                        <h4>
                            <small>See everyone how's taken this challenge</small>
                        </h4>

                        <div class="panel-group" id="accordion">
                            {% for beneficiary_id, beneficiary_data in beneficiaries.iteritems %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#beneficiary-{{ beneficiary_id }}">
                                                {{ beneficiary_data.object.name }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="beneficiary-{{ beneficiary_id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="list-unstyled">
                                                <li>Money raised: {{ beneficiary_data.total_amount_raised }}$</li>
                                                {% if beneficiary_data.number_of_challenegs %}
                                                    <li>Number of challanges: {{ beneficiary_data.number_of_challenegs }}</li>
                                                {% endif %}
                                                {% if beneficiary_data.participants %}
                                                    <li>
                                                        <ul class="list-inline">
                                                            <li>Participants:</li>
                                                            {% for participant in beneficiary_data.participants %}
                                                                <li>
                                                                    <a href="/fan/{{ participant.object.id }}">
                                                                        {% if participant.object.name %}
                                                                            {{ participant.object.name }}
                                                                        {% else %}
                                                                            {{ participant.object.username }}
                                                                        {% endif %}
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="well" id="challenge-history">
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}

{#{% block js %}#}
{#    {{ block.super }}#}
{#    <script type="text/javascript">#}
{#        $(function(){#}
{##}
{#            function convertTreeNode(node, node_id){#}
{#                var data = {#}
{#                    text: node.name,#}
{#                    icon: "fa fa-trophy",#}
{#                    color: "#000000",#}
{#                    backColor: "#FFFFFF",#}
{#                    href: "#node-" + node_id#}
{#                };#}
{#                var data = $.extend(data, node);#}
{#                if (node.children.length){#}
{#                    data.nodes = []#}
{#                    for (var i in node.children)#}
{#                        for (var child_id in node.children[i])#}
{#                            data.nodes.push(convertTreeNode(node.children[i][child_id], child_id));#}
{#                }#}
{#                return data;#}
{#            }#}
{##}
{#            function convertToTree(raw_data){#}
{#                var tree_data = [];#}
{#                for (var challenge_id in raw_data)#}
{#                    tree_data.push(convertTreeNode(raw_data[challenge_id], challenge_id));#}
{#                return tree_data;#}
{#            }#}
{##}
{#            var tree_data = {{ challenge_tree|safe }};#}
{#            tree_data = convertToTree(tree_data);#}
{#            $('#challenge-history').treeview({#}
{#                data: tree_data,#}
{#                selectable: false,#}
{#                highlightSelected: false,#}
{#                levels: 1,#}
{#                expandIcon: "fa fa-plus",#}
{#                collapseIcon: "fa fa-minus",#}
{#                emptyIcon: "fa"#}
{#            });#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}
