{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}
{% load bootstrap3 %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Challenge Others:</span> {{ challenge.name }}</h4>
{% endblock %}

{% block body_id %}challenge-accept-beneficiary{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Accept - Choose Beneficiary{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Challenge others" %}
            Who are you fundraising for?
        </h1>
        <h2>Now you can challenge others and raise money for your team</h2>
        <p><small>Choose who the money your friends, family and fans pledge should go to.</small></p>
    </div>
    <p>Currently viewing clubs in <b>{{ state|format_state }}</b>, <a href="/challenges/{{ participation.id }}/state">change</a>?</p>
    <hr/>
    {% if clubs %}
        <div class="well">
            <h4>Can't find your team here?</h4>
            <p>No problem. Add your team to the list and we'll make sure they get any money pledged to them through Spudder.</p>
            <br/>
            <a class="btn btn-default" href="{{ request.path }}/create_club">
                <i class="fa fa-plus"></i> Add your team!
            </a>
            <br/>
            <br/>
        </div>

        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th class="no-sort">Club</th>
                </tr>
            </thead>
            <tbody>
            {% for club in clubs %}
                <tr>
                    <td>
                        <a href="{{ request.path }}/{{ club.type }}/{{ club.id }}" class="list-group-item">
                            <i class="fa fa-arrow-right text-primary pull-right"></i>
                            <h4 class="list-group-item-heading">{{ club.name }}</h4>
                            {% if club.is_original_beneficiary %}
                            <p><span class="label label-success">original beneficiary</span></p>
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

        <div class="well">
            <h4>You're the first to raise money for a team in {{ state|format_state }}!</h4>
            <p>Great news, you are the first to raise money for a team in  {{ state|format_state }}, and start the fundraising revoltion!</p>
            <p>No teams in {{ state|format_state }} are registered yet but <b>don't worry</b></p>
            <br/>
            <a class="btn btn-primary" href="{{ request.path }}/create_club">
                <i class="fa fa-plus"></i> Add your team!
            </a>
            <br/>
            <br/>
            <p><small>Once you add your team, we'll make sure they get all money raised for them!</small></p>
        </div>

    {% endif %}

{% endblock %}