{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}
{% load bootstrap3 %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Accept Challenge:</span> {{ challenge.name }}</h4>
{% endblock %}

{% block body_id %}challenge-accept-pledge{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Accept - Pledge{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Spudder Challenge" %}
            Accept Challenge
        </h1>
        <h2><small>You are accepting the {{ challenge.name }}</small></h2>
    </div>
    {% include 'spudderspuds/challenges/components/challenge_container.html' %}
    <hr/>
    <p>The first step in accepting this challenge is to make a pledge to {{ beneficiary.name }} ({{ beneficiary.state }})</p>
    <p><small>Note that you will contacted to honor your pledge and offered several ways to pay.</small></p>
    <hr/>
    <div class="well" style="width:90%; margin:20px auto;">
        <h4>{{ beneficiary.name }} ({{ beneficiary.state }})</h4>
        <p>You are pledging money to {{ beneficiary.name }} of {{ beneficiary.state|format_state }}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <p>Once you have pledged, you'll have the opportunity to upload evidence of you taking the challenge, challenge others and even change the beneficiary to a team of your choice!</p>
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-cta">
                <i class="fa fa-check"></i> Pledge
            </button>
        {% endbuttons %}
    </form>
{% endblock %}