{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Create new challenge:</span> {{ template.name }}</h4>
{% endblock %}

{% block body_id %}challenge-share{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Share{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/challenges/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Challenge" %}
            Start fundraising!
        </h1>
        <p><small>Challenge friends, family and fans to start fundraising for your team!</small></p>
    </div>
    <p class="text-info"><b>Note</b> that it can take <b>several minutes</b> for YouTube to process your video. You should receive an email from YouTube once processing is complete.</p>
    <p>If you video is not showing here, please refresh this page once you have received the YouTube email.</p>
    <hr/>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% include 'spudderspuds/challenges/components/challenge_container.html' %}
            <hr/>
            <h2><span class="text-primary">Share</span> and start fundraising</h2>
            <p class="share-challenge">
                <a data-original-title="Share on Facebook" data-placement="bottom" href="JavaScript:facebookPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-facebook fa-stack-1x"></i></span>
                </a>
                <a data-original-title="Share on Twitter" data-placement="bottom" href="javascript:twitterPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-twitter fa-stack-1x"></i></span>
                </a>
                <a data-original-title="Share on LinkedIn" data-placement="bottom"href="Javascript:linkedinPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-linkedin fa-stack-1x"></i></span>
                </a>
                <a data-original-title="Share on Google+" data-placement="bottom" href="javascript:googlePopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-google-plus fa-stack-1x"></i></span>
                </a>
                <a data-original-title="Share via Email" data-placement="bottom" id="mailto" href="mailto:?subject=Check out this on Spudder.com!&body=Check out this amazing challenge on Spudder.com: http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}">
                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-envelope-o fa-stack-1x"></i></span>
                </a>
            </p>
            <p>The people who you share this challenge with will be able to come back to <span class="text-primary">Spudder</span> to accept your challenge and pledge money to your team.</p>
        </div>
    </div>
    <hr/>
    <h2 style="margin-bottom: 20px;">Where to next?</h2>
    <div class="hidden-xs">
        <a href="/challenges/{{ challenge.id }}" class="btn btn-primary btn-cta">
            Go to the challenge page! <i class="fa fa-arrow-right"></i>
        </a>
        <a href="/challenges/create" class="btn btn-default btn-cta">
            Create another <i class="fa fa-arrow-right"></i>
        </a>
    </div>
    <div class="visible-xs">
        <a href="/challenges/{{ challenge.id }}" class="btn btn-primary btn-cta btn-block">
            Go to the challenge page! <i class="fa fa-arrow-right"></i>
        </a>
        <a href="/challenges/create" class="btn btn-default btn-cta btn-block">
            Create another <i class="fa fa-arrow-right"></i>
        </a>
    </div>
{% endblock %}