{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}
{% load bootstrap3 %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .post-sign-in {
            display: none;
        }

        .during-upload {
            display: none;
        }

        .post-upload {
            display: none;
        }

        #channel-name {
            font-size: 60px;
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">

        function render() {
            gapi.signin.render('signinButton', {
                'clientid': '202980743025-44et20vv531h7o80l0onc2eld22ev1ar.apps.googleusercontent.com', //'653628115804-7vkcnmhte0f36fvr1dj9t5hrn1mt6i5t.apps.googleusercontent.com',
                'callback': 'oauth2Callback',
                'cookiepolicy': 'single_host_origin',
                //'requestvisibleactions': 'http://schema.org/AddAction',
                'scope': 'https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube.upload'
            });
        }

        var GOOGLE_PLUS_SCRIPT_URL = 'https://apis.google.com/js/client:plusone.js?onload=render';
        var CHANNELS_SERVICE_URL = 'https://www.googleapis.com/youtube/v3/channels';
        var VIDEOS_UPLOAD_SERVICE_URL = 'https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet';
        var VIDEOS_SERVICE_URL = 'https://www.googleapis.com/youtube/v3/videos';
        var INITIAL_STATUS_POLLING_INTERVAL_MS = 15 * 1000;

        var accessToken;

        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = GOOGLE_PLUS_SCRIPT_URL;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);

        window.oauth2Callback = function (authResult) {
            if (authResult['access_token']) {
                accessToken = authResult['access_token'];

                $.ajax({
                    url: CHANNELS_SERVICE_URL,
                    method: 'GET',
                    headers: {
                        Authorization: 'Bearer ' + accessToken
                    },
                    data: {
                        part: 'snippet',
                        mine: true
                    }
                }).done(function (response) {
                    $('#channel-name').text(response.items[0].snippet.title);
                    $('#channel-thumbnail').attr('src', response.items[0].snippet.thumbnails.default.url);

                    $('.pre-sign-in').hide();
                    $('.post-sign-in').show();
                });
            }
        };

        function initiateUpload(e) {
            e.preventDefault();

            var file = $('#file').get(0).files[0];
            if (file) {
                $('#submit').attr('disabled', true);

                var metadata = {
                    snippet: {
                        title: $('#title').val(),
                        description: $('#description').val(),
                        categoryId: 22
                    }
                };

                $.ajax({
                    url: VIDEOS_UPLOAD_SERVICE_URL,
                    method: 'POST',
                    contentType: 'application/json',
                    headers: {
                        Authorization: 'Bearer ' + accessToken,
                        'x-upload-content-length': file.size,
                        'x-upload-content-type': file.type
                    },
                    data: JSON.stringify(metadata)
                }).done(function (data, textStatus, jqXHR) {
                    resumableUpload({
                        url: jqXHR.getResponseHeader('Location'),
                        file: file,
                        start: 0
                    });
                });
            }
        }

        function resumableUpload(options) {
            var ajax = $.ajax({
                url: options.url,
                method: 'PUT',
                contentType: options.file.type,
                headers: {
                    'Content-Range': 'bytes ' + options.start + '-' + (options.file.size - 1) + '/' + options.file.size
                },
                xhr: function () {
                    // Thanks to http://stackoverflow.com/a/8758614/385997
                    var xhr = $.ajaxSettings.xhr();

                    if (xhr.upload) {
                        xhr.upload.addEventListener(
                                'progress',
                                function (e) {
                                    if (e.lengthComputable) {
                                        var bytesTransferred = e.loaded;
                                        var totalBytes = e.total;
                                        var percentage = Math.round(100 * bytesTransferred / totalBytes);

                                        $('#upload-progress').attr({
                                            value: bytesTransferred,
                                            max: totalBytes
                                        });

                                        $('#percent-transferred').text(percentage);
                                        $('#bytes-transferred').text(bytesTransferred);
                                        $('#total-bytes').text(totalBytes);

                                        $('.during-upload').show();
                                    }
                                },
                                false
                        );
                    }

                    return xhr;
                },
                processData: false,
                data: options.file
            });

            ajax.done(function (response) {
                var videoId = response.id;
                $('#video-id').text(videoId);
                $('.post-upload').show();
                checkVideoStatus(videoId, INITIAL_STATUS_POLLING_INTERVAL_MS);
            });

            ajax.fail(function () {
                $('#submit').click(function () {
                    alert('Not yet implemented!');
                });
                $('#submit').val('Resume Upload');
                $('#submit').attr('disabled', false);
            });
        }

        function checkVideoStatus(videoId, waitForNextPoll) {
            $.ajax({
                url: VIDEOS_SERVICE_URL,
                method: 'GET',
                headers: {
                    Authorization: 'Bearer ' + accessToken
                },
                data: {
                    part: 'status,processingDetails,player',
                    id: videoId
                }
            }).done(function (response) {
                var processingStatus = response.items[0].processingDetails.processingStatus;
                var uploadStatus = response.items[0].status.uploadStatus;

                $('#post-upload-status').append('<li>Processing status: ' + processingStatus + ', upload status: ' + uploadStatus + '</li>');

                if (processingStatus == 'processing') {
                    setTimeout(function () {
                        checkVideoStatus(videoId, waitForNextPoll * 2);
                    }, waitForNextPoll);
                } else {
                    if (uploadStatus == 'processed') {
                        $('#player').append(response.items[0].player.embedHtml);
                    }

                    $('#post-upload-status').append('<li>Final status.</li>');
                }
            });
        }

        $(function () {
            $('.nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $('#upload-form').submit(initiateUpload);
        });
    </script>
{% endblock %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Accept Challenge:</span> {{ challenge.name }}</h4>
{% endblock %}

{% block body_id %}challenge-accept-upload{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/challenges/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Spudder Challenge" %}
            Accept Challenge
        </h1>
        <h2><small>You are accepting the {{ challenge.name }}</small></h2>
    </div>
    <p>To complete accepting this challenge, upload a video or image of you doing the challenge!</p>
    <hr/>
    <p>Once you have uploaded evidence of you taking the {{ challenge.name }}, you'll be able to challenge others and even start fundraising for a different team!</p>
    <hr/>

    <ul class="nav nav-tabs nav-tabs-google" role="tablist">
        <li class="active"><a href="#upload-video" role="tab" data-toggle="tab"><i class="fa fa-fw fa-video-camera"></i> Upload a video</a></li>
        <li><a href="#upload-image" role="tab" data-toggle="tab"><i class="fa fa-fw fa-camera"></i> Upload an image</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="upload-video">
            <button id="signinButton" class="pre-sign-in btn btn-danger btn-cta">
                <i class="fa fa-youtube"></i> Upload video to YouTube
            </button>

            <div class="post-sign-in">
                <div>
                    <img id="channel-thumbnail">
                    <span id="channel-name"></span>
                </div>
                <br />
                <form id="upload-form" role="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" class="form-control"  type="text" placeholder="Enter Video Title" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Select Video</label>
                        <input id="file" type="file" />
                    </div>
                    <button id="submit" type="submit" value="Upload" class="btn btn-default">Submit</button>
                </form>

                <div class="during-upload">
                    <p><span id="percent-transferred"></span>% done (<span id="bytes-transferred"></span>/<span
                            id="total-bytes"></span> bytes)</p>
                    <progress id="upload-progress" max="1" value="0"></progress>
                </div>

                <div class="post-upload">
                    <p>Uploaded video with id <span id="video-id"></span>. Polling for status...</p>
                    <ul id="post-upload-status"></ul>
                    <div id="player"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="upload-image">
            upload image
        </div>
    </div>
{% endblock %}