{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}

{% block masterhead %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Create new challenge:</span> {{ template.name }}</h4>
{% endblock %}

{% block body_id %}challenge-share{% endblock %}

{% block body_class %}{{ template.slug }}{% endblock %}

{% block title %}{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>Now challenge others!</h1>
        <h2><small>Share you challenge on social media and raise money for your club!</small></h2>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% include 'spudderspuds/challenges/components/challenge-container.html' %}
            <hr/>
            <p>Share on social media:</p>
            <p class="share-challenge">
                <a data-original-title="Share on Facebook" data-placement="bottom" href="JavaScript:facebookPopup('http://{{ request.META.HTTP_HOST }}/challenges/{{ challenge.id }}')">
                    <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-facebook fa-stack-1x"></i></span>
                </a>
            </p>
        </div>
    </div>
    <hr/>
    <h2>Where to next?</h2>
    <a href="/challenges/{{ challenge.id }}" class="btn btn-primary">
        Go to the challenge page!
    </a>
{% endblock %}