{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}
{% load bootstrap3 %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .tab-pane {
            padding: 10px;
        }
        .overlay ul {
            width: 40%;
            margin: 20px auto;
        }
        .overlay ul li {
            color: #FFF;
            font-size: 120%;
        }
        .overlay #processing-message {
            font-size: 12px;
        }

        .post-sign-in {
            display: none;
        }

        .during-upload {
            display: none;
        }

        .post-upload {
            display: none;
        }

        #channel-name {
            font-size: 60px;
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript" src="/static/js/libs/jquery.firefoxCORSbugfix.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/libs/jquery.form.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/spudder-ajax-form.js"></script>
    <script type="text/javascript">

        var overlay = {
            _get: function(){
                return $('.overlay');
            },
            show: function(){
                var $body = $('body');
                $body.css('position', 'relative');
                $(overlay.html).appendTo($body);
                $('.overlay .inner').css('top', $(window).scrollTop() + 100);
            },
            update_progress: function(percent){
                overlay._get().find('.progress-bar').css('width', '' + percent + '%');
            },
            show_processing: function(){
                var $overlay = overlay._get();
                $overlay.find('.fa-spinner:first').attr('class', 'fa fa-check');
                $overlay.find('#uploading-message').html("Uploaded");
                $overlay.find('#processing-div').show();
            },
            update_processing: function() {
                var $overlay = overlay._get();
                var minutes_raw = (((new Date() - video_processing_start_date) % 86400000) % 3600000) / 60000;
                var minutes = Math.round(minutes_raw);
                var seconds = Math.round(minutes_raw )
                if (minutes > 0)
                    $overlay.find('ul').append("<li>Processing for " + minutes + " minutes</li>");
            },
            html:
                '<div class="overlay">' +
                    '<div class="inner">' +
                        '<p>' +
                            '<i class="fa fa-spin fa-spinner"></i> <span id="uploading-message">Uploading</span>' +
                        '<p>' +
                        '<div class="progress"><div class="progress-bar" style="width:10%"></div></div>' +
                        '<div id="processing-div" style="display:none; margin-top:20px;">' +
                            '<p>' +
                                '<i class="fa fa-spin fa-spinner"></i> Processing on YouTube' +
                            '</p>' +
                            '<p><small id="processing-message">Processing can take several minutes<br/>Please do not refresh your browser.</small></p>' +
                            '<ul class="list-unstyled"></ul>' +
                        '</div>' +
                    '</div>' +
                '</div>'
        };

        var GOOGLE_PLUS_SCRIPT_URL = 'https://apis.google.com/js/client:plusone.js?onload=render';
        var CHANNELS_SERVICE_URL = 'https://www.googleapis.com/youtube/v3/channels';
        var VIDEOS_UPLOAD_SERVICE_URL = 'https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet';
        var VIDEOS_SERVICE_URL = 'https://www.googleapis.com/youtube/v3/videos';
        var INITIAL_STATUS_POLLING_INTERVAL_MS = 15 * 1000;

        var accessToken;
        var video_processing_start_date;

        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = GOOGLE_PLUS_SCRIPT_URL;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);

        window.render = function() {
            gapi.signin.render('signinButton', {
                'clientid': '{{ settings.GOOGLE_CLIENT_ID }}', //'653628115804-7vkcnmhte0f36fvr1dj9t5hrn1mt6i5t.apps.googleusercontent.com',
                'callback': 'oauth2Callback',
                'cookiepolicy': 'single_host_origin',
                'scope': 'https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube.upload'
            });
        };

        window.oauth2Callback = function (authResult) {
            if (authResult['access_token']) {
                accessToken = authResult['access_token'];
                $.ajax({
                    url: CHANNELS_SERVICE_URL,
                    method: 'GET',
                    headers: {Authorization: 'Bearer ' + accessToken},
                    data: {part: 'snippet', mine: true}
                }).done(function (response) {
                    $('.pre-sign-in').hide();
                    $('.post-sign-in').show();
                });
            }
        };

        function initiateUpload(e) {
            e.preventDefault();

            var file = $('#file').get(0).files[0];
            if (file) {
                overlay.show();
                var title = "Spudder.com - {{ challenge.name }}";
                var metadata = {snippet: {title: title, description: title, categoryId: 22 }};
                $.ajax({
                    url: VIDEOS_UPLOAD_SERVICE_URL,
                    method: 'POST',
                    contentType: 'application/json',
                    headers: {
                        Authorization: 'Bearer ' + accessToken,
                        'x-upload-content-length': file.size,
                        'x-upload-content-type': file.type
                    },
                    data: JSON.stringify(metadata)
                }).done(function (data, textStatus, jqXHR) {
                    resumableUpload({url: jqXHR.getResponseHeader('Location'), file: file, start: 0 });
                });
            }
            else {
                on_upload_complete();
            }
        }

        function resumableUpload(options) {
            var ajax = $.ajax({
                url: options.url,
                method: 'PUT',
                contentType: options.file.type,
                headers: {
                    'Content-Range': 'bytes ' + options.start + '-' + (options.file.size - 1) + '/' + options.file.size
                },
                xhr: function () {
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener(
                                'progress',
                                function (e) {
                                    if (e.lengthComputable) {
                                        var bytesTransferred = e.loaded;
                                        var totalBytes = e.total;
                                        var percentage = Math.round(100 * bytesTransferred / totalBytes);
                                        overlay.update_progress(percentage)
                                    }
                                },
                                false
                        );
                    }
                    return xhr;
                },
                processData: false,
                data: options.file
            });

            ajax.done(function (response) {
                var videoId = response.id;
                $('body').data("video_id", videoId);
                video_processing_start_date = new Date();
                overlay.show_processing();
                //checkVideoStatus(videoId, INITIAL_STATUS_POLLING_INTERVAL_MS);
                on_upload_complete();
            });

            ajax.fail(function () {
                alert('Something went wrong, please refresh this page and try again.');
            });
        }

        function checkVideoStatus(videoId, waitForNextPoll) {
            $.ajax({
                url: VIDEOS_SERVICE_URL,
                method: 'GET',
                headers: {
                    Authorization: 'Bearer ' + accessToken
                },
                data: {
                    part: 'status,processingDetails,player',
                    id: videoId
                }
            }).done(function (response) {
                var processingStatus = response.items[0].processingDetails.processingStatus;
                var uploadStatus = response.items[0].status.uploadStatus;
                if (processingStatus == 'processing') {
                    overlay.update_processing();
                    setTimeout(function () {
                        checkVideoStatus(videoId, waitForNextPoll);
                    }, waitForNextPoll);
                }
                else {
                    on_upload_complete();
                }
            });
        }

        {% block on_upload_complete %}
            function on_upload_complete(){
                var conector = ('{{ redirect_url }}'.indexOf('?') > -1 ? "&" : "?");
                window.location = '{{ redirect_url }}' + conector + 'video_id=' + $('body').data("video_id");
            }
        {% endblock %}

        $(function () {
            $('.nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $('#upload-form').submit(initiateUpload);
        });
    </script>
{% endblock %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Accept Challenge:</span> {{ challenge.name }}</h4>
{% endblock %}

{% block body_id %}challenge-accept-upload{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Accept - Upload{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Spudder Challenge" %}
            Accept Challenge
        </h1>
        <h2><small>You are accepting the {{ challenge.name }}</small></h2>
    </div>
    <p>To complete accepting this challenge, upload a video or image of you doing the challenge!</p>
    <hr/>
    <p>Once you have uploaded evidence of you taking the {{ challenge.name }}, you'll be able to challenge others and even start fundraising for a different team!</p>
    <hr/>

    <ul class="nav nav-tabs nav-tabs-google" role="tablist">
        <li class="active"><a href="#upload-video" role="tab" data-toggle="tab"><i class="fa fa-fw fa-video-camera"></i> Upload a video</a></li>
        <li><a href="#upload-image" role="tab" data-toggle="tab"><i class="fa fa-fw fa-camera"></i> Upload an image</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="upload-video">
            <input type="hidden" name="video_id" id="video-id" />
            <h3>Upload a video of you doing this challenge to YouTube</h3>

            <div class="pre-sign-in">

                <p>Once you click the button bellow, you will be asked to sign into your YouTube (Google) account, then you will be able to upload your video.</p>

                <button id="signinButton" class="btn btn-danger btn-cta">
                    <i class="fa fa-youtube"></i> Upload video to YouTube
                </button>
            </div>

            <div class="post-sign-in">
                <p>Choose the video you want to upload.</p>
{#                <div>#}
{#                    <img id="channel-thumbnail">#}
{#                    <span id="channel-name"></span>#}
{#                </div>#}
{#                <br />#}
                <form id="upload-form" role="form">
                    <div class="form-group" style="display: none;">
                        <label for="title">Title</label>
                        <input id="title" class="form-control"  type="text" placeholder="Enter Video Title" value="" />
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="description">Description</label>
                        <textarea id="description" class="form-control" rows="3">{{ challenge.name }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Select Video</label>
                        <input id="file" type="file" />
                    </div>
                    <button id="submit" type="submit" value="Upload" class="btn btn-danger btn-cta">
                        <i class="fa fa-youtube"></i> Upload video to YouTube
                    </button>
                </form>

{#                <div class="during-upload">#}
{#                    <p><span id="percent-transferred"></span>% done (<span id="bytes-transferred"></span>/<span#}
{#                            id="total-bytes"></span> bytes)</p>#}
{#                    <progress id="upload-progress" max="1" value="0"></progress>#}
{#                </div>#}

{#                <div class="post-upload">#}
{#                    <p>Uploaded video with id <span id="video-id"></span>. Polling for status...</p>#}
{#                    <ul id="post-upload-status"></ul>#}
{#                    <div id="player"></div>#}
{#                </div>#}
            </div>
        </div>
        <div class="tab-pane" id="upload-image">
            <h3>Upload an image of you doing the challenge</h3>
            <form action="{{ upload_url }}" method="post" enctype="multipart/form-data" class="ajax-form">
                {% csrf_token %}
                {% bootstrap_form image_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-cta">
                        Upload and continue
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}