{% extends 'spudderspuds/base_single_well.html' %}
{% load spudderspudstags %}

{% block masterhead %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Accept Challenge:</span> {{ challenge.name }}</h4>
{% endblock %}

{% block body_id %}challenge-accept-donate{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>Accept Challenge (1 of 2)</h1>
        <h2><small>You are accepting the {{ challenge.name }}</small></h2>
    </div>
    <p style="margin-bottom: 20px;">To accept this challenge first make your donation!</p>
    {% with recipient=challenge.get_recipient %}
        {% if recipient %}
            <div class="alert alert-info">
                <h4><span class="text-primary">You</span> are helping to fund Youth Sport!</h4>
                <p>
                    The money you donate here will be given to
                    <b>
                        {% if recipient.link_to_public_page %}
                            <a href="{{ recipient.link_to_public_page }}">
                                {{ recipient.name }}
                            </a>
                        {% else %}
                            {{ recipient.name }}
                        {% endif %}
                    </b>
                    ({{ recipient.state }})
                </p>
            </div>
        {% endif %}
    {% endwith %}
    <hr/>
    <div class="form-group">
        <label>How much to donate to {{ challenge.get_recipient.name }}</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" name="donation" placeholder="{{ challenge.proposed_donation_amount }}" class="form-control" />
        </div>
        <p class="help-block">The amount shown above was suggested by the creator of this challenge, you can adjust it if you like.</p>
    </div>
    <div class="form-group">
        <a href="javascript:alert('in development')" class="btn btn-lg btn-warning">
            Pay with Amazon
        </a>
    </div>
    <hr/>
    <p>You can <a id="bookmarkme" href="#" rel="sidebar" title="bookmark this page" class="text-info">Bookmark This Page</a> to donate later and <a href="/challenges/{{ challenge.id }}/accept/upload">skip</a> to uploading your video.</p>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#bookmarkme').click(function() {
                if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                    window.sidebar.addPanel(document.title,window.location.href,'');
                } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                    window.external.AddFavorite(location.href,document.title);
                } else if(window.opera && window.print) { // Opera Hotlist
                    this.title=document.title;
                    return true;
                } else { // webkit - safari/chrome
                    alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
                }
            });
        });
    </script>
{% endblock %}