{% extends 'spudderspuds/base_single_well.html' %}
{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Create new challenge:</span> {{ template.name }}</h4>
{% endblock %}

{% block body_id %}challenge-accept-beneficiary-create-club{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Accept - Choose Beneficiary - Create Club{% endblock %}

{% block well_content %}
    {% block page_header %}
        <div class="page-header">
            <h1>
                {% include 'spudderspuds/components/wizard_steps.html' with step="<i class='fa fa-trophy'></i>" title="Challenge Accepted" %}
                Who are you fundraising for?
            </h1>
            <p><small>Tell us about the club you want to raise money for.</small></p>
        </div>
    {% endblock %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-cta">
                <i class="fa fa-save"></i> Save and continue
            </button>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-cta">
                Back
            </a>
        {% endbuttons %}
    </form>

{% endblock %}