{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="javascript" src="/static/js/libs/jquery.form.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/spudder-ajax-form.js"></script>
{% endblock %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Create new challenge:</span> {{ template.name }}</h4>
{% endblock %}

{% block body_id %}challenges-choose-doantion{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Create - Configure Challenge{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with step="3" of="3" title="Create Challenge" %}
            Configure the challenge
        </h1>
        <p><small>Choose the suggested donation amount and upload a video or image to go with this challenge.</small></p>
    </div>

    <p>Your creating a challenge for <b>{{ club.name }} ({{ club.state }})</b>, <a href="/challenges/create/{{ template.id }}">change</a>?</p>

    <hr/>
    <form method="post" enctype="multipart/form-data" action="{{ upload_url }}" class="ajax-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-cta">
                Save an continue <i class="fa fa-arrow-right"></i>
            </button>
        {% endbuttons %}
    </form>

{% endblock %}