{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right"><span class="text-primary">Spudder</span> Sports Fundraising Made Simple</h4>
{% endblock %}

{% block body_id %}challenges-signin{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/challenges/components/wizard_steps.html' with title="Start Fundraising" step="$" %}
            Signin and start fundraising
        </h1>
        <p><small>Sign into your account to continue fundraising for your team!</small></p>
    </div>

    <p>Don't have an account? <a href="/challenges/create/register?next={{ request.GET.next|default:'/' }}">register <i class="fa fa-arrow-right"></i> </a></p>

    <hr/>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-cta">
                Start fundraising <i class="fa fa-arrow-right"></i>
            </button>
        {% endbuttons %}
    </form>

{% endblock %}