{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block masterhead %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Create new challenge:</span> {{ template.name }}</h4>
{% endblock %}

{% block body_id %}challenges-choose-doantion{% endblock %}

{% block body_class %}{{ template.slug }}{% endblock %}

{% block title %}{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>How much should people pay?</h1>
        <p><small>Choose the suggested donation amount for this challenge.</small></p>
    </div>

    <p class="text-info" style="margin-bottom: 20px;">Create challenge for <b>{{ club.name }}</b>, <a href="/challenges/create/{{ template.id }}/{{ state }}">change</a>?</p>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Save an continue
            </button>
        {% endbuttons %}
    </form>

{% endblock %}