{% extends 'spudderspuds/base_single_well.html' %}

{% block body_id %}challenges-choose-template{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right hidden-xs"><span class="text-primary">Spudder</span> Sports Fundraising Made Simple</h4>
{% endblock %}

{% block title %}Challenges - Create - Choose Challenge{% endblock %}

{% block well_content %}
    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with step="1" of="3" title="Create Challenge" %}
            What type of challenge?
        </h1>
        <p><small>Choose the type of challenge you want to create. In a moment we'll ask you what Team you're raising money for!</small></p>
    </div>

    <div class="list-group challenge-templates">
        {% for template in templates %}
            <a class="list-group-item {{ template.slug }}" href="/challenges/create/{{ template.id }}">
                <div class="media">
                    <div class="media-object pull-left img-circle"></div>
                    <div class="media-body">
                        <h2 class="media-heading">{{ template.name }}</h2>
                        <p>{{ template.description }}</p>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}