{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block well_content %}
    <h3>Decline "{{ challenge.name }}" Challenge in Spudder</h3>
    <p>Are you sure you want to decline "{{ challenge.name }}" Challenge?</p>

    <form method="post" enctype="multipart/form-data" action="">
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-ban"></i> Decline
                </button>
                <a href="/challenges/{{ challenge.id }}" class="btn btn-default">
                    Cancel
                </a>
            {% endbuttons %}
        </fieldset>
    </form>

{% endblock %}