{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block masterhead_title %}
    <h4 class="navbar-text navbar-right"><span class="text-primary">Spudder</span> Sports Fundraising Made Simple</h4>
{% endblock %}

{% block body_id %}challenges-signin{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block title %}Challenges - Signin{% endblock %}

{% block well_content %}

    <div class="page-header">
        <h1>
            {% include 'spudderspuds/components/wizard_steps.html' with title="Sign in" step="<i class='fa fa-sign-in'></i>" %}
        </h1>
    </div>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-cta">
                <i class="fa fa-sign-in"></i> Sign in
            </button>
        {% endbuttons %}
    </form>
    <hr/>
    <p>Don't have an account? <a href="/challenges/register?next={{ request.GET.next|default:'/' }}&message={{ request.GET.message|default:'' }}">Register <i class="fa fa-arrow-right"></i> </a></p>
    <p>Forgotten password? <a href="/users/account/forgot">Restore <i class="fa fa-arrow-right"></i> </a></p>



{% endblock %}