{% extends 'spudderspuds/base.html' %}
{% load bootstrap3 %}
{% load accounts %}

{% block body_id %}challenges-splash{% endblock %}

{% block body_class %}challenges {{ template.slug }}{% endblock %}

{% block masterhead %}

    {% if 'challenges_only_override'|feature_is_enabled %}

        <a href="/challenges/create" class="btn btn-lg btn-primary hidden-xs navbar-right">
            Create your first challenge <i class="fa fa-arrow-right"></i>
        </a>

        <h4 class="navbar-text navbar-right"><span class="text-primary">Spudder</span> Sports Fundraising Made Simple</h4>

    {% endif %} {# if not 'challenges_only_override'|feature_is_enabled #}

{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-0 col-sm-5 col-sm-offset-1">
                <h1><span class="text-primary">Spudder</span><br/> simple fundraising for youth sports </h1>
            </div>
        </div>
    </div>
    <div id="challenges-cta">
        <div class="row">
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
                <h1><span class="text-primary">Spudder</span> makes fundraising simple</h1>
                <p>Create amazing challenges and engage your friends, family and fans to donate funds for your club.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                <h2>The next Ice Bucket challenge can be yours!</h2>
                <div class="row">
                    <div class="col-xs-9">
                        <a class="btn btn-lg btn-block btn-primary" href="/challenges/create">
                            Create your first challenge <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="challenges-explained">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1><span class="text-primary">Spudder</span> enables youth sports clubs to create <span class="text-primary">Challenges</span> that go viral and help raise funds.</h1>
                    <h3>Raising funds on <span class="text-primary">Spudder</span> is as easy as 1, 2, 3 ...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="text-center">1</h1>
                            <p>First do this</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="text-center">2</h1>
                            <p>Then do this</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="text-center">3</h1>
                            <p>Then do this</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
