{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}

{% block well_content %}
    <h3>"{{ template.name }}" challenge template in Spudder!</h3>
    <a href="/challenges/template/{{ template.id }}/edit">edit</a>
    <hr />
    <p>
        Logo:
        {% if template.image %}
            <img src="/file/serve/{{ template.image.pk }}" width="56" height="52" />
        {% else %}
            <i class="fa fa-group fa-2x"> </i>
        {% endif %}
    </p>
    <p>Name: {{ template.name }}</p>
    <p>Description: {{ template.description }}</p>


    {% if challenges %}
        <hr />

        <p>Recent challenges:</p>

        <table class="table table-striped {% if challenges %} datatable {% endif %}">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for challenge in challenges %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <a href="/challenges/{{ challenge.id }}">{{ challenge.name|safe }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}