{% extends 'spudderadmin/pages/cern/_cern_base.html' %}

{% block cern_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h4>CERN Overview</h4>
            </div>
            <div class="panel-body">
{#                <button class="btn btn-primary btn-large" id="logout-button">Logout All Students</button>#}
{#                <div class="alert" id="logout-alert"></div>#}
                <h4>Quick Metrics</h4>
                <ul>
                    <li>Total Active Schools: {{ schools }}</li>
                    <li>Total Active Students: {{ students }}</li>
                </ul>
                <p>Use the navigation on the left to see detailed reports.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/static/js/alerts.js"></script>
<script type="text/javascript">
    $('#logout-button').click(function(){
        var response = $.post('/cern/remove_student_sessions');

        response.done(function(){
            showAlert($('#logout-alert'),'All students are being logged out.', 'success', true);
        })
    });
</script>
{% endblock %}