{% extends 'spudderspuds/teams/base_single_well.html' %}
{% load bootstrap3 %}
{% load accounts %}

{% block well_content %}
    <div class="page-header">
        <h1>Cancel invitation for {% fan_page_name fan %}</h1>
    </div>

    <p>Are you sure you would like to cancel the invitation for {{ fan.name }} to administer "{{ team.name }}"?</p>

    <form method="post" enctype="multipart/form-data" action="" style="margin-top: 20px;">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-trash-o"></i> Cancel Invitation
            </button>
            <a href="/team/{{ team.entity.id }}/admins" class="btn btn-default">
                No thanks
            </a>
        {% endbuttons %}
    </form>

{% endblock %}