{% extends 'spudderspuds/base_single_well.html' %}
{% load bootstrap3 %}
{% load accounts %}

{% block well_content %}
    <div class="page-header">
        <h1><i class="fa fa-send"></i> Invite more administrators for {{ team.name }}</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        <legend>
            Enter the email of the person you would like to invite to administer this team.
        </legend>
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-send"></i> Send invitation
            </button>
            <a href="/team/{{ team.entity.id }}/admins" class="btn btn-default">
                Cancel
            </a>
        {% endbuttons %}
    </form>

{% endblock %}