{% extends 'CERN/base.html' %}
{% load accounts %}

{% block content %}
<div class="container-fluid main-container">
    {% include 'CERN/parts/sideNav.html' with active=menu_context %}

    <div class="main-content">
        <div class="page-content">
            <div class="row">
                <div class="span10">
                    <br>
                    <br>
                    <br>
                    <h3>Sorry, this feature is still in development.</h3>
                    <h6>If you would like to be contacted when {{ project }} becomes available, simply click the button below.</h6>
                    <h6>We'll send you an email, at the email address used for this account, when this feature is available.</h6>
                    {% if joined %}
                    <button class="btn btn-large" id="join">You have already joined the mailing list.</button>
                    {% else %}
                    <button class="btn btn-large btn-orange" id="join">Join {{ project }} mailing list</button>
                    {% endif %}
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function(){
                    $('#join').click(function(){
                     if ($(this).text() == "Join {{ project }} mailing list"){
                         $(this).removeClass('btn-orange');
                         $(this).text("Mailing list joined.");
                         $.post('/cern/add_email_alert/',
                                { 'email' : "{{ request.user.email }}",
                                  'project' : "{{ project }}", });
                     }
                    });
                });
            </script>
            {% include 'dashboard/parts/scripts.html' %}
        </div>
    </div>

{% endblock %}
