{% extends 'CERN/base.html' %}

{% block title %}CERN Dashboard{% endblock %}

{% block content %}

    <div class="container-fluid main-container">
        {% include 'CERN/parts/sideNav.html' with active="scoreboard" %}

        <div class="main-content">
            <div class="page-content">
                <div class="main-content-header">
                    <h1><i class="fa fa-fw fa-bar-chart-o"></i> Dashboard</h1>
                    <h2>Keep up to date with how you are accruing points!</h2>
                </div>
                {% if 'dashbaord' not in student.hidden_info_messages %}
                    {% include 'CERN/quote_messages/quote_dashboard_instructions.html' with info_message_id="dashbaord" %}
                {% endif %}
                {% include 'CERN/parts/grid.html' %}
            </div>

        </div>
    </div>

    {% include 'dashboard/parts/scripts.html' %}

{% endblock %}