{% extends 'CERN/base.html' %}

{% block content %}

    <div class="container-fluid main-container">
        {% include 'CERN/parts/sideNav.html' with active="scoreboard" %}

        <div class="main-content">
            <div class="page-content">
                {% if student.show_CERN %}
                    {% include 'CERN/parts/about-cern.html' %}
                {% endif %}
                {% include 'CERN/parts/grid.html' %}
            </div>

        </div>
    </div>

    {% include 'dashboard/parts/scripts.html' %}

{% endblock %}