{% extends 'CERN/base_single_well.html' %}

{% block title %}Register for CERN | Spudder - Sports Updates Made Simple{% endblock %}

{% block well_content %}
    <h4 class="aligncenter">Find Your Team!</h4>
    <p>To begin, select your state.</p>
    {% if running_locally %}
        <div class="alert alert-danger">
            <h4><i class="fa fa-fw fa-warning"></i> Running Locally</h4>
            <p>You are running this version locally.</p>
            <p>Schools data in local instances may by limited. Please choose a state from the lists below:</p>
            <p><small>(If no states are listed then please loads a few schools)</small></p>
            <p><b>States:</b>{{ in_dev_states_with_schools|default:"Empty" }}</p>
        </div>
    {% endif %}
    <form action="/cern/register/{{ referral_id|default_if_none:"" }}" method="post">
        <div class="control-group">
            <label class="control-label" for="state">State:</label>
            <div class="controls">
                <select name="state" id="state" class="span12">
                   {% for abbr, full in states %}
                       {% if state == abbr %}
                           <option value="{{ abbr }}" selected>{{ full }}</option>
                       {% else %}
                           <option value="{{ abbr }}">{{ full }}</option>
                       {% endif %}
                   {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-orange" type="submit">Select this State</button>
            </div>
        </div>
    </form>
{% endblock %}
