{% extends 'CERN/base_no_side_nav.html' %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <div class="span8 offset2 aligncenter">
                <img src="/media/img/logo-cern-medium.png">
                <h2>Welcome to CERN!</h2>
                <p>Campus Entrepreneur Recruiting Network</p><br/>

                <a class="btn btn-orange btn-large" href="/cern/register/">Register Now!</a>

                <div id="questions-container">
                    <div class="question left">
                        <div class="alert alert-info">
                            <h4>What is "CERN"?</h4>
                            <p><em>CERN</em> stands for Campus Entrepreneur Recruiting Network. CERN Teams are made up of people associated with colleges and Universities in the United States.</p>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <img src="/media/img/button-cern-small.png" class="button-cern" />
                    </div>
                    <div class="question right">
                        <div class="alert alert-success">
                            <h4>What do these students do?</h4>
                            <p>As a member of a CERN Team, you can learn critical skills and showcase your talents as an entrepreneur on various projects.</p>
                            <p>Currently, we have projects for <b>Marketing</b> and <b>Social Media PR</b>, with more <b>coming soon!</b></p>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <img src="/media/img/button-cern-small.png" class="button-cern" />
                    </div>
                    <div class="question left">
                        <div class="alert alert-info">
                            <h4>What do I get out of joining a CERN Team?</h4>
                            <p>In addition to enhancing your resume with third party validated real world accomplishments, you’ll actually get paid for the work you do!</p>
                            <p>Different projects earn different kinds of rewards – <b>sign up to learn more!</b></p>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <img src="/media/img/button-cern-small.png" class="button-cern" />
                    </div>
                </div>
                <h2>Sounds great! Where do I sign up?</h2>
                <a class="btn btn-orange btn-large" href="/cern/register/">Go to Registration Page</a>
            </div>
        </div>
    </div>

{% endblock %}