<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        Fans Menu <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/fan/"><i class="fa fa-fw fa-bar-chart-o"></i> Dashboard</a></li>
        <li><a href="/fan/page"><i class="fa fa-fw fa-pencil"></i> Fan Page</a></li>
        <li><a href="/team/list"><i class="fa fa-fw fa-group"></i> Teams</a></li>
        <li><a href="/accounts/logout?next=/"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
    </ul>
</li>