{% extends 'base.html' %}

{% block title %}Spudder Admin{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/spudderadmin.css" />
{% endblock %}

{% block body %}
<nav class="navbar navbar-masthead navbar-default navbar-static-top" role="navigation">
    <div class="container">
    hi
    </div>
</nav>
<div class="container">
    <button class="btn btn-lg btn-primary">
        <i class="fa fa-money"></i> Money
    </button>
    <a href="#">money</a>
    <div class="panel panel-primary">
        <header class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> Money</h3>
        </header>
        <div class="panel-body">
            body
        </div>
    </div>
</div>
{% endblock %}