{% extends 'base.html' %}

{% block title %}Spudder Admin{% endblock %}

{% block nav %}
<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        CERN <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/spudderadmin/cern/">
               <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/spudderadmin/cern/students">
               <i class="fa fa-fw fa-users"></i> Students
            </a>
        </li>
        <li>
            <a href="/spudderadmin/cern/qa_job_board">
                <i class="fa fa-fw fa-tasks"></i> Job Board (QA)
            </a>
        </li>
        <li>
            <a href="/spudderadmin/cern/schools">
                <i class="fa fa-fw fa-university"></i> Schools
            </a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        SocialEngine <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/spudderadmin/socialengine/">
               <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/spudderadmin/socialengine/atpostspud">
               <b>@</b>postspud
            </a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        System <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/spudderadmin/system">
               <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/spudderadmin/system/teams">
               <i class="fa fa-fw fa-users"></i> Teams
            </a>
        </li>
        <li>
            <a href="/spudderadmin/system/venues">
               <i class="fa fa-fw fa-map-marker"></i> Venues
            </a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        Reports <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/spudderadmin/reports">
               <i class="fa fa-fw fa-bar-chart-o"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/spudderadmin/reports/fans">
                <i class="fa fa-fw fa-camera"></i> Fans
            </a>
        </li>
        <li>
            <a href="/spudderadmin/reports/sponsors">
                <i class="fa fa-fw fa-money"></i> Sponsors
            </a>
        </li>
        <li>
            <a href="/spudderadmin/reports/sponsors/all_sponsorships">
                <i class="fa fa-fw fa-map-marker"></i> Sponsored Venues
            </a>
        </li>
        <li>
            <a href="/spudderadmin/reports/teams">
                <i class="fa fa-fw fa-users"></i> Teams
            </a>
        </li>
        <li>
            <a href="/spudderadmin/reports/venues">
                <i class="fa fa-fw fa-map-marker"></i> All Venues
            </a>
        </li>
        <li>
            <a href="/spudderadmin/reports/venues/map">
                <i class="fa fa-fw fa-bullseye"></i> Venue Map
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="/">Logout</a>
</li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/spudderadmin.css" />
    <style type="text/css">
        .paging_bootstrap {
            float: right;
            text-align: right;
        }
        .paging_bootstrap .pagination {
            margin: 0;
        }
        .dataTables_filter {
            text-align: right;
        }
    </style>
{% endblock %}

{% block current_role_nav %}{% endblock %}
{% block user_account_nav %}{% endblock %}
{% block support_nav %}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="javascript" src="/static/js/libs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){

            /* Set the defaults for DataTables initialisation */
            $.extend( true, $.fn.dataTable.defaults, {
                "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                }
            } );


            /* Default class modification */
            $.extend( $.fn.dataTableExt.oStdClasses, {
                "sWrapper": "dataTables_wrapper form-inline"
            } );


            /* API method to get paging information */
            $.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
            {
                return {
                    "iStart":         oSettings._iDisplayStart,
                    "iEnd":           oSettings.fnDisplayEnd(),
                    "iLength":        oSettings._iDisplayLength,
                    "iTotal":         oSettings.fnRecordsTotal(),
                    "iFilteredTotal": oSettings.fnRecordsDisplay(),
                    "iPage":          oSettings._iDisplayLength === -1 ?
                        0 : Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
                    "iTotalPages":    oSettings._iDisplayLength === -1 ?
                        0 : Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
                };
            };


            /* Bootstrap style pagination control */
            $.extend( $.fn.dataTableExt.oPagination, {
                "bootstrap": {
                    "fnInit": function( oSettings, nPaging, fnDraw ) {
                        var oLang = oSettings.oLanguage.oPaginate;
                        var fnClickHandler = function ( e ) {
                            e.preventDefault();
                            if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
                                fnDraw( oSettings );
                            }
                        };

                        $(nPaging).append(
                            '<ul class="pagination">'+
                                '<li class="prev disabled"><a href="#">'+oLang.sPrevious+'</a></li>'+
                                '<li class="next disabled"><a href="#">'+oLang.sNext+'</a></li>'+
                                '</ul>'
                        );
                        var els = $('a', nPaging);
                        $(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
                        $(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
                    },

                    "fnUpdate": function ( oSettings, fnDraw ) {
                        var iListLength = 5;
                        var oPaging = oSettings.oInstance.fnPagingInfo();
                        var an = oSettings.aanFeatures.p;
                        var i, ien, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);

                        if ( oPaging.iTotalPages < iListLength) {
                            iStart = 1;
                            iEnd = oPaging.iTotalPages;
                        }
                        else if ( oPaging.iPage <= iHalf ) {
                            iStart = 1;
                            iEnd = iListLength;
                        } else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
                            iStart = oPaging.iTotalPages - iListLength + 1;
                            iEnd = oPaging.iTotalPages;
                        } else {
                            iStart = oPaging.iPage - iHalf + 1;
                            iEnd = iStart + iListLength - 1;
                        }

                        for ( i=0, ien=an.length ; i<ien ; i++ ) {
                            // Remove the middle elements
                            $('li:gt(0)', an[i]).filter(':not(:last)').remove();

                            // Add the new list items and their event handlers
                            for ( j=iStart ; j<=iEnd ; j++ ) {
                                sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
                                $('<li '+sClass+'><a href="#">'+j+'</a></li>')
                                    .insertBefore( $('li:last', an[i])[0] )
                                    .bind('click', function (e) {
                                        e.preventDefault();
                                        oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
                                        fnDraw( oSettings );
                                    } );
                            }

                            // Add / remove disabled classes from the static elements
                            if ( oPaging.iPage === 0 ) {
                                $('li:first', an[i]).addClass('disabled');
                            } else {
                                $('li:first', an[i]).removeClass('disabled');
                            }

                            if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
                                $('li:last', an[i]).addClass('disabled');
                            } else {
                                $('li:last', an[i]).removeClass('disabled');
                            }
                        }
                    }
                }
            } );

            $('.datatable').livequery(function() {
                var $table = $(this);

                var unsortableColumns = [];
                $table.find('thead th').each(function(){
                    if ($(this).hasClass( 'no-sort')){
                        unsortableColumns.push({"bSortable": false});
                    } else {
                        unsortableColumns.push(null);
                    }
                });

                $table.dataTable({
                    "sDom": "<'row table-top-control'<'col-md-6 hidden-xs per-page-selector'l><'col-md-6'f>r>t<'row table-bottom-control'<'col-md-6'i><'col-md-6'p>>",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ &nbsp; records per page"
                    },
                    "aoColumns": unsortableColumns
                });
            });

        })
    </script>
{% endblock %}