<a class="btn btn-orange" openTab="#map" title="Venue Location">
    <i class="map-icon-postal-code {% if venue.longitude and venue.latitude %}ready{% endif %}" title="Map"> </i>
</a>
<a class="btn btn-orange" openTab="#parking-details" title="Parking Details">
    <i class="map-icon-parking {% if venue.parking_details and venue.parking_tips %}ready{% endif %}" title="Parking"> </i>
</a>
<a class="btn btn-orange" openTab="#up-to-5-pics" title="Venue Pictures">
    <i class="map-icon-point-of-interest {% if venue.venue_pics %}ready{% endif %}" title="Upto 5 pics"> </i>
</a>
<a class="btn btn-orange" openTab="#video" title="Venue Video">
    <i class="fa fa-youtube-play {% if venue.video %}ready{% endif %}" title="Video"> </i>
</a>
<a class="btn btn-orange" openTab="#playing-surface" title="Playing Surface">
    <i class="icon-field-inverse-full {% if venue.playing_surface_pics and venue.playing_surface_details %}ready{% endif %}" title="Playing surface"> </i>
</a>
<a class="btn btn-orange" openTab="#flag-content" title="Flag Content">
    <i class="map-icon-post-office ready" title="Flag content"> </i>
</a>