{% extends 'spudderadmin/pages/affiliates/_affiliates_base.html' %}
{% load bootstrap3 %}

{% block admin_body %}
    <div class="page-header">
        <h1>Edit Affiliate {{ name }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if success %}
                <div class="alert alert-success">
                    <p>{{ name }} was successfully updated.</p>
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                {% endbuttons %}
            </form>
            <a href="/spudderadmin/affiliates" class="btn btn-primary">Return to Affiliates List</a>
        </div>
    </div>
{% endblock %}