{% extends 'spuddercern/quote_messages/base_quote_message.html' %}

{% block content %}
    <h4><i class="fa fa-fw fa-bullhorn"></i> What to do now?</h4>
    <p><b>Welcome to your Public Venue!</b></p>
    <p>Now that your venue is public, you have access to more features!</p>
    <br/>
    <p>The first thing you should do is use the "Price this Venue" button on the right to set a price for the sponsorship. This is the price for 1 year of sponsorship on your venue.</p>
    <br/>
    <p>Next, you should set up some SPUDS. There are two ways to do this: Filter Posts from Instagram, and Posting SPUDS on Twitter.</p>
    <p>Filtering Posts from Instagram can be done at this link: <a href="/venues/get_instagram_stream/{{ venue.id }}">Filter Instagram Posts</a>. This link shows you a list of posts Geo-Tagged within the bounds of your venue, and allows you to approve the ones that are related to the venue/sport.</p>
    <p>Posting SPUDS on Twitter requires a Fan account on Spudder. Once you Follow this venue with a Spudder Fan account, you can create Tweets with "@postspud" and "#&lt;yourtagforthisvenue&gt;" and an image, and they will get automatically linked to this Venue!</p>
    <br/>
    <p>Remember, the more content your Venue has, the more likely you are to get a Sponsorship, so always keep your info updated, and keep making SPUDS!</p>
    <div class="btn-group">
        <button class="btn btn-default dismiss-for-now-button">Hide for now</button>
        <button id="submit" class="btn btn-primary dismiss-for-good-button">Hide Forever</button>
    </div>
{% endblock %}