{% extends 'spuddercern/quote_messages/base_quote_message.html' %}

{% block content %}
    <h4>Sponsor this venue!</h4>
    <br/>
    <p>Using the button below, you can purchase naming rights (allowing you to name this venue and change its logo).</p>
    <br/>
    <p>Additionally, your Sponsor Profile will be listed on this page so anyone visiting this venue can find out all about you and your company.</p>
    <br />
    {% if venue.price > 0 and rent_venue_url %}
        <p>Sponsor now for ${{ venue.price }}</p>
        <a href="{{ rent_venue_url }}"><img src="/media/img/buttons/pay-with-amazon.png" /></a>
        <br />
    {% else %}
        <p>Sponsorship coming soon!</p>
    {% endif %}
{% endblock %}