{% extends 'spuddercern/quote_messages/base_quote_message.html' %}

{% block content %}
    <h4><i class="fa fa-fw fa-bullhorn"></i> What to do now?</h4>
    <p><b>Welcome to your new Venue!</b></p>
    <p>Venues are the core commodity in the CERN system. They are yours to <b>claim</b>, <b>promote</b> and <b>monetize</b>!</p>
    <p>As the venue controller, it's your responsibility to make this venue an attractive Sponsorship target. You can do this by filling out as much information as you can, and keeping it up to date. Once you <b>publish</b> your venue, making it visible to everyone, sponsors can <b>pay</b> to sponsor your venue.</p>
    <br/>
    <p><i class="fa fa-hand-o-down"></i> Start by entering 'edit mode' with the orange button near the venue's name. You can then upload an icon for your venue, which will make it stand out. Then, scroll down and cycle through the venue properties buttons. Fill out as much information as you can, as this will make a sponsor more likely to choose your venue!</p>
    <p>Don't worry, any information that you see here can be edited on the public venue page, too.</p>
    <br/>
    <p>If you need to tweak the Venue's location slightly, you can do that on the Map page. (Click on the 2nd button in the row of buttons, while in Edit Mode.) However, you only get ONE chance to do this, so make sure that the final location is where you really want the venue to be!</p>
    <br/>
    <p>When you're satisfied with your page, you can use the orange button on the left to Publish Your Venue. This will make it public, allowing you to use even more features such as setting a Sponsorship price and even creating your first SPUDS!</p>
    <br/>
    <div class="btn-group">
        <button class="btn btn-default dismiss-for-now-button">Hide for now</button>
        <button id="submit" class="btn btn-primary dismiss-for-good-button">Hide Forever</button>
    </div>
{% endblock %}