<% include ../../parts/head %>

<% include ../../parts/bodyStart %>

<div id="spuds" class="">
    <div class="row-fluid">
        <div class="span12">
            <p>
                Problem with registration!
            </p>
            <p>
                <%= error %>
            </p>
        </div>
    </div>
</div>

<% include ../../parts/scripts %>

<script src="/media/dashboard/js/tab-control.js"></script>

<% include ../../parts/foot %>