{% extends 'dashboard_base.html' %}

{% block content %}

    <div class="page-header">
        <h1>
            Dashboard <small><i class="icon-double-angle-right"></i> sponsor page</small>
        </h1>
    </div>

    <div class="content">
        <div id="entity-create">
            <form action="" method="post" id="create-team-form" class="form-horizontal" enctype="multipart/form-data">
                <div class="control-group">
                    <label class="control-label" for="name">Name:</label>
                    <div class="controls">
                        <input  name="name" id="name"  value="{{form.name.value|default:"" }}"/>
                        <span class="input-required">*required</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="speciality">Speciality:</label>
                    <div class="controls">
                        <input  name="speciality" id="speciality" value="{{form.speciality.value|default:"" }}" />
                        <span class="input-required">*required</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-phone">Phone:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-phone" name="phone"
                                   id="form-field-phone" type="text" value="{{form.phone.value|default:"" }}" />
                            <i class="icon-phone icon-flip-horizontal icon-right"></i>
                        </span>
                        <span class="input-required">*required</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-fax">Fax:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-phone" name="fax"
                                   id="form-field-fax" type="text" value="{{form.fax.value|default:"" }}" />
                            <i class="icon-phone icon-flip-horizontal icon-right"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-email" id="email"
                                   name="email" type="email" placeholder="me@website.com"
                                   value="{{form.email.value|default:"" }}" />
                            <i class="icon-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-website">Website:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-website" name="website"
                                   id="form-field-website" type="url" placeholder="http://www.website.com"
                                   value="{{form.website.value|default:"" }}" />
                            <i class="icon-bookmark icon-flip-horizontal icon-for-not-required-field"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-website">Instagram:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-website" name="instagram"
                                   id="form-field-instagram" type="url" placeholder="http://instagram.com/your.name"
                                   value="{{form.instagram.value|default:"" }}" />
                            <i class="icon-instagram icon-for-not-required-field"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-facebook">Facebook:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-website" name="facebook"
                                   id="form-field-facebook" type="url" placeholder="https://www.facebook.com/your.name"
                                   value="{{form.facebook.value|default:"" }}" />
                            <i class="icon-facebook icon-for-not-required-field"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-twitter">Twitter:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-website" name="twitter"
                                   id="form-field-twitter" type="url" placeholder="http://www.twitter.com/your.name"
                                   value="{{form.twitter.value|default:"" }}" />
                            <i class="icon-twitter icon-for-not-required-field"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-google">Google+:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-website" name="google_plus"
                                   id="form-field-google" type="url" placeholder="https://plus.google.com/u/0/your.id"
                                   value="{{form.google_plus.value|default:"" }}" />
                            <i class="icon-google-plus icon-for-not-required-field"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form-field-video">Video:</label>
                    <div class="controls">
                        <span class="input-icon input-icon-right">
                            <input  class="input-medium input-mask-website" name="video"
                                   id="form-field-video" type="url" value="{{form.video.value|default:"" }}" />
                            <i class="icon-facetime-video icon-for-not-required-field"></i>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description:</label>
                    <div class="controls">
                        <textarea name="description" id="description" rows="5">{{form.description.value|default:"" }}</textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="location">Location:</label>
                    <div class="controls">
                        <input id="location" name="location" class="controls" type="text" placeholder="Enter a location">
                        <input id="infoLat" name="infoLat" type="hidden"
                            {% if lat %}value="{{ lat }}"{% endif %}>
                        <input id="infoLng" name="infoLng" type="hidden"
                            {% if lng %}value="{{ lng }}"{% endif %}>
                        <input id="infoWindow" name="infoWindow" type="hidden"
                            {% if info_window %}value="{{ info_window }}"{% endif %}>
                        <div id="map_canvas" class="google-map-canvas"></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_file">Thumbnail:</label>
                    <div class="controls">
                        {% if page and page.thumbnail %}
                            <div class="thumbnail" data-thumbnail-index="4">
                                <img src="/file/serve/{{ page.thumbnail }}"/>
                                <div class="remove-image-container">
                                    <a href="javascript:void(0)" class="btn btn-small btn-danger">Remove</a>
                                </div>
                            </div>
                        {% endif %}
                        <input type="hidden" name="image4" />
                        <input type="file" id="image-input4" name="image-input4" class="file-upload-input" accept="image/*" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="offer-image-input1">Images:</label>
                    <div class="controls ace-files-container" name="offerImagesContainer">
                        {% for image in page.images %}
                            {% if image %}
                                <div class="thumbnail" data-thumbnail-index="{{ forloop.counter }}">
                                    <img src="/file/serve/{{ image }}"/>
                                    <div class="remove-image-container">
                                        <a href="javascript:void(0)" class="btn btn-small btn-danger">Remove</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <input type="hidden" name="image1" />
                        <input type="file" id="image-input1" name="image-input1" class="file-upload-input" accept="image/*" />
                        <input type="hidden" name="image2" />
                        <input type="file" id="image-input2" name="image-input2" class="file-upload-input" accept="image/*" />
                        <input type="hidden" name="image3" />
                        <input type="file" id="image-input3" name="image-input3" class="file-upload-input" accept="image/*" />

                        <div class="save-btn-container">
                            <div class="save-btn-inner-container">
                                <button class="btn btn-danger" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="/media/dashboard/js/jquery.validate.js"></script>
    <script src="/media/dashboard/js/additional-methods.min.js"></script>
    <script src="/media/dashboard/js/jquery.validate.spudder.rules.js"></script>
    <script src="/media/dashboard/js/teams/helpers.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ places_api_key }}&v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="/media/js/jquery.serialize.file.js"></script>

    <!-- Google Maps initialization and configuration -->
    <script>
        function initialize() {
            function addPlaceChangedListener() {
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    infowindow.close();
                    marker.setVisible(false);

                    var place = autocomplete.getPlace();
                    if (!place.geometry) return;

                    var location = place.geometry.location;

                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(location);
                        map.setZoom(17);  // Why 17? Because it looks good.
                    }

                    marker.setPosition(location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }

                    var infoWindowContent = '<div><strong>' + place.name + '</strong><br>' + address +
                            '<br><a href="http://maps.google.com/?q=' + encodeURIComponent(address) + '" target="_new">External map</a>';
                    infowindow.setContent(infoWindowContent);
                    infowindow.open(map, marker);

                    inputInfoWindow.value = infoWindowContent;
                    inputLat.value = location.A;
                    inputLng.value = location.k;
                });
            }

            function addKeyDownListener() {
                google.maps.event.addDomListener(input, 'keydown', function (event) { // Prevent form submit event on Enter
                    if (event.keyCode == 13) {
                        if (event.preventDefault) {
                            event.preventDefault();
                        } else {
                            event.cancelBubble = true;
                            event.returnValue = false;
                        }
                    }
                });
            }

            function placeStartMarker (address, mapInfo) {
                var geocoder = new google.maps.Geocoder(),
                    infoContent = mapInfo.split(';')[2];

                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var location = results[0].geometry.location;

                        map.setCenter(location);
                        map.setZoom(13);

                        marker.setPosition(location);
                        marker.setVisible(true);

                        infowindow.setContent(infoContent);
                        input.value = address;
                        infowindow.open(map, marker);
                    }
                });
            }

            var mapOptions = {
                    zoom: 6, center: new google.maps.LatLng(-34.397, 150.644),
                        mapTypeControl: false, streetViewControl: false
                },
                canvas = document.getElementById('map_canvas'),
                map = new google.maps.Map(canvas, mapOptions),
                input = (document.getElementById('location')),
                inputLat = (document.getElementById('infoLat')),
                inputLng = (document.getElementById('infoLng')),
                inputInfoWindow = (document.getElementById('infoWindow'));

            addKeyDownListener();

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var autocomplete = new google.maps.places.Autocomplete(input);
            window.autocomplete = autocomplete;
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow(),
                marker = new google.maps.Marker({ map: map });

            addPlaceChangedListener();

            {% if page and page.location %}
                {% autoescape off %}
                placeStartMarker('{{ page.location }}', '{{ page.map_info }}');
                {% endautoescape %}
            {% endif %}
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('form');

            $form.validate({
                rules: {
                    name: "required",
                    speciality: "required",
                    phone: { required: true, phoneUS: true },
                    fax: { phoneUS: true }
                },

                errorPlacement: function(error, element) {
                    error.appendTo( element.parent() );
                },
                submitHandler: function (form) {
                    var $formSubmit = $(form).find('button[type="submit"]');

                    $formSubmit.text('Saving...');
                    $formSubmit.attr('disabled', 'disabled');

                    var offerImage1 = $(form).find('input[name="image1"]'),
                        fileUploadControl1 = $("#image-input1")[0],
                        $thumbnail1 = $(form).find('.thumbnail[data-thumbnail-index="1"]'),
                        offerImage2 = $(form).find('input[name="image2"]'),
                        fileUploadControl2 = $("#image-input2")[0],
                        $thumbnail2 = $(form).find('.thumbnail[data-thumbnail-index="2"]'),
                        offerImage3 = $(form).find('input[name="image3"]'),
                        fileUploadControl3 = $("#image-input3")[0],
                        $thumbnail3 = $(form).find('.thumbnail[data-thumbnail-index="3"]'),
                        thumbnail = $(form).find('input[name="image4"]'),
                        thumbnailControl = $("#image-input4")[0],
                        $thumbnail4 = $(form).find('.thumbnail[data-thumbnail-index="4"]');

                    var deffers = [ new jQuery.Deferred(), new jQuery.Deferred(), new jQuery.Deferred() ,new jQuery.Deferred()],
                        promises =  [deffers[0].promise(), deffers[1].promise(), deffers[2].promise(), deffers[3].promise()];

                    if ($thumbnail1.is(':visible')) {
                        offerImage1.val($thumbnail1.find('img').attr('src'));
                        deffers[0].resolve();
                    } else if (fileUploadControl1.files.length > 0) {
                        var files = $(fileUploadControl1).parent().serializeFiles();

                        $.get('/upload/get_upload_url', function(data) {
                            $.ajax({
                                url : data,
                                data : files,
                                cache : false,
                                contentType : false,
                                processData : false,
                                type : 'POST',
                                success : function(data) {
                                    var parsed = JSON.parse(data);
                                    offerImage1.val(parsed['uploaded_files'][0]);
                                    deffers[0].resolve();
                                }
                            });
                        });
                    } else {
                        deffers[0].resolve();
                    }

                    $.when(promises[0]).then(function () {
                        if ($thumbnail2.is(':visible')) {
                            offerImage2.val($thumbnail2.find('img').attr('src'));
                            deffers[1].resolve();
                        } else if (fileUploadControl2.files.length > 0) {
                            var files = $(fileUploadControl2).parent().serializeFiles();

                            $.get('/upload/get_upload_url', function(data) {
                                $.ajax({
                                    url : data,
                                    data : files,
                                    cache : false,
                                    contentType : false,
                                    processData : false,
                                    type : 'POST',
                                    success : function(data) {
                                        var parsed = JSON.parse(data);
                                        offerImage2.val(parsed['uploaded_files'][0]);
                                        deffers[1].resolve();
                                    }
                                });
                            });
                        } else {
                            deffers[1].resolve();
                        }
                    });

                    $.when(promises[1]).then(function () {
                        if ($thumbnail3.is(':visible')) {
                            offerImage3.val($thumbnail3.find('img').attr('src'));
                            deffers[2].resolve();
                        } else if (fileUploadControl3.files.length > 0) {
                            var files = $(fileUploadControl3).parent().serializeFiles();

                            $.get('/upload/get_upload_url', function(data) {
                                $.ajax({
                                    url : data,
                                    data : files,
                                    cache : false,
                                    contentType : false,
                                    processData : false,
                                    type : 'POST',
                                    success : function(data) {
                                        var parsed = JSON.parse(data);
                                        offerImage3.val(parsed['uploaded_files'][0]);
                                        deffers[2].resolve();
                                    }
                                });
                            });
                        } else {
                            deffers[2].resolve();
                        }
                    });

                    $.when(promises[2]).then(function () {
                        if ($thumbnail4.is(':visible')) {
                            thumbnail.val($thumbnail4.find('img').attr('src'));
                            deffers[3].resolve();
                        } else if (thumbnailControl.files.length > 0) {
                            var files = $(thumbnailControl).parent().serializeFiles();

                            $.get('/upload/get_upload_url', function(data) {
                                $.ajax({
                                    url : data,
                                    data : files,
                                    cache : false,
                                    contentType : false,
                                    processData : false,
                                    type : 'POST',
                                    success : function(data) {
                                        var parsed = JSON.parse(data);
                                        thumbnail.val(parsed['uploaded_files'][0]);

                                        deffers[3].resolve();
                                    }
                                });
                            });
                        } else {
                            deffers[3].resolve();
                        }
                    });

                    $.when(promises[3]).then(function () {
                        form.submit();
                    });
                }
            });
        });

        {% if page %}
            $(window).load(function () {
                $('.controls.ace-files-container').each(function () {
                    if ($(this).find('.thumbnail:visible').length) {
                        $(this).find('.ace-file-input, .save-btn-container').each(function () {
                            $(this).addClass('below-thumbnail');
                        });
                    }
                });

                $('.thumbnail').each(function () {
                    var $removeButton = $(this).find('a'),
                        index = parseInt($(this).data('thumbnail-index'), 10),
                        $aceFileInput = $('#image-input' + index).parent();

                    $aceFileInput.hide();

                    $removeButton.click(function () {
                        var $self = $(this),
                            $thumbnail = $self.parent().parent(),
                            index = parseInt($thumbnail.data('thumbnail-index'), 10),
                            $aceFileInput = $('#image-input' + index).parent();

                        $thumbnail.hide();
                        $aceFileInput.show();

                        $('.controls.ace-files-container').each(function () {
                            if ($(this).find('.thumbnail:visible').length == 0) {
                                $(this).find('.ace-file-input, .save-btn-container').removeClass('below-thumbnail');
                            }
                        });
                    });
                });
            });
        {% endif %}
    </script>
{% endblock scripts %}